@CHARSET "ISO-8859-1";
#photoboxCover
{
	/*background-image: url("../images/transpbg.png");*/
	background-image: url("../images/photoboxbg.png");
    float: left;
    position: fixed;
    top: 0;
    z-index: 99998;
    height: 651px;
    opacity: 1;
    width: 100%;
    left:0px;
}
#photoboxCover span.noimage
{
	display:inline-block;
	height:30px;
	color:#fff;
	width:200px;
	margin-top:-15px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-100px;
	text-align: center;
}
#photoHolder,.photoHolder
{
	background-color: #FFFFFF;
    background-image: url("../loaderimg/ajax-loader3.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px solid #666666;
    border-radius: 2px;
    padding: 0;
    position: fixed;
    overflow: hidden;
    text-align:center;
    box-shadow: 0 0 11px -6px #FFFFFF;
    z-index: 99998;
}
#photoHolder img.responsiveImg
{
	width:100%;	
}
#photoHolder img.NotresponsiveImg
{
	width:auto;	
}
#photoHolder .cancel {
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}
#photoHolder .cancel span#cancelphoto {
    background: url("../images/newWhiteClose.png") no-repeat scroll center center transparent;
    color: #19558D;
    cursor: pointer;
    float: right;
    height: 26px;
    width: 26px;
}
.imagetitle
{
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
    padding:10px 0 10px 0;
    background-image: url("../images/skillboxbg_b.png");
    word-wrap: break-word;
}
#imagetitle
{
	visibility: hidden;
}
.imagetitle span
{
	color: #FFFFFF;
    font-family: arial;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    float:left;
    margin-left:15px;
    font-family: Arial Rounded MT;
    font-weight:bold;
}
.imagetitle span.myt
{
    word-wrap: break-word;	
}
.imagetitle .number
{
	float:right;	
	margin-right:15px;
}
.imagetitle .number span
{
	margin:0 5px 0 0;
}
.photonxtprevbtn
{
	visibility: hidden;
	width:40px;
	background-color: transparent;
	border:0px;
	color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    height: 40px;
    padding:0px;
   	margin: -15px 15px 0;
    /*background-image: url("../images/skillboxbg_b.png");*/
    position:absolute;
    top:50%
}
#photoHolder:hover .photonxtprevbtn,#photoHolder:hover .cancel,#photoHolder:hover #imagetitle
{
	visibility: visible;
}
.photonxtprevbtn:hover
{
	background-image: none;
	/*background-color: #FF6633;*/
}
#nxt
{
	right:0;
	background-image: url("../images/nextphoto.png");
}
#pre
{
	left:0;
	background-image: url("../images/prevphoto.png");
}