@charset "utf-8";

body{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, Arial, Times New Roman;
	height:100%;

}

.select, .input{
	width: 94px;
}

select:focus, input:focus, textarea:focus{
	background-color: #e4e4e4;
}

.button {
	
	background-color:#00a7e6;
	color:#FFFFFF;
	width:75px;
}

.header_row_merchant{
	float:left;
	width:180px;
}

.mendatory{
	color:red;
}

#headerContent{
	background-color: #00a7e6;
    float: left;;
	width: 100%;
	height: 60px;
	padding: 20px 0px 0px 0px;
	margin: 0px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #fff;
}

#fixedheader
{
	width:100%;
	text-align:center;
	float:left;
	background-color:#fff;
	padding-top:7px;
	_padding-top:10px;
	position:fixed;
	z-index:99998;
	top:0px;
	left:0px;
}
#header {
    background-color: #FFFFFF;
	/*min-height:125px;*//*feb18*/
     margin: 7px auto 0;
    text-align: center;
   	display:inline-block;
    width: 1247px;
}

#logimg	{
    float: left;
    overflow: hidden;
    width: 132px;
}
#logotextcolor {
    color: #ff6633;
    float: left;
    font-weight: bold;
    margin: 17px 0 0;
}
.bigheader {
	background-color:#00a7e6; 
    height: 7px;
	min-height: 20px;
    min-width: 100%;
    
   
}
.menuheader{
	float: left;
    color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
	font-weight:bold;
	width: 30%;
	margin: 2px 0 10px;
}
.export{
	float: right;
    color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin: 2px -361px;
   
}
.export1{
	float: right;
    color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin: 2px 40px;
   
}
.exporticon1{
	float: right;
    margin: 3px -150px 0;
    cursor: pointer;
}
.exporticon2{
	float: right;
    margin: 3px -120px 0;
    cursor: pointer;
}
.add{
	float: right;
    color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin: 2px 169px 0px;
}
.exporticon{
	float: right;
    margin: 3px -380px 0;
    cursor: pointer;
}
.addicon{
	float: right;
    margin: 3px -249px 0;
    cursor: pointer;
}
#headercontactus {
    color: #032b3c;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 12px 0 0;
    text-align: right;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
#bodyWrapper{
	font-size: 14px;
	color: #000;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
	margin: 123px 0 30px 0;
	width: 100%;
}


#leftContent{
	width: 18%;
	*width: 175px;
	margin: -9px 0 0 2px;
	padding: 2px;
	float: left;
	border-width: 1px;
	border-color: #0071ad;
	border-style: solid;
	height:auto;
}
#menu {
    /*background: url("../images/menu_bg.jpg") repeat-x scroll 0 0 transparent;*/ /*comment by varun 25-4-2012*/
    background-color:#00a7e6; 
    height: 48px;
	min-height: 48px;
    min-width: 100%;
    /*feb18*/position:relative;
    float:left;
    z-index:999;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}

#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: url('../image/transparent.png');
	
}
#menu > ul a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px;
	cursor: pointer;
}

#menu > ul .top, #menu > ul li li.sfhover {
	padding: 12px 4px 1px 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
#menu > ul ul li {
	padding: 2px;
}
#menu > ul .selected .top {
	background: url('../image/selected.png') repeat-x;
	color: #FFFFFF;
}
#menu > ul .selected:hover a.top, #menu > ul .sfhover a.top {
}
#menu > ul .parent {
	background: url('../image/arrow-right.png') 95% center no-repeat;
}
#menu > ul li {
	float: left;
	list-style: none;
}
#menu > ul li ul {
	position: absolute;
}
#menu > ul li li {
	clear: both;
}
#menu > ul li ul a {
	color: #FFFFFF;
	height: 15px;
	width: 145px;
}
#menu > ul li ul ul {
	margin: -27px 0 0 157px;
}
#menu > ul li li:hover, #menu > ul li li.sfhover {
	background: #C55B27;
	color: #000000;
}
/*.menuContainer{
	border-width: 1px;
	border-color: #0071ad;
	border-style: solid;
	margin: 1px 1px 1px 1px;
	border-bottom: none;
	padding: 0px 0px 0px 0px;
}

.menuHeader{
	padding: 0px 0px 0px 5px;
	background-color: #0071ad;
	color: #fff
}

.menuList{
	
}

.menuItem{
	color: #0071ad;
	cursor: pointer;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.menuItemContainer{
	margin: 2px 0px 0px 5px;
	height: 20px;
}

 div.menuItem:hover{
	text-decoration: underline;
}*/

#loginContentWrapper{
	width: 70%;
	float: right;
	margin: 10% 0% 0% 0%;
}

#loginContent{
	width: 50%;
	border: 8px solid #00a7e6;
}

#loginHeader{
	background-color: #00a7e6;
	color: #fff;
	height: 25px;
}

#loginFormContainer{
	width:80%;
	float: right;
}

#loginButtonContainer{
	margin: 0% 0% 0% 27%;
}

#rightContentWrapper{
	margin: -10px 0px 0px 0px;
	width: 100%;
	float: left;
	padding: 0px;

}

#rightContent{
	float: left;
	width: 100%;
	border-width: 1px;
	border-color: #0071ad;
	/*border-style: solid;*/
}

#rightContentHeader{
	width: 100%;
	background-color: #0071ad;
	color: #fff;
	font-weight: bold;
	float: left;
	height: 22px;
	vertical-align: middle;
}

#rightContentHeaderText{
	margin: 0px 0px 0px 10px;
}

#rightContentBody{
	
}

#footerContentWrapper{
	position: fixed;
	bottom:0;
	color: #fff;
	background-color: #00a7e6;
	width: 100%;
	padding: 3px 0px 3px 0px;
	font-size:11px;
	font-family:arial;
	border-top:1px solid #000;
}

* html #footerContentWrapper { /*\*/position: absolute; top: expression((window.screen.availHeight-143 + (ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px'); left: expression((0 + (ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft)) + 'px');/**/ }

#footerContentWrapper a{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

#footerContentWrapper a:hover{
	text-decoration: none;
}

#footerLeftContent{
	float: left;
}

#footerRightContent{
	float: right;
}

.message{
	width: 80%;
	float: left;
	font-size: 12px;
	color: #c33333;
	margin: 1 0 2 48%;
	padding: 2px 0px 0px 0px;
}

.message1{
	clear:left;
	width: 50%;
	float: left;
	font-size: 11px;
	color: #c33333;
	margin: 0px 0px 2px 8%;
	padding: 2px 0px 0px 0px;
}

.message2{
	width: 100%;
	float: right;
	font-size: 11px;
	color: #c33333;
	margin: 0px 0px 2px 48%;
	*margin: 0px 0px 2px 0%;
	padding: 2px 0px 0px 0px;
}

.clear{
	clear: both;
	height:0px;
}

.bonuspoints_header{
	
	font-size: 19px;
	color: #636C73;
	font-weight: bold;
	
}

.bounuspoint_row{
	padding-top:25px;
	_width:728px;
}

.points_eval{
	padding: 15px 5px 5px 5px;;
	width: 210px;
	height: 30px;
	background-color: #D7D7D7;
	font-size: 15px;
	font-weight: bold;
	margin-right: 20px;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.clr{
	clear:both;
	height: 0px;
}

.bonuspoints_text{
	padding-right: 15px;
}

.bonuspoints_score{
	
	padding-right: 5pxpx;
}

#bonuspoints{
	
	font-family: Arial;
	width:720px;
	border: 0px solid #eee;
	padding-top:10px;
}

.bonuspoints_field{
	padding: 10px 10px 10px 10px;
	_padding: 0px 0px 0px 0px;
	width: 170px;
	height: 37px;
	margin-right: 20px;
}

.bonus_point_dd select{
	width: 150px;
}

.bonus_point_dd input[type='text']{
	width: 150px;
	height: 15px;
}

.field_text{
	padding-bottom: 2px;
	color: #005C86;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    line-height: 11px;
    text-align: left;
    width: 185px; 
}

.bonuspoints_bottom{
	padding-top: 3px;
	font-size: 10px;
	color: #B9B9B9;
}

.dynamic_row_add{
	padding-top: 13px;
	_padding-top: 0px;
}

.wait_indicator{
	padding: 12px 10px 10px 70px;;
	width: 323px;
	height: 30px;
	border: 1px solid #D7D7D7;
	background-image: url('../images/caution.png');
	background-repeat: no-repeat;
	background-position: 15px 15px;
	font-size: 11px;
	font-weight: bold;
	margin-right: 20px;
}

#bonuspoints_top_left{
	padding-left: 30px;
	width: 65%;
}

#bonuspoints_top_right{
	width: 28%;
	background-color: #666666;
	padding: 10px;
}

#bonuspoints_top_right select{
	width: 120px;
}

.bonus_top_right_head{
	color:#fff;
	font-size:12px;
	font-weight: bold;
	padding-bottom: 20px;
}

.col_text{
	font-size: 11px;
	color: #fff;
	font-weight: bold; 
	width: 60px;
	text-align: left;
	height: 35px;
}

#container1{
	width: 952px;
}
