<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<?php // $authUserNamespace = new Zend_Session_Namespace("Bankoffercms_Auth");
//$categoryObj = new Bankoffercms_Model_DbTable_Categories();
?>

<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(){
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/page/index/getPageValue/"+getValue+"/searchtext/"+getText;

	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/page/delete/id/'+id;
			else return false;
		});
	}
	
</script>

	<form method="post" id="managePageForm" name="managePageForm">
		<div style="border:1px solid #ddd;margin-left:10px;width: 97%;">
			<div class='grid-headrow' style="margin-left:0px;width: 100%;">
				
				<div class='grid-column2' style="width:27%;padding-left: 10px;text-align: center;">Page name</div>
				<div class='grid-column2' style="width:50%;text-align: center;">Page content</div>
				<div class='grid-column2' style="width:10%;">Action</div>
				<div class="clearfix">&nbsp;</div>
			</div>
			
			<?php
				
				$i=0;
				if(isset($this->manage_page) && sizeof($this->manage_page)>0){
					
					foreach($this->manage_page as $manage_page){
						
			?>
			
			<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
		
				<div class='grid-column1' style="width:27%;height:30px;padding-left: 10px;text-align: center;"><?php if(isset($manage_page->page_title) && $manage_page->page_title != "")echo $manage_page->page_title;else echo "-"; ?></div>
				<div class='grid-column1' style="width:50%;height:30px;text-align: center;"><?php if(isset($manage_page->page_description) && $manage_page->page_description != "")echo $manage_page->page_description;else echo "-";?></div>
				<div class='grid-column1' style="width:10%;height:30px;">
					<a href="<?php echo BASEPATH; ?>/page/add/pname/<?php echo $manage_page->page_name;?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Update merchant" alt="Update merchant"/></a>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
		
		<?php
					$i+=1;
				}
			}
			else{
		?>
		
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
</form>
<br/>