.left {
	float:left;
}

.right {
	float:right;
}

.clearfix {
	clear:both;
}

a {
	cursor:context-menu;
	text-decoration:none;
}

img
{  
	border:0;
}
input[type='checkbox']
{
	border:0px !important;
}
body {
    color: #333;
    /*font-family: Tahoma,arial;*/
    font-size: 14px;
    margin: auto;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
	/*line-height:18px;*/ /*comment by varun 25-4-2012 */
}
input,select,select option,textarea
{
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
}
select option
{
	 padding:2px !important;
}
input
{
	padding-left: 9px !important;
}
#header {
    background-color: #FFFFFF;
	/*min-height:125px;*//*feb18*/
     margin: 7px auto 0;
    text-align: center;
   	display:inline-block;
    width: 980px;
}

#header_right {
	padding-top:9px;
	/*width:315px;*/width:480px;/*feb14*/
}

/*#loginsignup a {
	color:#032B3C;
}*/

#tutorsignup {
  	background-position:top left;
    color: #FFFFFF;
    height: 25px;
    width: 150px;
    text-align: center;
	line-height:26px;
	border-radius:5px;
	border:2px solid #00A7E6;
	background-color:#00A7E6;
	font-size: 12px;
	font-weight:bold;
}
#tutorsignup:hover
{
	background-color:#676767;
}
#login {
	padding:5px 5px 0px 0px;
}

#headercontactus {
    color: #032B3C;
    font-size: 12px;
    //font-weight: bold;
    letter-spacing: 1px;
    margin:14px 0px 0 0; /*feb18*/
    text-align: right;
}	
#menu {
    /*background: url("../images/menu_bg.jpg") repeat-x scroll 0 0 transparent;*/ /*comment by varun 25-4-2012*/
    background-color:#00a7e6; 
    height: 38px;
	min-height: 38px;
    min-width: 100%;
    /*feb18*/position:relative;
    float:left;
    z-index:999;
}


#wrap_content {
   /* background: url("../images/content_background.jpg") repeat-y scroll 0 0 transparent;*/
    margin: 0 auto;
    margin-top:104px;
    width: 980px;
    position: relative;
}

.popular_bar {
    background: url("../images/popular_bar_bg.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #E7E7E7;
  /*border-bottom-left-radius: 1em;*/
  /*border-bottom-right-radius: 1em;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    font-size: 13px;
    height: 29px;
    line-height: 27px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    width: 951px;
}
.popular_bar a {
    color: #333333;
}
.popular_bar a:hover {
    color: #666666;
}

#feature {
    background-color: #FFFFFF;
    height: 345px;
    margin-top: 10px;
    width: 620px;
}

#search {
    border-radius: 5px;
    color: #FFFFFF;
    /*height: 297px;*/height: 250px;
    margin-top: 11px;
    padding-top: 30px;
    width: 329px;
    background-color:#00A7E6;
}

hr {
    background-color: #2DB1E1;
    border: medium none;
    height: 5px;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

#quote {
	margin-top:10px;
	text-align:center;
}

#footer {
	font-size:13px;
}

#footer hr {
    background-color: transparent;
    border-bottom:1px dashed #F06142;
    height:1px !important;
}

#footer a {
	text-decoration:none;
	color:#333333;
}

#footer a:hover {
	text-decoration:none;
	color:#666666;
}

.footercontent {
	height:35px;
	line-height:35px;
	/*padding-left:10px;*/
	float:left;
}
#social {
    background-color: #000000;
    background-image: url("../images/followus.png");
    background-repeat: no-repeat;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: right;
    height: auto;
    padding: 0 0 6px;
    position: fixed;
    right: 0;
    width: 36px;
    top:163px;
    z-index:99999;
    margin-top:0px !important;
}

#social ul {
    display: block;
    float: right;
    margin-top: 19px;
    padding-right: 8px;
    margin: 43px 0 0 4px !important;/*brgv 23-05*/
}

#social ul li {
    float: left;
    list-style: none outside none !important;
}

#social ul li a.fb {
    background: url("../images/Follow_us_fb_tab.png") no-repeat scroll 0 0 transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    width: 28px;
}

#social ul li a.fb:hover {
    background: url("../images/Follow_us_fb_tab_over.png") no-repeat scroll 0 0 transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    width: 28px;
}

#social ul li a.tweet {
    background: url("../images/Follow_us_tw_tab.png") no-repeat scroll 0 0 transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 10px;
    width: 28px;
}

#social ul li a.tweet:hover {
    background: url("../images/Follow_us_tw_tab_over.png") no-repeat scroll 0 0 transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 10px;
    width: 28px;
}

#social ul li a.youtube {
    background: url("../images/social_icons.png") no-repeat scroll 0 -80px transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 20px;
    width: 28px;
}

#social ul li a.youtube:hover {
    background: url("../images/social_icons.png") no-repeat scroll -60px -80px transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 20px;
    width: 28px;
}

#search .heading {
    font-size: 22px; /*change by varun 28px to 22px;*/
    padding-left: 20px;
    text-align:left;
}

#searchbox {
	padding-top:5px;
	padding-left:20px;
	text-align:left;
}

#searchbox input {
   background-color: transparent;
    background-image: url("../images/type-box.png");
    background-position: -1px -3px;
    background-repeat: no-repeat;
    border: 0 solid #BECED5;
    color: #00A7E6;
    height: 27px;
    margin-top: 20px;
    padding: 0;
    width: 262px;
}

#searchbutton {
    /*height: 45px;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 119px;
    float:left;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);*/
    border-radius: 7px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);
    float: left;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 30px;
    overflow: hidden;
    width: 95px;
}

#searchbutton a {
    background: url("../images/tutor_button.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 41px;
    width: 170px;
}

#searchbutton a:hover {
    background: url("../images/tutor_button.png") no-repeat scroll 0 -53px transparent;
    float: left;
    height: 41px;
    width: 170px;
}

#registration_form  table tr {
	height:50px;
}

#registration_form  table tr td {
	width:200px;
}

#registration_form input {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    /*text-indent: 1em;*/
    width: 262px;
}

#registration_form select {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
    width: 262px;
	font-size:14px;
}

#registration_form select option {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    
}

#registration_form textarea {
	width: 257px;
	border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
}

#registration_form_2 input {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    padding: 7px 0;
    /*text-indent: 1em;*/
}
#registration_form_3 input {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    padding: 0;
    height: 15px;
    /*text-indent: 1em;*/
}
#registration_form_3 select {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}
#registration_form_2 select {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
 	height: 30px;
    padding: 5px;
}

#registration_form_2 select option {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
}

#registration_form_2 tr {
	height:50px;
}
 /*
.input {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding: 0;
    width:315px;
}*/

.select {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
	width:150px;
}

.select option {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
}

.row {
	height:50px;
}

#registration_form_4 tr {
	height:50px;
}


#registration_form_4 input {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding: 0;
    /*text-indent: 1em;*/
    width: 262px;
}

#registration_form_4 .radio{
    height: 15px;
    width: 15px;
}


#registration_form_4 select {
    border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}

#registration_form_4 select option {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
}

#registration_form_4 textarea {
	width: 257px;
	border: 1px solid #BECED5;
    border-radius: 5px;
    color: #032B3C;
}

.invalid {
	color:red;
	border:1px solid red;
	margin-left:5px;
	font-size:10px;
	padding:2px;
	visibility:hidden;
}

#adminpage a {
        text-decoration:none;
        font-size:12px;
        color:#eeeeee;
}
/*new added 2307*/
.contacttext
{
	/*color:#00A7E6;*//*feb18*/color:#fff;
	float:left;
	padding-right: 10px;
	cursor:context-menu;
}
.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	/* background: url(checkbox.png) no-repeat; 31-7 */
	display: block;
	clear: left;
	float: left;
}
span.radio {
    background: url("../images/radio.png") no-repeat scroll 0 0 transparent;
    clear: left;
    display: block;
    float: left;
    height: 22px;
    padding: 0 5px 0 0;
    width: 19px;
}
#logo
{
	/*margin-left: 6px;*//*feb18*/
	/*feb18*/margin-top:5px;	
}
#social ul li a.fb {
    background: url("../images/Follow_us_fb_tab.png") no-repeat scroll 0 0 transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    width: 28px;
}
#social ul li a.subscribe {
    background: url("../images/subcribe_fb_tab.png") no-repeat scroll 0 0 transparent;
    cursor: context-menu;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 7px;
    width: 28px;
}
#social ul li a.subscribe:hover {
    background: url("../images/subcribe_fb_tab_over.png") no-repeat scroll 0 0 transparent;
}
/*feb18*/
.contactovr
{
	float:left;
	color:#fff;
	cursor:context-menu;
}
.contactovr:hover
{
	color:#FF6633 !important;
}
#srchBtn
{
	float: left;
    margin: 7px 0 0 5px;
    cursor:context-menu;
    background-image:url(../images/search_bttn_sml.jpg);
	width:27px;
	height:25px;
}
#srchBtn:hover
{
	background-image:url(../images/search_bttn.jpg);
	margin: 4px 0 0 5px;
}
.searchfield_new
{
	background-color:#fff;height:100px;width:100%;
	position:absolute;
	 top:44px;
    left:0xp;
}
.searchhere
{
	margin:auto;
	width:980px;
}
.newsearch
{
	/*background-color: rgba(230, 230, 230, 0.9);*/
	background-image:url('../images/search_bg.png');
    float: left;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 38px;
    width: 100%;
    z-index:990;
    height:0px;
}
.logimg
{
	float: left; overflow: hidden; width: 132px;
}
.logotextcolor
{
	color:#FF6633;font-weight: bold; float: left; margin: 17px 0px 0px;	
}
.contactovr span:hover
{
	font-weight:bold !important;
	color:#ffffff !important;
}
#content
{
	margin-bottom:20px !important;
}
/*search new*/
.searchtext {
    font-weight: normal;
}
.searchtext {
    color: #666666;
    float: left;
    margin-right: 9px;
    margin-top: 13px;
}
.gobtn1 {
    cursor: context-menu;
    float: left;
    font-size: 20px;
    padding: 0 4px;
}

.txt {
    float: left;
    height: 42px;
    margin-right: 10px;
    margin-top: -3px;
    width: 922px;
}
.searchtext img
{
	margin-top:2px;
	width:30px;
}
.txt input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-size: 30px !important;
    font-weight: bold;
    height: 40px;
    outline: 0 none;
    padding: 0 0 0 5px;
    width: 500px;
}
.searchtext input, .searchtext select {
    display: inline-block;
    float: left;
}
/*search new end*/
#fixedheader
{
	width:100%;
	text-align:center;
	float:left;
	background-color:#fff;
	padding-top:7px;
	_padding-top:10px;
	position:fixed;
	z-index:99999;
	top:0px;
	left:0px;
}