html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
margin:0;
padding:0;
}
#wrapper
{
width:100%;
height:auto;
position: relative;
}
#container
{
width:950px;
height:auto;
position:relative;
}
.topbg {
background-image:url(../images/common/top-bg.gif);
background-repeat:no-repeat;
height:24px;
width:950px;
}
/*-------------------header css start here------------------------------*/
.header
{
width:950px;
height:68px; 
float:left;
text-align:left;
vertical-align:bottom;
}
.header1
{
width:950px;
height:9px; 
float:left;
}
.headerlogo
{
width:950px;
height:49px; 
float:left;
}
.headerlogo1
{
width:950px;
height:53px; 
float:left;
}
.headerleft
{
width:142px;
float:left;
text-align:left;
}
.headerleft1
{
width:142px;
float:left;
text-align:left;
padding-top:3px;
}
.headerright
{
width:808px;
height:49px; 
float:left;
text-align:left;
}
.headerrighttxtblue
{
width:798px;
height:19px; 
float:left;
text-align:left;
padding-left:10px;
color:#006699;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
padding-top:3px;
}
.headerrighttxtgreen
{
width:798px;
height:auto;
float:left;
text-align:left;
padding-left:10px;
color:#6bc067;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
font-style:sharp;
padding-top:6px;
}
.headerright1
{
width:590px;
/*height:53px; */
float:left;
text-align:left;
}
.headerrighttxtblue1
{
width:420px;
height:auto; 
float:left;
text-align:left;
padding-left:10px;
color:#005c86;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
padding-top:10px;
}
.headerrighttxtbluebold
{
width:150px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#006699;
float:right;
padding-top:8px;
padding-right: 10px;
text-align: right;
}
.headerrighttxtgreen1
{
width:612px;
height:auto;
float:left;
text-align:left;
padding-left:10px;
color:#6bc067;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
font-style:sharp;
padding-top:4px;
}
.headerinputbox
{
width:215px;
height:53px;
float:right;
_margin-top:-55px;
padding-top:3px;
}

.headerinputboxbg
{
/*width:185px;*/
width:210px;
height:23px;
float:left;
background-image:url(../images/home/inputboxbg.png);
background-repeat:no-repeat;
padding-left:3px;
vertical-align:middle;
padding-top:3px;
}
.headerinputboxtxt
{
/*width:185px;*/
width:165px;
height:18px;
float:left;
color:#666666;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(../images/home/inputboxtxtbg.png);
background-repeat:no-repeat;
vertical-align:middle;
border:0px;
outline:none;
-moz-outline-style:none;
}
.headerinputboxdivider
{
width:185px;
height:2px;
float:left;
}
.headersearchbox
{
width:185px;
height:23px;
float:left;
vertical-align:middle;
padding-top:2px;
}
.headersearchboxbg
{
width:144px;
height:23px;
float:left;
background-image:url(../images/home/searchboxbg.png);
background-repeat:no-repeat;
padding-left:15px;
vertical-align:middle;
padding-top:4px;
outline:none;
-moz-outline-style:none;
}
.headerisearchboxtxt
{
/*width:185px;*/
height:18px;
float:left;
border:0px;
color:#666666;
display:block;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(../images/home/searchtxtbg.png);
background-repeat:no-repeat;
vertical-align:middle;
outline:none;
-moz-outline-style:none;
}
.headersearchbutton
{
width:26px;
height:23px;
float:left;
vertical-align:middle;
}

/*--------------------banner css start here--------------------------*/
.bannertop
{
width:950px;
height:9px;
float:left;
}
.bannerline
{
width:950px;
height:2px;
font-size:0px;
background-color:#c7c7c7;
float:left;
}
.bannerbottom
{
width:950px;
height:9px;
float:left;
}
/*---------------------------navigation css start here-------------------*/

.navigation
{
width:950px;
_width:945px;
height:37px;
float:left;
}
.navigationdivider
{
width:950px;
height:9px;
float:left;
}
.navigationhome
{
width:88px;
height:37px;
background-image:url(../images/navigation/navigationhome.gif);
background-repeat:no-repeat;
float:left;
}
.navigationearnbonuspoint
{
width:241px;
height:37px;
background-image:url(../images/navigation/navigationearnbonuspoint.gif);
background-repeat:no-repeat;
float:left;
}
.navigationspecialoffers
{
width:236px;
height:37px;
background-image:url(../images/navigation/navigationspecialoffers.gif);
background-repeat:no-repeat;
float:left;
}
.navigationabouttheprogramme
{
width:272px;
height:37px;
background-image:url(../images/navigation/navigationabouttheprogramme.gif);
background-repeat:no-repeat;
float:left;
}
.navigationfaqs
{
width:108px;
_width:99px;
height:37px;
background-image:url(../images/navigation/navigationfaqs.gif);
background-repeat:no-repeat;
float:left;
}
.navigationdivider1
{
width:1px;
height:37px;
background-image:url(../images/navigation/navigationdivider1.gif);
background-repeat:no-repeat;
float:left;
}
.navigationtxt
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#a1c6df;
font-weight:bold;
line-height:30px;
padding-top:4px;
text-decoration:none;
outline:none;
-moz-outline-style:none;
}
.navigationtxt:active
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#a1c6df;
font-weight:bold;
line-height:30px;
text-decoration:none;
outline:none;-moz-outline-style:none;
}
.navigationtxt:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#a1c6df;
font-weight:bold;
line-height:30px;
outline:none;-moz-outline-style:none;
text-decoration:none;
}
.navigationtxtactive
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
line-height:30px;
padding-top:4px;
text-decoration:none;
outline:none;-moz-outline-style:none;
}
.navigationtxtactive:active
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
line-height:30px;
text-decoration:none;
outline:none;-moz-outline-style:none;
}
.navigationtxtactive:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
line-height:30px;
outline:none;-moz-outline-style:none;
text-decoration:none;
}
/*--------------------flash css start here--------------------------*/

.flasharea
{
width:950px;
height:372px;
float:left;
}
.flashhomearea
{
width:950px;
height:345px;
float:left;
}
.flashabelowarea
{
width:950px;
height:9px;
float:left;
}
.flashphotogalleryarea
{
width:950px;
height:173px;
background-image:url(../images/home/photogallerybg.png);
background-repeat:no-repeat;
float:left;
}

/*--------------------content css start here--------------------------*/

.contentarea
{
width:950px;
height:338px;
float:left;
}
.contentleftarea
{
width:448px;
height:338px;
float:left;
}
.contentlefthdng
{
width:448px;
padding-top:15px;
height:28px;
float:left;
text-align:left;
}
.contentleftside
{
width:448px;
height:266px;
float:left;
}
.topline
{
width:448px;
height:7px;
background-image:url(../images/home/topline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.leftline
{
width:6px;
height:250px;
background-image:url(../images/home/leftline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.rightline
{
width:5px;
height:250px;
background-image:url(../images/home/rightline.gif);
background-repeat:no-repeat;
float:right;
text-align:left;
}
.middletline
{
/*width:437px;
height:250px;*/
width:425px;
height:238px;
background-image:url(../images/home/middleline.gif);
background-repeat:repeat-x;
float:left;
text-align:left;
padding-left:12px;
padding-top:12px;
vertical-align:top;
}
.middletpartxt
{
width:413px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-style:normal;
float:left;
text-align:justify;
height:55px;
}
.namearea
{
width:413px;
height:23px;
float:left;
}
.nametxt
{
width:41px;
padding-top:4px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#006699;
float:left;
}
.nametextboxarea
{
width:367px;
height:23px;
background-image:url(../images/home/nametextboxbg.gif);
background-repeat:no-repeat;
float:right;
padding-top:4px;
padding-left:4px;
}
.nametextbox
{
vertical-align:middle;
border:0px;
height:18px;
padding-left:8px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
outline:none;
-moz-outline-style:none;
width:300px;
}
.dividerleftside
{
width:413px;
height:13px;
float:left;
}
.checkboxarea
{
width:16px;
height:25px;
float:left;
}
.checkboxcss
{
border:0px;
}
.checkboxtxt
{
width:360px;
height:24px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
padding-left:24px;
color:#666666;
outline:none;
-moz-outline-style:none;
}
.subscriblebutton
{
width:413px;
float:left;
outline:none;
-moz-outline-style:none;
}
.bottomline
{
width:448px;
height:9px;
background-image:url(../images/home/bottomline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.contentmiddlearea
{
width:54px;
height:250px;
float:left;
}
.contentrightarea
{
width:448px;
float:left;
}
.contentrighthdng
{
width:448px;
padding-top:15px;
height:28px;
float:left;
text-align:left;
}
.contentleftside2
{
width:448px;
height:266px;
float:left;
}
.topline2
{
width:448px;
height:7px;
background-image:url(../images/home/topline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.leftline2
{
width:6px;
height:250px;
background-image:url(../images/home/leftline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.rightline2
{
width:5px;
height:250px;
background-image:url(../images/home/rightline.gif);
background-repeat:no-repeat;
float:right;
text-align:left;
vertical-align:top;
}
.middletline2
{
/*width:437px;
height:250px;*/
width:425px;
height:238px;
background-image:url(../images/home/middleline.gif);
background-repeat:repeat-x;
float:left;
text-align:left;
padding-left:12px;
vertical-align:top;
}
.middletpartxt2
{
width:413px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-style:normal;
float:left;
text-align:justify;
height:55px;
}
.bottomline2
{
width:448px;
height:9px;
background-image:url(../images/home/bottomline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.selectcattxt
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#006699;
line-height:11px;
padding-bottom:13px;
}
.selectcatbg
{
width:388px;
height:23px;
background-image:url(../images/home/selectcabg.png);
background-repeat:no-repeat;
float:left;
padding-top:2px;
padding-left:5px;
outline:none;
-moz-outline-style:none;
}
.selectcatdrapdownmenu
{
vertical-align:middle;
border:0px;
height:18px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
width:382px;
outline:none;
-moz-outline-style:none;
}
.rightsidedivider
{
width:392px;
height:20px;
float:left;
}
.selectsubcatarea
{
width:392px;
height:41px;
float:left;
}
.subcatdrapdownleft
{
width:250px;
height:41px;
float:left;
}
.subcatdrapdowntxt
{
width:;
height:18px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#006699;
float:left;
font-weight:bold;
outline:none;
-moz-outline-style:none;
}
.subcatdrapdownbg
{
background-image:url(../images/home/selectsubcat.png);
background-repeat:no-repeat;
width:195px;
height:23px;
float:left;
padding-top:2px;
padding-left:6px;
outline:none;
-moz-outline-style:none;
}
.selectsubcatdrapdownmenu
{
width:192px;
vertical-align:middle;
border:0px;
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
width:184px;
text-align:left;
outline:none;
-moz-outline-style:none;
}
.subcatdivider1
{
width:9px;
height:41px;
float:left;
}
.selectcityarea
{
width:185px;
height:41px;
float:right;
}

.selectcitytxt
{
width:185px;
height:18px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#006699;
float:left;
font-weight:bold;
outline:none;
-moz-outline-style:none;
}
.selectcitydrapdownbg
{
background-image:url(../images/home/selectcitydrapdownbg.gif);
background-repeat:no-repeat;
width:185px;
height:23px;
float:left;
padding-top:2px;
padding-left:4px;
outline:none;
-moz-outline-style:none;
}
.selectcitydrapdownmenu
{
vertical-align:middle;
border:0px !important;
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
width:176px;
text-align:left;
outline:none;
-moz-outline-style:none;
}
.searchbuttonarea
{
width:391px;
float:left;
}
.searchbutton
{
width:68px;
float:left;
}
.searchbuttondivider
{
width:19px;
height:31px;
float:left;
}
.browsealltxt
{
width:290px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
float:left;
text-align:left;
color:#006699;
padding-top:1px;
text-decoration:underline;
}
.browsealltxt:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-align:left;
color:#006699;
text-decoration:underline;
}
/*-------------------footer css start here---------------------*/

.footerarea
{
width:950px;
height:21px;
float:left;
}
.footerleft
{
width:950px;
height:21px;
float:left;
}
.footerleftdiv
{
text-align:left;
padding-top:3px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
.footerlefttxt
{
text-align:left;
color:#006699;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
padding-top:3px;
cursor:pointer;
text-decoration:none;
}
.footerlefttxt:hover
{
text-align:left;
color:#006699;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
padding-top:3px;
text-decoration:none;
}
.footerleftdivider
{
text-align:left;
color:#006699;
padding-top:3px;
padding-left:6px;
padding-right:6px;
}
.footerright
{
width:168px;
height:21px;
float:right;
}
.footerfacebook
{
width:30px;
height:21px;
float:right;
}
.footertwitter
{
width:20px;
height:21px;
float:right;
}
.footertcopyrighttxt
{
width:950px;
height:63px;
float:left;
color:#666666;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left;
vertical-align:top;
padding-top:3px;
}
.footerdividerbottom
{
width:950px;
float:left;
height:6px;
}

.landingpagedivider {
    float: left;
    height: 17px;
    width: 950px;
}
.landingpagephotogalleryhdng {
    float: left;
    height: 26px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-align: left;
    width: 950px;
}
.landingpagephotogalleryarea {
    background-image: url("../images/landingpage/landingpagephotogallerybg.png");
    background-repeat: no-repeat;
    float: left;
    height: 123px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width: 950px;
}
.landingpagephotogallerybelow {
    float: left;
    height: 27px;
    width: 950px;
}