#headerDiv
{
	height:13px;
	background-color:white;
}
#header1
{
	background-color:white;
	border:none;
}
#skillzotLogo
{
	margin:6px;
}
#headerButton
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 10px;
}
#searchButton {

	background-color:#00a7e6;
	color: white;
	font-weight: normal;
	width: 100%;
}
[data-role=page]
{
	height: 100% !important; position:relative !important; background-color:white;
}
[data-role=footer]
{
	bottom:0px;
	width:100%; 
} 

#categoryTab{

	background-color:white;
	font-weight: normal;
}
.ui-block-a, .ui-block-b, .ui-block-c {
    border: none ;   
    text-align: center;
  
}
#categoryLinks{

	background-color:#00a7e6;font-size:14px;height:80px;color:white;font-weight:normal;padding-top:28px;
}
#searchList 
{
	z-index:1000;
	width:327px;
}
body {
    margin: 0;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.question {
    color: #00a7e6;
    font-size: 22px;
   
}
.handofseanbrown
{
	/*font-family: handofsean,handofsean_IE;*/
	font-size: 14px;
	color: #00a7e6;
}
.ui-collapsible-heading-toggle {
    white-space : normal;
}
.imgbox {
    background-image: url("../images/leg3.gif");
  
    
}
.imgbox, .imgboxright {
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 268px;
}
#filtericonbtn
{
	background-color:white;
	border:none;
	border-radius:30px;
	height:29px;
	width:29px;
	margin-right:78px;
	margin-top:9px;
}
#headerButton1
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 45px;
}