[data-role=page]
{
	height: 100% !important; position:relative !important; background-color:white;
}
[data-role=footer]
{
	bottom:0px;
	width:100%; 
	
} 

body {
    margin: 0;
}

#searchButton {

	background-color:#00a7e6;
	color: white;
	font-weight: normal;
}
.scrollable {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}
#searchButton {

	background-color:#00a7e6;
	color: white;
	font-weight: normal;
}
#headerDiv
{
	height:13px;
	background-color:white;
}
#header1
{
	background-color:white;
	border:none;
}

#headerButton
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 10px;
}
#headerButton1
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 45px;
}
#errormessages
{
	color:red;
	font-size:12px;
}
h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-size: 15px;
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 

}
