#headerDiv
{
	height:13px;
	background-color:white;
}
#header1
{
	background-color:white;
	border:none;
}
#skillzotLogo
{
	margin:6px;
}
#headerButton
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 10px;
}
#headerButton1
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 45px;
}

[data-role=page]
{
	height: 100% !important; position:relative !important; background-color:white;
}
[data-role=footer]
{
	bottom:0px;
	width:100%; 
} 

body {
    margin: 0;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#CompanyName
{
	font-weight: bold;
} 
#categoryLinks{

	background-color:white;font-size:12px;height:40px;color: #666;font-weight:normal;
	border: none;
	color:#00a7e6;

}
#categoryTab{

	background-color:white;
	font-weight: normal;
	text-align: center;
}
#categoryTab1{

	background-color:white;
	font-weight: normal;
	text-align: center;
}
#categorylabel{

	background-color:white;font-size:12px;height:40px;color: #666;font-weight:normal;
	border: none;
}
.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
#filtericonbtn
{
	background-color:white;
	border:none;
	border-radius:30px;
	height:29px;
	width:29px;
	margin-right:78px;
	margin-top:9px;
}
#filterlabel
{
	font-weight:normal;
	font-size:85%;
	margin:1px;
}
.crossbtnfilter
{
	color:white;
	font-weight:bold;
	cursor:pointer;

}