#headerDiv
{
	height:13px;
	background-color:white;
}
#header1
{
	background-color:white;
	border:none;
}
#skillzotLogo
{
	margin:6px;
}
#headerButton
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 10px;
}
#headerButton1
{
	background-color:white;
	border:none;
    margin-top:9px;  
    margin-right: 45px;
}
#courseButton {

	background-color:#00a7e6;
	color: white;
	font-weight: normal;
}
[data-role=page]
{
	height: 100% !important; position:relative !important; background-color:white;
}
[data-role=footer]
{
	margin-bottom:0px;
	width:100%; 
} 
[data-role=main]
{
	height: auto;
}
body {
    margin: 0;
}

.scrollable {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}
#CompanyName
{
	font-weight: bold;
	font-size:17px;
} 
#categoryLinks{

	background-color:white;font-size:12px;height:40px;color: #666;font-weight:normal;
	border: none;
	color:#00a7e6;

}
#categoryTab{

	background-color:white;
	font-weight: normal;
	text-align: center;
	

}

#categoryTab1{

	background-color:white;
	font-weight: normal;
	text-align: center;
	

}
#categorylabel{

	background-color:white;font-size:12px;height:40px;color: #666;font-weight:normal;
	border: none;
}
.courseheading{
	color:grey;
	margin-bottom:0px;
}
#courseheading{
	color:grey;
	margin-bottom:0px;
}
#maincourseHeading
{
	margin-bottom:0px;
	font-size: 16px;
	color:#00a7e6;
}
#myTable {
	font-size: 10px;
}
#About {
	font-size:14px !important;
}
.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
#filtericonbtn
{
	background-color:white;
	border:none;
	border-radius:30px;
	height:29px;
	width:29px;
	margin-right:78px;
	margin-top:9px;
}
#errormessages
{
	color:red;
	font-size:12px;
}