<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.form.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.progressbar.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>

<style>
body{
	margin:0px;
	padding:5px 20px 0px 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
.contentbox
{
	padding: 10px 20px;
	float:left;
	margin:150px 144px;
	width:450px;
}

</style>
<!--[if IE]>
<style>
.contentbox
{
	width:500px;
	margin:150px 118px;
}
.stepcolsmall1
{
	width:40%;
}
</style>
<![endif]-->
<script type="text/javascript">
		
		
				
		</script>
<script type="text/javascript">
var idkey= 11;
var flag=0;
function checkform()
{
	//for(var j=0 ; j<10 ;j++){
		document.getElementById('uploadfromcourse_error').innerHTML = '';
	//	}
	//for(var cnt=0;cnt<10;cnt++)
	//{
		var cnt=0;
		if(document.getElementById('uploadfromcourse').value != "")
		{
			idkey=cnt;
			//break;
		}
		
	//}
	
	if(idkey >= 0 && idkey < 10)
	{
		document.getElementById('progressbarshow').style.display ='block';
		formsubmit(idkey);
	}
	else
	{
		
		document.getElementById('uploadfromcourse_error').innerHTML = 'Please upload an image';
	}
}
function formsubmit()
{
var options = {
	
		beforeSubmit:  showRequest,
		success:       showResponse,
		url:       '<?php echo BASEPATH;?>/profilepicupload/fileupload',  // your upload script
		dataType:  'json'
		
	};
	//alert(idkey);
		if(document.getElementById('uploadfromcourse').value != "")
		var filename=document.getElementById('uploadfromcourse').value;
		$('#uploadfileform').ajaxSubmit(options);
		
	if(document.getElementById('uploadfromcourse_error').innerHTML != "")
	{
		idkey++;
		idkey=getfileid(idkey);
		//alert("upper::::"+idkey);
		if(idkey)
		{
			formsubmit(idkey);
		}
	}
	
}
function showRequest(formData, jqForm, options) {
		monitorUpload('uploadprogressbar');	
		return true;	
}

function monitorUpload(value) {   
						//alert(value);
            var progress_key = $("#progress_key").val(); 
            var progress_action = '<?php  echo BASEPATH;?>/progressbar/progress';
			
            $("#"+value).fadeIn();         
            var i = setInterval(function() { 
                $.ajax({
                    url:  progress_action + "/id/" + progress_key,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
										
									 if (true == data.finished) {
										clearInterval(i);
										$("#"+value).progressBar(100); 
										return;
									}
									else{
										 //$("#"+value).fadeIn();  
										$("#"+value).progressBar(data.percent);		
									}
									
									
                    },
                    error: function() { 
                        // do nothing 
                    }
                });
            return;    
            }, 1000);
			
        }
</script>
</head>
<body>
<div class="contentbox">
	<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
			<span class="nameoftutor" style="color:#1CA3E7;" >Profile pic</span>
	</div>
	 <input type="hidden" name="MAX_FILE_SIZE" value="20971520" />
	<div class="maincontent">
	<form action="" name="uploadfileform" id="uploadfileform" method="post" enctype="multipart/form-data">
	<input id="progress_key" type="hidden" value="0<?php echo $this->user_id_info .time();?>" name="UPLOAD_IDENTIFIER">
		<div class="steprow1">
			<div class="stepcolsmall1" style="">Upload image :</div>
			<div class="stepcolsmall2">
				<input type="file" Name="uploadfromcourse" id="uploadfromcourse" errortag="Image" />
				<div id="uploadfromcourse_error" class="errorclasssmall"><?php if (isset($authUserNamespace->profileimageerror) && $authUserNamespace->profileimageerror!=""){echo $authUserNamespace->profileimageerror; unset($authUserNamespace->profileimageerror);}?></div>
			</div>
		</div>
		<div class="steprow1" style="margin-bottom:10px;">
			<i class="registerhint">Pictures are limited to JPG, PNG and GIF. Also, they must be no larger than 5Mb.Image size must be greater than 240 * 245 pixels.</i>
		</div>
		
		<div style="display:none;" id="progressbarshow">
			<div class="progressbardiv">
			<!-- here the progress bar is going to be shown -->
			<span class="progressbar" id="uploadprogressbar"></span>
			<div style="clear:both;height:0px;"></div>			
			</div>
		</div>
		
		<div class="steprow1">
			<div class=stepcolsmall1 style="width:100%;text-align:center;"><img style="cursor:pointer;" onclick="checkform();"  src="<?php echo BASEPATH;?>/images/submit.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/submit.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/submit_hover.png';"></div>
		</div>
<!--	id="save" name="save"	-->
	</form>
	</div>
</div>
</body>
</html>
<style>
.stepcolsmall2 input
{
	width:222px;
}
.progressbardiv
{
	left: 620px;
	position: absolute;
	top: 204px;
	width:167px;
}
.progressdiv5
{
left: 243px;
position: absolute;
top: 167px;
width:167px;
display:none;
}
.progressdiv6
{
left: 243px;position: absolute;top: 192px;width:167px;display:none;
}
.progressdiv7
{
left: 243px;position: absolute;top: 217px;width:167px;display:none;
}
.progressdiv8
{
left: 243px;position: absolute;top: 242px;width:167px;display:none;
}
.progressdiv9
{
left: 243px;position: absolute;top: 267px;width:167px;display:none;
}
.progressdiv10
{
left: 243px;position: absolute;top: 294px;width:167px;display:none;
}
</style>
<script type='text/javascript'>    
	
    var image_base_path = '<?php echo BASEPATH;?>';
	var i=1;
	//for(i=0;i<10;i++){
   $("#uploadprogressbar").progressBar({
        boxImage: image_base_path + '/images/progressbar.gif',
        barImage: {
		
            0:	image_base_path + '/images/progressbg_green.gif',
           
        }
    }
	
	);
//}
function showResponse(data, statusText)
{
	
	if (statusText == 'success'){
		if(data['message']=="success"){
			imagename = data['name'];
			
			if(imagename!="")
			{
				$.ajax({
					url:"<?php echo BASEPATH;?>/profilepicupload/filecropimage",
					type:"post",
					data:"filename="+imagename,
					async:false,
					success:function (response)
					{
						var jsonObject = eval("("+response+")");
						if(jsonObject!=null && jsonObject!="")
						{								
							if(jsonObject['returnvalue']=="success")
							{				
								document.getElementById('uploadprogressbar').innerHTML="<span style='color:#FF6633;'>Upload Successfully</span>";		
								window.location.href="<?php echo BASEPATH; ?>/profilepicupload/uploadpicturestep2";
							}
						}
					},
					error:function (response){
												
					}
				});
				
			}
		}else if(data['message']=="error"){
			document.getElementById('uploadprogressbar').style.display="none";
			document.getElementById('uploadfromcourse_error').innerHTML="Image can't be uploaded successfully";
			
		}else{
			if(data['message']=="size"){
				document.getElementById('uploadprogressbar').style.display="none";
				document.getElementById('uploadfromcourse_error').innerHTML="Image size is grater than 5 Mb";
			}else if(data['message']=="widthheight"){
				document.getElementById('uploadprogressbar').style.display="none";
				document.getElementById('uploadfromcourse_error').innerHTML="Image size less than 240 * 245 pixels.";
			}
			else{
				document.getElementById('uploadprogressbar').style.display="none";
				document.getElementById('uploadfromcourse_error').innerHTML="Image can't be uploaded successfully";
			}
		}
	} 
	else 
	{
		//alert('in1');
		document.getElementById('uploadprogressbar').innerHTML="<span style='color:#FF6633;'>Not Uploaded Successfully</span>";
	}
	
	
} 
function getfileid(passId)
{
	//alert("passId::::"+passId);
	if(passId < 10)
	{
		for(var valu=passId; valu<10 ; valu++)
		{
			if(document.getElementById('uploadfromcourse').value != "")
			{
				passId=valu;
				break;
			}
		}
	}
	if(valu >= 0 && valu < 10)
	{
		//alert("return:::"+passId);
		return passId;
	}
	else
	{
		//alert("else"+idkey);
		return 0;
	}
}
</script>