<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
body{
	margin:0px;
	padding:0px 0px 0px 0px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
.contentbox
{
	width:550px;
}
/*
.heading
{
	float:left;
	display:inline-block;
}

.subspacer
{
	line-light:20px;
}

.maincontent
{
	width : 100%;
}
.errorcolor
{
	color : #EB008C;
} */
.stepcolsmall2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: auto;
}
.contentbox{
	padding: 10px 20px;
	float:left;
	margin:75px 110px 75px 110px;
}
</style>
<script type="text/javascript">
function lightbox_close(){
	parent.Mediabox.close();
}
</script>
</head>
<body>
<div class="contentbox">
	<div class="infolinerow" style="padding:0px;">
						<span class="nameoftutor">Class image</span>
	</div>
	<div class="maincontent">
		<div class="steprow1">
			<?php $randnumber = rand(9,9999999);?>
			<?php //echo $authUserNamespace->edit_profile_session1;exit;?>
			<?php if (isset($authUserNamespace->edit_profile_session1) && $authUserNamespace->edit_profile_session1!=""){?>
			<img id="vimage" height="245" width="240" border="1"  src="<?php echo BASEPATH.'/docs/'.$authUserNamespace->edit_profile_session1.'?var='.$randnumber;?>" />
			<?php }else{?>
			<img id="vimage" height="245" width="240"  border="1"  src="<?php echo BASEPATH.'/docs/'.$authUserNamespace->flow_pic_session1.'?var='.$randnumber;?>" />
			<?php } ?>
			<input type="hidden" name="hidval1" id="hidval1" value=""/>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div>
	
		<p>Phew, done! Thank you. Your picture has been saved.You can continue filling the rest of your profile.<p>
		<div><a href="#" onclick="javascript:lightbox_close();" class="onlybluecolor">Back to form </div>
	
	</div>
</div>
</body>
</html>