<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<title>Best Classes & Teachers to Learn Cool, Fun Skills in Mumbai | Skillzot</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Skillzot helps you find & contact the best classes & personal teachers in Mumbai to learn music, dance, yoga, art, DJing & many other cool, fun skills.">
	<meta name="fragment" content="!">
	<link rel="canonical" href="http://www.skillzot.com/"/>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/users.css"/>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.autocomplete.css" />
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.autocomplete.js"></script>
	
<script>
$(document).ready(function(){
 $("#keywords").autocomplete("<?php echo BASEPATH?>/search/follower/keyword/q", {
		selectFirst: true,
		 autoFocus: true 
	});
});
</script>
	<?php
		//echo $this->headTitle("SkillZot");
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/users.css');
		echo $this->headScript()->appendFile(BASEPATH.'/js/thumbscroller.js');
	?>
<!--  brgv 25-04 -->
<style>
/*#search
{
	background-color: rgba(0, 167, 230, 0.7);
}*/
/*#searchbox input.findtutor
{
	 border-radius: 0 7px 7px 0;
    cursor: pointer;
    float: left;
    height: 47px;
    margin: 20px -1px 0;
    width: 95px;
}*/
/*#searchbox input.findtutor:hover
{
	background: url("<?php echo BASEPATH;?>/images/Search_org.png") no-repeat scroll 0 0 transparent;
}*/
#footer
{
	margin-bottom:0px !important;
}
</style>
<!-- end brgv 25-04 -->
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/index/index','searchform','searchform');
				
			};
		};
		$(document).ready(function(){

			if (!$.browser.opera) {
	    
				// select element styling
				$('select.select').each(function(){
					var title = $(this).attr('title');
					if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
					$(this)
						.css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
						.after('<span class="select">' + title + '</span>')
						.change(function(){
							val = $('option:selected',this).text();
							$(this).next().text(val);
							})
				});
			};		
		});	
</script>
<style>
/*form .slct{position:relative;}

.input_container ul {
	width: 590px;
	border: 1px solid #00A7E6;
	margin-top: 76px;
    position: absolute;
    text-align: left;
    border-radius: 7px;
	z-index: 999;
	background: #ffffff;
	font-size: 16px !important;
    line-height: 20px;
    cursor: pointer;
}
.input_container ul li {
	padding: 2px;
	border: 1px solid #00A7E6;
	cursor: pointer;
	overflow: hidden;
	list-style: outside none none;
    text-overflow: ellipsis;
}
.input_container ul li:hover {
	background: #00A7E6;
	color: #ffffff;
	cursor: pointer;
}*/
.search {
	margin-top: 100px;
	 margin-left: 32px;
	 opacity: 0.9;
}
.search .form-section{
	border-radius: 5px;
	padding: 10px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 15px;
 /* background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
}
</style>

</head>
<body>

	<form action="" name="searchform" id="searchform" method="post" enctype="multipart/form-data">
	   <div class="search">
        <div class="container">
          <div class="row">
          	<div style="color:#fff;margin-top: 6px;font-size: 30px;">Reserve your favourite classes online</div>
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row" style="margin-left: 5px;">
                    <form role="form">
                      <div class="col-md-4" style="padding-bottom: 0px;padding-top: 0px;padding-left:7px;padding-right:0px;">
                        <div class="form-group">
                          <input type="text" class="form-control" style="color:#00A7E6;" value="Search for skills or teachers/classes in your locality..." id="keywords" name="keywords" onfocus="clearit(this);" onblur="fixit(this);"  szprompt="Search for skills or teachers/classes in your locality..." autocomplete="off">
                        </div>
                      </div>
                      <div class="col-md-2" style="padding-left:2px;padding-right:0px;padding-bottom: 0px;padding-top: 0px;">
                        <input class="btn btn-default btn-primary"  style="font-size: 16px !important;font-weight: bold;font-family: handofsean,handofsean_IE !important;" name="save" id="save" type="button" value="Search">
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
</body>
</html>
