<html>	
<head>
<title>Terms & Conditions | Skillzot</title>
<meta name="description" content="Want to partner with Skillzot? Go through this page for all terms and conditions and privacy policies.">
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<style>
.contentholder {
    float: left;
    height: auto;
    padding: 0 0 10px;
    text-align: center;
    width: 980px;
}
.faq_wrap
{
    border-radius: 5px 5px 5px 5px;
   	display:inline-block;
    height: auto;
    list-style-type: decimal;
 	padding: 10px 0 0 0px;
    width: 980px;
    text-align:left;
    line-height: 23px;
}
.faq_wrap h1 {
    color: #666;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    line-height:35px;
}
h1 {
    padding-bottom: 5px;
}
.faq_wrap h2 {
    color: #00A7E6;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
}
h2
{
    padding: 20px 0 0;
}
.faq_wrap p 
{
    font-size: 14px;
    /*feb18*/text-align:justify;
}
.faq_wrap p 
{
    color: black;
}
p 
{
    clear: both;
    /*width:670px;*//*feb18*/
    color:#333333 !important;
}
p
{
    line-height: 18px;
    padding: 15px 0 0;
}
.faq_wrap a
{
	 color: #00A7E6;
}
.faq_wrap p
{
	margin:0px;
}
strong
{
	color: #AAA5A4;
    display: block;
    font-weight: normal;
    margin: 10px 0;
}
ol{
    list-style: none outside none;
     padding:0 0 0 30px;
     color: #333333;
}
ol li {
    line-height: 18px;
    list-style: disc outside none;
    width:670px;
}
b
{
	margin:10px 0 0 0;
	font-weight:bold;
}
body{
	font-size: 14px;
}
hr {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed #00A7E6;
    float: left;
    height: 1px;
    width: 100%;
}
</style>
</head>
<body>
<div class="contentholder" style="margin: auto;">
	<div class="faq_wrap">
		<!--   hitesh 24-jan-2013    -->
		<h1>Skillzot Terms and Conditions</h1>
		<hr class="vbigheader " style="margin-top: 4px;">
		<h2>Last updated on April 14, 2015</h2>
		
		<p>
		In these Terms and Conditions "we", "us" and "our' mean <a hrf="#">Skillzot.com</a>, owned, operated and distributed by M.A.D. Online Pvt. Ltd  a company incorporated under the Companies Act 1956, having registration number U72300MH2012PTC227394 with its registered office at 1402, DLH Park, Goregaon West, Mumbai - 400062 (hereinafter referred as "Skillzot" which expression shall, unless repugnant to the context or meaning thereof, be deemed to mean and include its successors and permitted assigns) and "you" and "your" mean the Member acting in their own personal capacity as a teacher/class/institute/service provider of imparting classes or lessons of any skills. “You” and “Your” shall also mean the User acting in their own personal capacity as a service seeker of any skill as is relevant to the context.
		</p>
		<p>
		By accessing or using our Web Site at <a hrf="#">Skillzot.com</a> you signify that you have read, understand and agree to be bound by these Terms and Conditions, whether or not you are registered as a Member. It is your responsibility to regularly check the Web Site to determine if there have been changes to these Terms and Conditions and to review such changes.
		</p>
		<p>
		PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS.
		</p>
		<p>
		These Terms and Conditions regulate the relationship between us, Members and Users for all transactions that are through the portal <a hrf="#">Skillzot.com</a>
		</p>
		<h2 id="payment">Payment policy</h2>
		<ol style="padding-top:15px;">
			<li>A “User” (student seeking to learn) can enrol with a “Member’s” (teacher/class/institute/service provider of imparting classes or lessons of any skills) class through <a hrf="#">Skillzot.com</a></li>
			<li>All class enrolments will happen via online payment on Skillzot.com or by our course fee collection service. A student can pay online through credit or debit card, e-wallet or net banking. Cash payment will be implemented in the near future.</li>
			<li><a hrf="#">Skillzot.com</a> will receive the payment and pay the “member” within 7 working days.</li>
			<li>We will charge a % commission for every student obtained through our service as per the commission structure in Annexure below</li>
		</ol>
		<ol style="padding-top:15px;">
		<img src="/images/Commission.JPG" height="344" width="740"/>
		</ol>
		<ol style="padding-top:15px;">
			<li>All payments will happen through EBS or Atom, 2 of India’s premier and most secure online payment gateways.</li>
			<ol style="padding-top:15px;">
			<li>We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time” However, we will try our best to ensure that there is no monetary loss for any party.</li>
			<li>Furthermore, responsibility of paying service tax on the services provided is the liability of the “members” for which they need to comply.</li>
		</ol>
		<li><a hrf="#">Skillzot.com</a> will pay “member” either by wire transfer or cheque and we will require these details from you to fill in our database</li>
		</ol>
		<h2>Our refund policy for “Users” (students):</h2>
		<ol style="padding-top:15px;">
			<li>You will get a full refund if you decide not join the course within 10 days. We will follow up with you to confirm the same.</li>
			<li>If you decide not to join after 10 days, then you can still avail of the refund with a 2% deduction within 30 days. This 2% deduction is the charge that we incur on account to our pay out for the payment gateway services. You will get the refund within ‘7’ working days after you put in your request.</li>
			<li>Once you enroll with the Member and there is confirmation from both you and the “member”, then the cancellation policies of the Member as mentioned in the respective Member profile will apply.</li>
		</ol>
		<h2>Skillzot’s  to representations to the “members”</h2>
		<ol style="padding-top:15px;">
			<li>We shall take reasonable steps to ensure that your fees are paid on time. </li>
			<li>We will work towards helping you be found easily online</li>
				<ol style="padding-top:15px;">
				<li>You will get a dedicated webpage with your page title and meta descriptions optimized for google rankings.</li>
				<li>You will get a personalized search engine friendly url as per your choice.</li>
				<li>Your contact details shall be readily available on/from Skillzot for whosoever is seeking it.</li>
				</ol>
			<li><a hrf="#">Skillzot.com</a> will charge you only when a student enrols with you through us.</li>
			<li>We will also endeavour to promote you on a best effort basis through our social media whenever required. </li>
			<li>However, it is hereby clarified that all classes/services provided by the Members to the Users shall be under their own brand and that the brand name of Skillzot shall be restrained for use on the Website only and shall not be utilized by the Member for the promotion of its own classes.</li>
		</ol>
		<h2>General disclaimer</h2>
		<ol style="padding-top:15px;">
			<li>Skillzot is only a marketplace of community teachers and learners. We do not hire or employ teachers nor are we responsible or liable for any interactions involved between the Members and the Users. We are not responsible for disputes, claims, losses, injuries, or damage of any kind that might arise out of the provision of services by the Members to the  Users.</li>
		</ol>
		
		<h2>Conduct</h2>
		<ol style="padding-top:15px;">
			<li>Members may only use <a hrf="#">Skillzot.com</a> for lawful purposes. Members are solely responsible for knowledge of and adherence to any and all laws, rules, and regulations pertaining to your use of the Services.</li>
			<li>You agree not to use <a hrf="#">Skillzot.com</a> to recruit, solicit, or contact in any form teachers or potential users for employment or contracting for a business not affiliated with us without our advance written permission.</li>
			<li>You agree not to post any text, communication, sound, images, data or other information that is:</li>
			<ol>
				<li>Offensive, unlawful, racist, sexist, sex-related, obscene, vulgar, pornographic, defamatory, abusive, explicit</li>
				<li>A virus, Trojan, spam, bulk email or other such data.</li>
				<li>Infringes on patent, trademark or copyright of any party</li>
			</ol>
			<li>We shall take reasonable steps to pre-screen classes and may contact teachers in order to verify authenticity. However, this will be only a basic check and we are not responsible for any misuse or misconduct conducted by any member offline and outside the purview of <a hrf="#">Skillzot.com</a></li>
			<li>We and our agents have the right at our sole discretion to remove any content and block any user that we feel does not comply with our Terms of Use</li>
			<li>You may not use your account to breach the security or hack into any other account or server. Users engaging in such conduct may incur criminal liability</li>
		</ol>
		
		<h2>Classes, modifications, cancellations</h2>
		<ol style="padding-top:15px;">
			<li>Classes offered on Skillzot are done directly by the teacher and Skillzot is not responsible for any cancellations, modifications made to the classes.</li>
			<li>Skillzot reserves the right to cancel any class for any reason at any time.</li>
			<li>Skillzot does not supervise classes and has no control over the identity and actions of members present at these classes. We advise our members to use their discretion and good judgment before registering.</li>
		</ol>
		<h2>Indemnity</h2>
		<p>The Member/User shall fully defend, indemnify and hold Skillzot harmless from and against any losses, liabilities, costs, claims, damages, judgments, settlements and other expenses of whatsoever nature, including reasonable attorney and consultant fees incurred or suffered by Skillzot arising out of or resulting from the provision of any services through the Website or any breach by the Member/User of any of its representations, warranties, covenants or obligations contained in this Agreement or any other acts of willful and gross negligence, without any limitation on liability whatsoever.</li>
		</p>
		<h2>Limitation of liability</h2>
		<p>You expressly understand and agree that Skillzot shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses (even if the company has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the Member’s services; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or pictures and videos downloaded, transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct or behaviour of any third party on the service; or (v) any other issue arising directly or indirectly from the provision of any services by the Members.</p>

		<h2>Relationship between Members and Skillzot:</h2>
		<p>It is hereby clarified that the Members shall not hold themselves out as an agent, partner or co-venturer of Skillzot and that these Terms and Conditions are not intended and do not create an agency, partnership, joint venture or any other type of relationship except the contract relationships established hereby.</p>
		
		<h2>Dispute resolution</h2>
		<p>In the event of any dispute, controversy, claim or conflict between the Parties arising out of or relating to this Agreement (including issues relating to the performance or non performance of the obligations set out herein or the breach, termination or invalidity thereof) (a “Dispute”), such Dispute shall be referred to a sole arbitrator, who is to be chosen from a list of 5 candidates to be nominated by Skillzot. The arbitration proceedings shall be convened under the provisions of the Arbitration and Conciliation Act, 1996 and the award so granted by the sole arbitrator shall be final and binding on the Parties. The arbitration shall be conducted in English. The seat and place of arbitration shall be at Delhi.</p>
		
		<h2>Contact us</h2>
		<p>If you have any questions, you can contact us at <a hrf="#">zot@skillzot.com</a> or call us on +91 9820921404 between 10am to 5.30pm, Mon-Fri</p>
		
		<!--  end  -->
		
		
		<h1 style="margin-top:15px;">Skillzot.com Privacy Policy</h1>
		<hr class="vbigheader " style="margin-top: 4px;">
		<h2> Last updated on April 14, 2015</h2>
		<p>This privacy statement describes how Skillzot collects and uses the personal information you provide on our Web site:<a hrf="#"> www.Skillzot.com</a> . It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.
		<br>
		If you have questions or concerns regarding this policy, you should first contact us at <a hrf="#">zot@skillzot.com</a>. If you do not receive acknowledgment of your inquiry.
		</p>	
		
		<h2>Collection and Use of Personal Information</h2>
		<strong>We collect the following personal information from you</strong>
		<ol>
			<li>Contact Information such as name, email address, mailing address, phone number</li>
			<li>Billing Information such as credit card number, and billing address</li>
			<li>Unique Identifiers such as user name, account number, password</li>
		</ol>
		
		<strong>We also collect the following information from you</strong>
		<ol>	
			<li>Demographic information such as age, education, gender, interests and zip code</li>
		</ol>
		<p>As is true of most Web sites, we automatically gather information about your computer such as your IP address, browser type, referring/exit pages, and operating system.</p>	
		
		<strong>We use this information to</strong>
		<ol>
			<li>Fulfill your order</li>
			<li>Send you an order confirmation</li>
			<li>Assess the needs of your business to determine suitable products</li>
			<li>Send you requested product or service information</li>
			<li>Send product updates or warranty information</li>
			<li>Respond to customer service requests</li>
			<li>Administer your account</li>
			<li>Send you a newsletter</li>
			<li>Send you marketing communications</li>
			<li>Respond to your questions and concerns</li>
			<li>Improve our Web site and marketing efforts</li>
			<li>Conduct research and analysis</li>
		</ol>
		
		<strong>Choice/Opt-Out</strong>
		<p style="padding-top:0px;">You may choose to stop receiving our newsletter or marketing emails by following the unsubscribe instructions included in these emails or you can contact us at <a hrf="#">zot@skillzot.com</a></p>		
	
		<h2>Information Sharing</h2>
		<p>We will share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell your personal information to third parties.</p>	
		<strong>We may also disclose your personal information</strong>
		<ol>
			<li>as required by law such as to comply with a subpoena, or similar legal process</li>
			<li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request, </li>
			<li>if Skillzot is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information, </li>
			<li>to any other third party with your prior consent to do so.</li>
		</ol>
		
		<strong>Payment gateway</strong>
		<p style="padding-top:0px;">If you choose to use <a hrf="#">Skillzot.com</a> secured payment gateway through EBS to finalize and pay for your order, you will provide your credit card number, directly to EBS. EBS's privacy policy will apply to the information you provide on the EBS Web site.</p>	
	
		<h2>Cookies and Other Tracking Technologies</h2>	
		<p>We use another company to place cookies on your computer to collect non-personally identifiable information to compile aggregated statistics for us about visitors to our site.</p>
		<strong>Web beacons</strong>
		<p style="padding-top:0px;">Our Web pages may also contain electronic images known as Web beacons (sometimes called single-pixel gifs) that are set by our third party partners. Web beacons are used along with cookies enabling our partners to compile aggregated statistics to analyze how our site is used.
		<br>
		We use a third party to gather information about how you and others use our Web site. For example, we will know how many users access a specific page and which links they clicked on. We use this aggregated information to understand and optimize how our site is used.
		</p>
		
		<strong>Links to Other Web Sites</strong>
		<p style="padding-top:0px;">Our Site includes links to other Web sites whose privacy practices may differ from those of Skillzot. If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any Web site you visit. </p>
	
		<h2>Security</h2>
		<p>
			The security of your personal information is important to us. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Web site, you can contact us at <a hrf="#">zot@skillzot.com</a>
			<br>
			We provide two means for you to make a purchase on our site. You can either use our order form or a third party payment option. If you use our shopping cart, the transmission of sensitive information collected on our order form is encrypted using secure socket layer technology (SSL). If you choose to use a third party payment option to pay for your order, its privacy statement and security practices will apply to your information. We encourage you to read that privacy statement before providing your information. 
		</p>
		
		<h2>Additional Policy Information</h2>
		<p>Our Web site offers publicly accessible blogs or community forums. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them.</p>
		
		<strong>Correcting and Updating Your Personal Information</strong>
		<p style="padding-top:0px;">To review and update your personal information to ensure it is accurate, contact us at <a hrf="#">zot@skillzot.com</a> .</p>
		
		<strong>Notification of Privacy Statement Changes</strong>
		<p style="padding-top:0px;">We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices</p>
		
		<h2>Contact Information</h2>
		<p>You can contact us about this privacy statement by writing or email us at the address below:</p>
		Skillzot<br>
		1402, DLH Park,<br>
		Goregaon West,<br>
		Mumbai - 400062<br>
		Email: zot@skillzot.com
		
	</div>
</div>	
</body>
</html>