<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skills();
	$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
											  ->where("is_enabled = 1 && parent_skill_id = 0 && skill_id!=0")
											  ->order(array("order_id asc")));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<!-- add by varun for menu -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>	
	
  	<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/menustyle.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/hoverIntent.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/jquery.dropdown.js"></script>
	<!-- End by varun for menu -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
<!--  brgv 25-04 -->
<style>
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0px;
}
.popular_bar
{
	/*font-family:Tahoma;*/
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 980px;
}
.searchtext
{
	color: #666;
	float: left;
	margin-top: 13px;
	font-weight:bold;
	/*feb02*/margin-right: 9px;
}
.searchtext input ,.searchtext select
{
	float:left;
	display: inline-block;
	width:111px;
	border: 0 none;
	 height: 21px;
	
}
.roundedLtop
{
	background: url("<?php echo BASEPATH;?>/images/roundedLsidewhite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    width: 6px;
    float:left;
}
.roundedRtop
{
	background: url("<?php echo BASEPATH;?>/images/roundedRsidewhite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    width: 6px;
    float:left;
    margin-right:5px;
}
.editlinkbox ul li span a:link,.editlinkbox ul li span a:active,.editlinkbox ul li span a:visited
{
	color: #00A7E6;
}
.editlinkbox ul li span.activelink a
{
	color:#fff;
}
</style>


<style>
.searchtext
{
	font-weight:normal;
}
.searchtext img
{
	margin-top:-3px;
}
form .slct{position:relative;float:left;margin-right:10px;}
.select
{
	border-radius:0px !important;
	border:0px !important;
    color: #666 !important;
    padding: 0px;
   font-size:12px;
}
select.select{
		position:relative;
		z-index:10;
		width:150px !important;
		height:21px !important;
		line-height:20px;
		 font-size:12px;
}

/* dynamically created SPAN, placed below the SELECT */
.txt
{
    float: left;
    height: 42px;
    margin-right: 10px;
    margin-top: -3px;
    width: 922px;
}
.txt input
{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #999999;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-size: 30px !important;
    height: 40px;
    padding: 0 0 0 5px;
    width: 500px;
    font-weight: bold;
    outline:0;
}
.gobtn1
{
    cursor: pointer;
    float: left;
    font-size: 20px;
    padding: 0px 4px;
}
span.select{
	background: url("<?php echo BASEPATH;?>/images/drop-down-150_21.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    float: left;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 128px;
    z-index: 1;
    overflow:hidden;
    padding: 0 27px 0 0px;
	}
.searchlist
{
	border:1px solid black;
	top:158px;
	background:#FFFFFF;
	width:300px;
	z-index: 1000002;
	height: auto;
    max-height:300px; 
    overflow-y: auto;
	position: absolute;
	display:none;
	width:150px;
	padding-left:5px;
	font-size: 12px;
}
#closediv
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:9999;
	display:none;
	top:0px;
	left:0px;
}
</style>

</head>

<body>
<?php include_once dirname(dirname(__FILE__)).'/helpers/topbannernew.php';?>
<div class="tutorcontentholder" style="margin-top:20px;">
		<div class="midcontent">
				<div class="tutorleftcontentmid">
					<div class="editlinkbox">
						<ul>
							<li><span id="linkone" class="<?php if (isset($this->selectid) && $this->selectid=='1'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/profilepic">Profile picture</a></span></li>
							<li><span id="linktwo" class="<?php if (isset($this->selectid) && $this->selectid=='2'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/personalinfo">personal Information</a></span></li>
							<li><span id="linkthree" class="<?php if (isset($this->selectid) && $this->selectid=='3'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/experience">Experience & qualifications</a></span></li>
							<li><span id="linkfour" class="<?php if (isset($this->selectid) && $this->selectid=='4'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/skills">Skills </a></span></li>
							<li><span id="linkfive" class="<?php if (isset($this->selectid) && $this->selectid=='5'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/coursedetail">Course details </a></span></li>
							<li><span id="linksix" class="<?php if (isset($this->selectid) && $this->selectid=='6'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/photos">Photos </a></span></li>
							<li><span id="linkseven" class="<?php if (isset($this->selectid) && $this->selectid=='7'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/albums">Albums</a></span></li>
							<li><span id="linkeight" class="<?php if (isset($this->selectid) && $this->selectid=='8'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/videos">Videos</a></span></li>
							<li><span id="linknine" class="<?php if (isset($this->selectid) && $this->selectid=='9'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/editstatus">Live Status</a></span></li>
							<li><span id="linkten" class="<?php if (isset($this->selectid) && $this->selectid=='10'){echo "activelink";}?>"><a href="<?php echo BASEPATH;?>/editprofilenew/followup">Follow Up Comment</a></span></li>
						</ul>
					</div>
				</div>
			<div id="content">
				<?php echo $this->layout()->content;?>
			</div><!-- End of content div -->
		</div>
</div>
</body>
</html>
