<?php $authUserNamespace = new Zend_Session_Namespace('Bankoffercms_Auth'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>


<!--	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	<?php
		
		echo $this->headTitle('Standard Chartered Bank India');
		
		echo $this->headScript()->appendFile(BASEPATH.'/js/jquery-1.8.0.min.js')
								->appendFile(BASEPATH.'/js/jquery.ui.core.js')
								->appendFile(BASEPATH.'/js/jquery.alerts.js')
								->appendFile(BASEPATH.'/js/common.js')
								->appendFile(BASEPATH.'/js/jquery.myslider.js')
								->appendFile(BASEPATH.'/js/cards.js');
								
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/jquery-ui-1.8.2.custom.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.core.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.alerts.css')
							 
							  ->appendStylesheet(BASEPATH.'/css/cards.css')
							  ->appendStylesheet(BASEPATH.'/css/users.css')
							  ->appendStylesheet(BASEPATH.'/css/innerpage.css');
		
	?>
	

<!--[if lt IE 7]>
<script defer type="text/javascript" src="<?php echo BASEPATH;?>/js/pngfix_map.js"></script>
<![endif]-->
</head>

<body onload="MM_preloadImages('<?php echo BASEPATH;?>/index/readsliderimages/column/image1','<?php echo BASEPATH;?>/index/readsliderimages/column/image1','<?php echo BASEPATH;?>/index/readsliderimages/column/image1')">
	<div align="center">
		<div id="wrapper">
			<div id="container">
				
				<div class="header">
					<?php include_once dirname(dirname(__FILE__)).'/helpers/topbanner.php';?>
				</div>
				
				<div class="bannertop"></div>
				<div class="bannerline"></div>
				<div class="bannerbottom"></div>
				
				<div class="navigation">
					<?php include_once dirname(dirname(__FILE__)).'/helpers/navigation.php';?>
				</div>
				
				<div id="homde_div_content">
					<?php echo $this->layout()->content;?>
				</div>
				<div class="bannerline"></div>
				<div class="footerdividerbottom"></div>
				
				<div class="footerarea">
					<?php include_once dirname(dirname(__FILE__)).'/helpers/footer.php';?>
				</div>
				<div style="color: #666666;float: left;font-family: Arial,Helvetica,sans-serif;font-size: 11px;height: 63px;padding-top: 3px;text-align: left;  vertical-align: top;">Copyright &copy; 2012 Pinpoint (India) Pvt. Ltd.</div>
				
			</div>
		</div>
	</div>

</body>
</html>
