<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>


	<script type="text/javascript">
		function recordOutboundLink(link, category, action) {
		  try {
		    var pageTracker=_gat._getTracker("UA-20610133-2");
		    pageTracker._trackEvent(category, action);
		    setTimeout('document.location = "' + link.href + '"', 100)
		  }catch(err){}
		}
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<?php
		
		echo $this->headTitle("Skillzot Dashboard");
		
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/usernew.css');
		echo $this->headScript()->appendFile(BASEPATH.'/js/jquery-1.4.2.min.js');
	?>
	

</head>

<body>

	<div id="fixedheader">
		<div id="header">
			<a id="logimg" href="/adminnew">
				<img alt="skillzot-logo" src="/images/skillzot-logo.jpg">
			</a>
				<span id="logotextcolor">helps you find amazing teachers</span>
			<div id="headercontactus"><strong>Skillzot Dashboard</strong>
			</div>
		</div>

		<div id="menu">
			
		</div>
	</div>
	<div id="bodyWrapper">
		
		<div id="loginContentWrapper">
			<?php echo $this->layout()->content; ?>
		</div>
		
	</div>
	
	<div id="footerContentWrapper">
		<div id="footerLeftContent">
			&nbsp;Copyright &copy; Skillzot
		</div>
		<div id="footerRightContent">
			Developed by <a href="http://www.skillzot.com" target="_blank">Skillzot</a>&nbsp;&nbsp;
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
</body>
</html>
