<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skillslisting();
	$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills_for_diplay_listing'))
											  ->where("is_enabled = 1 && is_skill = 1 && parent_skill_id = 0 && skill_id!=0")
											  ->order(array("order_id asc")));
											  
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name=viewport content="width=device-width, initial-scale=1">
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

	<script type="text/javascript">
		function recordOutboundLink(link, category, action ,label) {			
		  try {
		   var pageTracker=_gat._getTracker("UA-32556142-1");
		    //alert(link+"::"+category+"::"+action);
		    pageTracker._trackEvent(category, action ,label);
		  // setTimeout('document.location = "' + link.rel + '"', 100)
		  }catch(err){}
		}
	</script>
	<script type="text/javascript">
	
	function selected_value(f,j)
	{
		//alert(j);
		//alert(f);
		document.getElementById('keywords').value=document.getElementById(f).innerHTML;
		document.getElementById('hiddencname').value=j;
		document.getElementById('div1').style.display="none";
	}
	function closediv1()
	{
		document.getElementById('div1').style.display="none";
		document.getElementById('closediv').style.display="none";
	}
	function overfun(f)
	{
		document.getElementById(f).style.backgroundColor='#AAA5A4';
	}
	function outfun(f)
	{
		document.getElementById(f).style.backgroundColor='#ffffff';
	}
	</script>
	<!-- add by varun for menu -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	
	
  	<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/menustyle.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/hoverIntent.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/jquery.dropdown.js"></script>
	<!-- End by varun for menu -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
<!--  brgv 25-04 -->
<style>
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0px;
}
.popular_bar
{
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 980px;
}
.searchtext
{
	color: #666;
	float: left;
	margin-top: 13px;
	font-weight:bold;
	/*feb02*/margin-right: 9px;
}
.searchtext input ,.searchtext select
{
	float:left;
	display: inline-block;
	width:111px;
	border: 0 none;
	 height: 21px;
	
}
.roundedLtop
{
	background: url("<?php echo BASEPATH;?>/images/roundedLsidewhite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    width: 6px;
    float:left;
}
.roundedRtop
{
	background: url("<?php echo BASEPATH;?>/images/roundedRsidewhite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    width: 6px;
    float:left;
    margin-right:5px;
}
.searchlist
{
	border:1px solid black;
	top:158px;
	background:#FFFFFF;
	width:300px;
	z-index: 1000002;
	height: auto;
    max-height:300px; 
    overflow-y: auto;
	position: absolute;
	display:none;
	width:150px;
	padding-left:5px;
	font-size: 12px;
}
#closediv
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:9999;
	display:none;
	top:0px;
	left:0px;
}
</style>
<!-- end brgv 25-04 -->
<script>

function call_fb()
{
	//window.location.href='http://www.facebook.com/pages/Skillzot/393253524025786';
	window.open('http:\/\/www.facebook.com/pages/Skillzot/393253524025786');
}
function call_twitter()
{
	//window.location.href='https://twitter.com/Skillzot';
	window.open('https:\/\/twitter.com/Skillzot');
}
function call_submit1(){

	
	document.searchform.submit();
}
function skillpageredirect(id)
{
	window.location.href="<?php echo BASEPATH?>/search/index/skillid/"+id;
}
</script>
<!--[if IE 7]>
	 <style>
		#social ul li {
			width:45px;
		}
	</style>
	<![endif]-->
	<!--[if IE]>
	<style type="text/css" media="screen">
	@font-face{
	font-family: 'handofsean';
	src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
	}
	@font-face {
	 font-family: 'Arial Rounded MT';
	 src: url("<?php echo BASEPATH; ?>/fonts/arial-rounded-mt.eot") /* EOT file for IE */
	}
	#menu input
	{
		padding: 3px 0px 0px 0px;
	}
	</style>
	<![endif]-->
<script type="text/javascript">
	$(document).ready(function(){

		if (!$.browser.opera) {
    
			// select element styling
			$('select.select').each(function(){
				var title = $(this).attr('title');
				if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
				$(this)
					.css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
					.after('<span class="select">' + title + '</span>')
					.change(function(){
						val = $('option:selected',this).text();
						$(this).next().text(val);
						});
			});
		};
		/*Start - search button animtion 19-02-2013*/
		$('#srchBtn').click(function(){
			if($('.newsearch').height() > 0)
			{
				$('.newsearch').animate({'height':'0px','overflow':'hidden'});	
				
			}
			else
			{
				$('#keywords').css('color','#999').val('Search for skills or teachers/classes in your locality...');	
				 var el = $("#keywords").get(0);
				 var elemLen = el.value.length;                                    
				 el.selectionStart = elemLen;
				 el.selectionEnd = elemLen;
				 el.focus();
				 el.selectionEnd = -1;
				$('.newsearch').animate({'height':'57px','overflow':'visible'});
				
			}	
		});
		/*$('#keywords').blur(function(){
			//$('#keywords').css('color','#999').val('Type a skill you love');
			$('.newsearch').animate({'height':'0px','overflow':'hidden'});
		});*/
		$('#keywords').keydown(function(event){
		    var key = event.keyCode || event.charCode;
		    $('#keywords').css('color','#00A7E6');
		    if( key == 8 || key == 46)
		    {
		    	if($(this).val() == 'Search for skills or teachers/classes in your locality...')
		    	{
		    		$(this).val('');
			    }
			}
		    else
		    {
			    if($(this).val() == 'Search for skills or teachers/classes in your locality...')
			    {
			    	$(this).val('');
				}
			}
		});
		/*End - search button animtion 19-02-2013*/
	});
</script>
<style>
.searchtext
{
	font-weight:normal;
}
.searchtext img
{
	margin-top:3px;
	width:30px;
}
form .slct{position:relative;float:left;margin-right:10px;}
.select
{
	border-radius:0px;
	border:0px;
    color: #666666;
    padding: 0px;
   font-size:12px;
}
select.select{
		position:relative;
		z-index:10;
		width:150px !important;
		height:21px !important;
		line-height:20px;
		 font-size:14px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	background: url("<?php echo BASEPATH;?>/images/drop-down-150_21.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    float: left;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 128px;
    z-index: 1;
    overflow:hidden;
    padding: 0 27px 0 0px;
	}
.txt
{
    float: left;
    height: 42px;
    margin-right: 10px;
    margin-top: -3px;
    width: 922px;
}
.txt input
{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
  	color: #ffffff;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-size: 16px !important;
    height: 40px;
    padding: 0 0 0 2px;
    width: 650px;
    font-weight: bold;
    outline:0;
}
.gobtn1
{
    cursor: pointer;
    float: left;
    font-size: 20px;
    padding: 0px 4px;
}
.highlightedblack
{
	/*background-color: #000000 !important;*/
	/*font-weight:bold;*/
    border-radius: 5px 5px 0 0;
}
ul.dropdown li a:hover{
	text-decoration: none;
}

</style>
<script>
$(document).ready(function(){
 $("#keywords").autocomplete("<?php echo BASEPATH?>/search/follower/keyword/q", {
		selectFirst: true,
		 autoFocus: true 
	});
});
</script>
</head>

<body>
<div id="social">
				<ul>
			    	<li><a class="fb" onclick="javascript:call_fb();recordOutboundLink('', 'external link','fb link','<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo  $this->tutordata->company_name;}else{echo  $this->tutordata->tutor_first_name." ".$this->tutordata->tutor_last_name;} ?>');return false;" href="#"></a></li>
			        <li><a class="tweet" onclick="javascript:call_twitter();recordOutboundLink('', 'external link','twitter link','<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo  $this->tutordata->company_name;}else{echo  $this->tutordata->tutor_first_name." ".$this->tutordata->tutor_last_name;} ?>');return false;" href="#"></a></li>
					<li><a class="subscribe" onclick="recordOutboundLink('', 'external link','blog link','<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo  $this->tutordata->company_name;}else{echo  $this->tutordata->tutor_first_name." ".$this->tutordata->tutor_last_name;} ?>');return false;" href="<?php echo BASEPATH;?>/blog"></a></li>
			        <!-- <li><a class="youtube" href="#"></a></li> brgv 25-04-->
			    </ul>
</div>
<div id="closediv" onclick="closediv1();">&nbsp;</div>
<div id="fixedheader">
<div style="width:100%;background-color:#000;margin-top:-7px;margin-bottom:32px;">
<div class="header-top">
   		<span class="header-topcross">We want your feedback! Help improve Skillzot. <span> <span class="openskillbox header-feedback"rel="<?php echo BASEPATH; ?>/search/finalmessage/page/banner?url=<?php $url = (!empty($_SERVER['HTTPS'])) ? "https://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'] : "http://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; echo urlencode($url); ?>">Take our 57 second survey</span>
 </div>
</div>
	<div id="header" style="margin: -12px auto 0;">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/topbanner.php';?>
	</div>
	<div id="menu">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/skillmenuheader.php';?>	
		<div class="newsearch">
			<div style="width:980px;margin:0 auto;display:inline-block;">
				<form action="<?php echo BASEPATH;?>/search/index" name="searchform" id="searchform" method="post" enctype="multipart/form-data">
				<div class="searchtext" >
					<img src='<?php echo BASEPATH;?>/images/go_search.png' class="gobtn1" name="searchtxt" id="searchtxt" onclick="call_submit1();"/>
					<!--<div style="float:left;height:35px;width:1px;border-right:2px solid #FF6633;"></div>-->
					<div class="txt">
						<input style="color:#999;" type="text" value="Search for skills, tutor or company, locality ..." id="keywords" name="keywords"  szprompt="Search for skills, tutor or company, locality ..." />
					</div>
					<input type="hidden" id="hiddencname" value="<?php if(isset($selectcId) && $selectcId != ""){echo $selectcId;}?>" name="hiddencname" />
				    <input type="hidden" id="skilltype" name="skilltype" value="0"/>
				</div>
			</form>
		</div>
		</div>
	</div>
</div>	
<div id="wrap_content">

<div id="content" style="color:#fff;">
	<?php echo $this->layout()->content;?>
</div><!-- End of content div -->

</div> <!-- End of wrap_content div -->
<div id="footer">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/footerhome.php';?>
</div>
</body>
</html>
