<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<?php $authUserNamespace = new Zend_Session_Namespace('Bankoffercms_Auth'); ?>

<html>

<head>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

	<script type="text/javascript">
		function recordOutboundLink(link, category, action) {
		  try {
		    var pageTracker=_gat._getTracker("UA-20610133-2");
		    pageTracker._trackEvent(category, action);
		    setTimeout('document.location = "' + link.href + '"', 100)
		  }catch(err){}
		}
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<?php
		
		echo $this->headTitle("BankOfferCMS Admin Panel");
		
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/user.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery-ui-1.8.2.custom.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.datepicker.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.core.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.alerts.css')
							  ->appendStylesheet(BASEPATH.'/css/style.css');
		
		echo $this->headScript()->appendFile(BASEPATH.'/js/crud.js')
								->appendFile(BASEPATH.'/js/jquery-1.4.2.min.js')
								->appendFile(BASEPATH.'/js/jquery.ui.core.js')
								->appendFile(BASEPATH.'/js/jquery.ui.datepicker.js')
								->appendFile(BASEPATH.'/js/jquery.alerts.js');
	?>
	

</head>

<body>

	<div id="headerContent">
		Bank Offer CMS User Panel
	</div>
	
	<div id="bodyWrapper">
		
		<div id="leftContent">
			
			<div id="menuWrapper">
				
				<div class="menuContainer">
					
					<div class="menuHeader">Categories</div>
					
					<div class="menuList" style="overflow: auto;height: 180px;width: 180px;">
						<?php
							if(isset($this->categories) && sizeof($this->categories) > 0){
								foreach($this->categories as $categories){
						?>
									<div class="menuItem">
										<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/usercategories/index/cid/<?php echo $categories->id; ?>'"><?php echo $categories->category_name;?></div>
									</div>
						<?php }
							}
						?>
					</div>
					
				</div>
				
				<br/>
				
				<div class="menuContainer">
					
					<div class="menuItem">
						<div class="menuItemContainer"><a href='#'>Special Offer</a></div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="rightContentWrapper">
			
			<div id="rightContent">
				
				<div id="rightContentHeader">
					<div id="rightContentHeaderText">
						<?php echo $authUserNamespace->admin_page_title; ?>
					</div>
				</div>
				
				<br/><br/>
				
				<div id="rightContentBody">
					<?php echo $this->layout()->content; ?>
				</div>
			</div>
			<div style="margin-bottom:20px;">&nbsp;</div>
		</div>
		
		<div class="clearfix"></div>
		
	</div>
	
	<div id="footerContentWrapper">
		<div id="footerLeftContent">
			&nbsp;Copyright &copy; Pinpoint (India) Pvt. Ltd.
		</div>
		<div id="footerRightContent">
			Developed by <a href="http://www.prontoinfotech.com" target="_blank">Pronto InfoTech</a>&nbsp;&nbsp;
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
</body>

</html>
