<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
}
}
?>

<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> personal information edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crudregister.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/js/ckeditor/contents.css"></link>
	
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/edit-profile/personal-information','register_step','register_step');
		
	}
};
function profileurl()
{
	var fname=document.getElementById("firstname").value;	
	var lname=document.getElementById("lastname").value;	
	var cname=document.getElementById("indi_cmnyname1").value;
	
	
	document.getElementById("userIDforuniq").value="";	
	if(cname!="" && cname!=null)
	{
		var strcpname = cname.replace(/[_\W]+/g," ");
		var cpname=strcpname.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
		var cpnname = cpname.replace(/[_\W]+/g,"");
		document.getElementById("userIDforuniq").value=cpnname;	
	}
	else
	{
		document.getElementById("userIDforuniq").value="";	
		 if(fname!="" && fname!=null)
			 {
			 	var name=fname.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});					
				strfrname = name.replace(/[_\W]+/g,"");
				document.getElementById("userIDforuniq").value="";	
				document.getElementById("userIDforuniq").value=strfrname;		
				if(lname!="" && lname!=null)
				{
					var lastname=lname.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});			
					strlasname = lastname.replace(/[_\W]+/g,"");
					document.getElementById("userIDforuniq").value=strfrname+strlasname;					
				}
			 }		
	}		
		
	

}
function profilefriendlyurl()
{
	var userIDforuniq=document.getElementById("userIDforuniq").value;
	document.getElementById("userIDforuniq").value="";
	var struserid = userIDforuniq.replace(/[_\W]+/g,"");
	document.getElementById("userIDforuniq").value=struserid;	
}
</script>
<SCRIPT TYPE="text/javascript">
	
$(document).ready(function() {
	<?php if(isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && isset($this->tutordata->tutor_add_locality) && $this->tutordata->tutor_add_locality!=""){?>
	searched_city_id1 = "<?php echo $this->tutordata->tutor_add_city;?>";
	searched_locality_id1 = "<?php echo $this->tutordata->tutor_add_locality;?>";
	searched_city_id = parseInt(searched_city_id1);
	searched_locality_id = parseInt(searched_locality_id1);
	getlocality(searched_city_id);
	<?php }?>
	
});
function myfunctionin(uid){
	var id = uid;
	var pos = $("#"+id).height();
	var topp = (pos/2-10)*(-1);
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	uniqid.style.top = topp+"px";
	
}
function myfunctionout(uid){

	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function setselect(id)
{
	var selectaray = new Array('linkone','linktwo','linkthree','linkfour','linkfive','linksix','linkseven');
		for(i=0;i<selectaray.length;i++)
		{
			if(id == selectaray[i])
			{
				$('#'+id).removeClass("passivelink");
				$('#'+id).addClass("activelink");
			}
			else
			{
				$('#'+selectaray[i]).removeClass("activelink");
				$('#'+selectaray[i]).addClass("passivelink");
			}
		}
}

function getlocality(city_id){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality').options[j] = option_element;
						j++;
					}
			
				    /*for update selected*/
				    locality_var = document.getElementById('locality');
					for ( var i = 0; i < locality_var.options.length; i++ ) {
					  if (locality_var.options[i].value == searched_locality_id && city_id == searched_city_id) {
					      	locality_var.options[i].selected = true;
					  }
					}
				    /**/
					
				}
			}
		});
	}
}
var avg_l = 0;
var l = 0;
function adddynamicRowbranch(){
	
	
	if(avg_l<=4){
			l++;
			avg_l++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','addvideomore'+l);
			newdiv.innerHTML="<div class='stepcol1'>&nbsp;</div>"+
			"<div class='stepcol2 videoclss'>"+
			"<input type='text' style='float:left;' id='video_link[]' name='video_link[]' value=''>"+
			"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv4('"+l+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
			"</div>";




			document.getElementById('addvideomore').appendChild(newdiv);
		
		}
	}
function removeDiv4(index){
	if(document.getElementById('addvideomore'+index)){
		document.getElementById('addvideomore').removeChild(document.getElementById('addvideomore'+index));
	}
	avg_l--;
}
function getclasstype(getvalue){
	if(getvalue=="4")
	{
		// document.getElementById('showcmpfield').style.display="block";
		 document.getElementById('lastnameid').innerHTML = "";
		 document.getElementById('firstnameid').innerHTML = "";
		 document.getElementById('lastnameid').innerHTML = "Contact person (Last name) : ";
		 document.getElementById('firstnameid').innerHTML = "Contact person (First name) : ";
		 document.getElementById('starshown').style.display="block";
	}else{
		//document.getElementById('showcmpfield').style.display="none";
		document.getElementById('lastnameid').innerHTML = "";
		document.getElementById('firstnameid').innerHTML = "";
		document.getElementById('lastnameid').innerHTML = "Last name : ";
		document.getElementById('firstnameid').innerHTML = "First name : ";
		document.getElementById('starshown').style.display="none";
	}
	document.getElementById('radioval').value = getvalue;
}
function getphonevisible(getvalue){

	document.getElementById('ph_visible_val').value = getvalue;
}
</SCRIPT>

	
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.CourseDetMid
{
	font-size:14px;
	padding: 15px 0 0 14px;
	width:539px;
}
.stepcol1
{
	width:158px;
}
.stepcol2
{
	width: 379px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form_2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 253px;
    height: 20px;
    padding: 5px 5px 5px 10px;
}
/*31-05 edit profile*/
.leftcontent
{
	width: 288px;
}

.tutorleftcontenttop
{
	background-repeat:no-repeat;
	width: 239px;
}
.tutorleftcontentmid
{
    background-repeat: repeat-y;
    width: 244px;
}
.tutorleftcontentbot
{
    background-repeat:no-repeat;
    width: 239px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.editradiocustom
	{
	height:15px;
	width:15px;
	font-size:10px;
	border:0px;
	margin-right: 4px;
	}
	
.rightcontent {
    width: 590px;
}
/*31-05 edit profile*/
</style>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
						<?php
						if(isset($authUserNamespace->changessave) && $authUserNamespace->changessave!="") {?>
						<div class="infolinerow onlyorangedisplay">
							<?php
								echo $authUserNamespace->changessave;
								unset($authUserNamespace->changessave);
							?>
						</div>
						<?php }?>
				
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor">Personal information</span>
				</div>
				
				
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				
				<input type="hidden" id="radioval" name="radioval" value="<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!=""){echo $this->tutordata->tutor_class_type;}?>"/>
				
				<div class="steprow1">
					<div class="stepcol1">I take: <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
					
					
					<div>
								<input style="height:15px;width:15px;margin-right: 4px;" type="radio"
									<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
										{
											if($this->tutordata->tutor_class_type=='1')
											{
												echo "checked";
											}
										}
									?>
								name="txtradio"  value="1" checked="checked" />Personal lessons
								<?php // if(isset($classtype->class_type_name) && $classtype->class_type_name !=""){echo $classtype->class_type_name;}?>
							</div>
							<div>
							<input style="height:15px;width:15px;margin-right: 4px;"  type="radio" name="txtradio" value="2" 
							
								<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
								{
									if($this->tutordata->tutor_class_type=='2')
									{
										echo "checked";
									}
								}
								?> />Group classes 
							</div>
							<div>
							<input style="height:15px;width:15px;margin-right: 4px;"  type="radio"
							<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
								{
									if($this->tutordata->tutor_class_type=='3')
									{
										echo "checked";
									}
								}
							?>
							name="txtradio"  value="3" />Both
							</div>
							<div>
<!--							<input style="height:15px;width:15px;margin-right: 4px;" type="radio"-->
								<?php //if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
//								{
//									if($this->tutordata->tutor_class_type=='4')
//									{
//										echo "checked";
//									}
//								}
							?>
<!--							onclick="javascript:getclasstype(this.value);" name="txtradio" value="4" />Company/Institute taking group classes only-->
							</div>
					
					
					</div>
						<div class="errorcls2">&nbsp;</div>
				</div>
				
				<div class="steprow1">
					<div class="stepcol1">Company name :<span id="starshown" class="onlyorangedisplay" style="display:none;">*</span></div>
					<div class="stepcol2">
						<input type="text" id="indi_cmnyname1" name="indi_cmnyname1"  onkeyup="<?php if (isset($this->tutordata->userid_new) && $this->tutordata->userid_new!=""){  }else{ echo "profileurl();"; }?>" value="<?php if (isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo $this->tutordata->company_name;}?>"  errortag="company name"/>
						<div id="indi_cmnyname1_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				<div class="steprow1">
					<div class="stepcol1" >
						<div id="firstnameid" style="float:left;"><?php if (isset($authUserNamespace->userclasstype) && $authUserNamespace->userclasstype=="4"){?>Contact person first<span class="onlyorangedisplay"> *</span> name : <?php }else{?>Contact person first<span class="onlyorangedisplay"> *</span> name :<?php }?></div>
					</div>
					<div class="stepcol2">
						<input type="text" id="firstname" name="firstname"  onkeyup="<?php if (isset($this->tutordata->userid_new) && $this->tutordata->userid_new!=""){  }else{ echo "profileurl();"; }?>" value="<?php if (isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){echo $this->tutordata->tutor_first_name;}?>"  errortag="first name"/>
						<div id="firstname_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				<div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1"><div id="lastnameid" style="float:left;"><?php if (isset($authUserNamespace->userclasstype) && $authUserNamespace->userclasstype=="4"){?>Contact person last<span class="onlyorangedisplay"> *</span> name :<?php }else{?>Contact person last<span class="onlyorangedisplay"> *</span> name : <?php }?></div></div>
					<div class="stepcol2">
						<input type="text" id="lastname" name="lastname" onkeyup="<?php if (isset($this->tutordata->userid_new) && $this->tutordata->userid_new!=""){  }else{ echo "profileurl();"; }?>"  value="<?php if (isset($this->tutordata->tutor_last_name) && $this->tutordata->tutor_last_name!=""){echo $this->tutordata->tutor_last_name;}?>"  errortag="last name">
						<div id="lastname_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				<div class="steprow1">
					<div class="stepcol1">Your webpage url :<span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2"  style="position: relative;"><div style="float:left;margin: 6px 0 0;">www.skillzot.com/</div>
						<div style="float:left;">
							<input style="float:left;width: 150px;" type="text" id="userIDforuniq" name="userIDforuniq" onblur="<?php if (isset($this->tutordata->userid_new) && $this->tutordata->userid_new!=""){  }else{ echo "profilefriendlyurl();"; }?>" style="width:147px;" <?php if (isset($this->tutordata->userid_new) && $this->tutordata->userid_new!=""){echo "disabled='disabled'";}?> value="<?php if (isset($this->tutordata->userid) && $this->tutordata->userid!=""){if (isset($this->tutordata->userid_new) && $this->tutordata->userid_new!=""){echo $this->tutordata->userid_new;}else{echo $this->tutordata->userid;}}?>" errortag="uniqe userid">
							<div id="userIDforuniq_error" class="errorcls2">&nbsp;</div>
						</div>
						<span style="float:left;margin-top:6px;" class="tooltipclass">
							<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
							<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
								<span class="tooltipdivspan2">This is your web address link you can use to direct people to your profile. You can change it if you wish to.</span>
							</span>
						</span>
						<div style="float:left;font-size:12px;"><i class="registerhint">(After you set your username, you can change it only once.)</i></div>
					</div>
				</div>
				
				<div class="lowspacer">&nbsp;</div>
				
				<input type="hidden" id="indi_cmnyname" name="indi_cmnyname" value ="f1"/>
				<div class="lowspacer">&nbsp;</div>
				<!--<div class="steprow1">
					<div class="stepcol1">Street address : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<textarea id="address" name="address" errortag="Address" rows="1" cols="50"><?php //if (isset($this->tutordata->tutor_address) && $this->tutordata->tutor_address!=""){echo $this->tutordata->tutor_address;}?></textarea><span id="address_label" class="invalid">Invalid</span>
						<div id="address_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">City : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<select id="city" name="city" errortag="city name" onchange="getlocality(this.value);">
							<option value="" selected="selected">--  Select city  --</option>
							<?php //if(isset($this->city) && sizeof($this->city)>0){foreach($this->city as $city){?>
								<option value="<?php //echo $city->address_id;?>"  <?php //if (isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && $this->tutordata->tutor_add_city == $city->address_id ){ echo "selected";}?>><?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>
							</option>
							<?php //}}?>
            			</select>
            			<div id="city_error" class="errorcls2">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Locality : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2">
							<select id="locality" name="locality" errortag="Locality">
								<option value="" selected="selected">--  Select locality  --</option>
	            			</select>
	            			<div id="locality_error" class="errorcls2">&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">Pincode : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="text" id="pincode" name="pincode" maxlength=6 value="<?php //if (isset($this->tutordata->tutor_add_pincode) && $this->tutordata->tutor_add_pincode!=""){echo $this->tutordata->tutor_add_pincode;}?>" errortag="PIN code">
						<div id="pincode_error" class="errorcls2">&nbsp;</div>
					</div>
					
				</div>
				--><div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1" style="position:relative;">Mobile number : <span class="onlyorangedisplay">*</span><span style="float:right;position:absolute;top:7px;right:0px;margin:0px 5px 0 0;">+91</span></div>
					<div class="stepcol2">
						<input type="text" style="float:left;" id="mobile" name="mobile" value="<?php if (isset($this->tutordata->tutor_mobile) && $this->tutordata->tutor_mobile!=""){echo $this->tutordata->tutor_mobile;}?>" maxlength=10 errortag="a mobile or">
						<div style="float:left;margin:10px 0 0 10px;font-size:12px;"><i class="registerhint">(You can choose visibility below)</i></div>
					</div>
				</div>
				<div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
						<span style="margin:0 0 0 100px">AND/OR</span>
					</div>
				</div>
				<div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">Alternate number :</div>
					<div class="stepcol2">
						<input style="float:left;" type="text" id="landline" name="landline" errortag="alternate number" value="<?php if (isset($this->tutordata->tutor_landline) && $this->tutordata->tutor_landline!=""){echo $this->tutordata->tutor_landline;}?>">
<!--						<div style="float:left;margin:5px 0 0 10px;font-size:12px;"><i style="color:#B4B4B4;">Eg.022-28577398</i></div>-->
						<div style="clear:both;"></div>
						<div id="mobile_error" class="errorcls2">&nbsp;</div>
						<div id="landline_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="lowspacer">&nbsp;</div>
				
				<div class="steprow1">
					<div class="stepcol1"><div style="width:150px;">Phone number visible :</div><i class="registerhint">(For students to contact)</i></div>
					<div class="stepcol2">
						<input type="radio" onclick="javascript:getphonevisible(this.value);" style="height:15px;width:15px;font-size:10px;border:0px;" <?php if (isset($this->tutordata->phone_visible) && $this->tutordata->phone_visible=="1"){echo "checked";}else{?> checked="checked" <?php }?> name="phone_visible" value="1"> Yes
						<input type="radio" onclick="javascript:getphonevisible(this.value);" style="height:15px;width:15px;font-size:10px;border:0px;" <?php if (isset($this->tutordata->phone_visible) && $this->tutordata->phone_visible=="0"){echo "checked";}?> name="phone_visible" value="0"> No
					</div>
					<div class="errorcls2">&nbsp;</div>
				</div>
				<input type="hidden" name="ph_visible_val" id="ph_visible_val" value="<?php if (isset($this->tutordata->phone_visible) && $this->tutordata->phone_visible!=""){echo $this->tutordata->phone_visible;}else{echo "1";}?>" />
				<div class="lowspacer">&nbsp;</div>
				
				<div class="steprow1">
						<div class="stepcol1">
						 	Brief self-description : <span class="onlyorangedisplay">*</span>
						</div>
						<div class="lowspacer">&nbsp;</div>
						<div class="stepcol2">
						<textarea texttype="ckeditor_overviewdesc" style="height:30px;float:left;" class="input" type="text" name="OverviewDescription" id="OverviewDescription" errortag="self description" ><?php if (isset($this->tutordata->tutor_brief_desc) && $this->tutordata->tutor_brief_desc!="" ){echo $this->tutordata->tutor_brief_desc;}?></textarea>
						<script type="text/javascript">
							CKEDITOR.replace('OverviewDescription',{
								extraPlugins : 'uicolor',
								toolbar : [['NumberedList', 'BulletedList'],],
								height : 100,
								width : 282,
								removePlugins : 'maximize,resize',
								toolbarCanCollapse: false
							});
						</script>
								<div id="OverviewDescription_error" class="errorcls2">&nbsp;</div>
						</div>
					</div>
	
				<div class="lowspacer">&nbsp;</div>
				<div class="steprow1">
						<div class="stepcol1">Date of Birth:</div>
						<div class="stepcol2">
						<?php if (isset($this->tutordata->tutor_dob) && $this->tutordata->tutor_dob!="")
								{
									$date = explode("-",$this->tutordata->tutor_dob);
									//print_r($date);exit;
								}?>
							<select id="date" name="date" style="width:70px;">
								<option value="">Date</option>
								<?php for ($l=1;$l<32;$l++){?>
								<option value="<?php echo $l;?>" <?php if (isset($date[0]) && $date[0]!=""){if ($date[0]==$l){echo "selected";}}?>><?php echo $l;?></option>
								<?php } ?>
				            </select>
							
							<select id="month" name="month" style="width:120px;">
								<option value="">Month</option>
								<option value="1" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==1){echo "selected";}}?>>January</option>
								<option value="2" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==2){echo "selected";}}?>>February</option>
								<option value="3" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==3){echo "selected";}}?>>March</option>
								<option value="4" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==4){echo "selected";}}?>>April</option>
								<option value="5" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==5){echo "selected";}}?>>May</option>
								<option value="6" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==6){echo "selected";}}?>>June</option>
								<option value="7" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==7){echo "selected";}}?>>July</option>
								
								<option value="8" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==8){echo "selected";}}?>>August</option>
								<option value="9" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==9){echo "selected";}}?>>September</option>
								<option value="10" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==10){echo "selected";}}?>>October</option>
								<option value="11" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==11){echo "selected";}}?>>November</option>
								<option value="12" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==12){echo "selected";}}?>>December</option>
				            </select>
							
							<select id="year" name="year"  style="width:65px;">
								<option value="">Year</option>
								<?php for ($l=1930;$l<2006;$l++){?>
								<option value="<?php echo $l;?>" <?php if (isset($date[2]) && $date[2]!=""){if ($date[2]==$l){echo "selected";}}?>><?php echo $l;?></option>
								<?php } ?>
								</select>
								<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Bank Name:</div>
						<div class="stepcol2">
							<input type="text" id="bank_name" name="bank_name" value="<?php if (isset($this->tutordata->bank_name) && $this->tutordata->bank_name!=""){echo $this->tutordata->bank_name;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Account Number:</div>
						<div class="stepcol2">
							<input type="text" id="acc_no" name="acc_no" value="<?php if (isset($this->tutordata->acc_no) && $this->tutordata->acc_no!=""){echo $this->tutordata->acc_no;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">IFSC Code:</div>
						<div class="stepcol2">
							<input type="text" id="ifsc_code" name="ifsc_code" value="<?php if (isset($this->tutordata->ifsc_code) && $this->tutordata->ifsc_code!=""){echo $this->tutordata->ifsc_code;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Adhar/License card:</div>
						<div class="stepcol2">
							<input type="text" id="adhar_license" name="adhar_license" value="<?php if (isset($this->tutordata->adhar_license) && $this->tutordata->adhar_license!=""){echo $this->tutordata->adhar_license;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Virtual Tour:</div>
						<div class="stepcol2">
							<input type="text" id="virtual_tour" name="virtual_tour" value="<?php if (isset($this->tutordata->virtual_tour) && $this->tutordata->virtual_tour!=""){echo $this->tutordata->virtual_tour;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>

					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">FB Link:</div>
						<div class="stepcol2">
							<input type="text" id="fb_link" name="fb_link" value="<?php if (isset($this->tutordata->tutor_fb_link) && $this->tutordata->tutor_fb_link!=""){echo $this->tutordata->tutor_fb_link;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
<!--					<div class="steprow1">-->
<!--						<div class="stepcol1">LinkedIn Link:</div>-->
<!--						<div class="stepcol2">-->
<!--							<input type="text" id="linkin_link" name="linkin_link" value="<?php //if (isset($this->tutordata->tutor_ld_link) && $this->tutordata->tutor_ld_link!=""){echo $this->tutordata->tutor_ld_link;}?>">-->
<!--							<div class="errorcls2">&nbsp;</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="lowspacer">&nbsp;</div>-->
					
					<div class="steprow1">
						<div class="stepcol1">Twitter Link:</div>
						<div class="stepcol2">
							<input type="text" id="twitter_link" name="twitter_link" value="<?php if (isset($this->tutordata->tutor_tw_link) && $this->tutordata->tutor_tw_link!=""){echo $this->tutordata->tutor_tw_link;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					
					<div class="steprow1">
						<div class="stepcol1">Blog link:</div>
						<div class="stepcol2">
							<input type="text" id="blog_link" name="blog_link" value="<?php if (isset($this->tutordata->blog_link) && $this->tutordata->blog_link!=""){echo $this->tutordata->blog_link;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Website:</div>
						<div class="stepcol2">
							<input type="text" id="website_link" name="website_link" value="<?php if (isset($this->tutordata->website_link) && $this->tutordata->website_link!=""){echo $this->tutordata->website_link;}?>">
							<div class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div id="addvideomore">
					<div class="steprow1" >
						<div class="stepcol1">Video link:</div>
						<div class="stepcol2">
							<input type="text" id="video_link[]" onmouseover="myfunctionin('uniquename3');" onmouseout="myfunctionout('uniquename3');" name="video_link[]" style="float:left;" value="<?php if (isset($this->tutordata->tutor_vd_link) && $this->tutordata->tutor_vd_link!=""){echo $this->tutordata->tutor_vd_link;}?>">
							<span class="tooltipclass">
										<img style="float:left;margin-left:5px;margin-top: 4px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename3');" onmouseout="myfunctionout('uniquename3');" />
										<span class="tooltipdiv" id="uniquename3" style="visibility: hidden;width:160px;left:6px;">
											<span class="tooltipdivspan2">You can copy/paste a link of your video OR call us if you want help to create one.</span>
										</span>
							</span>
						</div>
					</div>
					<?php if (isset($this->tutordata->tutor_vd_link1) && $this->tutordata->tutor_vd_link1!="") { ?>
					<div class="steprow1" >
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2 videoclss">
							<input type="text" id="video_link[]" name="video_link[]" style="float:left;" value="<?php if (isset($this->tutordata->tutor_vd_link1) && $this->tutordata->tutor_vd_link1!=""){echo $this->tutordata->tutor_vd_link1;}?>">
						</div>
					</div>
					<script type="text/javascript">
					l="1";
					avg_l="1";
					</script>
					<?php } ?>
					<?php if (isset($this->tutordata->tutor_vd_link2) && $this->tutordata->tutor_vd_link2!="") { ?>
					<div class="steprow1" >
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2 videoclss">
							<input type="text" id="video_link[]" name="video_link[]" style="float:left;" value="<?php if (isset($this->tutordata->tutor_vd_link2) && $this->tutordata->tutor_vd_link2!=""){echo $this->tutordata->tutor_vd_link2;}?>">
						</div>
					</div>
					<script type="text/javascript">
					l="2";
					avg_l="2";
					</script>
					<?php } ?>
					<?php if (isset($this->tutordata->tutor_vd_link3) && $this->tutordata->tutor_vd_link3!="") { ?>
					<div class="steprow1" >
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2 videoclss">
							<input type="text" id="video_link[]" name="video_link[]" style="float:left;" value="<?php if (isset($this->tutordata->tutor_vd_link3) && $this->tutordata->tutor_vd_link3!=""){echo $this->tutordata->tutor_vd_link3;}?>">
						</div>
					</div>
					<script type="text/javascript">
					l="3";
					avg_l="3";
					</script>
					<?php } ?>
					
					<?php if (isset($this->tutordata->tutor_vd_link4) && $this->tutordata->tutor_vd_link4!="") { ?>
					<div class="steprow1" >
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2 videoclss">
							<input type="text" id="video_link[]" name="video_link[]" style="float:left;" value="<?php if (isset($this->tutordata->tutor_vd_link4) && $this->tutordata->tutor_vd_link4!=""){echo $this->tutordata->tutor_vd_link4;}?>">
						</div>
					</div>
					<script type="text/javascript">
					l="4";
					avg_l="4";
					</script>
					<?php } ?>
					
					
					<?php if (isset($this->tutordata->tutor_vd_link5) && $this->tutordata->tutor_vd_link5!="") { ?>
					<div class="steprow1" >
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2 videoclss">
							<input type="text" id="video_link[]" name="video_link[]" style="float:left;" value="<?php if (isset($this->tutordata->tutor_vd_link5) && $this->tutordata->tutor_vd_link5!=""){echo $this->tutordata->tutor_vd_link5;}?>">
						</div>
					</div>
					<script type="text/javascript">
					l="5";
					avg_l="5";
					</script>
					<?php } ?>
					
					</div>
					<?php if ($this->tutordata->tutor_vd_link=="" || $this->tutordata->tutor_vd_link3=="" || $this->tutordata->tutor_vd_link2=="" || $this->tutordata->tutor_vd_link1==""|| $this->tutordata->tutor_vd_link4==""|| $this->tutordata->tutor_vd_link5=="") { ?>
					<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
							<a href="javascript:adddynamicRowbranch();"  class="addSection">ADD VIDEO</a>
						</div>
					</div>
					<?php } ?>
					<input type="hidden" value="f1" id="email" />
<!--				above line is for email value 	-->
				<div class="clear">&nbsp;</div>
				<div class="steprow1">
						<div class="stepcol1">Gender : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2">
							<div style="float:left;"><input style="float:left;height:15px;width:15px;" type="radio" name="gender" value="male" class="radio" <?php if (isset($this->tutordata->tutor_gender) && $this->tutordata->tutor_gender!=""){if ($this->tutordata->tutor_gender=="female" ){echo "checked";}}?> checked="true" errortag="Gender"/><span style="margin:0px 10px 0 5px;float:left;">Male</span></div>
							<div  style="float:left;"><input style="float:left;height:15px;width:15px;" type="radio" name="gender" value="female" class="radio" <?php if (isset($this->tutordata->tutor_gender) && $this->tutordata->tutor_gender!=""){ if ($this->tutordata->tutor_gender=="female" ){echo "checked";}}?> errortag="Gender"/><span style="margin:0px 10px 0 5px;float:left;">Female</span></div>
						</div>
						<div id="gender_error" class="errorcls2">&nbsp;</div>
					</div>
					<div class="clear">&nbsp;</div>
<!--				<div class="midspacer">&nbsp;</div>-->
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" /></div>
					</div>
				</div>
				
				</div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>
