<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/albumphoto.js"></script>
<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> profile picture edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/photobox.css"/>

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<style>
element.style {
    height: 651px;
    opacity: 1;
    width: 1366px;
}
.skilloverlay {
    background-image: url("../images/transpbg.png");
    float: left;
    position: fixed;
    top: 0;
    z-index: 99998;
}
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    font-family: Arial Rounded MT;
    margin: 0;
    padding: 0;
}
body {
    color: #333333;
    font-size: 14px;
}
.copyinfolinerow div.eachphoto {
    margin-bottom: 0;
}
.copyinfolinerow div.eachphoto {
    border: 2px solid #00A7E6;
    border-radius: 5px 5px 5px 5px;
    color: #AAA5A4;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 157px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.tutorcontentholder
{
	min-height:400px;
}
.stepcol1
{
	width:150px;
}
.stepcol2
{
	width: 410px;
}
.newimageshow{
	float:left;
	width: 250px;
}
.copyinfolinerow a
{	
	margin-bottom:0px
}
</style>
<!--[if IE]>
<style>
.newimageshow input{

	margin-left:15px;
}
</style>
<![endif]-->
</head>
	<body>
			<form method="post" action="" name="upload_pic" id="upload_pic" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
					<div class="rightcontent">
						<div class="CourseDetMid" style="padding-bottom:0px;">
							<a class="buttons" href="<?php echo BASEPATH;?>/photoalbums/index/id/<?php if(isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid!="")echo $authUserNamespace->maintutorid;else echo 0;?>" rel="lightbox[820 520];">Add photos</a>
							<div class="clear">&nbsp;</div>
							<div class="sap">&nbsp;</div>
							<div id="scrollbar1" style="width: 518px;float:left;">
								<div class="scrollbar" style="height: 180px;">
									<div class="track" style="height: 180px;">
										<div class="thumb" style="top: 10.929px; height: 27.3224px;">
											<div class="end"></div>
										</div>
									</div>
								</div>
								<div class="viewport" style="height:444px;width:505px;">
									<div class="overview">
										<div style="margin:0px;width:505px;" class="copyinfolinerow">
												<?php if (isset($this->photoresult) && sizeof($this->photoresult)>0){
												$i = 0; 
												foreach ($this->photoresult as $tutorphoto)
												{ ?>
													<div class="imagethumb" style="position:relative;float:left;">
														<div class="editicons">
																<span id="editphot"  class="editphot tippT">
																	<b class="Ttip">Edit</b>
																	<span class="dropover">
																		<a class="openskillbox" href="javascript:void(0);" rel="<?php echo BASEPATH;?>/photoalbums/editphoto/id/<?php echo $tutorphoto->id; ?>" >Edit Title</a>
																		<a href="javascript:void(0);" onclick="call_delete('<?php if (isset($tutorphoto->id) && $tutorphoto->id !="") { echo $tutorphoto->id; } ?>');">Delete</a>
																	</span>
																</span>
														</div>
															<!--<a  rel="lightbox[800 450];" href="<?php echo BASEPATH;?>/photoalbums/showphoto/id/<?php echo $tutorphoto->id;?>"><img src="<?php echo BASEPATH;?><?php echo $tutorphoto->thumb_photo_link ?>"></a>-->
															<a class="eachphoto" href="javascript:void(0);" rel="<?php echo BASEPATH;?><?php echo $tutorphoto->photo_link ?>"><img src="<?php echo BASEPATH;?><?php echo $tutorphoto->thumb_photo_link ?>"></a>
															<input type="hidden" value="<?php if(isset($tutorphoto->title) && $tutorphoto->title!=""){ echo $tutorphoto->title;} else{echo "Photo Title";}?>">
															<div class="imagetitle">
															<?php if(isset($tutorphoto->title) && $tutorphoto->title!="")
																  { 
																  	$imagetitle=$tutorphoto->title;
																  	
																  	if (strlen($imagetitle) > 32) 
																	{
																		$word_l_w = substr($imagetitle,0,32); 
																  		echo $word_l_w."...";
																	}
																	else
																	{
																	  	echo $imagetitle;
																	 }
																  } 
																  else
																  {
																  	echo "Photo Title";
																  }?></div>
													</div>
												<?php 
												}
												$i++;
												}else{?>
												<div>No photos found </div>
												<?php }?>	
										</div>
									</div>
								</div>	
							</div>	
						</div>
					</div>
				</div>
			</form>
			<!-- mini lightbox -->
			
			<!-- mini lightbox -->
<script>
$(document).ready(function(){	
	var temp = 2;
	var cnt = 0;
	$('.copyinfolinerow div.imagethumb').each(function(){
		cnt++;
		if(cnt == temp)
		{
			$(this).css({'margin':'0 11px 15px'});
			temp=temp+3;
		}	
		else
		{
			$(this).css({'margin':'0 0px 15px'});
		}	
	});
	$('#scrollbar1').tinyscrollbar();
});
function call_delete(id)
{	
	jConfirm('Are you sure,You want to delete this image ?', 'Confirmation Dialog', function(r) {
		if(r == true) 
			window.location.href= '<?php echo BASEPATH; ?>/editprofile/tutorphotodelete/id/'+id;
		else return false;
	});
}
</script>	
<script>
		$(document).ready(function(){
			var flag = 0;
			$('#editphot').live('click',function(){
				if(flag == 0)
				{
					$(this).children('.dropover').show();
					flag = 1;
				}
				else
				{
					$(this).children('.dropover').hide();
					flag = 0;
				}
			});
		});
	</script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/photobox.js"></script>	
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.tinyscrollbar.min.js"></script>	
	</body>
</html>