<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

	if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
	{ 
		$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
	}
}
						
?>

<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> profile picture edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<script type="text/javascript">
function imagedone(imagename)
{
	document.getElementById("imgfile_error").innerHTML = "Image uploaded successfully...!";//display msg
	document.getElementById("showimageuploaded").innerHTML='<img style="border:0px solid;" class="margin" src="<?php echo BASEPATH ?>/docs/'+imagename+'" width="135" height="135"/>';
	
}
</script>
	
<style>
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.tutorcontentholder
{
	min-height:400px;
}
.stepcol1
{
	width:150px;
}
.stepcol2
{
	width: 410px;
}
.newimageshow{
	float:left;
	width: 250px;
}
</style>
<!--[if IE]>
<style>
.newimageshow input{

	margin-left:15px;
}
</style>
<![endif]-->
</head>
	<body>
			<form method="post" action="" name="upload_pic" id="upload_pic" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<!--<div class="CourseDetTop"><span class="leftcornerlarge"></span></div>-->
				<div class="CourseDetMid">
			
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				<?php
						if(isset($authUserNamespace->changesave) && $authUserNamespace->changesave!="") {?>
						<div class="infolinerow onlyorangedisplay" >
							<?php
								echo $authUserNamespace->changesave;
								unset($authUserNamespace->changesave);
							?>
						</div>
						<?php }?>
					<div class="steprow1" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor"><?php if (isset($authUserNamespace->userclasstype) && $authUserNamespace->userclasstype=="4"){?>Upload logo : <?php }else{?> Upload picture : <?php } ?></span> <span class="onlyorangedisplay">*</span>
					</div>
					
					<div class="steprow1">
						<div style="float:left;height:135px;width:135px;" id="showimageuploaded">
							<img style="border:0px solid;" class="margin" src="<?php if(isset($this->tutordata->tutor_thumb_type) && $this->tutordata->tutor_thumb_type!="" ){echo BASEPATH;?>/search/viewprofilethumb/id/<?php if(isset($this->tutordata->tutor_thumb_type) && $this->tutordata->tutor_thumb_type!="" ) { if(isset($this->tutordata->id) && $this->tutordata->id!="" ){ echo $this->tutordata->id;} }?>"<?php } else {?><?php echo BASEPATH;?>/images/uploadPlaceholder.jpg" <?php }?>width="135" height="135" onerror=this.src="<?php echo BASEPATH;?>/images/NoAvailable.jpg" />
						</div>
						<div class="newimageshow">
							<input style="float:left;margin-left:10px;" type="hidden" name="imgfile" id="imgfile" errortag="Image">
						<?php if(isset($this->tutordata->tutor_thumb_type) && $this->tutordata->tutor_thumb_type!="" ){?>
						<a href="<?php echo BASEPATH;?>/profilepicupload/fileupload/id/<?php if(isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid!="")echo $authUserNamespace->maintutorid;else echo 0;?>" rel="lightbox[820 520];" style="float:left;margin-left:14px;" class="onlybluecolor">Change photo</a>
						<?php }else{?>
						<a href="<?php echo BASEPATH;?>/profilepicupload/fileupload/id/<?php if(isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid!="")echo $authUserNamespace->maintutorid;else echo 0;?>" rel="lightbox[820 520];" style="float:left;margin-left:14px;" class="onlybluecolor">Upload image</a>
						<?php } ?>
							<i style="margin:5px 0 0 15px;float:left;" class="registerhint">Pictures are limited to JPG, PNG and GIF. Also, they must be no larger than 5Mb.</i>
							<?php if(isset($authUserNamespace->imageerror) && $authUserNamespace->imageerror != ""){?>
							<div class="errorcls5"><?php  echo $authUserNamespace->imageerror;?></div>
							<?php } unset($authUserNamespace->imageerror);?>
						</div>
						<input type="hidden" name="imgch" id="imgch"  value="<?php if(isset($authUserNamespace->edit_profile_session1) && $authUserNamespace->edit_profile_session1!=""){echo $authUserNamespace->edit_profile_session1;unset($authUserNamespace->edit_profile_session1);}else{echo "";}?>" />
						
					</div>
					<div class="steprow1">
						<div id="imgfile_error" class="errorcls5" style="margin:0px;">&nbsp;</div>
					</div>
				<div class="clear">&nbsp;</div>
				</div>
				<!--<div class="CourseDetBot"><span class="leftcornerbotlarge"></span></div>-->
			</div>
			
			</div>
			
	</form>
	</body>
</html>
