<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<title>Class/teacher profile, sent mails.</title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>
	
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:586px;
}
.mailcontent
{
	width:520px;
	float:left;
	height:auto;
	border: 1px solid #DDDDDD;
	display:block;
}
.mailheaderstrip
{
	padding: 9px 0px;
	float:left;
	width:520px;
	background-color:#00A7E6;
	border: 1px solid #00A7E6;
	height:auto;
	text-align:center;
}
.whitebackrow
{
	padding: 9px 0px;
	float:left;
	width:520px;
	background-color:#FFFFFF;
	height:auto;
	text-align:center;
}
.greaybackrow
{
	padding: 9px 0px;
	float:left;
	width:520px;
	background-color:#DDDDDD;
	height:auto;
	text-align:center;
}
.mailrow
{
	width : 50px;
	display : inline-block;
	color: #FFFFFF;
	float: left;
}
.mailrow1
{
	width : 160px;
	display : inline-block;
	color: #FFFFFF;
	float: left;
}
.mailrow2
{
	width : 165px;
	display : inline-block;
	color: #FFFFFF;
	float: left;
}
.mailrow3
{
	width : 145px;
	display : inline-block;
	color: #FFFFFF;
	float: left;
}
.mailcontent a:link,.mailcontent a:visited, mailcontent a:hover
{
	color:#000000;
}
.checkallrow
{
	padding: 9px 0px;
	float:left;
	width:520px;
	height:auto;
	color:#00A7E6;
}
.checkallrow a:link,.checkallrow a:visited, checkallrow a:hover
{
	color:#00A7E6;
}
p
{
	margin:0px;
}
.leavespace
{
	float:left;
	width:520px;
	line-height:20px;
}
.infolinerow
{
	margin-bottom: 10px;
    padding: 0;
    width: 520px;
}
</style>
<script>
function setcheckboxes(formno,value)
{
    $.each($('input[name='+formno+']'), function () {
      if (value == 'true') {
        $(this)[0].checked = true;
      } else {
        $(this)[0].checked = false;
      }
    });
 
}
function deletemails(elem){

	if ($('input[name='+elem+']:checked').length <= 0)
	{
		jAlert ("Select atleast one record.");
		return false;
	} else{ 
		$(':checkbox').each(function(i){
			if($(this).is(':checked')) {
			//alert("&check[]=" + $(this).val());
			checkboxid = $(this).val();
			//alert(checkboxid);
					$.ajax({
									url:"<?php echo BASEPATH;?>/editprofile/deletesentmail",
									type:'post',
									data:"checkboxid="+checkboxid,
									async:false,
									success:function (response)
									{
										var jsonObject = eval("("+response+")");
										if(jsonObject!=null && jsonObject!="")
										{
											//alert(jsonObject);
											if(jsonObject=="success")
											{
												window.location.reload();
												//alert("Insert Successfully");
											}
										}
										else
									{
										
									}
								},
									error:function (response){
										jAlert("Database is not connected successfully")
									}
							});
				
			} 
		});
		return true;
	}
}
function submitForm(getValue){
	
	var getValue = document.getElementById("shown").value;
	//var getText = document.getElementById("searchtext").value;
	window.location="<?php echo BASEPATH; ?>/editprofile/sentmail/shown/"+getValue;
}
</script>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
										
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >My sent messages</span>
						<div style="float:right;">Number of records
							<select onchange="javascript: submitForm();" name="shown" id="shown">
								<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
								<option value="20" <?php if($this->records_per_page==20)echo "selected=selected"; ?>>20</option>
								<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
								<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
							</select>
						</div>
				</div>
				
				
					<div class="mailheaderstrip">
						<div class="mailrow">Select</div>
						<div class="mailrow1">To</div>
						<div class="mailrow2">Subject</div>
						<div class="mailrow3">Last sent</div>
					</div>
					
				<div class="mailcontent">
				
					<?php
					$i=0;
					if(isset($this->allmailresult) && sizeof($this->allmailresult)>0){
						foreach($this->allmailresult as $mailresult){
							
					?>	
					<div class='<?php if($i%2==0)echo "whitebackrow"; else echo "greaybackrow"; ?>'>
						<div class="mailrow" style="color:#000405;"><input type="checkbox" name="check[]" id="check[]" value="<?php echo $mailresult->id;?>"></div>
						<?php 
						if($mailresult->rec_flag=='t'){
							$tutorProfileobj = new Skillzot_Model_DbTable_Tutorprofile();
							$fetch_data = $tutorProfileobj->fetchRow("id='$mailresult->to_id'");
							$fullname = ucfirst($fetch_data->tutor_first_name)." ".ucfirst($fetch_data->tutor_last_name);
							//echo $fullname;exit;
						}else{
							$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
							$student_data = $studentSignupObj->fetchRow("id='$mailresult->to_id'");
							$fullname = ucfirst($student_data->first_name)." ".ucfirst($student_data->last_name);
						}
						
						
						
						//$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
		
//						$profile_rows = $tutorProfile->fetchAll($tutorProfile->select()
//													->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
//													->where("s.id='$mailresult->from_id'"));
//						$fullname = $profile_rows[0]['tutor_first_name']." ".$profile_rows[0]['tutor_last_name'];
						?>
						<div class="mailrow1" style="color:#000405;"><a href="<?php echo BASEPATH;?>/editprofile/readsentmail/mail_id/<?php echo $mailresult->id;?>"><?php echo $fullname; ?></a></div>
						<div class="mailrow2" style="color:#000405;"><a href="<?php echo BASEPATH;?>/editprofile/readsentmail/mail_id/<?php echo $mailresult->id;?>"><?php echo $mailresult->subject; ?></a></div>
						<div class="mailrow3" style="color:#000405;"><?php echo $mailresult->mail_date; ?></div>
					</div>
<!--					<div class="greaybackrow">-->
<!--						<div class="mailrow" style="color:#000405;">Select</div>-->
<!--						<div class="mailrow1" style="color:#000405;">From</div>-->
<!--						<div class="mailrow2" style="color:#000405;">Subject</div>-->
<!--						<div class="mailrow3" style="color:#000405;">Last received</div>-->
<!--					</div>-->
					<?php
					$i+=1;
				}
				
				// code for pagination in the phtml file
						//echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
						//echo "<div>&nbsp;</div>";
					}
					else{
				?>
				
				<div class='grid-row2'>
					<div align='center'>There are no messages in your sent items</div>
				</div>
				
		<?php } ?>
				</div>
				
				<div class="checkallrow">
				
				<div style="width:250px;float:left;">
				<a href="javascript:setcheckboxes('check[]','true')">Check All</a><span style="margin-left:10px;margin-right:10px;">/</span>&nbsp;<a class="fontcolor" href="javascript:setcheckboxes('check[]','false')">Uncheck All</a>
				</div>
				<div style="float:right;"><?php if(isset($this->allmailresult) && sizeof($this->allmailresult)>0){echo $this->pagination($this->pagination_config);}?></div>
				
				</div>
				<div class="leavespace">&nbsp;</div>
				<div class="mailrow" style="color:#000405;"><div class="savecontinue"><img onclick="javascript:deletemails('check[]');" src="<?php echo BASEPATH;?>/images/deletenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/deletenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/delete_hover.png';" id="save" name="save" /></div></div>
				<div class="leavespace">&nbsp;</div>
				
				</div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>