<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); 
	  $contact_type = $this->contact;?>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.3.1.min.js"></script>
<style>
body{
	margin:0px;
	padding:0;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:450px;
}
.contentbox
{
	float:left;
	padding:0px;
	width:440px;
}
.stepcolsmall2 
{
    width: 64%;
}
.stepcolsmall2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: auto;
	height: auto;
}
.stepcolsmall2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 60px;
    padding-left: 3px;
    width: 262px;
    resize:none;
}
.infolinerow
{
 	width:100%;
 	float:left;
 	margin-top:31px;
 	
 	background-color:#f0f0f0;
 	 width: 99.7533%;
 	padding: 33px 5px 0 5px;
    text-align: left;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    height: 33px;
    line-height: 22px;
    margin: 0;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
	float:left;
}
.stepcolsmall1
{
	width: 36%;
}
.botmargindisplzy
{
	margin-bottom: 0px;
}
.maincontent
{
	float:left !important;
	margin:20px 0 20px 5px;
}
/*new style*/
body
{
	float:left;
	width:461px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:461px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 40px 20px 20px;
    text-align: left;
    width: 420px;
}
.whitePart
{
	width: 440px;
	float:left;
	padding: 20px 0 10px 20px;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:157px;
	padding:0px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"],textarea,.select
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 257px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.select
{
	width: 257px;
}
.whitePart .Field textarea
{
	height:70px;
	resize:none;
	padding:5px 0px 0 5px;
	float:left;
	width: 257px;
}
.whitePart .Field .errortext
{
	width: 246px;	
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin: 0 0 0 166px;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
</head>

<body id="idforrefreshcontact" style="overflow-x:hidden;">
<div class="loginMain">
	<h1>
		<span class="nameoftutor" style="color:#1CA3E7;width:439px;" >Batch summary
							<span style="font-size:14px;"><br/>
		<?php
		 if (isset($this->batchviewResult->batch_summary_for_course) && $this->batchviewResult->batch_summary_for_course!=""){

		 	$final = explode(":",$this->batchviewResult->batch_summary_for_course);
		 		echo $final[0];
		 }?>

	</h1>
	<!--  <div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>-->
	<div class="whitePart">
		<?php if (isset($this->batchviewResult->tutor_batch_name) && $this->batchviewResult->tutor_batch_name!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
				<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Slots</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;">
					<span class="locationoftutor" id="multiplelocalitydisplay">
						<?php
						$dayArray = $this->batchviewResult->tutor_batch_name;
				  		//$alldayId = trim($dayArray, ',');
						$dayIds = explode("/",$dayArray);		
						//echo $dayIds[0];
						if(isset($dayIds) && sizeof($dayIds) > 2){

							echo $final_day1 = $dayIds[1]."&nbsp;&nbsp;&nbsp;".trim($dayIds[2],"-");
						}else{
							echo $final_day1 = $dayIds[0]."&nbsp;&nbsp;&nbsp;".trim($dayIds[1],"-");
						}
						
					 ?><br/>
					<?php if(isset($this->batchviewResult->tutor_batch_from_timing1) && $this->batchviewResult->tutor_batch_from_timing1 != ""){ ?>
				<?php echo $this->batchviewResult->tutor_batch_from_timing1."-".$this->batchviewResult->tutor_batch_to_timing1;}?>
				<?php if(isset($this->batchviewResult->tutor_batch_day1) && sizeof($this->batchviewResult->tutor_batch_day1)!="") {
						?>&nbsp;
						<?php
						$dayArray = $this->batchviewResult->tutor_batch_day1;
				  		//$alldayId = trim($dayArray, ',');
						$dayIds = explode(",",$dayArray	);		
						//echo $dayIds[0];
						if($dayIds[0]=="1"){ $day1 = "Mon-";}else{$day1="";}
						if($dayIds[1]=="2"){ $day2 = "Tue-";}else{$day2="";}
						if($dayIds[2]=="3"){$day3 = "Wed-";}else{$day3="";}
						if($dayIds[3]=="4"){$day4 = "Thu-";}else{$day4="";}
						if($dayIds[4]=="5"){$day5 = "Fri-";}else{$day5="";}
						if($dayIds[5]=="6"){$day6 = "Sat-";}else{$day6="";}
						if($dayIds[6]=="7"){$day7 = "Sun";}else{$day7="";}		
						echo $final_day1 = trim($day1.$day2.$day3.$day4.$day5.$day6.$day7,"-");

				 } ?>
			 <?php if(isset($this->batchviewResult->tutor_batch_from_timing2) && $this->batchviewResult->tutor_batch_from_timing2 != ""){ ?><br/>
			<?php echo $this->batchviewResult->tutor_batch_from_timing2."-".$this->batchviewResult->tutor_batch_to_timing2;}?>
			<?php if(isset($this->batchviewResult->tutor_batch_day2) && sizeof($this->batchviewResult->tutor_batch_day2)!="") {
					?>&nbsp;
					<?php
					$dayArray = $this->batchviewResult->tutor_batch_day2;
			  		//$alldayId = trim($dayArray, ',');
					$dayIds = explode(",",$dayArray	);		
					//echo $dayIds[0];
					if($dayIds[0]=="1"){ $day1 = "Mon-";}else{$day1="";}
					if($dayIds[1]=="2"){ $day2 = "Tue-";}else{$day2="";}
					if($dayIds[2]=="3"){$day3 = "Wed-";}else{$day3="";}
					if($dayIds[3]=="4"){$day4 = "Thu-";}else{$day4="";}
					if($dayIds[4]=="5"){$day5 = "Fri-";}else{$day5="";}
					if($dayIds[5]=="6"){$day6 = "Sat-";}else{$day6="";}
					if($dayIds[6]=="7"){$day7 = "Sun";}else{$day7="";}		
					echo $final_day1 = trim($day1.$day2.$day3.$day4.$day5.$day6.$day7,"-");

			 } ?>
			 <?php if(isset($this->batchviewResult->tutor_batch_from_timing3) && $this->batchviewResult->tutor_batch_from_timing3 != ""){ ?><br/>
			<?php echo $this->batchviewResult->tutor_batch_from_timing3."-".$this->batchviewResult->tutor_batch_to_timing3;}?>
			<?php if(isset($this->batchviewResult->tutor_batch_day3) && sizeof($this->batchviewResult->tutor_batch_day3)!="") {
					?>&nbsp;
					<?php
					$dayArray = $this->batchviewResult->tutor_batch_day3;
			  		//$alldayId = trim($dayArray, ',');
					$dayIds = explode(",",$dayArray	);		
					//echo $dayIds[0];
					if($dayIds[0]=="1"){ $day1 = "Mon-";}else{$day1="";}
					if($dayIds[1]=="2"){ $day2 = "Tue-";}else{$day2="";}
					if($dayIds[2]=="3"){$day3 = "Wed-";}else{$day3="";}
					if($dayIds[3]=="4"){$day4 = "Thu-";}else{$day4="";}
					if($dayIds[4]=="5"){$day5 = "Fri-";}else{$day5="";}
					if($dayIds[5]=="6"){$day6 = "Sat-";}else{$day6="";}
					if($dayIds[6]=="7"){$day7 = "Sun";}else{$day7="";}		
					echo $final_day1 = trim($day1.$day2.$day3.$day4.$day5.$day6.$day7,"-");

			 } ?>
								</span>
				</div>
				<?php } ?>
	<?php if (isset($this->tutorlessonlocation) && $this->tutorlessonlocation!="") { ?>
					<div class="steprow1" style="margin-bottom: 2px;">
						<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Location of lessons</span>
					</div>
					<div class="infolinerow2" style="margin-bottom:10px;">
						<span class="locationoftutor" id="radious_display">
						<?php
						if (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="1"){echo "At Student's home";}
						elseif (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="2"){echo "At Teacher's location";}
						echo "<br/>";				
						if (isset($this->batchviewResult->travel_radius) && $this->batchviewResult->travel_radius!="" ) { echo "(".$this->batchviewResult->travel_radius.")"; }
						?>

						</span>
					</div>
				<?php } ?>

				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="" && isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="2") {?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Class Address</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:0px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">

								<?php //echo $this->batchviewResult->address;
								if(isset($this->batchviewResult->address) && $this->batchviewResult->address!=""){ echo $this->batchviewResult->address;}
								if(isset($this->address->address_value) && $this->address->address_value!=""){ echo ", ".$this->address->address_value;}
								if(isset($this->city->address_value) && $this->city->address_value!=""){ echo ", ".$this->city->address_value;}
								if(isset($this->batchviewResult->pincode) && $this->batchviewResult->pincode!=""){ echo ", ".$this->batchviewResult->pincode;}
								else { echo  "None"; }
								?>
								</span>
				</div>
				<div class="steprow1" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php  if(isset($this->batchviewResult->landmark) && $this->batchviewResult->landmark!="" && $this->batchviewResult->landmark!="Landmark"){ echo "Landmark : ".$this->batchviewResult->landmark;} ?>
								</span>
				</div>
				<?php }else{ ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Travel Radius</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php echo $this->batchviewResult->travel_radius;?>
								</span>
				</div>
				<?php } ?>	
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Batch start date</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php if($this->batchviewResult->batch_date=="No fixed start date")
									 { echo $this->batchviewResult->batch_date; }else 
							{	echo date('l,
							 jS \of F Y', strtotime($this->batchviewResult->batch_date));   }?>
								</span>
				</div>
				<?php } ?>
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Duration</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;width:475px">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php if(isset($this->batchviewResult->tutor_class_dur_wks) && $this->batchviewResult->tutor_class_dur_wks=="0")
									  { $weekdisplay="On-going monthly";
							          }else
							          { $weekdisplay=$this->batchviewResult->tutor_class_dur_wks; }
							          if(isset($this->batchviewResult->tutor_class_dur_dayspwk) && $this->batchviewResult->tutor_class_dur_dayspwk=="0")
									  { $daydisplay="Flexible days";
							          }else
							          { $daydisplay=$this->batchviewResult->tutor_class_dur_dayspwk; }
							          if(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.5")
							          { $hrsdisplay="30 mins"; 
									  }elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.75")
							          { $hrsdisplay="45 mins"; }
							          elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="1")
							          { $hrsdisplay="1 hour"; }
							          else
							          { $hrsdisplay=$this->batchviewResult->tutor_class_dur_hrspday." hours"; }
								echo $weekdisplay." course | ".$daydisplay." a week | ".$hrsdisplay ?>
								</span>
				</div>
				<?php } ?>
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Seats</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php 
								if(isset($this->batchviewResult->seat_available) && $this->batchviewResult->seat_available=="0")
								{
									$available_display="No";
								}else
								{
									$available_display="Yes";
								}
								echo "Seats available: ".$available_display;?>
								</span>
				</div>
				<?php } ?>
	</div>
</div>
</body>
</html>
