<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
	<html>
<head>

<title>Team Behind Skillzot's Awesomeness | Skillzot</title>
<meta name="description" content="Meet the Skillzot team of dedicated super-heroes (in their head), giving it all, to help you find amazing classes & personal teachers to learn any skill.">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js" type="text/javascript"></script>
	<link href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" rel="stylesheet">
	
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/wearehiringcss.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
<style>
.normalstate {
    border-radius: 5px 5px 5px 5px;
    color: #00A7E6;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding:5px 0 5px 5px;
    width:260px;
}
.normalstate:hover
{
	background: none repeat scroll 0 0 #00A7E6;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 5px;
}
.errorcls1
{
	color:red;
	font-size:12px;
	float:left;
	
	line-height:15px;
	height:15px;
		
}
.teaminfobox p, .teaminfoboxright p
{
	font-size:14px;
}
.slideinfo p
{
	font-size:14px;
	float:left;
	width:100%;
}
.positionopenbox p
{
	margin:0px;
}
.highlight
{
	color:#AAA5A4;
	margin-bottom:10px;
	margin-top:10px;
}
.normalstate,.activestate
{
	text-transform:none;
}
.slideinfo
{
	margin-left:0px;
}
.imgbox
{
	width:160px;
	text-align:center;
}
.videolinkbox
{
	float:none;
	margin:auto;
}
.teamnamebox
{
	 display: inline-block;
}
.fbiconleft,.fbiconright
{
    background: url("<?php echo BASEPATH;?>/images/fbicon.png") no-repeat scroll 0 0 transparent;
}
.twiconleft,.twiconright
{
    background: url("<?php echo BASEPATH;?>/images/twicon_bl.jpg") no-repeat scroll 0 0 transparent;
    /*background-size:20px;*/ 
}
.twiconleft:hover,.twiconright:hover
{
	background: url("<?php echo BASEPATH;?>/images/twicon.jpg") no-repeat scroll 0 0 transparent;
}
.fbiconleft, .twiconleft,.fbiconright, .twiconright
{
    display: inline-block;
    height: 21px;
    width: 20px;
}
.fbiconleft, .twiconleft
{
	float:left;
	margin-left: 16px;
}
.fbiconright, .twiconright {
    float:right;
    margin-right: 16px;
}
.teamnamebox
{
	float:left;
}
.slideinfo ul
{
	font-size:14px;
	float:none !important;
}
.slideinfo
{
	padding:9px;
	border:1px solid #00A7E6;
	width:97%;
}
.divbox
{
	width:940px;
}
.videobox
{
	background:none;
}
.headingbox
{
	text-transform:none;
}
<style>
.question,.handofseanbrown,.errorcls1
{
	color:#00A7E6;
}
.answer
{
	color:#625551;
	font-size:15px;
}
#social
{
    background-image:url("<?php echo BASEPATH;?>/images/followus.png");
    margin-top:105px;
}
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0;
}
.popular_bar
{
	/*font-family:Tahoma;*/
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 960px;
}
.slideinfo ul
{
	display: inline-block;
	padding-left: 20px;
	list-style: disc outside none;
}
.slideinfo ul ul
{
	list-style: circle outside none;
}
#content
{
	margin-bottom:10px !important;
}
#scrollbar1
{
	float:left;
	width:288px;
}
#scrollbar1 .viewport
{
	float:left;
}
</style>
<script>
//window.onload = function() {
	//alert("hi");
		 //window.location = '#ourteam';
//	};
</script>
<script>
$(document).ready(function() {
	//$('a.subject').addClass('collapsed').parent().next('div').hide();
	$('#scrollbar1').tinyscrollbar();
	$("#details1").hide();
	$("#details2").hide();
	$("#details3").hide();
	$("#details4").hide();
	
	$('#mainsubdiv1').click(function() {
		//$(this).parent().next('div').slideToggle();
		$("#mainsubdiv1").removeClass('normalstate');
		$("#mainsubdiv2").removeClass('activestate');
		$("#mainsubdiv3").removeClass('activestate');
		$("#mainsubdiv4").removeClass('activestate');
		
		$("#mainsubdiv1").addClass('activestate');
		$("#mainsubdiv2").addClass('normalstate');
		$("#mainsubdiv3").addClass('normalstate');
		$("#mainsubdiv4").addClass('normalstate');

		$("#details1").slideToggle();
		$("#details2").hide();
		$("#details3").hide();
		$("#details4").hide();
		
		//return false;
	});
	$('#mainsubdiv2').click(function() {
		//$(this).parent().next('div').slideToggle();
		$("#mainsubdiv1").removeClass('activestate');
		$("#mainsubdiv2").removeClass('normalstate');
		$("#mainsubdiv3").removeClass('activestate');
		$("#mainsubdiv4").removeClass('activestate');
		
		$("#mainsubdiv1").addClass('normalstate');
		$("#mainsubdiv2").addClass('activestate');
		$("#mainsubdiv3").addClass('normalstate');
		$("#mainsubdiv4").addClass('normalstate');

		$("#details2").slideToggle();
		$("#details1").hide();
		$("#details3").hide();
		$("#details4").hide();
		
		//return false;
	});
	$('#mainsubdiv3').click(function() {
		//$(this).parent().next('div').slideToggle();
		$("#mainsubdiv1").removeClass('activestate');
		$("#mainsubdiv2").removeClass('activestate');
		$("#mainsubdiv3").removeClass('normalstate');
		$("#mainsubdiv4").removeClass('activestate');
		
		$("#mainsubdiv1").addClass('normalstate');
		$("#mainsubdiv2").addClass('normalstate');
		$("#mainsubdiv3").addClass('activestate');
		$("#mainsubdiv4").addClass('normalstate');

		$("#details3").slideToggle();
		$("#details1").hide();
		$("#details2").hide();
		$("#details4").hide();
		
		//return false;
	});
	$('#mainsubdiv4').click(function() {
		//$(this).parent().next('div').slideToggle();
		$("#mainsubdiv1").removeClass('activestate');
		$("#mainsubdiv2").removeClass('activestate');
		$("#mainsubdiv3").removeClass('activestate');
		$("#mainsubdiv4").removeClass('normalstate');
		
		$("#mainsubdiv1").addClass('normalstate');
		$("#mainsubdiv2").addClass('normalstate');
		$("#mainsubdiv3").addClass('normalstate');
		$("#mainsubdiv4").addClass('activestate');

		$("#details4").slideToggle();
		$("#details1").hide();
		$("#details2").hide();
		$("#details3").hide();
		
		//return false;
	});
	
  
});
	function call_twitter()
	{
		window.open('https://twitter.com/sandy00014');
	}
</script>
<!--[if IE]>
<style type="text/css" media="screen">

@font-face{
font-family: 'handofsean';
src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
}
</style>
<![endif]-->
<script type="text/javascript">
	var embedCode = '<div class="videosize">'+
					'<object id="video" width="100%" height="100%" type="video/x-ms-asf" url="hiring_Ver2.wmv" data="hiring_Ver2.wmv" classid="clsid:22D6F312-B0F6-11D0-94AB-0080C74C7E95">'+
					'<param name="flashVars" value="firstName=Nick&lastName=Danger&blurover=false&autostart=true"/>'+
					'<param name="Filename" value="<?php echo BASEPATH; ?>/video/hiring_Ver2.wmv">'+
					'<param name="ShowStatusBar" value="false">'+
					'<param name="src" value="N_BrtSid_QTtest-poster.jpg" />'+
					'<param name="AutoStart" value="true">'+
					'<param name="ShowControls" value="true">'+
					'<param name="BufferingTime" value="1">'+
					'<param name="ShowStatusBar" value="true">'+
					'<param name="uiMode" value="full" />'+
					'<param name="autosize" value="1">'+
					'<param name="InvokeURLs" value="false">'+
					'<param name="playcount" value="1">'+
					'<embed type="application/x-mplayer2" src="<?php echo BASEPATH; ?>/video/hiring_Ver2.wmv" width="100%" height="100%"  autoplay="true" autostart="true" showcontrols="true" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/"></embed>'+
					'</object>'+
					'</div>';
	
</script>

</head>
<body>
<!--
<div id="social">
	<ul>
	 	<li><a class="fb" onclick="javascript:call_fb();" href="#"></a></li>
     	<li><a class="tweet" onclick="javascript:call_twitter();" href="#"></a></li>
		<!-- <li><a class="youtube" href="#"></a></li> brgv 25-04-->
	<!-- </ul>
</div>-->
<div class="mainbox" id="weare" style="width:980px;float:none;margin:auto;display: inline-block;">
	<h1 class="headingbox">We're hiring</h1>
	<div style="width:100%;height:auto;float:left;">
		<div class="divboxholder" style="margin-bottom: 0px; margin-top: 5px; width: 288px; margin-right: 58px;">
			<div class="teamtitlebox" style="margin-bottom:5px;">
				<h2 class="titletext">We're looking to build an awesome team ground up</h2>
			</div>
			<div class="teaminfobox" style="width:100%;margin-top:10px;">
				<p>We are building a better platform to help people find the best teacher to nurture their talent and we're looking for great people to be a part of our vision.</p>
				<p>Have a look at the video (4mins) and if you think this is something you would want to be a part of then do check out our open positions and give us a shout.</p>
			</div>
			
		</div>
		<div class="videolinkbox" style="float:left;margin-top:15px;display:inline-block;margin-right: 58px;position:relative;">
			<a rel="lightbox[external 630 370]" href="https://youtube.googleapis.com/v/R3jykpTghns">
			<span class="playbutton"></span>
			<img src="<?php echo BASEPATH; ?>/images/we're-hiring-video-image.png" alt="skillzot-hiring-video-image"/>
				<!--<object width="288">
					<param name='movie' value="http://youtube.googleapis.com/v/R3jykpTghns"></param>
					<param name='wmode' value='transparent'></param>
					<param name='allowscriptaccess' value='always'></param>
					<param name='allowFullScreen' value='true'></param>
					<embed src="http://youtube.googleapis.com/v/R3jykpTghns" type='application/x-shockwave-flash'  allowscriptaccess='always' allowfullscreen='true' width="288" />
				</object>-->
			</a>	
		</div>
		<div class="divboxholder" style="width:288px;margin-top:10px;">
			<h2 style="margin-bottom:15px;">Open positions</h2>
			<div id="scrollbar1">
				<div class="scrollbar" style="height: 180px;">
					<div class="track" style="height: 180px;">
						<div class="thumb" style="top: 10.929px; height: 27.3224px;">
							<div class="end"></div>
						</div>
					</div>
				</div>	
				<div class="viewport" style="height: 180px;width:278px;margin-left:-5px;">
					<div class="overview">
						<div id="mainsubdiv1" class="normalstate">Customer development executive - Mumbai</div>
						<div id="mainsubdiv2" class="normalstate">Engineering lead - Mumbai</div>
						<div id="mainsubdiv3" class="normalstate">Design lead - Mumbai</div>
						<div id="mainsubdiv4" class="normalstate">Customer service - Mumbai</div>
					</div>	
				</div>
			</div>
	</div>
	<div class="divboxholder" style="width:960px;">
		<div class="positionopenbox" style="width:960px;">
			<!--<h2>Open positions</h2>-->
			<!--<div id="mainsubdiv1" class="normalstate">Customer development executive - Mumbai</div>-->
			<div id="details1" class="slideinfo">
				<h2>Customer development executive - Mumbai</h2>
				<p>
					<span class="highlight">Role & Responsibilities</span>
					<p>One of the critical success factors of the portal is to ensure that there are an abundant number of detailed & credible profiles (for both - personal teachers & classes) to choose from, across the different categories (of music, dance, sports, etc - almost 30 to start with), so that it can help customers/students to make informed choices and value the differentiation.</p>
				</p>
				<p>
					<span class="highlight">Key responsibilities will be -</span>
					<ul>
						<li>Finding ways to increase the profile database - directly & indirectly</li>
						<li>Selling the idea, benefits and operations to teachers & classes, across categories (in Mumbai) so as to add on to the profile database</li>
						<li>Maintaining relationships with business accounts, whose profiles have been uploaded, to ensure
							<ul>
								<li>smooth partnership, </li>
								<li>feedback for improvement/bottle-necks and</li>
								<li>customer/client trouble-shooting.</li>
							</ul>
						</li>
					</ul>
				</p>
				<p>
					<span class="highlight">Skills/Traits required</span>
						<ul>
							<li>Enthusiastic, out-going and genuinely friendly (loves people and interacting with people)</li>
							<li>Excellent communication skills, flair for writing is a plus</li>
							<li>Self-driven to achieve targets & goals</li>
							<li>Microsoft Excel/Powerpoint savvy</li>
							<li>Active on twitter and facebook (Active implies, daily usage/posts...the more followers/friends, the better...blog is a plus)</li>
						</ul>
				</p>
				<p>
					<span class="highlight" style="float:left;width:100%;">Benefits - you'll love us.. only if you believe in the following</span>
						<ul>
							<li>Flexible working hours - productivity measured by mutually agreed targets/goals set, not number of hours put in</li>
							<li>Competitive compensation</li>
							<li>It's a startup... so while you have a clear role defined, you get to
								<ul>
									<li>Expect varied cross-functional work (including customer service) - which will increase your learning curve. So we will help you learn if you're willing - that's a promise.</li>
									<li>Wear multiple hats/don additional roles  as we grow (depending on your interest/willingness) - which will truly help you expand your skills/knowledge and become a better professional in the long run</li>
									<li>Be a part of shaping the growth of the company (and a larger cause/change) with feedback and ideas - which will be a mandatory expectation</li>
								</ul>
							</li>
							<li>Fun culture - hey, in case you haven't noticed, skillzot's kinda non-academic skewed, what does that say about her and we really love stuff like movies, music, traveling, partying, doing new things, so we're gonna find ways to work and play</li>
							<li>Others - As we keep growing/adding our database, we'll figure ways to tie-up with teachers/classes of skills you want to learn... for free</li>
						</ul>
				</p>
				<p style="color:#00A7E6;text-align:center;">So if you want to make magic then please send in your resume to <span style="color:#00A7E6;font-weight:bold;">zot@skillzot.com</span></p>
			</div>
			
			
			<!--<div id="mainsubdiv2" class="normalstate">Engineering lead - Mumbai</div>-->
			<div id="details2"  class="slideinfo">
			<h2>Engineering lead - Mumbai</h2>
			<p>
				<span class="highlight">Role & Responsibilities</span>
				<p>The backbone of the portal will be the simplicity and effectiveness with which we can help our customers find and connect with the best/most appropriate profiles (teachers/classes). To that effect, there is a need of continual analysis & improvement for each of the landing pages and incorporating new modules/benefits as we keep scaling.</p>
				<p>Writing the codes and building the features will be a direct outgrowth of the things that cause our students and teachers pain. We want to push those features frequently, and we want you to help us figure out how to build all the things we still haven't figured out - we need a 'ownership mindset' on the product, not just a code geek. Very little of what we do is siloed -so you'll need to consider all the different downstream dependencies.</p>
			</p>
			<p>
				<span class="highlight">Key responsibilities will be -</span>
					<ul>
						<li>Back-end development using PHP and MySQL following best coding practices</li>
						<li>Leveraging Apache, APIs and other tools to continually improve our product
							<ul>
								<li>Taking location based search to more customer friendly/accurate levels</li>
								<li>Come up and implement/experiment with 'social interactive' modules to connect people</li>
								<li>Make 'search' more intelligent (along with 'recommended' profiles)</li>
								<li>Analysis & improvement of the 'customer review' module (engineering meritocracy)</li>
								<li>Scaling back-end with addition of new categories/cities/customers</li>
								<li>Trouble-shooting basis feedback</li>
							</ul>
						</li>
						<li>Ideating, experimenting and implementing new business/revenue models/projects that will 'change the world'</li>
						<li>On-going analysis through online experiments (A/B testing) & site analytics</li>
					</ul>
			</p>
			<p>
				<span class="highlight">Skills/Traits required</span>
					<ul>
						<li>Expertise in PHP & MySQL (HTML & Ajax is a plus)</li>
						<li>Ability to work in areas outside your usual comfort zone and get things done quickly</li>
						<li>Self-driven and passionate to create brilliant online products/features that will help 'make a difference' to people out there</li>
						<li>Really excellent attention to detail</li>
						<li>Open to iterative process of development - there will be continual research and feedback to help improve the product, so an open mindset of 'learning and correcting' on the go is necessary</li>
						<li>Active on twitter and facebook is a plus</li>
					</ul>
			</p>
			<p>
				<span class="highlight" style="float:left;width:100%;">Benefits - you'll love us.. only if you believe in the following</span>
					<ul>
						<li>Flexible working hours - productivity measured by mutually agreed targets/goals set, not number of hours put in</li>
						<li>Competitive compensation</li>
						<li>It's a startup... so while you have a clear role defined, you get to
							<ul>
								<li>Expect varied cross-functional interaction (including customer service) - which will increase your learning curve. So we will help you learn if you're willing - that's a promise.</li>
								<li>Entrepreneurial mindset</li>
								<li>Be a part of shaping the growth of the company (and a larger cause/change) with feedback and ideas - which will be a mandatory expectation</li>
							</ul>
						</li>
						<li>Fun culture - hey, in case you haven't noticed, skillzot's kinda non-academic skewed, what does that say about her ? and we really love stuff like movies, music, traveling, partying, doing new things, so we're gonna find ways to work and play</li>
						<li>Others - As we keep growing/adding our database, we'll figure ways to tie-up with teachers/classes of skills you want to learn... for free</li>
					</ul>
			</p>
				<p style="color:#00A7E6;text-align:center;">So if you want to make magic then please send in your resume to <span style="color:#00A7E6;font-weight:bold;">zot@skillzot.com</span></p>
			</div>
			
			<!--<div id="mainsubdiv3" class="normalstate">Design lead - Mumbai</div>-->
			<div id="details3" class="slideinfo">
			<h2>Design lead - Mumbai</h2>
			<p>
				<span class="highlight">Role & Responsibilities</span>
				<p>The front-end of the portal is amongst the 1st impression with the customers and as many people do believe that 1st impressions are the last impressions, we strive to create lasting impressions. And design is a critical piece of that. The role involves a mix of graphic design, messaging and copywriting with illustrations thrown in. We believe in a simple, clean and cool design/UI that doesn't require the customer to think.</p>
			</p>
			<p>
			<span class="highlight">Key responsibilities will be -</span>
				<ul>
					<li>Drive UI & UX decisions - As we keep scaling and adding categories and features, the challenge will be to keep the complexities simple and dummy proof.</li>
					<li>Design and implement public facing pages</li>
					<li>Ensuring our product meets web standards and function across all browsers and devices</li>
					<li>Copywriting  - at various customer interface points, including e-mails & key marketing areas</li>
					<li>Taking ownership of the product to drive changes that will help all of the above</li>
				</ul>
			</p>
			<p>
			<span class="highlight">Skills/Traits required</span>
				<ul>
					<li>Expertise in JavaScript, HTML, Ajax (PHP is a plus)</li>
					<li>Exceptional visual design & UX sensibility</li>
					<li>Proficiency with photoshop</li>
					<li>Self-driven and passionate to create brilliant online products/features that will help 'make a difference' to people out there</li>
					<li>Really excellent attention to detail</li>
					<li>Open to iterative process of development - there will be continual research and feedback to help improve the product, so an open mindset of 'learning and correcting' on the go is necessary</li>
					<li>Sense of humour</li>
					<li>Active on twitter and facebook is a plus</li>
				</ul>
			</p>
			<p>
			<span class="highlight" style="float:left;width:100%;">Benefits - you'll love us.. only if you believe in the following</span>
				<ul>
					<li>Flexible working hours - productivity measured by mutually agreed targets/goals set, not number of hours put in</li>
					<li>Competitive compensation</li>
					<li>It's a startup...so while you have a clear role defined, you get to
						<ul>
							<li>Expect varied cross-functional interaction (including customer service) - which will increase your learning curve. So we will help you learn if you're willing - that's a promise.</li>
							<li>Entrepreneurial mindset</li>
							<li>Be a part of shaping the growth of the company (and a larger cause/change) with feedback and ideas - which will be a mandatory expectation</li>
						</ul>
					</li>
					<li>Fun culture - hey, in case you haven't noticed, skillzot's kinda non-academic skewed, what does that say about her and we really love stuff like movies, music, traveling, partying, doing new things, so we're gonna find ways to work and play.</li>
					<li>Others - As we keep growing/adding our database, we'll figure ways to tie-up with teachers/classes of skills you want to learn...for free</li>
				</ul>
			</p>
			<p style="color:#00A7E6;text-align:center;">So if you want to make magic then please send in your resume to <span style="color:#00A7E6;font-weight:bold;">zot@skillzot.com</span></p>
			</div>
			
			<!--<div id="mainsubdiv4" class="normalstate">Customer service - Mumbai</div>-->
			<div id="details4" class="slideinfo">
			<h2>Customer service - Mumbai</h2>
			<p>
				<span class="highlight">Role & Responsibilities</span>
				<p>For us customer service is not just answering phone calls. Our product and company revolves around customers and without them we wouldn't exist. Hence, so do all our functions, right from the product (which is continually improved through direct customer feedback), to sales, marketing and research.</p>
				<p>Hence, while the nomenclature is 'customer service', the idea is really to ensure 2 things - one is to help customer in any way to guarantee fulfillment of their needs (primarily wrt the reason they are interacting with us), and 2nd - being one of the direct sources of customer interface, to regularly and systematically process feedbacks which will feed into all functions to create an amazing experience</p>
			</p>
			<p>
		<span class="highlight">Key responsibilities will be -</span>
			<ul>
				<li>Liaising with customers to help trouble-shoot problems</li>
				<li>Process and analyze customer feed-back and suggest ways for continual improvement of the product</li>
				<li>Carry out dip-stick research with customers as when they happen</li>
				<li>Additionally, social media interaction (if interested/inclined)</li>
			</ul>
			</p>
			<p>
			<span class="highlight">Skills/Traits required</span>
				<ul>
					<li>Enthusiastic, out-going and genuinely friendly (loves people and interacting with people)</li>
					<li>Excellent communication skills, flair for writing is a plus</li>
					<li>Self-driven to achieve targets & goals</li>
					<li>Microsoft Excel/Powerpoint savvy</li>
					<li>Active on twitter and facebook (Active implies, daily usage/posts...the more followers/friends, the better...blog is a plus)</li>
					<li>Sense of humour</li>
				</ul>
			</p>
			<p>
				<span class="highlight" style="float:left;width:100%;">Benefits - you'll love us.. only if you believe in the following</span>
					<ul>
						<li>It's a startup...so while you have a clear role defined, you get to
							<ul>
								<li>Expect varied cross-functional work (including customer service) - which will increase your learning curve. So we will help you learn if you're willing - that's a promise.</li>
								<li>Wear multiple hats/don additional roles  as we grow (depending on your interest/willingness) - which will truly help you expand your skills/knowledge and become a better professional in the long run</li>
								<li>Be a part of shaping the growth of the company (and a larger cause/change) with feedback and ideas - which will be a mandatory expectation</li>
							</ul>
						</li>
						<li>Fun culture - hey, in case you haven't noticed, skillzot's kinda non-academic skewed, what does that say about her and we really love stuff like movies, music, traveling, partying, doing new things, so we're gonna find ways to work and play</li>
						<li>Others - As we keep growing/adding our database, we'll figure ways to tie-up with teachers/classes of skills you want to learn...for free</li>
					</ul>
			</p>
				<p style="color:#00A7E6;text-align:center;">So if you want to make magic then please send in your resume to <span style="color:#00A7E6;font-weight:bold;">zot@skillzot.com</span></p>
			</div>
		</div>
	</div>
	
	<h1 id="ourteam" class="headingbox">Our team</h1>
	<div  class="divboxholder" id="divboxholder1" style="width:940px;">
		<div class="divbox" id="sb">
		
			<div class="imgbox">
				<img src="<?php echo BASEPATH; ?>/images/skillzot-team-sandeep-burman-founder-image.jpg" alt="skillzot-team-sandeep-burman-founder-image" height="160"/>
			</div>
			<div class="informationbox" >
				<div class="teamtitlebox" style="width:400px;">
					<div style="float:left;width:100%"><h2 class="teamnamebox" style="margin-top:5px;">Sandeep Burman</h2><!--<a class="fbiconleft"></a>--></div>
					<h3 class="teamnameboxsub">Co-founder & Chief Experience Officer</h3>
				</div>
				<div class="teaminfobox">
					<p>Obsessive about customer delight, Sandeep is responsible for all the tiny details & the big picture of Skillzot.</p>
					<p>Prior to Skillzot, he has worked across sales, marketing, strategy & content programming with companies like Wipro, Sony Entertainment & MTV.
					</p>
					<p>Movie & music junkie, pseudo book-worm, wanderer, daydream believer, existentialist wanting to make a dent in the universe.
					</p>
					<a href="#" onclick="javascript:call_twitter();" class="twiconleft" style="margin-left: 0px;"></a>
				</div>
			</div>
		</div>
		<div class="divbox">
			<div class="imgboxright">
				<img src="<?php echo BASEPATH; ?>/images/skillzot-team-siddharth-tewary-image.gif" alt="skillzot-team-siddharth-tewary-image" height="160"/>
			</div>
			<div class="informationboxright">
				<div class="teamtitlebox" style="width:400px;float:right;">
					<div style="float:left;width:100%"><h2 class="teamnamebox" style="float:right;style="margin-top:5px;"">Siddharth Kumar Tewary</h2><!-- <a class="fbiconright"></a><a class="twiconright"></a> --></div>
					<h3 class="teamnameboxsub">Co-founder & Chief Strategist</h3>
				</div>
				<div class="teaminfoboxright">
					<p>In addition to key strategic decisions, Siddharth is also responsible for driving the creative edge of Skillzot.</p>
					<p>He is also currently running his own venture, which he started 5 years ago, Swastik Productions, which is one of the leading TV production houses.</p>
					<p>He loves adventures and taking chances.</p>
				</div>
			</div>
		</div>
		
		<div class="divbox" id="up">
		
			<div class="imgbox">
				<img src="<?php echo BASEPATH; ?>/images/skillzot-team-siddharth-tewary-image.png" alt="skillzot-team-siddharth-tewary-image" height="160"/>
			</div>
			<div class="informationbox" >
				<div class="teamtitlebox" style="width:400px;">
					<div style="float:left;width:100%"><h2 class="teamnamebox" style="margin-top:5px;">Udayan Philip</h2><!--<a class="fbiconleft"></a>--></div>
					<h3 class="teamnameboxsub">Customer Development Ninja</h3>
				</div>
				<div class="teaminfobox">
					<p>Whether its poker, parkour or piano, Udayan Philip is here to get the best teachers on board, for you! </p>
					<p>A psychology major from St. Xavier's Mumbai, he is combining his learnt psychological skills with his practical intelligence to help build this company brick by brick. Having honed many many talents as a child, he's here to promote an idea that he believes in.
					</p>
					<p>Meet someone who has gone for multiple classes including karate, tennis, piano, scrabble, Arabic, cricket, mountain biking and parkour. Also, Shane Warne bowls like him. 
					</p>
				</div>
			</div>
		</div>
		<div class="divbox">
			<div class="imgboxright">
				<img src="<?php echo BASEPATH; ?>/images/skillzot-team-nikunj-chandak-image.jpg" alt="skillzot-team-nikunj-chandak-image" height="160"/>
			</div>
			<div class="informationboxright">
				<div class="teamtitlebox" style="width:400px;float:right;">
					<div style="float:left;width:100%"><h2 class="teamnamebox" style="float:right;style="margin-top:5px;"">Nikunj Chandak</h2><!-- <a class="fbiconright"></a><a class="twiconright"></a> --></div>
					<h3 class="teamnameboxsub">Customer Development Ninja</h3>
				</div>
				<div class="teaminfoboxright" style="width:438px;">
					<p>As a Customer Developer and Marketing Executive, Nikunj's main focus lies on simplifying the task of other laid back teens, much like himself to find out about how they could brush up their passions at the click of a mouse. </p>
					<p>He has completed his graduation from NarseeMonjee College in Bachelor of Management Studies specialising in Marketing.</p>
					<p>Nikunj digs music. Dancing. Dj-ing. Acting. Music. And again Music. </p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


</body>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.tinyscrollbar.min.js"></script>
</html>
