<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<script type="text/javascript">	
		window.onload = function(){
				document.getElementById("save").onclick = function(){
					saveForm('<?php echo BASEPATH; ?>/login/confirmation?passkey=<?php echo $this->encrypted_code; ?>','resetpassform','resetpassform');		
				}
		};
function studentpagerefresh()
{
	window.parent.location.reload();
}
</script>
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:586px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.stepcol1
{
	width:170px;
}
.stepcol2
{
	width: 422px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
.errorcls2{
	color:#FF6633;
	font-size:12px;
	line-height: 15px;
	font-weight:normal;
}
</style>
<style>
/*31-05 edit profile*/
.leftcontent
{
	width: 288px;
}
.tutorleftcontenttop
{
	background-image: url("../images/tutorleftcontenttopsmall.gif");
	background-repeat:no-repeat;
	width: 265px;
}
.tutorleftcontentmid
{
 /*   background-image: url("../images/tutorleftcontentmidsmall.gif");*/
    background-repeat: repeat-y;
    width: 244px;
}
.tutorleftcontentbot
{
    background-image: url("../images/tutorleftcontentbotsmall.gif");
    background-repeat:no-repeat;
    width: 265px;
}
.CourseDetTop {
  /*  background-image: url("../images/tutorRtopbig.png");*/
    background-repeat: no-repeat;
    width: 539px;
}
.CourseDetMid
{
  /*  background-image: url("../images/tutorRmidbig.jpg");*/
    background-repeat: repeat-y;
    width: 700px;
    padding: 30px 0 0 200px;
    border:0px;
}
.CourseDetBot {
 /*   background-image: url("../images/tutorRbotbig.png");*/
    background-repeat: no-repeat;
    width: 653px;
}
.infolinerow
{
	width:100%;
}

.buttonDiv {
    background-color: #00a7e6;
    background-position: left top;
    border: 2px solid #00a7e6;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 26px;
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
    text-transform: unset;
    width: auto;
}
/*31-05 edit profile*/
</style>
</head>
<body >
			
<div id="registration_form_2" class="formholder1">
		<div class="rightcontent">
				<div class="CourseDetMid">
				<form method="post" action="" name="resetpassform" id="resetpassform" enctype="multipart/form-data">
				<div class="infolinerow" style="float:left;margin-bottom:10px;padding:0px;">
					<img alt="skillzot-logo" src="/images/skillzot-logo.jpg">
					<br /><hr style="width:699px;margin-bottom:18px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >Your account is now active. You may now browse more tutor for your prefered skill.</span>
						
				</div>
	
				<div class="clear">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
						 <div class="savecontinue"><span id="save" style="margin:32px 0 0 -173px;" name="ave" class="buttonDiv">Click here</span></div>
					</div>
				</div>
				</form>
				</div>			
		</div>	
</div>
</body>
</html>
