<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style>
body
{
	float:left;
	width:635px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:600px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    height: 33px;
    line-height: 22px;
    margin: 0;
    padding: 27px 5px 0 30px;
    text-align: left;
    /*width: 98.3333%;*/width: 99.9333%;
}
.whitePart
{
	width: 94.3333%;
	float:left;
	padding:20px 5px 10px 30px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.halfPart .Field
{
	float:right;
	width:290px;
}
.halfPart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:79px;
	padding:6px 8px 0;
	float:left;
}
.halfPart .Field input[type="text"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 188px;
	height:29px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.halfPart .Field .errortext
{
	width:193px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
}
.halfPart .Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:193px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
    text-decoration:none;
}
.halfPart .Field .forgotPass:hover
{
	color: #FF6633;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}  
</style>
</head>
<body>
	<div class="loginMain">
		<h1>Log in</h1>
		<div class="whitePart">
			<div class="halfPart" style="width:45.5%;">
				<a href="javascript:void(0);"><img src="<?php echo BASEPATH; ?>/images/connectFb.png"/></a>
			</div>
			<div class="halfPart borderleft" style="width:54%;height:197px;">
				<div class="Field">
					<b>Email</b>
					<input type="text"></input>
					<p class="errortext"></p>
				</div>
				<div class="Field">
					<b>Password</b>
					<input type="text"></input>
					<p class="errortext" style="display:none;"></p>
				</div>
				<div class="Field">
					<a href="#" class="errortext forgotPass">Forgot your password?</a>
					<span class="sap">&nbsp;</span>
					<span id="save" class="submit_button">Login</span>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>
