<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style>
body
{
	float:left;
	width:414;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:414px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 20px 20px 20px;
    text-align: left;
    width: 373px;
}
.whitePart
{
	width: 383px;
	float:left;
	padding: 20px 0 10px 20px;
	color:#666;
	font-size: 14px;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:87px;
	padding:0px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"],textarea
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.whitePart .Field textarea
{
	height:70px;
	resize:none;
	padding:5px 0px 0 5px;
}
.whitePart .Field .errortext
{
	width:276px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:108px;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
</style>
</head>
<body>
<div class="loginMain">
	<h1>Need more options?</h1>
	<div class="whitePart">
		<p>Ouch! Embarassed that we couldn't delight you. Request</p>
		<p>you to please fill the details and we promise to try our best </p>
		<p>to enchant you</p>
		<span class="sap">&nbsp;</span>
		<p>All fields are required.</p><!-- <span style="color:#FF6633;">*</span> -->
		<span class="sap">&nbsp;</span>
		<div class="Field">
			<b>First name</b>
			<input type="text"></input>
			<p class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>Last name</b>
			<input type="text"></input>
			<p class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>Email</b>
			<input type="text"></input>
			<p class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>City name</b>
			<input type="text"></input>
			<p class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>Comments</b>
			<textarea></textarea>
			<p class="errortext" style="display:block;"></p>
		</div>
		<div class="Field" style="width:67%;">
			<span id="save" class="submit_button">Login</span>
		</div>	
	</div>
</div>
</body>
</html>