<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<!doctype html>
<html lang="en">
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillzot.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot_register.js"></script>
<!--<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>-->
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
		
		window.onload = function(){
			
			document.getElementById("save").onclick = function(){
				recordOutboundLink('', 'join skillzot','sign up as student','through email');
				saveForm('<?php echo BASEPATH; ?>/login/signup','signupform','signupform');
				
			};
			document.getElementById("UserSkill").style.color = "#AAA5A4";
			document.getElementById("UserSkill").style.fontStyle = "italic";
				//document.getElementById("save1").onclick = function(){
					//saveForm('<?php echo BASEPATH; ?>/login/signup','loginform','loginform');
				//}
				
		};
		
		
		function getlocality(city_id){
			if(city_id != "" && city_id != null){
				$.ajax({
					url:"<?php echo BASEPATH;?>/tutor/getlocality",
					type:'post',
					data:'city_id='+city_id,
					async: false,
					success: function(response){
						if(response!="" || response!=null){
							j=1;
							var jsonObject = eval ('('+response+')');
							options_ele = document.getElementById('UserLocality');
							for(k=options_ele.length-1;k>0;k--){
								options_ele.remove(k);
							}
						    for(k=0;k<jsonObject.length;k++){
								var option_element = new Option(jsonObject[k]['address_name'],jsonObject[k]['locality_id']);
								document.getElementById('UserLocality').options[j] = option_element;
								j++;
							}
						}
					}
				});
			}
		}
		function callfacebook(urlValue){
			FB.init({
				appId  : '444557608950929',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true  // parse XFBML
			});
			FB.login(function(response) {
				   if (response.authResponse) {
					   window.location.href="<?php echo BASEPATH;?>/index/facebooklogin?url="+urlValue;
						var uid = response.authResponse.userID;
						var accessToken = response.authResponse.accessToken;
				   } else {
					 
				   }},
				   {scope:'email,read_stream,publish_stream,manage_pages,user_photos,friends_photos,user_likes,friends_likes,user_relationships,friends_relationships,user_relationship_details,friends_relationship_details'});
			FB.getLoginStatus(function(response) {
			  if (response.status === 'connected') {
				//document.getElementById('facebook').style.display = "block"; 
				//window.location.href="<?php //echo BASEPATH;?>/lookbookuploadpicture/facebookimage/lookbook_id/<?php //echo $this->chez_lookbook_id;?>";
				window.location.href="<?php echo BASEPATH;?>/index/facebooklogin";
				var uid = response.authResponse.userID;
				var accessToken = response.authResponse.accessToken;
			  } else if (response.status === 'not_authorized') {
				jAlert("Please login using facebook.");
			  } else {
				jAlert("Please login using facebook.");
			  }
			});
			
		}
</script>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
<script type="text/javascript">
		function recordOutboundLink(link, category, action ,label) {			
		  try {
		   var pageTracker=_gat._getTracker("UA-32556142-1");
		    //alert(link+"::"+category+"::"+action);
		    pageTracker._trackEvent(category, action ,label);
		  // setTimeout('document.location = "' + link.rel + '"', 100)
		  }catch(err){}
		}
</script>
<style>
.Createacc
{
	font-weight: bold;
	color:#333;
	width:95%;
	float:left;
	text-align:left;
	margin-bottom:5px;
}
.skilltabholdr .skilltab {
    color: #00A7E6;
    font-size: 13px;
    text-decoration: none;
}
.skilltabholdr .skilltabactive, .skilltabholdr .skilltabactive:hover {
    background-color: #ffffff;
    color: #333333;
}
/*new ligin design*/
body
{
	float:left;
	width:524px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:524px;
	height:560px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 484px;
}
.whitePart
{
	width: 495px;
	float:left;
	padding: 20px 0 10px 20px;
	color:#666;
	font-size: 14px;
}
.whitePart h2
{
	color:#000;
	font-size: 14px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.Field
{
	float:left;
	width:100%;
}
.Field b
{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	width:158px;
	padding:2px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.Field .errortext
{
	width:177px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:167px;
    padding:5px 0;
}
.Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:193px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
    text-decoration:none;
}
.Field .forgotPass:hover
{
	color: #FF6633;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
/* end new ligin design*/
</style>	
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="pagebox loginMain">
	<h1>Become a Skillzot member</h1>
	<div class="skilltabholdr">
		<!--<a id="createaccpage" class="skilltab skilltabactive" href="<?php echo BASEPATH;?>/login/signup2">Join Skillzot</a>
		<a id="loginpage" class="skilltab" href="<?php echo BASEPATH;?>/login/index">Login</a>
	--></div>
	<div class="whitePart">
		<form action="<?php echo BASEPATH; ?>/login/signup" name="signupform" id="signupform" method="post" enctype="multipart/form-data">
			<div class="Field">
				<h2>1)	Sign up with your facebook account in a second!</h2>
				<a href="javascript:void(0);"><img onclick="callfacebook('<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>');recordOutboundLink('', 'join skillzot','sign up as student','through fb');return false;" src="<?php echo BASEPATH; ?>/images/connectFb.png"/></a>
				<br>
			</div>
			 <div id="putthiscontent" style="float:left;margin-top:10px;">
			 	<div class="Field">
			 		<h2>2)	This will take less than 23 seconds</h2>
					<b>First Name</b>
						<input class="textfld" type="text" Name="UserFName" id="UserFName" errortag="first name" />
						<div id="UserFName_error" class="errortext">&nbsp;</div>
				</div>
				<div class="Field">
					<b>Last Name</b>
						<input class="textfld" type="text" Name="UserLName" id="UserLName" errortag="last name" />
						<div id="UserLName_error" class="errortext" >&nbsp;</div>
				</div>
				<div class="Field">
					<b>Email</b>
						<input class="textfld" type="text" Name="UserEmail1" id="UserEmail1" errortag="email" />
						<div id="UserEmail1_error" class="errortext" >&nbsp;</div>
				</div>
				<div class="Field">
					<b>Mobile Number</b>
						<input class="textfld" type="text" Name="UserMobile" id="UserMobile" errortag="valid phone number" />
						<div id="UserMobile_error" class="errortext" style="width: 213px;">&nbsp;</div>
				</div>
				<div class="Field">
					<b>Skill</b>
						<input class="textfld" type="text" Name="UserSkill" id="UserSkill" errortag="skill" value="What you'd love to learn" szprompt="What you'd love to learn" onfocus="clearit(this);" onblur="fixit(this);" />
						<div id="UserSkill_error" class="errortext" >&nbsp;</div>
				</div>
				<div class="Field">
					<b>Password</b>
						<input class="textfld" type="password" Name="UserPassword1" id="UserPassword1" errortag="password"/>
						<i class="registerhint">(Minimum 5 characters)</i>
						<div id="UserPassword1_error" class="errortext" style="width:290px;">&nbsp;</div>
				</div>
				<div class="Field">
					<b>Confirm  Password</b>
						<input class="textfld" type="password" Name="UserretypePassword" id="UserretypePassword" errortag="confirm password"/>
						<div id="UserretypePassword_error" class="errortext" >&nbsp;</div>
				</div>
				<div class="Field" style="width:66%">
						<input type="hidden" name="tutorId" id="tutorId" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>">
						<span id="save" class="submit_button">Join Now</span>
						<input type="hidden" name="review_id" id="review_id" value="<?php if (isset($this->reviewid) && $this->reviewid!=""){echo $this->reviewid;}?>">
				</div>
				<input type="hidden" name="signupFromurl" id="signupFromurl" value="<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>">
				<input type="hidden" name="signuphomeurl" id="signuphomeurl" value="<?php   $url_home = (!empty($_SERVER['HTTPS'])) ? "https://".$_SERVER['SERVER_NAME']: "http://".$_SERVER['SERVER_NAME']; echo urlencode($url_home);  ?>">
			 </div>
		</form>
	</div>	
</div>

</body>
</html>
