<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<!doctype html>
<html lang="en">
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>-->
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">

		function getlocality(city_id){
			if(city_id != "" && city_id != null){
				$.ajax({
					url:"<?php echo BASEPATH;?>/tutor/getlocality",
					type:'post',
					data:'city_id='+city_id,
					async: false,
					success: function(response){
						if(response!="" || response!=null){
							j=1;
							var jsonObject = eval ('('+response+')');
							options_ele = document.getElementById('UserLocality');
							for(k=options_ele.length-1;k>0;k--){
								options_ele.remove(k);
							}
						    for(k=0;k<jsonObject.length;k++){
								var option_element = new Option(jsonObject[k]['address_name'],jsonObject[k]['locality_id']);
								document.getElementById('UserLocality').options[j] = option_element;
								j++;
							}
						}
					}
				});
			}
		}
		function callfacebook(urlValue){
			FB.init({
				appId  : '444557608950929',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true  // parse XFBML
			});
			FB.login(function(response) {
				   if (response.authResponse) {
					   window.location.href="<?php echo BASEPATH;?>/index/facebooklogin?url="+urlValue;
						var uid = response.authResponse.userID;
						var accessToken = response.authResponse.accessToken;
				   } else {
					 
				   }},
				   {scope:'email'});
			FB.getLoginStatus(function(response) {
			  if (response.status === 'connected') {
				//document.getElementById('facebook').style.display = "block"; 
				//window.location.href="<?php //echo BASEPATH;?>/lookbookuploadpicture/facebookimage/lookbook_id/<?php //echo $this->chez_lookbook_id;?>";
				window.location.href="<?php echo BASEPATH;?>/index/facebooklogin";
				var uid = response.authResponse.userID;
				var accessToken = response.authResponse.accessToken;
			  } else if (response.status === 'not_authorized') {
				jAlert("Please login using facebook.");
			  } else {
				jAlert("Please login using facebook.");
			  }
			});
			
		}
</script>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
<script type="text/javascript">
		function recordOutboundLink(link, category, action ,label) {			
		  try {
		   var pageTracker=_gat._getTracker("UA-32556142-1");
		    //alert(link+"::"+category+"::"+action);
		    pageTracker._trackEvent(category, action ,label);
		  // setTimeout('document.location = "' + link.rel + '"', 100)
		  }catch(err){}
		}
</script>
<style>
.Createacc
{
	font-weight: bold;
	color:#333;
	width:95%;
	float:left;
	text-align:left;
	margin-bottom:5px;
}
.skilltabholdr .skilltab {
    color: #00A7E6;
    font-size: 13px;
    text-decoration: none;
}
.skilltabholdr .skilltabactive, .skilltabholdr .skilltabactive:hover {
    background-color: #ffffff;
    color: #333333;
}
/*new ligin design*/
body
{
	float:left;
	width:556px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:556px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 516px;
}
.whitePart
{
	width: 536px;
	float:left;
	padding: 20px 0 15px 20px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.halfPart .Field
{
	float:right;
	width:290px;
}
.halfPart .Field b
{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	width:79px;
	padding:12px 8px 0;
	float:left;
}
.halfPart .Field input[type="text"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 188px;
	height:37px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.halfPart .Field .errortext
{
	width:193px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
}
.halfPart .Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:193px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
    text-decoration:none;
}
.halfPart .Field .forgotPass:hover
{
	color: #FF6633;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
/* end new ligin design*/
</style>	
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="pagebox loginMain">
	<h1>Become a Skillzot member</h1>
	<div class="skilltabholdr">
		<!--<a id="createaccpage" class="skilltab skilltabactive" href="<?php echo BASEPATH;?>/login/signup2">Join Skillzot</a>
		<a id="loginpage" class="skilltab" href="<?php echo BASEPATH;?>/login/index">Login</a>
	--></div>
	<div class="whitePart" style="height:181px;">
		<form action="<?php echo BASEPATH; ?>/login/signup3" name="signupform" id="signupform" method="post" enctype="multipart/form-data">
			<div class="fields">
				<h2>1)	Sign up with your facebook account in a second!</h2>
				<a href="javascript:void(0);"><img onclick="callfacebook('<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>');recordOutboundLink('', 'join skillzot','sign up as student','through fb');return false;" src="<?php echo BASEPATH; ?>/images/connectFb.png"/></a>
				<br>
			</div>
			<div id="changecontent" style="float:left;margin-top:10px;">
				<div class="fields">
					Signing up with Facebook will help you find mutual Friends who are learning the same skills.
					<br>
					<br>
					And we promise not to spam your facebook wall.
				</div>
			 </div>
			 <a href="<?php echo BASEPATH; ?>/login/signup3?url=<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>" id="nopermission">I don't have a Facebook account.</a>
		</form>
	</div>	
</div>
</body>
</html>