<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<style>
/*new ligin design*/
body
{
	float:left;
	width: 380px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width: 317px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 337px;
}
.whitePart
{
	width: 297px;
	float:left;
	padding: 25px 0 10px 20px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.whitePart .Field
{
	float:left;
	width: 277px;
	color:#666;
}
.whitePart .Field b
{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	width:114px;
	padding:2px 8px 0 0;
	float:left;
}
.whitePart .Field input[type="text"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.whitePart .Field .errortext
{
	width:177px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:120px;
    padding:5px 0;
}

.sap
{
	float:left;
	width:100%;
	height:15px;
}
/* end new ligin design*/
</style>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="pagebox loginMain">
	<h1>A confirmation email has been sent to your email adress. Please click on the activate link to activate your account, if it exists on our system.</h1>
	
</div>
</body>
</html>
