<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		
		saveForm('<?php echo BASEPATH; ?>/admin/edittravelradious/id/<?php echo $id;?>','add_category_form','add_category_form');
	
		}
};
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:25px;
	width:385px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>
<!--<img src="<?php echo BASEPATH;?>/images/black_close.png" onclick="javascript:call_closebox();" style="width:16px;height:16px;float:right;margin-top:10px;margin-left:5px;" />-->
<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	
	
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Status:</div>
		
		<div style="width:385px;">
		<select name="suburbs_name" id="suburbs_name" class="timings_height" style="height:84px;" multiple="true" onclick="" errortag="suburbs" style="margin-bottom:5px;">
		
						<?php
								  if (isset($this->suburbsdata) && sizeof($this->suburbsdata) > 0){
								  foreach ($this->suburbsdata as $suburbs) {
								  	if($suburbs->suburbs_name != "South Mumbai" && $suburbs->suburbs_name != "Navi Mumbai"){
								   ?>
								   
							  <option value="<?php echo $suburbs->id;?>"><?php echo $suburbs->suburbs_name; ?></option>
						<?php }}}?>
		    	  
		    	  
	 		</select>
	 		<input type="hidden" name="multile_sub_id" id="multile_sub_id" value="">
	 		<div id="suburbs_name_error" class="errorclasssmall" style="margin-left:110px;"></div>
		</div>
		
		<script>
	 		$(document).ready(function() {
	 			//document.getElementById("multile_sub_id").value = '<?php if(isset($this->dayval) && $this->dayval!=""){echo ",".$this->dayval;}?>';
	 		    $('#save').click(function() {

	 		        var result = '';
	 		        $('#suburbs_name > :selected').each(function() {
	 		            result += ','+$(this).val();
	 		           //dd = $(this).length;
	 		           //alert(dd);
	 		          // $("#multile_sub_id").html("value: " + result);
	 		     		document.getElementById("multile_sub_id").value = result;
	 		        });
//	 		        if (result == "") {
//	 		            result = "Please select any option(s)..!";
//	 		           $("#suburbs_name_error").html(result);
//	 		        }
	 		       
	 		      

	 		    });
	 		});
	 		</script>
	 		
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="statusflag_error" name="menuable_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 108px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
<!--		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />-->
	</div>
</form>
</body>
</html>