<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/admin/skillfriedly/shown/"+getValue+"/searchtext/"+getText;
	}
</script>
	<div class="pageTopLinkWrapper">
<!--		<div class="pageTopLink"><a rel="lightbox[external 340 430]" href="<?php //echo BASEPATH; ?>/admin/addskills">Add Skill</a></div>-->
	</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				<input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				<input type='button' class="button" onclick="window.location = '<?php echo BASEPATH; ?>/admin/skills/getPageValue/<?php if(isset($this->page)) echo $this->page ;?>/searchtext/'+document.getElementById('searchtext').value" value="Search"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/admin/skills';" value="Reset" name='reset'>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:10px;width: 97%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:8%;padding-left: 10px;text-align: center;">Index</div>
			<div class='grid-column2' style="width:14%;text-align: center;">Category</div>
			<div class='grid-column2' style="width:14%;text-align: center;">Url Name</div>
			<div class='grid-column2' style="width:22%;text-align: center;">Page Title</div>
			<div class='grid-column2' style="width:28%;text-align: center;">Meta Description</div>
<!--			<div class='grid-column2' style="width:90%;cursor: pointer;padding-left: 10px;text-align: left;" onclick="window.location = '<?php echo BASEPATH; ?>/skills/index/sortby/category_name/ord/<?php if ($this->sortBy == "category_name") echo $this->ordVal; else echo "desc"; ?>/pageValue/'+document.getElementById('shown').value;">Category Name<span class="sort<?php if($this->sortBy!="" && $this->sortBy=="category_name"){if($this->ordVal!="" && $this->ordVal=="asc") echo "Up"; elseif($this->ordVal=="desc") echo "Down";} else echo "Null";?>">&nbsp;&nbsp;&nbsp;&nbsp;</span></div>-->
			<div class='grid-column2' style="width:12%;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->skillrowResult) && sizeof($this->skillrowResult)>0){
			$varun = $this->skillrowResult;
			foreach($varun as $categories){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
	
			<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;"><?php if(isset($categories->skill_id) && $categories->skill_id !="")echo $categories->skill_id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:14%;text-align: center;"><?php if (isset($categories->skill_name) && $categories->skill_name !=""){ echo $categories->skill_name; }else{echo $skillData->skill_name;} ?></div>
			<div class='grid-column1' style="width:14%;text-align: center;"><?php if (isset($categories->skill_uniq) && $categories->skill_uniq !="") {echo $categories->skill_uniq;}else{ echo "-";; } ?></div>
			<div class='grid-column1' style="width:22%;text-align: center;"><?php if (isset($categories->page_title) && $categories->page_title!=""){ echo $categories->page_title;}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:28%;text-align: center;"><?php if(isset($categories->skill_description) && $categories->skill_description!=""){echo $categories->skill_description;}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:12%;">
				<a rel="lightbox[external 330 340]" href="<?php echo BASEPATH; ?>/admin/editfridlyskill/id/<?php echo $categories->skill_id;?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Update Skill" alt="Update"/></a><span>&nbsp;</span>
				
				
<!--				<a href="#" onclick="call_delete('<?php //echo $categories->skill_id;?>');">-->
<!--					<img src="<?php //echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete Skill" alt="Delete"/>-->
<!--				</a>-->
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
					$i++;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>