<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/admin/tutorsignup/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/admin/tutordelete/id/'+id;
			else return false;
		});
	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				<input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				<input type='button' class="button" onclick="window.location = '<?php echo BASEPATH; ?>/admin/tutorsignup/getPageValue/<?php if(isset($this->page)) echo $this->page ;?>/searchtext/'+document.getElementById('searchtext').value" value="Search"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/admin/tutorsignup';" value="Reset" name='reset'>
<!--				<a href="<?php echo BASEPATH; ?>/admin/exportcommingsoon">Export As Excel</a>-->
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:10px;width: 97%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:4%;padding-left: 10px;text-align: center;">Index </div>
			<div class='grid-column2' style="width:10%;padding-left: 10px;text-align: center;">First Name </div>
			<div class='grid-column2' style="width:10%;padding-left: 10px;text-align: center;">Last Name</div>
			<div class='grid-column2' style="width:16%;padding-left: 10px;text-align: center;">Email</div>
			<div class='grid-column2' style="width:8%;padding-left: 10px;text-align: center;">Password</div>
			<div class='grid-column2' style="width:9%;padding-left: 10px;text-align: center;">Contact</div>
			<div class='grid-column2' style="width:6%;padding-left: 10px;text-align: center;">Counter</div>
			<div class='grid-column2' style="width:6%;padding-left: 10px;text-align: center;">Display</div>
			<div class='grid-column2' style="width:10%;padding-left: 10px;text-align: center;">Date</div>
			<div class='grid-column2' style="width:10%;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->tutorsignupResult) && sizeof($this->tutorsignupResult)>0){
			foreach($this->tutorsignupResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			<div class='grid-column1' style="width:4%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->id) && $tutor->id !="")echo $tutor->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:10%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_first_name) && $tutor->tutor_first_name != "")echo $tutor->tutor_first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:10%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_last_name)  && $tutor->tutor_last_name != "")echo $tutor->tutor_last_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:16%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_email) && $tutor->tutor_email != "")echo $tutor->tutor_email;else "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;"><?php  if(isset($tutor->tutor_pwd) && $tutor->tutor_pwd != "")echo $tutor->tutor_pwd;else echo "-"; ?></div>
			<?php $adressObj = new Skillzot_Model_DbTable_Address();
			$address_row = $adressObj->fetchRow($adressObj->select()
											 	 	  ->where("address_id='$tutor->tutor_add_city'"));
			?>
			<div class='grid-column1' style="width:9%;padding-left: 10px;text-align: center;"><?php if (isset($tutor->tutor_mobile) && $tutor->tutor_mobile!="" && $tutor->tutor_mobile!=NULL){echo $tutor->tutor_mobile; }elseif(isset($tutor->tutor_landline) && $tutor->tutor_landline!="" && $tutor->tutor_landline!=NULL){echo $tutor->tutor_landline;}else{echo "-";}?></div>
			<?php $profileviewcounterObj = new Skillzot_Model_DbTable_Profileview();
			$profileviewResult = $profileviewcounterObj->fetchRow("tutor_id='$tutor->id'"); ?>
			<div class='grid-column1' style="width:6%;padding-left: 10px;text-align: center;"><?php if (isset($profileviewResult) && sizeof($profileviewResult)>0){echo $profileviewResult->counter;}else{echo "-";}?></div>
			<div class='grid-column1' style="width:6%;padding-left: 10px;text-align: center;"><?php if (isset($tutor->is_active) && $tutor->is_active!=""){if ($tutor->is_active=="0"){echo "Yes";}else{echo "No";} }?></div>
			<div class='grid-column1' style="width:10%;padding-left: 10px;text-align: center;"><?php if (isset($tutor->lastupdatedate) && $tutor->lastupdatedate!="" && $tutor->lastupdatedate!="0000-00-00 00:00:00") { echo date('M j, Y', strtotime($tutor->lastupdatedate));}else{echo "Aug 17, 2012";} //if(isset($address_row->address_value) && $address_row->address_value!="") { echo $address_row->address_value;}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:10%;">
			<a rel="lightbox[external 330 150]" href="<?php echo BASEPATH; ?>/admin/editstatus/id/<?php if (isset($tutor->id) && $tutor->id!=""){echo $tutor->id;}?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Edit status" alt="Update"/></a><span>&nbsp;</span>
				<a href="#" onclick="call_delete('<?php if (isset($tutor->id) && $tutor->id!="") { echo $tutor->id; } ?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>
				</a>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>