<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Add checklist</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.timepicker.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.timepicker.css"/>	
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/bootstrap-datepicker_serpa.css"/>	

<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){?>
		saveForm('<?php echo BASEPATH; ?>/serpa/addchecklist/job_id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php }?>
		}
};
$(function(){
        var nowDate = new Date();
		var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        $('#Done').datepicker({
					startDate: today 				
		});
		 $('#Due').datepicker({
					startDate: today 				
		});
 });
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>

<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
<!-- 	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Done:</div>
		<div style="width:183px;float:left;"><input type="text" name="Done" id="Done" errortag="Done" value=""/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Done_error" name="Done_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div> -->
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Task:</div>
		<div style="width:183px;float:left;">
			<select id="Task" name="Task" errortag="Task" >
				<option value="" selected="selected">--  Select Status  --</option>
					<option value="REGISTER_STUDENT">REGISTER_STUDENT</option>
					<option value="TUTOR_RECO">TUTOR_RECO</option>
					<option value="ERP_STEP_1">ERP_STEP_1</option>
					<option value="ERP_STEP_2">ERP_STEP_2</option>
					<option value="ERP_STEP_3">ERP_STEP_3</option>
					<option value="ERP_STEP_4">ERP_STEP_4</option>
					<option value="TUTOR_FEEDBACK">TUTOR_FEEDBACK</option>
					<option value="PROFILE_VERIFICATION">PROFILE_VERIFICATION</option>
					<option value="FEEDBACK_REQUEST">FEEDBACK_REQUEST</option>
					<option value="TUTOR_REPORT">TUTOR_REPORT</option>
					<option value="CUSTOM">CUSTOM</option>
			</select>
        </div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Task_error" name="Task_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>	
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Due:</div>
		<div style="width:183px;float:left;"><input type="text" name="Due" id="Due" errortag="Due" value=""/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Due_error" name="Due_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 160px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>