<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.timepicker.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.timepicker.css"/>	
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/bootstrap-datepicker_serpa.css"/>	
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/serpa/addjob','add_category_form','add_category_form');
		}
};
 $(function(){
        var nowDate = new Date();
		var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        $('#DueDate').datepicker({
					startDate: today 				
		});
 });
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>

<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Due Date:</div>
		<div style="width:183px;float:left;"><input type="text" name="DueDate" id="DueDate" errortag="Due Date" value=""/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="DueDate_error" name="DueDate_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Type:</div>
			<div style="width:183px;float:left;">
				<select id="Type" name="Type" errortag="Type" >
					<option value="" selected="selected">--  Select Status  --</option>
					<option value="STUDENT_LEAD" >STUDENT_LEAD</option>
					<option value="PROFILE_CHANGE" >PROFILE_CHANGE</option>
					<option value="CUSTOM" >CUSTOM</option>
					<option value="PHONE_LEAD" >PHONE_LEAD</option>
				</select>
	        </div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Type_error" name="Type_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Student Id:</div>
		<div style="width:183px;float:left;"><input type="text" name="StudentId" id="StudentId" errortag="Student Id" value=""/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="StudentId_error" name="StudentId_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Tutor Id:</div>
		<div style="width:183px;float:left;"><input type="text" name="TutorId" id="TutorId" errortag="Tutor Id" value=""/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="TutorId_error" name="TutorId_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 196px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>