<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){
			$checklistobj = new Skillzot_Model_DbTable_Checklist();
			$jobidcount = $checklistobj->fetchRow($checklistobj->select()
						    ->setIntegrityCheck(false)
							->distinct()
							->from(array('c'=>DATABASE_PREFIX."checklist"),array('count(*) as count'))
						    ->where("c.job_id='$id'"));

				$jobdoneflagcount = $checklistobj->fetchRow($checklistobj->select()
						    ->setIntegrityCheck(false)
							->distinct()
							->from(array('c'=>DATABASE_PREFIX."checklist"),array('count(*) as count'))
						    ->where("c.done_flag ='1' and c.job_id='$id'"));
				if($jobidcount->count != $jobdoneflagcount->count)
				{
			?>
			displayerror();
			<?php }else{ ?>
		saveForm('<?php echo BASEPATH; ?>/serpa/close/id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php } }?>
		}
};
function displayerror()
{
	document.getElementById('hiddenmessage_error').innerHTML="Please done your checklist task !!";
}
function hideerror()
{
	document.getElementById('hiddenmessage_error').innerHTML="";
}
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>

<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Close:</div>
		<div style="width:183px;float:left;">
			<select id="Close" name="Close" errortag="Close" >
							<option value="" selected="selected">--  Select Status  --</option>
							<option value="CLOSED" >Closed</option>
            			</select>
        </div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Close_error" name="Close_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>	
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Reason:</div>
		<div style="width:183px;float:left;"><input type="text" name="Reason" id="Reason" errortag="Reason" style="height:30px; width: 377px;" value=""/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Reason_error" name="Reason_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div id="hiddenmessage_error" style="width:200px;float:left;color:red;font-size:10px;" style="margin-bottom: 10px; margin-top:10px;">&nbsp;</div>
	<div style="width:243px; margin-left: 270px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>