<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Edit checklist</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.timepicker.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.timepicker.css"/>	
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/bootstrap-datepicker_serpa.css"/>	

<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){?>
		saveForm('<?php echo BASEPATH; ?>/serpa/editchecklistdata/id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php }?>
		}
};
$(function(){
        var nowDate = new Date();
		var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        $('#Done').datepicker({
					startDate: today 				
		});
		 $('#Due').datepicker({
					startDate: today 				
		});
 });
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>

<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Done Date:</div>
		<div style="width:183px;float:left;"><input type="text" name="Done" id="Done" errortag="Done" value="<?php if (isset($this->editchecklistobj->date_done) && $this->editchecklistobj->date_done!="" && $this->editchecklistobj->date_done!="0000-00-00 00:00:00") { echo date('m/d/Y', strtotime($this->editchecklistobj->date_done));}else{echo "";} ?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Done_error" name="Done_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Done Flag:</div>
		<div style="width:183px;float:left;">
			<select id="DoneFlag" name="DoneFlag" errortag="Done Flag" >
				<option value="" selected="selected">--  Select Status  --</option>
					<option value="1"  <?php if(isset($this->editchecklistobj->done_flag) && $this->editchecklistobj->done_flag=="1"){ echo "selected";}?>>Yes</option>
					<option value="0"  <?php if(isset($this->editchecklistobj->done_flag) && $this->editchecklistobj->done_flag=="0"){ echo "selected";}?>>No</option>
			</select>	
		</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="DoneFlag_error" name="DoneFlag_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Task:</div>
		<div style="width:183px;float:left;">
			<select id="Task" name="Task" errortag="Task" >
				<option value="" selected="selected">--  Select Status  --</option>
					<option value="REGISTER_STUDENT" <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "REGISTER_STUDENT" ){ echo "selected";}?>>REGISTER_STUDENT</option>
					<option value="TUTOR_RECO"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "TUTOR_RECO" ){ echo "selected";}?>>TUTOR_RECO</option>
					<option value="ERP_STEP_1"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == 'ERP_STEP_1' ){ echo "selected";}?>>ERP_STEP_1</option>
					<option value="ERP_STEP_2"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "ERP_STEP_2" ){ echo "selected";}?>>ERP_STEP_2</option>
					<option value="ERP_STEP_3"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == 'ERP_STEP_3' ){ echo "selected";}?>>ERP_STEP_3</option>
					<option value="ERP_STEP_4"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "ERP_STEP_4" ){ echo "selected";}?>>ERP_STEP_4</option>
					<option value="TUTOR_FEEDBACK" <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "TUTOR_FEEDBACK" ){ echo "selected";}?>>TUTOR_FEEDBACK</option>
					<option value="PROFILE_VERIFICATION"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == 'PROFILE_VERIFICATION' ){ echo "selected";}?>>PROFILE_VERIFICATION</option>
					<option value="FEEDBACK_REQUEST"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "FEEDBACK_REQUEST" ){ echo "selected";}?>>FEEDBACK_REQUEST</option>
					<option value="TUTOR_REPORT"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == 'TUTOR_REPORT' ){ echo "selected";}?>>TUTOR_REPORT</option>
					<option value="CUSTOM"  <?php if (isset($this->editchecklistobj->task) && $this->editchecklistobj->task!="" && $this->editchecklistobj->task == "CUSTOM" ){ echo "selected";}?>>CUSTOM</option>
			</select>
        </div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Task_error" name="Task_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>	
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Due:</div>
		<div style="width:183px;float:left;"><input type="text" name="Due" id="Due" errortag="Due" value="<?php if (isset($this->editchecklistobj->date_due) && $this->editchecklistobj->date_due!="" && $this->editchecklistobj->date_due!="0000-00-00 00:00:00") { echo date('m/d/Y', strtotime($this->editchecklistobj->date_due));}else{echo "";} ?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Due_error" name="Due_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 160px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>