<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />

<?php $id=$this->id;?>

<style type="text/css">

h2
{
text-align:center;
}

.skilltebs
{
	display:inline-block;
	width:555px;
	margin-bottom:10px;
}
.skilltebs input
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs input
{
	float:left;
	display:inline;
	padding: 5px 9px 6px 7px;
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
    width: 92px;
}
.skilltebs input.active
{
	background-color:#00A7E6;
	cursor:pointer;
	color:#fff;
}
.grid a
{
	float:left;
	display:inline;
	padding: 10px 9px 6px 7px;
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#00a7e6;
	cursor:pointer;
	color:#fff;
	text-transform: unset;
    width: 92px;
}
.gridlist
{
	text-align:center;
	color:#00a7e6;
	cursor:pointer;

}
.addicon {
    cursor: pointer;
    float: right;
    margin: 3px -125px 0;
}
.add {
    color: #ffffff;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 47px 0;
    text-decoration: none;
}
</style>
<script type="text/javascript">
function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/serpa/checklistdelete/id/'+id;
			else return false;
		});
	}

</script>
<?php 
if(isset($this->filter_search) && $this->filter_search == "Done")
{
	$display = 'class="active"';
	$display1 = '';
	$display2 = '';
	$display3 = '';
}
elseif(isset($this->filter_search) && $this->filter_search == "Upcoming")
{
	$display = '';
	$display1 = '';
	$display2 = 'class="active"';
	$display3 = '';
}
elseif(isset($this->filter_search) && $this->filter_search == "All")
{
	$display = '';
	$display1 = '';
	$display2 = '';
	$display3 = 'class="active"';
}
else
{
	$display = '';
	$display1 = 'class="active"';
	$display2 = '';
	$display3 = '';
}
?>
<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> <?php echo $authUserNamespace->admin_page_title;?></div>
	<div class="add" style="display: block;">Add New</div>
	<div class="addicon"><a rel="lightbox[external 420 420]" href="<?php echo BASEPATH; ?>/serpa/addchecklist/job_id/<?php echo $id; ?>"><img alt="Add New" src="/images/addnew.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
	<div style="border:0px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class="grid-column2" style="width:10%;padding-left: 0px;text-align: center;">Id</div>
			<div class="grid-column2" style="width:12%;padding-left: 0px;text-align: center;">Job Id</div>
			<div class="grid-column2" style="width:15%;padding-left: 0px;text-align: center;">Done</div>
			<div class="grid-column2" style="width:16%;padding-left: 0px;text-align: center;">Task</div>
			<div class="grid-column2" style="width:14%;padding-left: 0px;text-align: center;">Due</div>
			<div class="grid-column2" style="width:11%;padding-left: 6px;text-align: center;">Done Flag</div>
			<div class="grid-column2" style="width:10%;padding-left: 0px;text-align: center;">Action</div>
			<div class="grid-column2" style="width:7%;padding-left: 0px;text-align: center;">Help</div>
			<div class="clearfix"> </div>
		</div>
		<?php
			$i=0;
			if(isset($this->checklistobj) && sizeof($this->checklistobj)>0){
			foreach($this->checklistobj as $checklist){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">


			<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;"><?php if(isset($checklist->id) && $checklist->id != "")echo $checklist->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:12%;padding-left: 0px;text-align: center;"><?php if(isset($checklist->job_id) && $checklist->job_id != "")echo $checklist->job_id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:16%;padding-left: 0px;text-align: center;"><?php if (isset($checklist->date_done) && $checklist->date_done!="" && $checklist->date_done!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($checklist->date_done));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:19%;padding-left: 0px;text-align: center;"><?php if (isset($checklist->task) && $checklist->task!="") { echo $checklist->task;}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:13%;padding-left: 0px;text-align: center;"><?php if (isset($checklist->date_due) && $checklist->date_due!="" && $checklist->date_due!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($checklist->date_due));}else{echo "-";} ?></div>

			<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;"><?php if (isset($checklist->done_flag) && $checklist->done_flag=="1") { echo "Yes";}else{echo "No";} ?></div>

			<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;">
				<a rel="lightbox[external 420 420]" href="<?php echo BASEPATH; ?>/serpa/editchecklistdata/id/<?php echo $checklist->id; ?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Edit status" alt="Update"/></a><span>&nbsp;</span>
				
				<a href="#" onclick="call_delete('<?php echo $checklist->id;?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>
				</a>

			</div>
			<div class='grid-column1' style="width:9%;padding-left: 0px;text-align: center;">
			<a rel="lightbox[external 720 420]" href="<?php echo BASEPATH; ?>/serpa/emailtemplate/id/<?php echo $checklist->id; ?>">
				<img src="<?php echo BASEPATH;?>/images/letter.png" style="height: 13px;width:13px;border: none;" title="Email" alt="email"/>
				</a>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				
			
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
	</div>
	</form>
<br/>