<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>

<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:650px;
	 border: 1px solid #00a7e6;
}
h2
{
text-align:center;
}

.boxestitle {
   border-left: 1px solid #00a7e6;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: -6px;
    padding-top: 6px;
    text-align: center;
}
.boxestitle1 {
    border-right: 1px solid #00a7e6;
    border-bottom: 1px solid #00a7e6;
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 650px;
    padding-top: 5px;
    text-align: center;
    }
</style>
</head>
<body>

<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		
			<?php echo $this->tutor_message;?>
	
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
</form>
</body>
</html>