<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script>
function submitForm(getValue){	
		var getValue = document.getElementById("shown").value;
		window.location="<?php echo BASEPATH; ?>/serpa/erp/shown/"+getValue;
	}
function doneForm(getValue){	
		var getfilter = document.getElementById("done").value;
		window.location="<?php echo BASEPATH; ?>/serpa/erp/filter/"+getfilter;
		document.getElementById("done").className = "active";
	}
function dueForm(getValue){	
		var getfilter = document.getElementById("due").value;
		window.location="<?php echo BASEPATH; ?>/serpa/erp/filter/"+getfilter;
		document.getElementById("due").className = "active";
	}
function upcomingForm(getValue){	
		var getfilter = document.getElementById("upcoming").value;
		window.location="<?php echo BASEPATH; ?>/serpa/erp/filter/"+getfilter;
		document.getElementById("upcoming").className = "active";
	}
function allForm(getValue){	
		var getfilter = document.getElementById("all").value;
		window.location="<?php echo BASEPATH; ?>/serpa/erp/filter/"+getfilter;
		document.getElementById("all").className = "active";
	}

</script>
<style type="text/css">
.skilltebs
{
	display:inline-block;
	width:555px;
	margin-bottom:10px;
}
.skilltebs input
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs input
{
	float:left;
	display:inline;
	padding: 5px 9px 6px 7px;
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
    width: 92px;
}
.skilltebs input.active
{
	background-color:#00A7E6;
	cursor:pointer;
	color:#fff;
}
.grid a
{
	float:left;
	display:inline;
	padding: 10px 9px 6px 7px;
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#00a7e6;
	cursor:pointer;
	color:#fff;
	text-transform: unset;
    width: 92px;
}
.gridlist
{
	text-align:center;
	color:#00a7e6;
	cursor:pointer;

}
</style>
<?php 
if(isset($this->filter_search) && $this->filter_search == "Done")
{
	$display = 'class="active"';
	$display1 = '';
	$display2 = '';
	$display3 = '';
}
elseif(isset($this->filter_search) && $this->filter_search == "Upcoming")
{
	$display = '';
	$display1 = '';
	$display2 = 'class="active"';
	$display3 = '';
}
elseif(isset($this->filter_search) && $this->filter_search == "All")
{
	$display = '';
	$display1 = '';
	$display2 = '';
	$display3 = 'class="active"';
}
else
{
	$display = '';
	$display1 = 'class="active"';
	$display2 = '';
	$display3 = '';
}
?>
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Skillzot Enquiry Response Process Automation </div>
	<div class="export1">Export report </div>
	<div class="exporticon1"><a href="<?php echo BASEPATH; ?>/serpa/exporterp"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div class="skilltebs" style='float:left'>
					<input type='button' <?php echo $display; ?>  onclick="javascript: doneForm();" id="done" value="Done"> &nbsp;
					<input type='button' <?php echo $display1; ?> onclick="javascript: dueForm();" id="due" value="Due">&nbsp;
					<input type='button' <?php echo $display2; ?> onclick="javascript: upcomingForm();" id="upcoming" value="Upcoming">
					<input type='button' <?php echo $display3; ?> onclick = "javascript: allForm();" value="All" id='all'>
			</div>
			<div class='grid'>
				<a rel="lightbox[external 450 420]" href="<?php echo BASEPATH; ?>/serpa/addjob">Add Job</a><span>&nbsp;</span>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	<div style="border:0px solid #ddd;margin-left:0px;width: 120%;">
		<div class='grid-headrow' style="margin-left:0px;width: 120%;">
			<div class='grid-column2' style="width:17%;padding-left: 0px;text-align: center;">Checklist (Done,Task,Due)</div>

			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Log</div>

			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Due date</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Type</div>
			<div class='grid-column2' style="width:5%;padding-left: 14px;text-align: center;">State</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">Reason</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Job Id</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Date New</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Date First</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Date Last</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Date Close</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Student Id</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Tutor Id</div>


			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
			$i=0;
			if(isset($this->jobtableResult) && sizeof($this->jobtableResult)>0){
			foreach($this->jobtableResult as $jobtable){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 120%;">


			<div class='grid-column1' style="width:17%;padding-left: 0px;text-align: center;"><?php if (isset($jobtable->checklist) && $jobtable->checklist!="") { echo $jobtable->checklist;}else{echo "-";} ?><br>
				<br>
				<a class="gridlist" rel="lightbox[external 720 520]" href="<?php echo BASEPATH; ?>/serpa/editchecklist/id/<?php echo $jobtable->job_id; ?>">Edit</a><span>&nbsp;</span>
			</div>

			<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;"><?php if(isset($jobtable->entry) && $jobtable->entry != "")echo $jobtable->entry;else echo "-"; ?>
			<br>
			<a class="gridlist" rel="lightbox[external 580 200]" href="<?php echo BASEPATH; ?>/serpa/addlog/id/<?php echo $jobtable->job_id; ?>">Add</a><span>&nbsp;</span>
			<a class="gridlist" rel="lightbox[external 750 520]" href="<?php echo BASEPATH; ?>/serpa/viewlog/id/<?php echo $jobtable->job_id; ?>">View</a><span>&nbsp;</span>
			</div>
			<?php 
			$today = date('Y-m-d');
			if (isset($jobtable->date_next_followup) && $jobtable->date_next_followup!="" && $jobtable->date_next_followup!="0000-00-00 00:00:00")
			{
				if(date('Y-m-d', strtotime($jobtable->date_next_followup)) < $today)
				{	?>
					<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;color:#FF0000;"><?php 
					echo date('Y-m-d', strtotime($jobtable->date_next_followup)); ?> </div>
				<?php }else { ?>
				<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php 
					echo date('Y-m-d', strtotime($jobtable->date_next_followup)); ?> </div>
					<?php } ?>
			<?php }else{ ?>
				<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php 
					echo "-"; ?> </div>
				<?php }?>
				

			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($jobtable->type) && $jobtable->type != "")echo $jobtable->type;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($jobtable->state) && $jobtable->state != "")echo $jobtable->state;else echo "-"; ?>
			<br>
			<?php if($jobtable->state == 'CLOSED'){ ?>
			<a class="gridlist" rel="lightbox[external 320 140]" href="<?php echo BASEPATH; ?>/serpa/reopen/id/<?php echo $jobtable->job_id; ?>">Reopen</a><span>&nbsp;
			<?php }else{ ?>
			<a class="gridlist" rel="lightbox[external 580 200]" href="<?php echo BASEPATH; ?>/serpa/close/id/<?php echo $jobtable->job_id; ?>">Close</a><span>&nbsp;
			<?php } ?>
			</div>
			<div class='grid-column1' style="width:6%;padding-left: 18px;text-align: center;"><?php if(isset($jobtable->reason) && $jobtable->reason != "")echo $jobtable->reason;else echo "-"; ?></div>
			<div class='grid-column1' style="width:4%;padding-left: 18px;text-align: center;"><?php if(isset($jobtable->job_id) && $jobtable->job_id != "")echo $jobtable->job_id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if (isset($jobtable->date_new) && $jobtable->date_new!="" && $jobtable->date_new!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($jobtable->date_new));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if (isset($jobtable->date_first_followup) && $jobtable->date_first_followup!="" && $jobtable->date_first_followup!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($jobtable->date_first_followup));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if (isset($jobtable->date_last_followup) && $jobtable->date_last_followup!="" && $jobtable->date_last_followup!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($jobtable->date_last_followup));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if (isset($jobtable->date_close) && $jobtable->date_close!="" && $jobtable->date_close!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($jobtable->date_close));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($jobtable->student_id) && $jobtable->student_id != ""){?><a class="gridlist" rel="lightbox[external 980 400]" href="<?php echo BASEPATH; ?>/serpa/studentdetails/studentid/<?php echo $jobtable->student_id; ?>"><?php echo $jobtable->student_id; ?></a>
				<?php } else {echo "-";}; ?></div>
			<div class='grid-column1'  style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($jobtable->tutor_id) && $jobtable->tutor_id != ""){?>
				<a class="gridlist" rel="lightbox[external 980 400]" href="<?php echo BASEPATH; ?>/serpa/tutordetails/tutorid/<?php echo $jobtable->tutor_id; ?>"><?php echo $jobtable->tutor_id; ?></a>
				<?php } else {echo "-";}; ?></div>		
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
	</div>
	</form>
<br/>
