<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<style type="text/css">

h2
{
text-align:center;
}

</style>
<script type="text/javascript">
	<?php
	      if(isset($authUserNamespace->status_message)){
	?>
	   jAlert("<?php echo $authUserNamespace->status_message; ?>");
	      
    <?php
      unset($authUserNamespace->status_message);
    }
    ?>
</script>
<h2 align="center">Welcome to Skillzot Serpa Dashboard</h2>
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> <?php echo $authUserNamespace->admin_page_title;?></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
	<div style="border:0px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class="grid-column2" style="width:14%;padding-left: 0px;text-align: center;">All New</div>
			<div class="grid-column2" style="width:12%;padding-left: 0px;text-align: center;">All Open</div>
			<div class="grid-column2" style="width:15%;padding-left: 0px;text-align: center;">Closed</div>
			<div class="grid-column2" style="width:16%;padding-left: 0px;text-align: center;">Steps Pending</div>
			<div class="grid-column2" style="width:16%;padding-left: 0px;text-align: center;">Steps Done</div>
			<div class="grid-column2" style="width:14%;padding-left: 0px;text-align: center;">>7 days Open</div>
			<div class="grid-column2" style="width:11%;padding-left: 6px;text-align: center;">>30 days Open</div>
			<div class="clearfix"> </div>
		</div>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">


			<div class='grid-column1' style="width:14%;padding-left: 0px;text-align: center;"><?php if(isset($this->jobtableNew->count) && $this->jobtableNew->count != "")echo $this->jobtableNew->count;else echo "0"; ?></div>
			<div class='grid-column1' style="width:12%;padding-left: 0px;text-align: center;"><?php if(isset($this->jobtableOpen->count) && $this->jobtableOpen->count != "")echo $this->jobtableOpen->count;else echo "0"; ?></div>
			<div class='grid-column1' style="width:16%;padding-left: 0px;text-align: center;"><?php if(isset($this->jobtableClosed->count) && $this->jobtableClosed->count != "")echo $this->jobtableClosed->count;else echo "0"; ?></div>
			
			<div class='grid-column1' style="width:16%;padding-left: 0px;text-align: center;"><?php if(isset($this->checklistPending->count) && $this->checklistPending->count != "")echo $this->checklistPending->count;else echo "0"; ?></div>
			<div class='grid-column1' style="width:16%;padding-left: 0px;text-align: center;"><?php if(isset($this->checklistPending->count) && $this->checklistPending->count != "")echo $this->checklistPending->count;else echo "0"; ?></div>
			<div class='grid-column1' style="width:13%;padding-left: 0px;text-align: center;"><?php if(isset($this->jobtableBeforeSeven->count) && $this->jobtableBeforeSeven->count != "")echo $this->jobtableBeforeSeven->count;else echo "0"; ?></div>
			<div class='grid-column1' style="width:13%;padding-left: 0px;text-align: center;"><?php if(isset($this->jobtableBeforeThirty->count) && $this->jobtableBeforeThirty->count != "")echo $this->jobtableBeforeThirty->count;else echo "0"; ?></div>
			
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
	</form>
<br/>