<div id="loginContent">
	
	<div id="loginHeader">&nbsp;&nbsp;Login to Serpa panel</div>
	
	<div align="center" style="margin:5px 0px 10px 0px;font-weight:bold;color:red;">
		<?php
			
			if(isset($this->msg) && $this->msg=="inactive") echo "Invalid Username or Password";
			else if(isset($_GET["msg"]) && $_GET["msg"]!="")echo "You have logged out successfully";
			else echo "&nbsp;";
		?>
	</div>
	
	<div id="loginFormContainer">
	<form id="loginForm" name="loginForm" method="post">
			<div>
				<div style="float:left;width:80px;"><span>Username:</span></div>
				<span>
					<input type="text" name="username" id="username" style="width:150px;">
				</span>
			</div>
			<br/>
			<div>
			<div style="float:left;width:80px;"><span>Password:</span></div>
				<span>
					<input type="password" name="password" id="password" style="width:150px;">
				</span>
			</div>
			<br/>
			<div id="loginButtonContainer">
				<input type="submit" id="login" name="login" value="Login" id="Login" class="button">
			</div>
		</form>
		<br/>
	</div>
	<div class="clear">&nbsp;</div>
</div>