<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){?>
		saveForm('<?php echo BASEPATH; ?>/serpa/reopen/id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php }?>
		}
};

</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>

<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Reopen:</div>
		<div style="width:183px;float:left;">
			<select id="Reopen" name="Reopen" errortag="Reopen" >
							<option value="" selected="selected">--  Select Status  --</option>
							<option value="NEW" >New</option>
            			</select>
        </div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Reopen_error" name="Reopen_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>	

	<div style="width:200px; margin-left: 110px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>