<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />

<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Student Details </div>
</div>
	</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:6%;padding-left: 5px;text-align: right;">Student Id</div>
			<div class='grid-column2' style="width:8%;padding-left: 0px;text-align: center;">SignUp Date</div>
			<div class='grid-column2' style="width:7%;padding-left: 7px;text-align: center;">First Name</div>
			<div class='grid-column2' style="width:7%;padding-left: 10px;text-align: center;">Last Name</div>
			<div class='grid-column2' style="width:8%;padding-left: 7px;text-align: center;">Email</div>
			<div class='grid-column2' style="width:6%;padding-left: 25px;text-align: center;">Mobile</div>
			<div class='grid-column2' style="width:8%;padding-left: 8px;text-align: center;">Locality</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Skills</div>
			<div class='grid-column2' style="width:8%;padding-left: 25px;text-align: center;">Tutor Enrolled</div>
			<div class='grid-column2' style="width:9%;padding-left: 2px;text-align: center;">Course Name</div>
			<div class='grid-column2' style="width:14%;padding-left: 0px;text-align: center;">FollowUp Comment</div>
			<div class="clearfix">&nbsp;</div>
		</div>

		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			
			<div class='grid-column1' style="width:5%;padding-left: 10px;text-align: center;"><?php if(isset($this->studentsignupResult->id) && $this->studentsignupResult->id != "")echo $this->studentsignupResult->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;"><?php if (isset($this->studentsignupResult->lastupdatedate) && $this->studentsignupResult->lastupdatedate!="" && $this->studentsignupResult->lastupdatedate!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($this->studentsignupResult->lastupdatedate));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 15px;text-align: center;"><?php if(isset($this->studentsignupResult->first_name) && $this->studentsignupResult->first_name != "")echo $this->studentsignupResult->first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 15px;text-align: center;"><?php if(isset($this->studentsignupResult->last_name) && $this->studentsignupResult->last_name != "")echo $this->studentsignupResult->last_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php if(isset($this->studentsignupResult->std_email) && $this->studentsignupResult->std_email != "")echo $this->studentsignupResult->std_email;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php if(isset($this->studentsignupResult->std_phone) && $this->studentsignupResult->std_phone != "")echo $this->studentsignupResult->std_phone;else echo "-"; ?></div>
			<?php $adressObj = new Skillzot_Model_DbTable_Address();
			$addess_details_id = $this->studentsignupResult->std_locality;
			$address_row = $adressObj->fetchRow($adressObj->select()
											 	 	 	  ->where("address_id='$addess_details_id'"));
			?>
			<div class='grid-column1' style="width:7%;padding-left: 5px;text-align: center;"><?php if(isset($address_row->address_value) && $address_row->address_value != "")echo $address_row->address_value;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 5px;text-align: center;"><?php if(isset($this->studentsignupResult->skill_interested) && $this->studentsignupResult->skill_interested != "")echo $this->studentsignupResult->skill_interested;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 20px;text-align: center;"><?php  echo "-"; ?></div>

			<div class='grid-column1' style="width:14%;padding-left: 11px;text-align: center;"><?php if(isset($this->studentsignupResult->followup_comment) && $this->studentsignupResult->followup_comment != "")echo $this->studentsignupResult->followup_comment;else echo "-"; ?></div>

			<div class="clearfix">&nbsp;</div>
		</div>

		</div>
	</form>
<br/>