<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />

<style type="text/css">
.skilltebs
{
	display:inline-block;
	width:555px;
	margin-bottom:10px;
}
.skilltebs input
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs input
{
	float:left;
	display:inline;
	padding: 5px 9px 6px 7px;
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
    width: 92px;
}
.skilltebs input.active
{
	background-color:#00A7E6;
	cursor:pointer;
	color:#fff;
}
.grid a
{
	float:left;
	display:inline;
	padding: 10px 9px 6px 7px;
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#00a7e6;
	cursor:pointer;
	color:#fff;
	text-transform: unset;
    width: 92px;
}
.gridlist
{
	text-align:center;
	color:#00a7e6;
	cursor:pointer;

}
</style>

<div class="bigheader" style="width: 120%;">
	<div class="menuheader" style="display: block;margin-left:19px;"> Tutor Details </div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>

		<div style="border:1px solid #ddd;margin-left:0px;width: 175%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: center;">Tutor Id</div>
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: center;">Course Id</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">SignUp Date</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">First Name</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Last Name</div>
			<div class='grid-column2' style="width:8%;padding-left: 0px;text-align: center;">Email</div>
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: center;">Mobile</div>
			<div class='grid-column2' style="width:6%;padding-left: 27px;text-align: center;">Course name</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Fees</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Classes</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Locality</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Skills Taught</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Live Date</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Live Status</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Company Name</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">URL</div>
			<div class='grid-column2' style="width:9%;padding-left: 0px;text-align: center;">FollowUp Comment</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<div class="grid-row2" style="margin-left:0px;width: 100%;">
			<div class='grid-column1' style="width:4%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->id) && $this->tutorsignupResult->id !="")echo $this->tutorsignupResult->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:4%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->courseid) && $this->tutorsignupResult !="")echo $this->tutorsignupResult->courseid;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if (isset($this->tutorsignupResult->lastupdatedate) && $this->tutorsignupResult->lastupdatedate!="" && $this->tutorsignupResult->lastupdatedate!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($this->tutorsignupResult->lastupdatedate));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->tutor_first_name) && $this->tutorsignupResult->tutor_first_name != "")echo $this->tutorsignupResult->tutor_first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->tutor_last_name)  && $this->tutorsignupResult->tutor_last_name != "")echo $this->tutorsignupResult->tutor_last_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->tutor_email) && $this->tutorsignupResult->tutor_email != "")echo $this->tutorsignupResult->tutor_email;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if (isset($this->tutorsignupResult->tutor_mobile) && $this->tutorsignupResult->tutor_mobile!="" && $this->tutorsignupResult->tutor_mobile!=NULL){echo $this->tutorsignupResult->tutor_mobile; }elseif(isset($this->tutorsignupResult->tutor_landline) && $this->tutorsignupResult->tutor_landline!="" && $this->tutorsignupResult->tutor_landline!=NULL){echo $this->tutorsignupResult->tutor_landline;}else{echo "-";}?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->tutor_course_name) && $this->tutorsignupResult->tutor_course_name != "")echo $this->tutorsignupResult->tutor_course_name;else echo"-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->tutor_rate) && $this->tutorsignupResult->tutor_rate != "")echo $this->tutorsignupResult->tutor_rate;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->class_type_name) && $this->tutorsignupResult->class_type_name != "")echo $this->tutorsignupResult->class_type_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 4px;text-align: center;"><?php if(isset($this->tutorsignupResult->city) && $this->tutorsignupResult->city != "")echo $this->tutorsignupResult->city;else echo "-"; ?></div>
			<?php
			$skillcourse= new Skillzot_Model_DbTable_Skills();
			$skillObj = new Skillzot_Model_DbTable_Tutorskillcourse();
			$tutor = $this->tutorsignupResult->id;
			$skillObj_row = $skillObj->fetchRow($skillObj->select()
											 	 	 	  ->where("tutor_id='$tutor'")); 
			$skillcourseObj=$skillObj_row->tutor_skill_id;
			$skillcourseObj=explode(",",$skillcourseObj);
			
			$skillcourseObj_row1='';
					//$skillcourseObj_row1=implode(",", $skillcourseObj_row);						 	 	 	  ?>
			<?php if(count($skillcourseObj))
			{
				for ($start=0; $start < count($skillcourseObj); $start++) {
				$skillcourseObj_row=$skillcourse->fetchRow($skillcourse->select()
														  ->from(array('c'=>DATABASE_PREFIX."master_skills"),array('skill_name'))
											 	 	 	  ->where("skill_id='$skillcourseObj[$start]'"));
				
				 $skillcourseObj_row1.=$skillcourseObj_row->skill_name.',';
				
			}
			}
			$skill_list=rtrim($skillcourseObj_row1,',');
			?>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($skill_list) && ($skill_list!="")) echo $skill_list;	else echo "-";	?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if (isset($this->tutorsignupResult->editdate) && $this->tutorsignupResult->editdate!="" && $this->tutorsignupResult->editdate!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($this->tutorsignupResult->editdate));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:3%;padding-left: 18px;text-align: center;"><?php if (isset($this->tutorsignupResult->active) && $this->tutorsignupResult->active!="")echo $this->tutorsignupResult->active; else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->company_name) && $this->tutorsignupResult->company_name != "")echo $this->tutorsignupResult->company_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 10px;text-align: center;"><?php if(isset($this->tutorsignupResult->userid_new) && $this->tutorsignupResult->userid_new != ""){ ?><a target="_blank" href="<?php echo "http://www.skillzot.com/".$this->tutorsignupResult->userid_new; ?>"><?php echo "http://www.skillzot.com/".$this->tutorsignupResult->userid_new; ?> </a> <?php }else { ?> <a target="_blank" href="<?php echo "http://www.skillzot.com/".$this->tutorsignupResult->userid; ?>"><?php echo "http://www.skillzot.com/".$this->tutorsignupResult->userid; ?> </a> <?php } ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($this->tutorsignupResult->followup_comment) && $this->tutorsignupResult->followup_comment != "")echo $this->tutorsignupResult->followup_comment;else echo "-"; ?></div>
			
			<div class="clearfix">&nbsp;</div>
		</div>

		</div>
	</form>
<br/>
