/*
Theme Name: Twenty Ten
Theme URI: http://wordpress.org/
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: the WordPress team
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
Text Domain: twentyten
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
@font-face
{
	font-family: handofsean;	
	src: url('http://www.skillzot.com/blog/fonts/hand-of-sean.ttf');
	
}
@font-face
{
	font-family: Arial Rounded MT;	
	src: url('http://www.skillzot.com/blog/fonts/arial-rounded-mt.ttf');
}
/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
img[alt="Social Share Toolbar"]
{
	height:17px;
	
}
.hupso_toolbar
{
	float: left;
    margin-left: 140px;
}
.comments-link
{
	float: left;
    margin-top: -45px;	
}
#container {
	float: left;
	margin: 0 -290px 0 0;
	width: 100%;
}
#content {
	margin: 0 300px 0 0;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 288px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}
.hupso_c
{
	
	padding-bottom: 7px;
	height:23px;
}

hr {
    float: left;
	height:5px;
    margin-top: 0;
	margin-bottom:0;
    width: 100%;
}
/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 634px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.
#social ul li a.subscribe {
    background: url("../images/subcribe_fb_tab.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 7px;
    width: 28px;
}

#social ul li a.subscribe:hover {
    background: url("../images/subcribe_fb_tab_over.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    width: 28px;
}

/* added for menu */

*
{ 
	margin: 0; padding: 0; 
}
#page-wrap
{ 
	width: 980px; margin: auto; 
} 

ul.dropdown 
{ 
	position: relative; 
	margin-top:8px;
	z-index:999;
	float:left;
	margin-bottom:0px;
	margin-left:0px;
}
ul.registerhint
{
	list-style: disc;
}
ul.dropdown li
 {
	float: left; 
	zoom: 1; 
	background: #00A7E6; 
	height:30px;
	background-image:none;
	list-style:none;
}
ul.dropdown a:hover
{ 
	color: #ffffff; 
}
ul.dropdown a:active 
 { 
	color: #ffffff; 
}
ul.dropdown li a 
{ 
	display: block; 
	padding: 4px 8px; 
	text-decoration:none;
	/*border-right: 1px solid #333;*/
	color:#ffffff;/*brgv*/
	font-size:14px;/*brgv*/
}
ul.dropdown li:last-child a 
{ 
	border-right: none;
} /* Doesn't work in IE */
ul.dropdown li.hover,ul.dropdown li:hover
{ 
	/* 02 march background: #303133; */
	color: #ffffff; 
	position: relative;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;	
}
ul.dropdown li.hover a              
{ 
	color: #ffffff; 
}


/* 
	LEVEL TWO
*/
ul.dropdown ul
{
	background-color: #FFFFFF;
    border: 1px solid #00A7E6;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    margin-left: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 999;
    visibility:hidden;
    margin-top:-5px;
}
ul.dropdown ul li 					
{ 
	font-weight: normal; 
	color: #000; 
	/*border-bottom: 1px solid #ccc; */
	float: none; 
	height:25px;
	background: #303133; /*brgv*/
}									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					
{
	border-right: none; 
	width: 100%; 
	display: inline-block; 
	font-size:14px;
	line-height:18px;
	color:#00A7E6;
}
ul.dropdown ul:before {
    content: url("http://www.skillzot.com/blog/wp-content/uploads/2012/12/menuarrow.png");
    height: 9px;
    left: 19px;
    position: absolute;
    top: -9px;
    width: 19px;
}
ul.dropdown ul li a:hover					
{
	color:#ff6633;
	width:140px;
} 
/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					
{ 
	left: 100%; 
	top: 0;
	padding:0 10px 0 10px;
	background-image:none;
}
ul.dropdown li:hover > ul 			
{ 
	visibility: visible;	
}

/*brgv*/
ul.dropdown ul li.hover,ul.dropdown ul li,ul.dropdown ul li:hover
{
	/*background-image:url("http://www.skillzot.com/blog/wp-content/uploads/2012/12/lidots.png");*/
	background-repeat:repeat-x;	
	background-position:bottom left;
	padding:3px 0;
	background:transparent;
}
/* added for menu */
/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width:100%;
}

.footercontent
{
	float: left;
    	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    	font-size: 12px;
    	font-weight: bold;
    	height: 35px;
    	line-height: 35px;
    	padding-left: 10px;
}
.footercontent a
{
	color:#000 !important;
	text-decoration:none;
}
/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 175px;
}
#site-generator {
	color: #666666;
    	display: inline-block;
    	float: left;
    	font-family: arial rounded mt;
    	font-weight: bold;
    	line-height: 35px;
    	margin-left: 130px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #fff;
	color: #666;
	font-size: 12px;
}

input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}


/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #ffffff;
	/*border: 1px solid #ccc;*/
	padding: 2px;
	border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
}
a:link {
	color: #00A7E6;
	text-decoration:none;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-weight: normal;
}
a:visited {
	color: #00a7e6;
}

a:hover {
	color: #ff4b33;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */
#studentsignup {
    background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    letter-spacing: 0;
    line-height: 26px;
    margin-right: 20px;
    text-align: center;
    width: 170px;
}
#header_right {
   /* margin-right: 12px;*/
    width: 480px;
}
#header_right {
    padding-top: 9px;
}
#headercontactus {
     font-size: 12px;
    letter-spacing: 1px;
    text-align: right;
    margin: 14px 0 0;
}
}
.contacttext {
    color: #00A7E6;
    cursor: pointer;
    float: left;
    padding-right: 10px;
}
.contactusno {
    color: #00A7E6;
    cursor: pointer;
    float: left;
}
.contacttext:hover,.contactusno:hover
{
    color:#ff6633;
}
.right {
    float: right;
}

#tutorsignup {
    background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: 150px;
}
#login {
    padding: 7px 5px 0 0;
}
.loginstyledefault {
    color: #666666;
    letter-spacing: 1px;
    line-height: 23px;
}
#header {
	text-align:center;
	margin-top:13px;
}
.clear {
    clear: both;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
#social
{
	 background-color: #000;
   	 border-bottom-left-radius: 10px;
   	 border-top-left-radius: 10px;
     float: right;
   	 height: auto;
   	 position: fixed;
   	 right: 0;
     width: 50px;
	 background-image: url("/images/followus.png");
	 background-repeat: no-repeat;
     margin-top: 105px;
     width: 36px;
     padding:0 0 6px 0;
}

#social ul {
    display: block;
    float: right;
    margin: 45px 0 0 4px !important;
}
#social ul li {
    float: left;
    list-style: none outside none !important;
}
#social ul li a.fb {
    background: url("http://www.skillzot.com/blog/wp-content/uploads/2012/12/Follow_us_fb_tab1.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    width: 28px;
}
#social ul li a.fb:hover
{
	background: url("http://www.skillzot.com/blog/wp-content/uploads/2012/12/Follow_us_fb_tab_over1.png") no-repeat scroll 0 0 transparent;
}
#social ul li a.tweet:hover
{
	background: url("http://www.skillzot.com/blog/wp-content/uploads/2012/12/Follow_us_tw_tab_over1.png") no-repeat scroll 0 0 transparent;
}
#social ul li a.tweet {
    background: url("http://www.skillzot.com/blog/wp-content/uploads/2012/12/Follow_us_tw_tab1.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 28px;
    list-style: none outside none !important;
    margin-top: 10px;
    width: 28px;
}
#menu {
  	 background-color: #00A7E6;
    float: left;
    height: 38px;
    min-height: 38px;
    min-width: 100%;
    position: relative;
    
}

#logo
{
	float:left;
	margin-top:6px;
}
#masthead
{
	width:980px;
	display:inline-block;
	
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
	width:980px;
}
#content {
	margin-bottom: 36px;
	width:634px !important;
}
#content,
#content input,
#content textarea {
	color: #333;
    	font-size: 14px;
    	font-style: normal;
    	font-weight: normal;
    	line-height: 19px;
    	text-align: justify;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 20px;
	
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}


#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #00A7E6;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
	//background-image: url("http://skillzot.com/testdata/blog/wp-content/uploads/2012/12/dots.png");
	background-position: left bottom;
    background-repeat: repeat-x;
	padding-bottom: 7px;
		
}
.entry-title a:link,
.entry-title a:visited {
	text-decoration: none;
	 color: #1CA3E7;
}
.entry-title a:active,
.entry-title a:hover {
	color: #FF6633;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	margin-top:-13px;
	float:left;
	background-image: url("http://skillzot.com/testdata/blog/wp-content/uploads/2012/12/dots.png");
	background-position: left bottom;
    background-repeat: repeat-x;
    width:100%;
    padding-bottom:5px;
	
}
.entry-meta a,
.entry-utility a {
	color: #00A7E6;
	text-decoration:none !important;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color:#ff6633 ;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
/* #nav-below {
	margin: -18px 0 0 0;
}
*/

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
.emailsubcributton
{
	 background-color: #00A7E6;
    	 background-image: url("http://skillzot.com/testdata/blog/wp-content/uploads/2012/12/email.png");
    	 background-position: 13px center;
    	 background-repeat: no-repeat;
    	 border: 2px solid #00A7E6;
    	 border-radius: 5px;
    	 color: #FFFFFF !important;
    	 float: left;
    	 font-size: 14px;
    	 font-weight: bold;
    	 height: 30px;
    	 margin-bottom: 0px;
    	 margin-right: 10px;
    	 padding: 5px 12px;
    	 position: relative;
    	 text-align: right;
    	 text-transform: none;
   	 	width: 187px;
}
.emailsubcributton1
{
	 background-color: #00A7E6;
    	 background-image: url("/blog/wp-content/uploads/2012/12/blogicon.png");
    	 background-position: 13px center;
    	 background-repeat: no-repeat;
    	 border: 2px solid #00A7E6;
    	 border-radius: 5px;
    	 color: #FFFFFF !important;
    	 float: left;
    	 font-size: 14px;
    	 font-weight: bold;
    	 height: 30px;
    	 margin-bottom: 0px;
    	 margin-right: 10px;
    	 padding: 5px 12px;
    	 position: relative;
    	 text-align: right;
    	 text-transform: none;
   	 width: 206px;
}
.emailsubcributton:hover,.emailsubcributton1:hover,#tutorsignup:hover
{
	background-color:#606060;
	/*bachground-image:url("http://skillzot.com/testdata/blog/wp-content/uploads/2012/12/emailblue.png");*/
}
/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */
.xoxo .widget-container
{
	background-repeat: no-repeat;
    	border: 1px solid #00A7E6;
	border-radius:5px;	
	background-repeat:no-repeat;
	padding-top:5px;
	background-color: #ECECEC;
    	border-left: 1px solid #00A7E6;
    	border-right: 1px solid #00A7E6;
    	float: left;
    	margin-bottom: 20px;
    	padding-top: 14px;	
    	width:286px;	
}
.logimg {
    float: left;
    overflow: hidden;
    width: 132px;
}
.logotextcolor {
    color: #FF6633;
    float: left;
    font-weight: bold;
    margin: 19px 0 0;
    font-size:14px;
}
.xoxo .widget-container ul
{
    	background-position: left bottom;
    	background-repeat: no-repeat;
    	float: left;
    	margin-left: 0 !important;
    	margin-right: 0;
    	margin-top: 0;
    	padding-bottom: 15px !important;
    	padding-left: 34px !important;
    	padding-right:15px !important;
    	width: 237px;	
}
.xoxo .widget-container ul li
{
    	
    	float: left;
    	font-size: 12px;
    	margin: 0 0 5px;
    	width: 100%;
	line-height: 15px;	
}

.addthis_default_style 
{
	 margin: 0 0 25px 150px !important;
}

.xoxo .widget-container ul li a:link
{
	color:#00A7E6 !important;
}
.xoxo .widget-container ul li a:hover
{
	color:#ff6633 !important;
}
.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: disc;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	 color: #00A7E6;
    	display: block;
    	font-size: 22px;
    	margin: 0 0 20px 15px;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
	 color: #00A7E6;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: none;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
.leftcontent {
    width: 270px;
    float:left;
}
.leftcontenttop {
    background-image: url("/blog/wp-content/uploads/2012/12/filterresulttop1.png");
    height: 14px;
    width: 270px;
    float:left;
}
.leftcontentmid {
    background-image: url("/blog/wp-content/uploads/2012/12/filterresultmid.png");
    background-repeat: repeat-y;
    height: auto;
    padding: 0 0 0 10px;
    width: 260px;
    float:left;
}
.leftcontentbot {
    background-image: url("/blog/wp-content/uploads/2012/12/filterresultbot.png");
    height: 14px;
    width: 270px;
    float:left;
}
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

.contactovr {
    color: #FFFFFF;
    cursor: pointer;
    float: left;
}

#footer {
	 text-align: center;
}
#colophon {
	display: inline-block;
    	overflow: hidden;
    	width: 980px;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	
	position: relative;
}
#site-generator a {
	color: #000000;
    	display: inline-block;
    	line-height: 16px;
    	padding-left: 10px;
    	text-decoration: none;
    	margin-top:10px;
}
#site-generator a:hover {
	text-decoration: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
.more-link
{
	color:#00A7E6 !important;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 634px;
		
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}
.xoxo h3,.xoxo p,.xoxo input
{
	width: 256px !important;
	padding-right:15px;
	margin-left:15px !important;
}
.xoxo input
{
	width:254px !important;	
}
input.emailsubcributton
{
	width:210px !important;
	margin: 0 14px 15px 37px !important;
}
#footer hr {
    background-color: transparent;
    border-bottom: 1px dashed #f06142;
    height: 1px !important;
}