<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<style>
body{
	margin:0px;
	padding:0;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:550px;
	height:450px;
	overflow-x:hidden; 
}
.loginMain
{
	float:left;
	width:590px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 40px 20px 20px;
    text-align: left;
    width:550px;
}
#unbold
{
font-weight:normal;
margin-top: 0px;
}
h3 {
    color: #666666;
    font-size: 14px;
    text-align: left;
    margin-top:0px;
    padding-top:4px;
    padding-left:20px;
    font-weight:normal;
}
p
{
    padding-right:70px;
}
.whitePart
{
	width: 520px;
	float:left;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:157px;
	padding:0px 8px 0 0;
	float:left;
}

.select
{
	width: 257px;
}
.whitePart .Field textarea 
{
	height: 70px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.text 
{
	height: 24px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.whitePart .Field .errortext
{
	width: 246px;	
	color: #FF6633;
    font-size: 12px;
    height: 7px;
   	margin: -30px 0 9px;
   	float:left;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
.yesno
{
    font-size: 12px;
    color: #666666;
    margin-left: 35px;

}
#box1
{
    height:30px;
    width:51px;
    padding-left:0px;
    text-align:center;
    padding-top:0px;
    color: #666666;
    font-size: 12px;
    padding-bottom:0px;
    
}
#box2
{
    height:30px;
    width:45px;
    float:center;
    margin-left:160px;
    text-align:center;
    color: #666666;
    font-size: 12px;
    padding-top:-10px;
    display:inline-block;
}
#box3
{
    height:30px;
    width:85px;
    margin-left:150px;
    text-align:center;
    color: #666666;
    font-size: 12px;
    
}
#tab0
{

    padding: 0 0 -1px 30px;
    font-size:12px;
}
#tabn
{
    padding-left:15px;
    font-size:12px;
}
#tabradio
{
    font-size:12px;
    
}
#tabtext
{
    padding-left:16px;
    padding: 0 0 10px 30px;
}
#num
{
    font-size:19px;
    color: #666666;
}
</style>

<script type="text/javascript">
	
		window.onload = function(){
			document.getElementById("save").onclick = function(){

				<?php  if(isset($this->task_id) && $this->task_id!=""){ ?>
				saveForm('<?php echo BASEPATH; ?>/search/finalmessage/task_id/<?php  if(isset($this->task_id) && $this->task_id!=""){echo $this->task_id;} ?>','signupform','signupform');
				<?php } else { ?>
					saveForm('<?php echo BASEPATH; ?>/search/finalmessage','signupform','signupform');
					<?php } ?>			
			};
		};
function contby(value)
		{
			document.getElementById("tutorcntby").value=value;
		}
</script>
</head>
<body id="idforrefreshcontact">
<div class="loginMain">
	<h1>Help us delight you</h1>
	<div style="float: left;">
	<br>
			<h3><span id="unbold"><span style="color:#00A7E6">Hey <?php echo $authUserNamespace->studentfullname;unset($authUserNamespace->studentfullname);?>...</span>
			<p>Thank you for offering your feedback on Skillzot.</p><p>Understanding your experiences and opinions helps Skillzot make this product better for you and other users.</span></p></h3>
	</div>
	<div class="whitePart">
		<form action="" method="post" name="signupform" id='signupform' enctype="multipart/form-data">
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:-10px;">1. What task were you looking to accomplish on our website today?<br><span style="margin-left:17px;font-weight:normal !important">(You can select more than one choice)</span></h3>
				<div class="yesno">
				<input type="checkbox" name="myradio1" <?php if (isset($this->expoldetaskcomplete1) && $this->expoldetaskcomplete1!="") {echo "checked='checked'";}?> onclick="javascript:contby(this.value);"  value="Speak to teacher">Speak to teacher<br>
				<input type="checkbox" name="myradio2" <?php if (isset($this->expoldetaskcomplete2) && $this->expoldetaskcomplete2!="") {echo "checked='checked'";}?> onclick="javascript:contby(this.value);" value="Send a message to the teacher">Send a message to the teacher<br>
				<input type="checkbox" name="myradio3" <?php if (isset($this->expoldetaskcomplete3) && $this->expoldetaskcomplete3!="") {echo "checked='checked'";}?> onclick="javascript:contby(this.value);" value="Searching for information to join a class">Searching for information to join a class<br>
				<input type="checkbox" name="myradio4" <?php if (isset($this->expoldetaskcomplete4) && $this->expoldetaskcomplete4!="") {echo "checked='checked'";} ?> onclick="javascript:contby(this.value);" value="Enroll in a class to learn a skill in the next 3 months">Enroll in a class to learn a skill in the next 3 months<br>
				<input type="checkbox" name="myradio5" onclick="javascript:contby(this.value);" <?php if (isset($this->expoldetaskcomplete5) && $this->expoldetaskcomplete5!="") {echo "checked='checked'";} ?> value="Other">Other
				</div>
				<div style="clear:both;"></div>
				<input type="hidden"  name="tutorcntby" id="tutorcntby" value="" errortag="Complete Task"/>
				<div  id="tutorcntby_error" class="errorclasssmall" style="color: #f63;font-size: 12px;margin-left:19px;margin-top:5px">&nbsp;</div>
				<!-- <h3 style="margin-top:-2px;margin-left:18px;margin-right:15px;font-weight:normal">If No then, Feel free to call or leave a message on +91-9820921404 and let us help you.
				</h3> -->
		</div>
		<input type="hidden" name="url" id="url" value="<?php if(isset($this->url_finalmessage) && $this->url_finalmessage!=""){echo urlencode($this->url_finalmessage);}else{echo urlencode('http://www.skillzot.com');}?>">
		<input type="hidden" name="page" id="page" value="<?php  if(isset($this->page_final) && $this->page_final!=""){echo $this->page_final;}else{echo "";} ?>">
		<div class="Field" style="width:57%;margin-top:10px">
			<span id="save" class="submit_button" >Next</span>
		</div>
		<div class="Field" style="width:9%;margin-left:241px;margin-top:5px">
			<span>(1 of 3) </span>
		</div>
		</form>
	</div>
</div>
</body>
</html>
