<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<style>
body{
	margin:0px;
	padding:0;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:550px;
	height:400px;
	overflow-x:hidden; 
}
.loginMain
{
	float:left;
	width:590px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 40px 20px 20px;
    text-align: left;
    width:550px;
}
#unbold
{
font-weight:normal;
margin-top: 0px;
}
h3 {
    color: #666666;
    font-size: 14px;
    text-align: left;
    margin-top:0px;
    padding-top:4px;
    padding-left:20px;
    font-weight:normal;
}
p
{
    padding-right:70px;
}
.whitePart
{
	width: 520px;
	float:left;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:157px;
	padding:0px 8px 0 0;
	float:left;
}

.select
{
	width: 257px;
}
.whitePart .Field textarea 
{
	height: 70px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.text 
{
	height: 24px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.whitePart .Field .errortext
{
	width: 246px;	
	color: #FF6633;
    font-size: 12px;
    height: 7px;
   	margin: -30px 0 9px;
   	float:left;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
.yesno
{
    font-size: 12px;
    color: #666666;
    margin-left: 35px;

}
#box1
{
    height:30px;
    width:51px;
    padding-left:0px;
    text-align:center;
    padding-top:0px;
    color: #666666;
    font-size: 12px;
    padding-bottom:0px;
    
}
#box2
{
    height:30px;
    width:45px;
    float:center;
    margin-left:160px;
    text-align:center;
    color: #666666;
    font-size: 12px;
    padding-top:-10px;
    display:inline-block;
}
#box3
{
    height:30px;
    width:85px;
    margin-left:150px;
    text-align:center;
    color: #666666;
    font-size: 12px;
    
}
#tab0
{

    padding: 0 0 -1px 30px;
    font-size:12px;
}
#tabn
{
    padding-left:15px;
    font-size:12px;
}
#tabradio
{
    font-size:12px;
    
}
#tabtext
{
    padding-left:16px;
    padding: 0 0 10px 30px;
}
#num
{
    font-size:19px;
    color: #666666;
}
</style>

<script type="text/javascript">
    var maxcount=500;
    function textcounter(textfield,showcountfield)
        {
            if(textfield.value.length>maxcount)
                {
                    textfield.value=textfield.value.substring(0,maxcount);
                }
            else
                {
                  showcountfield.value=maxcount-textfield.value.length;
                }
        }
	
	
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/search/finalmessage','signupform','signupform');
				
			};
		};
function contby(value)
		{
			document.getElementById("tutorcntby").value=value;
		}
function recommendby(value)
		{
			document.getElementById("recomby").value=value;
		}
</script>
</head>
<body id="idforrefreshcontact">
<div class="loginMain">
	<h1>Help us delight you</h1>
	<div style="float: left;">
	<br>
			<h3><span id="unbold"><span style="color:#00A7E6">Hey <?php echo $authUserNamespace->studentfullname;unset($authUserNamespace->studentfullname);?>...</span>
			<p>We @ Skillzot are obsessive about finding ways to delight you and we can&rsquo;t do that without your help.</p><p>So it&rsquo;ll be really amazing if you could share your feedback. We value your time so we&rsquo;ve kept this form super short (shouldn&rsquo;t take you more than 57 seconds) </span></p></h3>
	</div>
	<div class="whitePart">
		<form action="<?php echo BASEPATH; ?>/search/message" method="post" name="signupform" id='signupform' enctype="multipart/form-data">
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:-10px;">1. Were you able to complete the task you came for today?</h3> 
				<div class="yesno">
				<input type="radio" name="myradio" onclick="javascript:contby(this.value);" value="Yes" checked="checked">Yes
				<input type="radio" name="myradio" onclick="javascript:contby(this.value);" value="No">No
				<input type="radio" name="myradio" onclick="javascript:contby(this.value);" value="Work in Progress">Work in Progress
				</div>
				<div style="clear:both;"></div>
				<input type="hidden" name="tutorcntby" id="tutorcntby" value="" errortag="Complete"/>
				<div  id="tutorcntby_error" class="errorclasssmall" >&nbsp;</div>
				<h3 style="margin-top:-2px;margin-left:18px;margin-right:15px;font-weight:normal">If No then, Feel free to call or leave a message on +91-9820305510 and let us help you.
				</h3>
		</div>
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:-10px;">2. What task were you looking to accomplish on our website today?</h3>
				<div class="yesno">
				<textarea type="text" name="description" onKeyDown="textcounter(this.form.description,this.form.countDisplay);" onKeyUp="textcounter(this.form.description,this.form.countDisplay);" id="description" errortag="description"></textarea>
				<h3><input readonly type="text" name="countDisplay" size="0" maxlength="3" value="500" style="border:0px solid;color:#666666;margin-left:415px"></h3>
				<p id="description_error" class="errortext" ></p>
				</div>
				
		</div>
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:-10px;">3. If you were not able to complete the task today, why not? </h3>
				<div class="yesno">
				<textarea type="text" name="notdescription" id="notdescription" onKeyDown="textcounter(this.form.notdescription,this.form.countDisplay2);"></textarea>
				<h3><input readonly type="text" name="countDisplay2" size="0" maxlength="3" value="500" style="border:0px solid;color:#666666;margin-left:415px"></h3>
				</div>
		</div>
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:-10px;">4. How likely are you to recommend www.skillzot.com to a friend or <span id="tb">colleague? </span></h3>
				<div class="yesno">
					<table>
						<tr><td><div id="box1"><label id="smallradiolabel">Not at all likely</label> </div></td>
						<td><div id="box2"><label id="tabradio">Neutral</label></div></td>
						<td><div id="box3"><label id="tabradio">Extremely Likely</label></div></tr>
					</table>
					</div>
					<div class="yesno">
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="1" checked="checked">1</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="2">2</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="3">3</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="4">4</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="5">5</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="6">6</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="7">7</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="8">8</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="9">9</span>
					<span id="tabn"><input type="radio" name="recom" onclick="javascript:recommendby(this.value);" value="10">10</span>
					</div>
					<div style="clear:both;"></div>
					<input type="hidden" name="recomby" id="recomby" value="" errortag="Recommend"/>
					<div  id="recomby_error" class="errorclasssmall" >&nbsp;</div>
		</div>
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:0px;">5. Which locality are you from? (Or what&rsquo;s your area pincode)</h3>
				<div class="yesno">
				<h3><input class="text" type="text" id="locality" name="locality" style="margin-left:-16px"></h3>
				</div>
		</div>
		<input type="hidden" name="url" id="url" value="<?php if(isset($this->url_finalmessage) && $this->url_finalmessage!=""){echo urlencode($this->url_finalmessage);}else{echo urlencode('http://www.skillzot.com');}?>">
		<input type="hidden" name="page" id="page" value="<?php  if(isset($this->page_final) && $this->page_final!=""){echo $this->page_final;}else{echo "";} ?>">
		<div class="Field" style="width:96%;">
			<span id="save" class="submit_button" >Done!</span>
		</div>
		</form>
	</div>
</div>
</body>
</html>
