<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>
<style>
body{
	margin:0px;
	padding:0;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:550px;
	height:450px;
	overflow-x:hidden; 
}
.loginMain
{
	float:left;
	width:590px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 40px 20px 20px;
    text-align: left;
    width:550px;
}
#unbold
{
font-weight:normal;
margin-top: 0px;
}
h3 {
    color: #666666;
    font-size: 14px;
    text-align: left;
    margin-top:0px;
    padding-top:4px;
    padding-left:20px;
    font-weight:normal;
}
p
{
    padding-right:70px;
}
.whitePart
{
	width: 520px;
	float:left;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:157px;
	padding:0px 8px 0 0;
	float:left;
}

.select
{
	width: 257px;
}
.whitePart .Field textarea 
{
	height: 70px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.text 
{
	height: 24px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.whitePart .Field .errortext
{
	width: 246px;	
	color: #FF6633;
    font-size: 12px;
    height: 7px;
   	margin: -30px 0 9px;
   	float:left;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
.yesno
{
    font-size: 12px;
    color: #666666;
    margin-left: 35px;

}
#box1
{
    height:30px;
    width:51px;
    padding-left:0px;
    text-align:center;
    padding-top:0px;
    color: #666666;
    font-size: 12px;
    padding-bottom:0px;
    
}
#box2
{
    height:30px;
    width:45px;
    float:center;
    margin-left:160px;
    text-align:center;
    color: #666666;
    font-size: 12px;
    padding-top:-10px;
    display:inline-block;
}
#box3
{
    height:30px;
    width:85px;
    margin-left:150px;
    text-align:center;
    color: #666666;
    font-size: 12px;
    
}
#tab0
{

    padding: 0 0 -1px 30px;
    font-size:12px;
}
#tabn
{
    padding-left:15px;
    font-size:12px;
}
#tabradio
{
    font-size:12px;
    
}
#tabtext
{
    padding-left:16px;
    padding: 0 0 10px 30px;
}
#num
{
    font-size:19px;
    color: #666666;
}
</style>

<script type="text/javascript">
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/search/finalmessagestep2/task_id/<?php if(isset($this->task_id) && $this->task_id != "") echo $this->task_id; ?>','signupform','signupform');
				
			};
		};
function contby(value)
		{
			document.getElementById("description").value=value;
		}
function recoby(value)
		{
			document.getElementById("notdescription").value=value;
		}
function recomentby(value)
{
	document.getElementById("recomby").value=value;
}
</script>
</head>
<body id="idforrefreshcontact">
<div class="loginMain">
	<h1>Help us delight you</h1>
	<br>
	<div class="whitePart">
		<form action="" method="post" name="signupform" id='signupform' enctype="multipart/form-data">
		<div class="Field">
			<br>
			<span style="padding-left: 20px;">All questions are mandatory</span>
				<h3 style="font-weight: bold;margin-top:10px;">2. Were you able to complete the task you came for?</h3> 
				<div class="yesno" style="width:100%">
					<div style="margin-top:10px;width:22px;"><input type="radio"  name="myradio" <?php if (isset($this->task_description) && $this->task_description!="" && $this->task_description == 'Yes' ) {echo "checked='checked'";}?> onclick="javascript:contby(this.value);" value="Yes"></div><div style="margin-top:-14px;margin-left:23px;width:33px;">Yes</div>
				    <div style="margin-top:-17px;margin-left:66px;width:22px;"><input type="radio" name="myradio" <?php if (isset($this->task_description) && $this->task_description!="" && $this->task_description == 'No' ) {echo "checked='checked'";}?> onclick="javascript:contby(this.value);" value="No"></div><div style="margin-top:-14px;margin-left:88px;width:22px;">No</div>
					<div style="margin-top:-17px;margin-left:125px;width:22px;"><input type="radio" name="myradio" <?php if (isset($this->task_description) && $this->task_description!="" && $this->task_description == 'Work in progress' ) {echo "checked='checked'";}?> onclick="javascript:contby(this.value);" value="Work in progress"></div><div style="margin-top:-14px;margin-left:149px">Work in progress</div>
				
				</div>
					<div style="clear:both;"></div>
					<input type="hidden"  name="description" id="description" value="" errortag="Complete Task"/>
		</div>			
		<div class="Field">
                <h3 style="font-weight: bold;margin-top:10px;">3. When are you planning to enroll for the classes?</h3> 
                <div class="yesno">
                <div style="margin-top:10px;width:22px;"><input type="radio" name="myradio1" <?php if (isset($this->task_reason) && $this->task_reason!="" && $this->task_reason == 'Not planning to enroll' ) {echo "checked='checked'";}?> onclick="javascript:recoby(this.value);" value="Not planning to enroll"></div><div style="margin-top:-14px;margin-left:23px;">Not planning to enroll</div><br>
                <div style="margin-top:-10px;width:22px;"><input type="radio" name="myradio1" <?php if (isset($this->task_reason) && $this->task_reason!="" && $this->task_reason == 'Within one week' ) {echo "checked='checked'";}?> onclick="javascript:recoby(this.value);" value="Within one week"></div><div style="margin-top:-14px;margin-left:23px;">Within one week</div><br>
                <div style="margin-top:-10px;width:22px;"><input type="radio" name="myradio1" <?php if (isset($this->task_reason) && $this->task_reason!="" && $this->task_reason == 'Within one month' ) {echo "checked='checked'";}?> onclick="javascript:recoby(this.value);" value="Within one month"></div><div style="margin-top:-14px;margin-left:23px;">Within one month</div><br>
                <div style="margin-top:-10px;width:22px;"><input type="radio" name="myradio1" <?php if (isset($this->task_reason) && $this->task_reason!="" && $this->task_reason == 'Within 3 months' ) {echo "checked='checked'";}?> onclick="javascript:recoby(this.value);" value="Within 3 months"></div><div style="margin-top:-14px;margin-left:23px;">Within 3 months</div>
                </div>
                <div style="clear:both;"></div>
                <input type="hidden"  name="notdescription" id="notdescription" value="" errortag="Complete Task"/>
                   
        </div>
		<div class="Field">
				<h3 style="font-weight: bold;margin-top:10px;">4. If you were able to identify the right class, how would you prefer to <span style="margin-left:16px;">pay to join the class?<span></h3>
				<div class="yesno" style="width:100%">
                <div style="margin-top:10px;width:22px;"><input type="radio" name="myradio2" <?php if (isset($this->task_recommend) && $this->task_recommend!="" && $this->task_recommend == 'Online payment' ) {echo "checked='checked'";}?> onclick="javascript:recomentby(this.value);" value="Online payment"></div><div style="margin-top:-14px;margin-left:23px;width:100px;">Online payment</div>
                <div style="margin-top:-17px;margin-left:120px;width:22px;"><input type="radio" name="myradio2" <?php if (isset($this->task_recommend) && $this->task_recommend!="" && $this->task_recommend == 'In person to the teacher/class' ) {echo "checked='checked'";}?> onclick="javascript:recomentby(this.value);" value="In person to the teacher/class"></div><div style="margin-top:-14px;margin-left:141px;width:178px;">In person to the teacher/class</div>
                <div style="margin-top:-17px;margin-left:313px;width:22px;"><input type="radio" name="myradio2" <?php if (isset($this->task_recommend) && $this->task_recommend!="" && $this->task_recommend == 'Other method' ) {echo "checked='checked'";}?> onclick="javascript:recomentby(this.value);" value="Other method"></div><div style="margin-top:-14px;margin-left:336px">Other method</div>
              
                </div>
                <div style="clear:both;"></div>
				<input type="hidden" name="recomby" id="recomby" value="" errortag="Recommend"/>
				<!-- <p  id="recomby_error" class="errorclasssmall" style="color: #f63;font-size: 12px;">&nbsp;</p> -->
				<p  id="description_error" class="errorclasssmall" style="color: #f63;font-size: 12px;margin-left:18px;margin-top:5px">&nbsp;</p>
				<!-- <p  id="notdescription_error" class="errorclasssmall" style="color: #f63;font-size: 12px;">&nbsp;</p>
 -->
		</div>		
		
		<div class="Field" style="width:27%;margin-left:200px;margin-top:2px">
			<a href="<?php echo BASEPATH; ?>/search/finalmessage/task_id/<?php if(isset($this->task_id) && $this->task_id != "") echo $this->task_id; ?>" class="submit_button" style="text-decoration: none; float:left">Back</a>
			<span id="save" class="submit_button" >Next</span>
		</div>
		<div class="Field" style="width:9%;margin-left:247px;margin-top:5px">
			<span>(2 of 3) </span>
		</div>
		</form>
	</div>
</div>
</body>
</html>
