<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<style typr="text/css">

.loginMain
{
	float:left;
	width:590px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 40px 20px 20px;
    text-align: left;
    width:550px;
}

h3 {
    color: #666666;
    font-size: 14px;
    text-align: left;
    margin-top:0px;
    padding-top:4px;
    padding-left:20px;
    font-weight:normal;
}
p
{
    padding-right:70px;
}


</style>

</head>
<body>
<div class="loginMain">
	<h1>Did You Know?</h1>
	<div style="float: left;">
	<form  name="signupform" id='signupform' enctype="multipart/form-data">
	<br>
		<h3>
		<p>You can now reserve batches online with one-click!</p>
		</h3>
	</div>
	</form>
</div>
</body>
</html>
