<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotprontonew.css"/>
<style>
body{
	margin:0px;
	padding:5px 20px 0px 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
/*
.heading
{
	float:left;
	display:inline-block;
}

.subspacer
{
	line-light:20px;
}

.maincontent
{
	width : 100%;
}
.errorcolor
{
	color : #EB008C;
} */
.contentbox
{
	padding: 10px 20px;
	float:left;
}
.stepcolsmall2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: auto;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/tutor/uploadfile','uploadfileform','uploadfileform');
			};
		};
				
		</script>
</head>
<body>
<div class="contentbox">
	<h1 style="margin:0;">Class image</h1>
	<div class="maincontent">
	<form action="" name="uploadfileform" id="uploadfileform" method="post" enctype="multipart/form-data">
		<div class="steprow1">
			<div class=stepcolsmall1>Upload class image : <span style="color:red">*</span></div>
			<div class="stepcolsmall2">
				<input type="text" Name="uploadfromcourse" id="uploadfromcourse" errortag="First Name" />
				<div id="uploadfromcourse_error" class="errorclasssmall">&nbsp;</div>
			</div>
		</div>
		
	</form>
	</div>
</div>
</body>
</html>