<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<title>Tutor sign up - self description page.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
#registration_form_4 textarea
{
	width: auto;
}
.formholder
{
	border:1px solid #00A7E6;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.newimageshow{
	float:left;
	width: 280px;
}
</style>
<!--[if IE 7]>
<style>
#registration_form_4 input
{
	padding:2px 0 0 2px;
	height:22px;
	text-align:left;
}
</style>
<![endif]-->
<!--[if IE]>
<style>
.newimageshow input{

	margin-left:15px;
}
</style>
<![endif]-->
<!--[if IE 7]>
<style>
input[type='radio']
{
	height:15px !important;
	width:15px !important;
	border:0px !important;
}
</style>
<![endif]-->
<script type="text/javascript">
imagenamevalue = "<?php if (isset($authUserNamespace->flow_pic_session1) && $authUserNamespace->flow_pic_session1!=""){echo $authUserNamespace->flow_pic_session1;}?>";
window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/tutor/aboutme','aboutme','aboutme');
		
	}
	if(imagenamevalue!="")
	{
		document.getElementById("showimageuploaded").innerHTML='<img style="border:0px solid;" class="margin" src="<?php echo BASEPATH ?>/docs/'+imagenamevalue+'" width="135" height="135"/>';
	}
};

function imagedone(imagename)
{
	imagenamevalue = imagename;
	document.getElementById("imgch_error").innerHTML = "Image uploaded successfully...!";//display msg
//	document.getElementById("imgch").value = imagenamevalue;
	document.getElementById("showimageuploaded").innerHTML='<img style="border:0px solid;" class="margin" src="<?php echo BASEPATH ?>/docs/'+imagename+'" width="135" height="135"/>';
	
}
function myfunctionin(uid){
	//alert('in');
	var id = uid;
	var pos = $("#"+id).height();
	var topp = "-"+(pos/2-10);
	//alert("-"+pos/2);
	//$('#'+id).css('top', topp);
	//$(".tooltipdivspan2").css.top("-"+pos/2);
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	uniqid.style.top = topp+"px";
}
function myfunctionout(uid){
	//alert('ioo');
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
var avg_l = 0;
var l = 0;
function adddynamicRowbranch(){
	
	
	if(avg_l<=4){
			l++;
			avg_l++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','addvideomore'+l);
			newdiv.innerHTML="<div class='stepcol1'>&nbsp;</div>"+
			"<div class='stepcol2'>"+
			"<input type='text' style='float:left;*margin-left:-10px;' id='video_link[]' name='video_link[]' value=''>"+
			"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv4('"+l+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
			"</div>";
			document.getElementById('addvideomore').appendChild(newdiv);		
		
		}
	}
function removeDiv4(index){
	if(document.getElementById('addvideomore'+index)){
		document.getElementById('addvideomore').removeChild(document.getElementById('addvideomore'+index));
	}
	avg_l--;
}

</script>
<style>
.steprow1
{
	margin-bottom:10px;
}
.stepcol2
{
	margin-bottom:5px;
}
</style>
<!--[if IE 7]>
<style>
.midspacer
{
float:none;
 width:100%;
 display:block;
}
#registration_form_2 input
{
	padding:2px 0 0 2px;
	height:18px;
	text-align:left;
}
.steprow1
{
	margin-bottom:0px;
}
.stepcol2 input
{
	height:25px;
}
.stepcol2
{
	margin-left:-10px;
}
.margin
{
	margin-left:10px;
}
</style>
<![endif]-->
<!--[if IE 8]>
<style>
.margin
{
	margin-left:10px;
}
#registration_form_2 input
{
	padding:5px 0 0 2px;
	height:25px;
}
.lowspacer
{
 float:none;
 width:100%;
 display:block;
}
.midspacer
{
	float:none;
	width:100%;
 	display:block;
	
}
</style>
<![endif]-->
</head>
<body>
<div id="tutorpagepath" class="tutorpagepath">
	<a href="<?php echo BASEPATH;?>/index"> Home </a>
	<span class="patharrow">></span>
	<a style="color:#FF6633;" href="/search/index/skillid/4">Tutor Registration</a>
</div>
<div id="step4" style="width:738px;margin:auto"> 
			<strong class="regheader" style="margin-top:0px;">Tutor Registration</strong>
			<div class="clear">&nbsp;</div>
			<div class="midspacer">&nbsp;</div>
			<div class="menuclass">
			<div>
				<div style="background:url('<?php echo BASEPATH;?>/images/reg_step_4.png') no-repeat;width:783px;height:41px;">
					<div class="left" style="width:170px;height:41px;" ></div>
					<div class="left" style="width:150px;height:41px;"></div>
					<div class="left" style="width:225px;height:41px;" ></div>
					<div class="left" style="width:130px;height:41px;" ></div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="step">Step 4 of 4</div>
			<div id="registration_form_4" class="formholder">
				<form method="post" action="" name="aboutme" id="aboutme" enctype="multipart/form-data">
				<div class="allfields"> <span class="onlyorangedisplay">*</span> All fields are required</div>
					<div class="steprow1">
						<div class="steprow1">
						<strong style="font-size:15px;color:#333333;">Upload picture or logo :<span class="onlyorangedisplay">*</span></strong>
						</div>
						
						<div class="lowspacer">&nbsp;</div>
						<div class="steprow1">
							<div style="float:left;" id="showimageuploaded">
								<img style="border:0px solid;" class="margin" src="<?php if(isset($this->tutordata->id) && $this->tutordata->id!="" ){?><?php echo BASEPATH;?>/search/viewthumbimage/id/<?php echo $this->tutordata->id;?><?php } else {?><?php echo BASEPATH;?>/images/uploadPlaceholder.jpg" <?php }?>width="135" height="135"/>
							</div>
							<div class="newimageshow">
							<a href="<?php echo BASEPATH;?>/profilepicupload/fileupload/id/<?php if(isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid!="")echo $authUserNamespace->maintutorid;else echo 0;?>" rel="lightbox[820 520];" style="float:left;margin-left:14px;" class="onlybluecolor">Upload image</a>
								<i style="margin:5px 0 0 15px;float:left;" class="registerhint">Pictures are limited to JPG, PNG and GIF. Also, they must be no larger than 5Mb.Image size must be greater than 240 * 245 pixels.</i>
							</div>
							<input type="hidden" name="imgch" id="imgch"  value="<?php if(isset($authUserNamespace->flow_pic_session1) && $authUserNamespace->flow_pic_session1!=""){echo $authUserNamespace->flow_pic_session1;}else{echo "";}?>" />
						</div>
						<div id="imgch_error" class="errorcls2">&nbsp;</div>
						<?php if(isset($authUserNamespace->imageerror) && $authUserNamespace->imageerror != ""){?>
						<div class="errorcls2"><?php  echo $authUserNamespace->imageerror;?></div>
						<?php } unset($authUserNamespace->imageerror);?>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="steprow1">
						<strong style="font-size:15px;color:#333333;">Write a brief description about yourself and/or your company :<span class="onlyorangedisplay">*</span></strong>
						</div>
						<div class="lowspacer">&nbsp;</div>
						<div class="steprow1">
							<textarea texttype="ckeditor_overviewdesc" name="OverviewDescription" id="OverviewDescription" errortag="a brief self-description" rows="4" cols="60" style="padding: 10px 0 0 10px;"><?php if (isset($this->tutordata->tutor_brief_desc) && $this->tutordata->tutor_brief_desc!=""){echo $this->tutordata->tutor_brief_desc;}else if(isset($authUserNamespace->selfDescription) && $authUserNamespace->selfDescription!=""){echo $authUserNamespace->selfDescription;}?></textarea>
							<script type="text/javascript">
							CKEDITOR.replace('OverviewDescription',{
								extraPlugins : 'uicolor',
								toolbar : [[ 'NumberedList', 'BulletedList'],],
								height : 250,
								width : 500,
								removePlugins : 'maximize,resize',
								toolbarCanCollapse: false
							});
						</script>
								<div id="OverviewDescription_error" class="errorcls2">&nbsp;</div>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					<div class="steprow1"><span style="color:#358fbd;font-size:16px;float:left;">Bank Details for your Fee Transfer:</span></div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Bank Name:</div>
						<div class="stepcol2">
							<input type="text" id="bank_name" name="bank_name" value="<?php if (isset($this->tutordata->bank_name) && $this->tutordata->bank_name!=""){echo $this->tutordata->bank_name;}?>">
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
				
					<div class="steprow1">
						<div class="stepcol1">Account Number:</div>
						<div class="stepcol2">
							<input type="text" id="acc_no" name="acc_no" value="<?php if (isset($this->tutordata->acc_no) && $this->tutordata->acc_no!=""){echo $this->tutordata->acc_no;}?>">
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">IFSC Code:</div>
						<div class="stepcol2">
							<input type="text" id="ifsc_code" name="ifsc_code" value="<?php if (isset($this->tutordata->ifsc_code) && $this->tutordata->ifsc_code!=""){echo $this->tutordata->ifsc_code;}?>">
						</div>
					</div>
					<div class="steprow1"><span style="color:#358fbd;font-size:16px;float:left;">Additional information:</span>
								<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
										<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
<!--											<span class="tooltipdivspan1"></span>-->
											<span class="tooltipdivspan2">Please copy/paste your respective profile links as they appear on the browser window so that we can promote your links. Also, validated teachers have more chances of getting leads from students.</span>
<!--											<span class="tooltipdivspan3"></span>-->
										</span>
								</span>
					
					</div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Adhar/License card:</div>
						<div class="stepcol2">
							<input type="text" id="adhar_license" name="adhar_license" value="<?php if (isset($this->tutordata->adhar_license) && $this->tutordata->adhar_license!=""){echo $this->tutordata->adhar_license;}?>">
						</div>
					</div>
					
					
					<div class="steprow1">
						<div class="stepcol1">Virtual Tour:</div>
						<div class="stepcol2">
							<input type="text" id="virtual_tour" name="virtual_tour" value="<?php if (isset($this->tutordata->virtual_tour) && $this->tutordata->virtual_tour!=""){echo $this->tutordata->virtual_tour;}?>">
						</div>
					</div>
				
					
					<div class="steprow1">
						<div class="stepcol1">FB link:</div>
						<div class="stepcol2">
							<input type="text" id="fb_link" name="fb_link" value="<?php if (isset($this->tutordata->tutor_fb_link) && $this->tutordata->tutor_fb_link!=""){echo $this->tutordata->tutor_fb_link;}?>">
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
<!--					<div class="steprow1">-->
<!--						<div class="stepcol1">LinkedIn link:</div>-->
<!--						<div class="stepcol2">-->
<!--							<input type="text" id="linkin_link" name="linkin_link" value="<?php //if (isset($this->tutordata->tutor_ld_link) && $this->tutordata->tutor_ld_link!=""){echo $this->tutordata->tutor_ld_link;}?>">-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="clear">&nbsp;</div>-->
<!--					<div class="lowspacer">&nbsp;</div>-->
					
					<div class="steprow1">
						<div class="stepcol1">Twitter link:</div>
						<div class="stepcol2">
							<input type="text" id="twitter_link" name="twitter_link" value="<?php if (isset($this->tutordata->tutor_tw_link) && $this->tutordata->tutor_tw_link!=""){echo $this->tutordata->tutor_tw_link;}?>">
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Blog link:</div>
						<div class="stepcol2">
							<input type="text" id="blog_link" name="blog_link" value="<?php if (isset($this->tutordata->blog_link) && $this->tutordata->blog_link!=""){echo $this->tutordata->blog_link;}?>">
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Website:</div>
						<div class="stepcol2">
							<input type="text" id="website_link" name="website_link" value="<?php if (isset($this->tutordata->website_link) && $this->tutordata->website_link!=""){echo $this->tutordata->website_link;}?>">
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div id="addvideomore">
					<div class="steprow1">
						<div class="stepcol1">Video link:</div>
						<div class="stepcol2">
							<input type="text" onmouseover="myfunctionin('uniquename3');" onmouseout="myfunctionout('uniquename3');" style="float:left;*margin-left:-10px;" id="video_link[]" name="video_link[]" value="<?php if (isset($this->tutordata->tutor_vd_link) && $this->tutordata->tutor_vd_link!=""){echo $this->tutordata->tutor_vd_link;}?>">
							<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename3');" onmouseout="myfunctionout('uniquename3');" />
										<span class="tooltipdiv" id="uniquename3" style="visibility: hidden;">
											<span class="tooltipdivspan2">You can copy/paste a link of your video OR call us if you want help to create one.</span>
										</span>
							</span>
						</div>
					</div>
					</div>
					<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
							<a href="javascript:adddynamicRowbranch();"  class="addSection">ADD VIDEO</a>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Gender : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2">
							<div style="float:left;"><input style="float:left;height:15px;width:15px;border:0px;" type="radio" name="gender" value="male" class="radio" <?php if (isset($this->tutordata->tutor_gender) && $this->tutordata->tutor_gender!=""){if ($this->tutordata->tutor_gender=="female" ){echo "checked";}}?> checked="true" errortag="Gender"/><span style="margin:0px 10px 0 5px;float:left;">Male</span></div>
							<div  style="float:left;"><input style="float:left;height:15px;width:15px;border:0px;" type="radio" name="gender" value="female" class="radio" <?php if (isset($this->tutordata->tutor_gender) && $this->tutordata->tutor_gender!=""){ if ($this->tutordata->tutor_gender=="female" ){echo "checked";}}?> errortag="Gender"/><span style="margin:0px 10px 0 5px;float:left;">Female</span></div>
						</div>
						<div id="gender_error" class="errorcls2">&nbsp;</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Date of birth:</div>
						<div class="stepcol2">
						<?php if (isset($this->tutordata->tutor_dob) && $this->tutordata->tutor_dob!="")
								{
									$date = explode("-",$this->tutordata->tutor_dob);
									//print_r($date);exit;
								}?>
							<select id="date" name="date" style="width:67px;float:left;margin-right: 5px;">
								<option value="">Date</option>
								<?php for ($l=1;$l<32;$l++){?>
								<option value="<?php echo $l;?>" <?php if (isset($date[0]) && $date[0]!=""){if ($date[0]==$l){echo "selected";}}?>><?php echo $l;?></option>
								<?php } ?>
				            </select>
							
							<select id="month"  name="month" style="width:100px;float:left;margin-right: 5px;">
								<option value="">Month</option>
								<option value="1" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==1){echo "selected";}}?>>January</option>
								<option value="2" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==2){echo "selected";}}?>>February</option>
								<option value="3" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==3){echo "selected";}}?>>March</option>
								<option value="4" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==4){echo "selected";}}?>>April</option>
								<option value="5" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==5){echo "selected";}}?>>May</option>
								<option value="6" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==6){echo "selected";}}?>>June</option>
								<option value="7" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==7){echo "selected";}}?>>July</option>
								
								<option value="8" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==8){echo "selected";}}?>>August</option>
								<option value="9" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==9){echo "selected";}}?>>September</option>
								<option value="10" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==10){echo "selected";}}?>>October</option>
								<option value="11" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==11){echo "selected";}}?>>November</option>
								<option value="12" <?php if (isset($date[1]) && $date[1]!=""){if ($date[1]==12){echo "selected";}}?>>December</option>
				            </select>
							
							<select id="year"  name="year" style="float:left;">
								<option value="">Year</option>
								<?php for ($l=1930;$l<2006;$l++){?>
								<option value="<?php echo $l;?>" <?php if (isset($date[2]) && $date[2]!=""){if ($date[2]==$l){echo "selected";}}?>><?php echo $l;?></option>
								<?php } ?>
								</select>
									<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename4');" onmouseout="myfunctionout('uniquename4');" />
										<span class="tooltipdiv" id="uniquename4" style="visibility: hidden;">
<!--											<span class="tooltipdivspan1"></span>-->
											<span class="tooltipdivspan2">This will not be visible to anyone.</span>
<!--											<span class="tooltipdivspan3"></span>-->
										</span>
							</span>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
							<div class="savecontinue"><a href="#imgfile"><img src="<?php echo BASEPATH;?>/images/Save-and-continue.png"  onmouseout="this.src='<?php echo BASEPATH;?>/images/Save-and-continue.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/Save-and-continue_hover.png'" id="save" name="save"></a></div>
							<!--<a href="/register.php?step=3">Back to Lession &amp; Course Details</a>-->
						</div>
					<?php if (isset($authUserNamespace->tutorcoursesessionid) && $authUserNamespace->tutorcoursesessionid!=""){?>
					<div class="stepcol2" style="float:right; margin-right: 20px;">
					<a class="backtoprof" href="<?php echo BASEPATH;?>/teacher-signup-course-details">Back to course information</a>
					</div>
					<?php } ?>
					</div>
	
					<input type="hidden" name="step5">
					<input type="hidden" name="tutorhiddenid" id="tutorhiddenid" value="<?php if (isset($authUserNamespace->tutorsessionid) && $authUserNamespace->tutorsessionid!=""){echo $authUserNamespace->tutorsessionid;}?>">
				</form>
			</div>
		</div>
</div>

</body>
</html>
