<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<HTML>
<HEAD>
<TITLE>Saved batches</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style type="text/css">
.grid-row1, .grid-row2, .grid-headrow{
	width:800px;
	clear:both;
	background:#fff;
	margin: 0px 0px 0px 10px;
	border-color:#000;
	border-width:1px;
	border-top-width:0px;
	padding-top: 3px;	
	
}
.grid-row1, .grid-row2, .user-headrow{
	min-height: 57px;
	width: 97%;
	clear: both;
	background: #fff;
	margin: 0px 0px 0px 19px;
	border-width: 1px;
	border-top-width: 0px;
	text-align: center;
vertical-align: middle;
line-height: 21px;
}
.grid-headrow{
	background: #00a7e6;
	border-top-width: 1px;
	width: 97%;
	min-height: 24px;
	
}
.grid-row2{
	background-color: #EFFAFF;
	overflow:auto;
	font-size:12px;
}
.grid-column1{
	width: 20%;
	float: left;
	border: none;
	align: left;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
	font-size:12px;
}
.grid-column2{
	width: 20%;
	float: left;
	border: none;
	align: left;
	color: white;
	margin: 1px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	word-wrap: break-word;
	overflow: auto;
	padding-top: 3px;
}
.showme{ 
	display: none;
	min-height:50px;
	width:200px;
	border:1px solid #00A7E6;
	background:#f0f0f0;

	border-radius:5px;
	padding:3px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
	color:#666;
	font-size:12px;
}
.wrapperdiv:hover .showme{
display : block;
}
.submit_button
{
	background-color:#00A7E6;
    border: 2px solid #00A7E6;
    border-radius:5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 3px;
    text-align: center;
    text-shadow: none;
}
.submit_button:hover
{
	background-color:#676767;
}
.buttonbox
{
	height:57px;
	padding:0px;
}
.leftcontent
{
	box-shadow: none;
	 width: 276px;
	 float:left;
	 margin-left:0px !important;
}
.boxshadow
{
	border-radius: 5px 5px 5px 5px;
    float: left;
    margin-left: 0px !important;
    width: 276px;
    /*box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.11);*/
}
</style>
</HEAD>
<script type="text/javascript">
function call_lightbox11(batchid){
		//$('#mbCenter').bgiframe();
		 Mediabox.open('<?php echo BASEPATH;?>/tutor/googlemap1/batchid/'+batchid,'','650 450');
		 
	}
function enrollhere(enrollid,courseid)
{
	if(courseid!=null && courseid!="")
	{
		window.location.href="<?php echo BASEPATH;?>/tutor/paymentstep1/batchid/"+enrollid+"/courseid/"+courseid;
	}
	else
	{
		window.location.href="<?php echo BASEPATH;?>/tutor/paymentstep1/batchid/"+enrollid;
	}
	
}
</script>
<body>
<div id="step1" style="width:760px;margin:auto">
		
	<div id="saved_form">
	<form method="post" action="" name="saved_batch" id="saved_batch" enctype="multipart/form-data">

	<?php 
	$i=0;
	if (isset($this->shortlist_data) && sizeof($this->shortlist_data)>0){ 
	?>
	<div class="infolinerow" style="margin-top:10px;">
			<span class="nameoftutor" style="margin: 0 -40px;">Saved Batches</span></div>
	</div>
	<div class='grid-headrow' style="margin-left:0px;width: 97%;margin-right:5px;">
		<div class='grid-column2' style="width:32%;padding-left: 0px;text-align: center;">Venue</div>
		<div class='grid-column2' style="width:20%;padding-left: 45px;text-align: center;">Timings</div>
		<div class='grid-column2' style="width:14%;padding-left: 83px;text-align: center;">Availability</div>		
	</div>
	<?php foreach ($this->shortlist_data as $batchname){
			
		if (isset($batchname->tutor_batch_name) && $batchname->tutor_batch_name!="")
		{
	?>
	<div class="wrapperdiv">
		<div class='<?php if($i%2==0){echo "grid-row1"; }else {echo "grid-row2";} ?>' style="margin-left:0px;width:97%;">
			<div class='grid-column1' style="width:33%;padding-left: 0px;text-align: center;margin-top:5px;"><?php 
				if(isset($batchname->tutor_location) && $batchname->tutor_location != "")
				{
					if($batchname->tutor_location=="1")
					{
						echo "At student's home";
					}else
					{
						$loc = explode("/",$batchname->tutor_batch_name);    
						echo $loc[0];
						?><div id="viewmap" style="margin-left:47px;margin-top:-3px;"><a href="javascript:void(0);" class="hoverme" style="font-style: italic;color:#AAA5A4;cursor:pointer;float:left;font-size:12px;margin:3px 0 0 40px;" onclick="call_lightbox11(<?php if (isset($batchname->id) && $batchname->id!="") { echo $batchname->id;} ?>);recordOutboundLink('', 'location','view map','<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo  $this->tutordata->company_name;}else{echo  $this->tutordata->tutor_first_name." ".$this->tutordata->tutor_last_name;} ?>');return false;">(View Map)</a></div>
					<?php }
				
				}
				else {echo"-"; }
				?>
			</div>	
			<div class='grid-column1' style="width:32%;padding-left: 0px;text-align: center;margin-top:5px;"><?php if(isset($batchname->tutor_batch_from_timing) && $batchname->tutor_batch_from_timing != "")echo $batchname->tutor_batch_from_timing." to ".$batchname->tutor_batch_to_timing;else echo"-"; ?>
								<br /><?php if(isset($batchname->batch_summary_for_course) && $batchname->batch_summary_for_course != ""){
								$days = explode(", ",$batchname->batch_summary_for_course);    
								echo $days[1];}else {echo"-";} 
								?>
			</div>
			<div class='grid-column1' style="width:17%;padding-left: 0px;text-align: center;">
				<span class="blueheaderthin" style="float:right;margin-right:4px;margin-top:10px;clear:both;"><a class="submit_button" onClick="enrollhere(<?php echo $batchname->id; ?>,'');recordOutboundLink('', 'payment', 'bottom enrol icon','<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=''){echo  $this->tutordata->company_name;}else{echo  $this->tutordata->tutor_first_name.' '.$this->tutordata->tutor_last_name;} ?>');return false;" href="javascript:void(0);">Reserve</a></span>
			</div>
			<div class='grid-column1' style="width:11%;padding-left: 0px;text-align: center;">
				<span class="blueheaderthin" style="float:right;margin-right:4px;margin-top:10px;clear:both;">
					<a class="submit_button" rel="lightbox[external 400 180]" href="<?php echo BASEPATH;?>/tutor/deletebatch/batchid/<?php echo $batchname->id;?>">Delete</a>
				</span>
			</div>
		</div>
		<div class="showme" style="float:right;margin-right: 765px;margin-top:-59px;">
			<?php if(isset($batchname->tutor_class_dur_wks) && $batchname->tutor_class_dur_wks=="0")
				{ $weekdisplay="On-going monthly";
				}else
				{ $weekdisplay=$batchname->tutor_class_dur_wks; }
				if(isset($batchname->tutor_class_dur_dayspwk) && $batchname->tutor_class_dur_dayspwk=="0")
				{ $daydisplay="Flexible days | ";
				}else
				{ $daydisplay=$batchname->tutor_class_dur_dayspwk." a week | "; }
				if(isset($batchname->tutor_class_dur_hrspday) && $batchname->tutor_class_dur_hrspday=="0.5")
				{ $hrsdisplay="30 mins"; 
				}elseif(isset($batchname->tutor_class_dur_hrspday) && $batchname->tutor_class_dur_hrspday=="0.75")
				{ $hrsdisplay="45 mins"; }
				elseif(isset($batchname->tutor_class_dur_hrspday) && $batchname->tutor_class_dur_hrspday=="1")
				{ $hrsdisplay="1 hour"; }
				else
				{ $hrsdisplay=$batchname->tutor_class_dur_hrspday." hours"; }
				echo $weekdisplay." course ";?><br /><?php echo $daydisplay;?><?php echo $hrsdisplay." session"; ?>
				<br />Starts on : 
			<?php if(isset($batchname->batch_date) && $batchname->batch_date != "")echo " ".$batchname->batch_date;else echo "-"; ?>
		</div>
	</div>
	</form>
	<?php } 
$i+=1;
} }else	{ ?>
			<div class="infolinerow" style="margin-top:-20px;">
					<span class="nameoftutor" style="margin: 0 -40px;">Saved Batches</span></div>
			</div>
			<div style="margin-top:136px;color:#333;">No batches saved</div>
	<?php } ?>
</div>
</body>
</html>
