<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>Payment Step1.</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style type="text/css">/*brgv 28-04*/
body
{
	float:left;
	text-align:center;
	width:100%;
}
.skilltebs
{
	display:inline-block;
	width:790px;
	margin-top:10px;
}
.skilltebs ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs ul li
{
	float:left;
	display:inline;
	padding:9px 25px 10px 10px;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr.png);
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
    width: 225px;
}
.skilltebs ul li.active
{
	background-color:#00A7E6;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-act.png);
	cursor:default;
	color:#fff;
}
.skilltebs ul li.last
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-last.png);
}
.skilltebs ul li.first
{
	border-radius:5px 0 0 5px;
}
.skilltebs ul li.prev
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-prev.png);
}
#paymentstep2_form select
{
	height:32px !important;
	width:273px !important;
}
.formholder
{
	border:1px solid #00A7E6;
	min-height:auto !important;
}

.leftstep
{
	text-align:left;
	float:left;
}
.rightstep
{
	text-align:right;
	float:right;
}
.leftstep a
{
	color:#00A7E6;
	font-size:13px;
}
.smallnoticetext
{
	float: left;
    font-size: 14px;
    text-align: left;
    width: 640px;
}

.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:40px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.nameoftutor1 {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin:10px 0 0 0px;
}
.check
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    /*padding-left: 3px;*/
    height:0 !important;
    width:18px !important;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 16.51%;
	height:auto;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 0px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:40px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 14px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: unset;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:117px;
	color: #333333;
    font-size: 14px;
    text-align:center;
    padding: 0 0 0 2px;
    margin-top: 10px;
}
.infolinerow
{
	padding-left:0px;
}
.steprow1
{
	margin-top:15px;
}
a.linkclass
{
	color: #00A7E6;font-size: 13px;
}
a.linkclass:hover
{
	color: #FF6633;
	cursor:pointer;
}
span.link
{
	color: #00A7E6;font-size: 13px;
}
span.link:hover
{
	color: #FF6633;
	cursor:pointer;
}
.selectdropdown
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}
.stepcol1
{
	width:171px;
}
.steprow1
{
	width:61%;
}
.onlyorangedisplay
{
	float:left;
}
.stepcol2
{
	width:255px;
}
.selectdropdown option
{
	background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
    padding: 2px !important;
}
.errorcls2
{
	height:15px;
	width:235px;
}
.orclass
{
	color: #00A7E6;
    font-family: handofsean,handofsean_IE;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}
#paymentstep2_form input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 217px;
}
.formholder
{
	min-height:250px;
}
.formholder {
   border:1px solid #00A7E6;
    border-radius: 5px;
    float: left;
    margin-bottom: 30px;
    margin-top: 10px;
    min-height: 400px;
    min-width: 500px;
    padding: 0 0 5px 19px;
    width: 760px;
    margin-left: -14px;
}
.boxestitle1 {
   	border-bottom:1px solid #BECED5;
	height:40px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
    border-radius: 0 0 0 7px;
}

.boxesDiv1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #beced5 #beced5;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 1px 1px;
    float: left;
    height: auto;
    width: 83.15%;
     border-radius: 0 0 0 7px;

}


.boxesDiv2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #beced5 #beced5;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 1px 1px;
    float: left;
    height: auto;
    width: 16.51%;
}
#live-chat {
    position: fixed;
    bottom: 0;
    right: 0px;
    -moz-box-shadow: -2px 0 5px #aaa;
    -webkit-box-shadow: -2px 0 5px #aaa;
    box-shadow: -2px 0 5px #aaa;
    height:400px;
    width:550px;;
}
.cart-change {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: inline-block;
    height: 21px;
    padding: 5px 9px 0;
    width: 24px;
}
.cart-textbox {
    padding: 5px 10px;
    text-align: center;
    width: 24px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 13px;
    resize: none;
}
.cart-textbox:focus {
	border-color: #00A7E6;
	outline: none;
}
.cart-save {
    color: #00A7E6;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}
.cart-save:hover {
	 color: #ff6633;
	 text-decoration: none;
}
</style>
<script language="JavaScript">

window.onload = function(){
	document.getElementById("Save_for_nofstudents").onclick = function(){
			saveForm('<?php echo BASEPATH; ?>/tutor/paymentstep1/batchid/<?php echo $this->batchviewResult->id; ?>','paymentstep1_step','paymentstep1_step');	
		errordisplay();
	}
	document.getElementById("makepayment").onclick = function(){
			if(document.getElementById('slot_value').value == ""){
				$('#slot_value_error').html('Please select a slot! ');
			}
			else if(document.getElementById('terms').checked == 0)
				{
					$('#terms_error').html('Please agree to the terms and conditions of Skillzot.com ');
				}
			else
				{
					$('#terms_error').html('');
					$('#slot_value_error').html('');
					saveForm('<?php echo BASEPATH; ?>/tutor/paymentstep1/batchid/<?php echo $this->batchviewResult->id; ?>','paymentstep1_step','paymentstep1_step');
				}	
				
		}
};

function errordisplay()
{
	if(document.getElementById('noofstudents_error').innerHTML)
		{
			document.getElementById('batch_avail_error').style.display="none";
			document.getElementById('noofstudents_error').style.display="";
		}
	else{
			document.getElementById('noofstudents_error').style.display="none";
			document.getElementById('batch_avail_error').style.display="";
		}
}
function change_box(id){
	var cart_change = document.getElementById('cart_change').innerHTML;
	//alert(cart_change);
	if(cart_change)
	{

		document.getElementById('cart_write').style.display="";
		document.getElementById("noofstudents").focus();
		document.getElementById("noofstudents").select();	
		document.getElementById('cart_total').style.display="none";
	}else{
		document.getElementById('cart_write').style.display="none";
		document.getElementById('cart_total').style.display="";
	}
}

  

</script>
<script type="text/javascript">
var maxheight=0;
$(document).ready(function(){
	$('.Nameofcourse').each(function()
			{
				if($(this).height()>maxheight)
				{
					maxheight=$(this).outerHeight();
				}
				
			});
	$('.Nameofcourse').css('height',maxheight+5);
});
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=600,width=1024,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
</head>
<body>
<div class="skilltebs">
	<ul>
		<li class="active first">Confirm your reservation</li>
		<li>Enter your details</li>
		<li class="last">Make your payment</li>
	</ul>
</div>

<div id="step1" style="width:760px;margin:auto">

		<div id="paymentstep3_form" class="formholder">

			<form method="post" action="" name="paymentstep1_step" id="paymentstep1_step" >
					  	
			  	<!-- new design -->
			  	<div class="infolinerow" style="margin-top:10px;"><span class="nameoftutor">Confirm your reservation</span></div>
			  	<div class="infolinerow1" style="width:100%;margin-top:-10px;">
								<span class="nameoftutor1" id="courseauthor" style="color: #00a7e6;">Summary of your course</span>
						</div>
			  	<div class="infolinerow1 border" style="width:97%;margin-top:10px;">
			  		<div class="boxesDiv boxesDiv_first">
			  			<div class="boxestitle">Course details</div>
			  			<div class="Nameofcourse">
							<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="") {?>
							<?php $authUserNamespace->combinename=$this->coursesubdata->tutor_course_name." by ".ucfirst($this->tutordata->company_name);
					 		$authUserNamespace->classname=$this->coursesubdata->tutor_course_name."</br> by </br>".ucfirst($this->tutordata->company_name); 
							?>
							<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo $authUserNamespace->classname;}
								?>
							<?php  } else {?>
							<?php $authUserNamespace->combinename=$this->coursesubdata->tutor_course_name." by ".ucfirst($this->tutordata->tutor_first_name).ucfirst($this->tutordata->tutor_last_name);

					 			 $authUserNamespace->classname=$this->coursesubdata->tutor_course_name."</br> by </br>".ucfirst($this->tutordata->tutor_first_name).ucfirst($this->tutordata->tutor_last_name); 
					 			  if(isset($this->tutordata->tutor_first_name) && $this->tutordata->company_name=="") {echo $authUserNamespace->classname; }
					 			 ?>
							<?php } ?>
			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Slot & location</div>
			  			<div class="Nameofcourse">
			  			<?php if(isset($this->batchviewResult) && $this->batchviewResult!= "") {
								$gradeArray = $this->batchviewResult;
								$alllocationId = $gradeArray['batch_summary_for_course'];
								$locationIds = explode(":",$alllocationId);
						?>
						<a rel="lightbox[external 380 200]" href="<?php echo BASEPATH; ?>/tutor/slotselection/batchid/<?php echo $this->batchviewResult->id; ?>"  style="color:#00A7E6;font-size:12px;float:left; margin: 8px 30px;cursor:pointer;">Pick a slot</a><br>
						
						<?php
								echo "at<br>".trim($locationIds[0]," "); }?>
			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Duration</div>
			  			<div class="Nameofcourse">

			  				<?php if(isset($this->batchviewResult->tutor_class_dur_wks) && $this->batchviewResult->tutor_class_dur_wks=="0")
									  { $weekdisplay="On-going monthly";
							          }else
							          { $weekdisplay=$this->batchviewResult->tutor_class_dur_wks; }
							          if(isset($this->batchviewResult->tutor_class_dur_dayspwk) && $this->batchviewResult->tutor_class_dur_dayspwk=="0")
									  { $daydisplay="Flexible days";
							          }else
							          { $daydisplay=$this->batchviewResult->tutor_class_dur_dayspwk; }
							          if(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.5")
							          { $hrsdisplay="30 mins"; 
									  }elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.75")
							          { $hrsdisplay="45 mins"; }
							          elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="1")
							          { $hrsdisplay="1 hour"; }
							          else
							          { $hrsdisplay=$this->batchviewResult->tutor_class_dur_hrspday." hours"; }
								echo $weekdisplay." course <br> ".$daydisplay." a week <br> ".$hrsdisplay ?>

			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Price of the course</div>
			  			<div class="Nameofcourse"> 
			  			<?php if(isset($authUserNamespace->tutorrate) && $authUserNamespace->tutorrate!= "") {echo $authUserNamespace->tutorrate;}?><br><?php echo "(".$authUserNamespace->feetype.")";?>
			  			<a href="JavaScript:newPopup('<?php echo BASEPATH;?>/tutor/terms');" class="linkclass" style="font-size:12px;float:left; margin: 20px 20px;">Refund policy</a>
			  			<span  class="openskillbox link" rel="<?php echo BASEPATH;?>/tutor/surcharge" style="font-size:12px;float:left; margin: -14px 27px;">Surcharge</span>
			  			</div>
							
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Quantity</div>
			  			<div class="Nameofcourse">
							<div class="cart-total" id="cart_total">
								<a class="cart-change" id="cart_change" name="cart_change" onclick="change_box(id);"><?php if(isset($authUserNamespace->nostudents) && $authUserNamespace->nostudents!="") { echo $authUserNamespace->nostudents; } else { $authUserNamespace->nostudents="1"; echo "1";} ?></a>
							</div>
							<div class="cart-write" id="cart_write" style="display:none;">
								<input class="cart-textbox" type="text" errortag="Number of students" value="<?php if(isset($authUserNamespace->nostudents) && $authUserNamespace->nostudents!="") { echo $authUserNamespace->nostudents; } else { $authUserNamespace->nostudents="1"; echo "1";} ?>" name="noofstudents" id="noofstudents"  maxlength="3" autocomplete="off">
								<br>
								<a class="cart-save" id="Save_for_nofstudents" name="Save_for_nofstudents" value="Save">Save</a>
							</div>
						</div>
			  			<input type="hidden" name="batch_avail" id="batch_avail" errortag="<?php echo "less than ".$this->batchviewResult->seat_available." students (because number of students left is ".$this->batchviewResult->seat_available.")"; ?>" value="<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { echo $this->batchviewResult->seat_available; } ?>" >
			  		</div>
			  		<?php $price= $authUserNamespace->nostudents*$authUserNamespace->tutorrate;
			  			  $authUserNamespace->price=$price;
			  		?>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Price for <?php echo $authUserNamespace->nostudents; ?> students (Rs.) </div>
			  			<div class="Nameofcourse"><?php echo $price;?></div>
			  		</div>
			  		<div class="boxesDiv1">
			  			<div class="boxestitle" style="height: 30px;padding-top: 15px;"><span style="margin-left:374px;">Internet handling charges (Rs)</span></div>
			  			<div class="boxestitle1" style="height: 30px;padding-top: 15px;background-color: #00A7E6;color:#FFFFFF;"><span style="margin-left:474px;">Grand Price (Rs) </span></div>
			  		</div>
			  		<div class="boxesDiv2 boxesDiv_last">
			  			<div class="boxestitle" style="height: 30px;padding-top: 15px;"><?php echo $internet_handle=$authUserNamespace->price * 0.02;$authUserNamespace->internet= $internet_handle;
			  			 ?></div>
			  			<div class="boxestitle" style="height: 30px;padding-top: 15px;background-color: #00A7E6;color:#FFFFFF; border-radius: 0 0 4px;">
			  				<?php $grandprice= $authUserNamespace->price+$internet_handle;
			  			  		  $authUserNamespace->grandprice=$grandprice; echo $grandprice; ?></div>
			  		</div>
			  	</div>
			  	<input type="hidden" name="slot_value" id="slot_value" errortag="slot value" value="<?php if (isset($authUserNamespace->slotvalue) && $authUserNamespace->slotvalue!="") { echo $authUserNamespace->slotvalue; } ?>" >

			  	<div class="infolinerow1" style="width:100%;margin-top:10px;">
			  		<div style="float:left;width:43%;margin:12px -17px;">
			  		<input type="checkbox" class="check"  name="terms" id="terms" style="border: 1px solid #000 !important;height: 13px !important;"> I agree to the <a href="JavaScript:newPopup('<?php echo BASEPATH;?>/terms-and-conditions');" style="color:#00A7E6;">terms and conditions</a> of Skillzot.com
			  		<div id="terms_error" class="errorcls2" style="width:330px;margin-left: 4px;margin-top: -5px"> </div>
			  		<div id="noofstudents_error" class="errorcls2" style="margin-top: -12px; width: 490px;"></div>
					<div id="batch_avail_error" class="errorcls2" style="margin-top: -165pxpx; width: 490px;margin-left: -15px;"></div>
					<div id="slot_value_error" class="errorcls2" style="margin-top: -66px; width: 171px;margin-left: -15px;"></div>
			  		</div>
			  		<div>
			  		<span type="button" id="makepayment" style="margin:50px 0 0 -293px;" name="makepayment" class="buttonDiv" value="Make payment">Continue</span>
			  		</div>
			  	</div>
				<div style="float:right;margin:-5px 25px 0 0;" class="stepcol2">
						<a href="<?php echo BASEPATH;?>/tutor/profile/tutorid/<?php echo $authUserNamespace->ptutorid;?>" class="backtoprof">Back</a>
				</div>

			</form>
		</div>
		<div class="steprow1"  style="margin-top: -22px;margin-left: -14px;">
		<a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=secure.ebs.in&lang=en" target="_blank">
			<img border="0" style="float:left;" src="/images/verisign.png">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/pci_logo.jpg">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/isoseal.png">
		</a>
		<a href="http://www.ebs.in/en/" target="_blank">
			<img border="0" style="float:left;" src="/images/EBSLogo.png">
		</a>
		</div>
		<div style="clear:both;"></div>
		<!-- <div class="skillbox" id="live-chat" style="right:0px; z-index:1;overflow-y: scroll;overflow-x:hidden;"> -->
		<?php //include_once dirname(dirname(__FILE__)).'/search/finalmessage1.phtml';?>
</div>
</body>
</html>
