<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<title>Payment Step1.</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>



<link href="/css/skillbox.css" type="text/css" rel="stylesheet">
<script type="text/javascript">

window.onload = function(){
	document.getElementById("checkout").onclick = function(){
			saveForm('<?php echo BASEPATH; ?>/tutor/paymentstep1','payment_step1','payment_step1');	

	}
};
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=600,width=1024,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
$("#btnClose").click(function (e)
{

e.preventDefault();
sessionStorage.setItem('advertOnce','true');
});
  
$(document).ready(function() {

if (sessionStorage.getItem('advertOnce') !== 'true') {
var $myPanel = $("#live-chat");


var $myPanelHeight = parseInt($myPanel.height());


$myPanel.css({ "opacity" : 0, "bottom" : "-" + $myPanelHeight + "px" });




setTimeout(function() {
$myPanel.animate({
    opacity: 1,
    bottom: '0'
	
  }, 2000, function() {
  });
}, 3000); 

sessionStorage.setItem('advertOnce','true');
}
}); 


</script>

<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>/*brgv 28-04*/
#live-chat {
    position: fixed;
    bottom: 0;
    right: 0px;
    -moz-box-shadow: -2px 0 5px #aaa;
    -webkit-box-shadow: -2px 0 5px #aaa;
    box-shadow: -2px 0 5px #aaa;
    height:400px;
    width:550px;;
}

.skilloverlay {
    background-image: url("../images/transpbg.png");
    float: left;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 99998;
}
span#cancelskill1 {
    background: transparent url("../images/WhiteClose.png") no-repeat scroll center center;
    color: #19558d;
    cursor: pointer;
    float: right;
    height: 26px;
    width: 26px;
}


body
{
	float:left;
	text-align:center;
	width:100%;
}
.skilltebs
{
	display:inline-block;
	width:790px;
	margin-top:10px;

}
.onlyorangedisplay
{
	float:left;
}
.skilltebs ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs ul li
{
	float:left;
	display:inline;
	padding:9px 25px 10px 10px;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr.png);
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
    width: 160px;
}
.skilltebs ul li.active
{
	background-color:#00A7E6;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-act.png);
	cursor:default;
	color:#fff;
}
.skilltebs ul li.last
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-last.png);
}
.skilltebs ul li.first
{
	border-radius:5px 0 0 5px;
}
.skilltebs ul li.prev
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-prev.png);
}
.formholder {
    border: 8px solid #cdecfc;
    border-radius: 5px;
    float: left;
    margin-bottom: 30px;
    margin-top: 10px;
    min-height: 400px;
    min-width: 500px;
    padding: 10px 0 10px 20px;
    width: 760px;
    margin-left: -14px;
}
#paymentstep1_form select
{
	height:32px !important;
	width:273px !important;;
}
.formholder
{
	border:1px solid #00A7E6;
	min-height:auto !important;term
}
.leftstep
{
	text-align:left;
	float:left;
}
.rightstep
{
	text-align:right;
	float:right;
}
.leftstep a
{
	color:#00A7E6;
	font-size:13px;
}
.smallnoticetext
{
	float: left;
    font-size: 14px;
    text-align: left;
    width: 640px;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:40px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.nameoftutor1 {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin:10px 0 0 0px;
}
.check
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    /*padding-left: 3px;*/
    height:0 !important;
    width:18px !important;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 24.8%;
	height:auto;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 7px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:23px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 14px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: unset;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:100%;
	min-height:75px;
	color: #333333;
    font-size: 14px;
    text-align:center;
}
.infolinerow
{
	padding-left:0px;
}
.steprow1
{
	margin-top:15px;
}
a.linkclass
{
	color: #00A7E6;font-size: 13px;
}
a.linkclass:hover
{
	color: #FF6633
}
.selectdropdown
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}
.selectdropdown option
{
	background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
    padding: 2px !important;
}
.errorcls2
{
	height:15px;
	width:481px;
}
.orclass
{
	color: #00A7E6;
    font-family: handofsean,handofsean_IE;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}

#paymentstep1_form input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 262px;
}
.stepsTab
{
	width:726px;
	height:41px;
	border:1px solid;
}
.stepsTab ul
{
	float:left;
	list-style:none;
}
.stepsTab ul li
{
	float:left;
}
.infolinerow1 {
    color: #333333;
    float: left;
    font-size: 12px;
    margin-top: -5px;
    padding: 0;
    width: 313px;
}
</style>
</head>
<body>
<div class="skilltebs">
	<ul>
		<li class="active first">Reserve your course</li>
		<li>Enter your details</li>
		<li>Confirm your reservation</li>
		<li class="last">Make your payment</li>
	</ul>
</div>
<div id="step1" style="width:760px;margin:auto">
		
		<div id="paymentstep1_form" class="formholder">
			<form method="post" action="" name="payment_step1" id="payment_step1" enctype="multipart/form-data">
				<div class="infolinerow" style="margin-top:10px;"><span class="nameoftutor">Reserve your course</span></div>
				<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name=="") {?>
				<?php $authUserNamespace->combinename=$this->coursesubdata->tutor_course_name." by ".ucfirst($this->tutordata->tutor_first_name).ucfirst($this->tutordata->tutor_last_name);

					  $authUserNamespace->classname=$this->coursesubdata->tutor_course_name."</br> by </br>".ucfirst($this->tutordata->tutor_first_name).ucfirst($this->tutordata->tutor_last_name); 
				?>
							<div class="infolinerow1" style="width:100%;">
								<span class="nameoftutor1" id="courseauthor" style="color: #00a7e6;">
								<?php if (isset($this->coursesubdata->tutor_course_name) && $this->coursesubdata->tutor_course_name!="" ){echo $this->coursesubdata->tutor_course_name; }else{echo "-";} ?> <span style="color: #333333;">by</span>
								<?php
								if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){ echo ucfirst($this->tutordata->tutor_first_name);}
								if(isset($this->tutordata->tutor_last_name)){echo " ".ucfirst($this->tutordata->tutor_last_name);}?></span>
							</div>
				<?php  } ?>
				<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="") {?>
				<?php $authUserNamespace->combinename=$this->coursesubdata->tutor_course_name." by ".ucfirst($this->tutordata->company_name);
					 $authUserNamespace->classname=$this->coursesubdata->tutor_course_name."</br> by </br>".ucfirst($this->tutordata->company_name); 
				?>
							<div class="infolinerow1" style="width:100%;">
								<span class="nameoftutor1" id="courseauthor" style="color: #00a7e6;">
								<?php if (isset($this->coursesubdata->tutor_course_name) && $this->coursesubdata->tutor_course_name!="" ){echo $this->coursesubdata->tutor_course_name; }else{echo "-";} ?> <span style="color: #333333;">by</span>
								<?php
								if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){ echo ucfirst($this->tutordata->company_name);}
								?></span>
							</div>
				<?php } ?>
							  	<div class="steprow1">
	  				<div class="stepcol1">
					<div style="float:left;"> Batch summary :</div>
					</div>
					<div class="stepcol2" style="font-size:14px;">
							<?php if (isset($this->batchviewResult) && $this->batchviewResult!="" ){echo $this->batchviewResult->batch_summary_for_course;}else{echo "-";}?>
					</div>
			  	</div>
				<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;"> Batch start date :</div>
							<!--<span class="onlyorangedisplay"> *</span>-->
					</div>
					<div class="stepcol2" style="font-size:14px;">
							<?php if($this->batchviewResult->batch_date=="No fixed start date")
							{ echo $this->batchviewResult->batch_date; }else 
							{	echo date('l,
							 jS \of F Y', strtotime($this->batchviewResult->batch_date));   }?>

					</div>
			  	</div>		
				<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;"> Fees :</div>
							<!--<span class="onlyorangedisplay"> *</span>-->
					</div>
					<div class="stepcol2" style="font-size:14px;">
							<?php if (isset($this->coursesubdata->tutor_rate) && $this->coursesubdata->tutor_rate){echo " <img src='/images/rupee.png' height='14' width='14'> ".$this->coursesubdata->tutor_rate;}else{echo "-";}
								if (isset($this->coursesubdata->tutor_pay_feetype) && $this->coursesubdata->tutor_pay_feetype)
								{
									$feestypeObj = new Skillzot_Model_DbTable_Tutorfeetype();
									$fees_id = $this->coursesubdata->tutor_pay_feetype;
									$tcourseData = $feestypeObj->fetchRow("fee_type_id = $fees_id");
									$authUserNamespace->feetype=$tcourseData->fee_type_name;
									$jj = " ".$tcourseData->fee_type_name;
									if ((isset($this->coursesubdata->rate_comments)) && $this->coursesubdata->rate_comments!=NULL && $this->coursesubdata->rate_comments!=" " && $this->coursesubdata->rate_comments!="Comments if any...")
									{										
										$comment= " (".$this->coursesubdata->rate_comments.")";
										echo strtolower($jj).$comment;
									}
									else 
									{
										echo strtolower($jj);
									}
								}
							?>
					</div>
			  	</div>
			  	<div class="steprow1" style="margin-top:0px;margin-left:200px;">
			  		<a href="JavaScript:newPopup('<?php echo BASEPATH;?>/tutor/terms/course_id/<?php echo $this->batchviewResult->course_id; ?>');" class="linkclass" style="font-size:12px;float:left;">Refund policy</a>
			  	</div>
			  

			  <!-- 	<div class="steprow1">
	  				<div class="stepcol1">
					<div style="float:left;"> Location of lessons :</div>
					</div>
					<div class="stepcol2" style="font-size:14px;">
							<?php if (isset($this->batchviewResult_loc) && $this->batchviewResult_loc!="" ){echo $this->batchviewResult_loc;echo "<br/>";}

								if (isset($this->batchviewResult) && $this->batchviewResult!="") { echo "(".$this->batchviewResult->travel_radius.")"; }?>
					</div>
			  	</div> -->
				<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;"> Number of students :</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text" style="width:35px;" errortag="Number of students" value="1" name="noofstudents" id="noofstudents" maxlength="3">
							<input type="hidden" name="batch_avail" id="batch_avail" errortag="<?php echo "less than ".$this->batchviewResult->seat_available." students (because number of students left is ".$this->batchviewResult->seat_available.")"; ?>" value="<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { echo $this->batchviewResult->seat_available; } ?>" >
							<div id="noofstudents_error" class="errorcls2" style="height:23px;"></div>
							<div id="batch_avail_error" class="errorcls2" style="height:23px;"></div>
					</div>
			  	</div>
				
			  	<!-- new design -->
			  	
			  		  
			  	<span type="button" style="margin-left:200px;" class="buttonDiv" value="Make payment" name="checkout" id="checkout">Reserve now</span>
			  	<div style="float:right;margin:138px 25px 0 0;width:255px;" class="stepcol2">
						<a href="<?php echo BASEPATH;?>/tutor/profile/tutorid/<?php echo $authUserNamespace->ptutorid;?>" class="backtoprof">Back</a>
				</div>
			  	<!-- new design -->
			</form>
		</div>
		<div class="steprow1"  style="margin-top: -22px;margin-left: -14px;"  id="last">
		<a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=secure.ebs.in&lang=en" target="_blank">
			<img border="0" style="float:left;" src="/images/verisign.png">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/pci_logo.jpg">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/isoseal.png">
		</a>
		<a href="http://www.ebs.in/en/" target="_blank">
			<img border="0" style="float:left;" src="/images/EBSLogo.png">
		</a>
		</div>
		<div style="clear:both;"></div>

<div class="skillbox" id="live-chat" style="right:0px; z-index:1;overflow-y: scroll;overflow-x:hidden;">
	<span class="cancel" id="btnClose">
<span id="cancelskill" ></span>
</span>
<?php include_once dirname(dirname(__FILE__)).'/search/finalmessage1.phtml';?>
</div>



</body>
</html>
