<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<HTML>
<HEAD>
<TITLE>E-Billing Solutions Pvt Ltd - Payment Page</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<style type="text/css">
body
{
	float:left;
	text-align:center;
	width:100%;
}
.skilltebs
{
	display:inline-block;
	width:790px;
	margin-top:10px;
}
.skilltebs ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs ul li
{
	float:left;
	display:inline;
	padding:9px 25px 10px 10px;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr.png);
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
  	width: 225px;
}
.skilltebs ul li.active
{
	background-color:#00A7E6;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-act.png);
	cursor:default;
	color:#fff;
}
.skilltebs ul li.last
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-last.png);
}
.skilltebs ul li.first
{
	border-radius:5px 0 0 5px;
}
.skilltebs ul li.prev
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-prev.png);
}
.formholder {
    border: 8px solid #cdecfc;
    border-radius: 5px;
    float: left;
    margin-bottom: 30px;
    margin-top: 10px;
    min-height: 400px;
    min-width: 500px;
    padding: 10px 0 10px 20px;
    width: 760px;
    margin-left: -14px;
}
#frmTransaction_form select
{
	height:32px !important;
	width:273px !important;;
}
.onlyorangedisplay
{
	float:left;
}
.formholder
{
	border:1px solid #00A7E6;
	min-height:auto !important;
}
.leftstep
{
	text-align:left;
	float:left;
}
.rightstep
{
	text-align:right;
	float:right;
}
.leftstep a
{
	color:#00A7E6;
	font-size:13px;
}
.smallnoticetext
{
	float: left;
    font-size: 14px;
    text-align: left;
    width: 640px;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:40px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.nameoftutor1 {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin:7px 0 0 0px;
}
.check
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    /*padding-left: 3px;*/
    height:0 !important;
    width:18px !important;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 24.8%;
	height:auto;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 7px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:23px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 14px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: unset;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:100%;
	min-height:75px;
	color: #333333;
    font-size: 14px;
    text-align:center;
}
.infolinerow
{
	padding-left:0px;
}
.steprow1
{
	margin-top:15px;
}
a.linkclass
{
	color: #00A7E6;font-size: 13px;
}
a.linkclass:hover
{
	color: #FF6633
}
.selectdropdown
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}
.selectdropdown option
{
	background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
    padding: 2px !important;
}
.errorcls2
{
	height:15px;
	width:400px;
}
.orclass
{
	color: #00A7E6;
    font-family: handofsean,handofsean_IE;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}

#frmTransaction_form input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 262px;
}
.stepcol1 {
    width: 171px;
}
.infolinerow1 {
    color: #333333;
    float: left;
    font-size: 12px;
    margin-top: -5px;
    padding: 0;
    width: 313px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-right:1px solid #999999;
	padding: 14px;
}
.halfPart .Field
{
	float:left;
}
.halfPart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:79px;
	padding:7px 8px 0 0;
	float:left;
}
/*.halfPart .Field input[type="text"],.halfPart .Field input[type="password"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}*/
.halfPart .Field .errortext
{
	width:177px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:88px;
    padding:5px 0;
}
.halfPart .Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:280px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:56px;
    padding:5px 0;
    text-decoration:none;
}
.halfPart .Field .forgotPass:hover
{
	color: #FF6633;
}
</style>
</HEAD>
<script type="text/javascript">

window.onload = function(){
			<?php if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="") ||(isset($authUserNamespace->studentid) && $authUserNamespace->studentid !="")){?>
				$('#hideshow').css('display','none');
				$('#hideshow1').css('display','block');

			<?php }else{ ?>
				$('#hideshow').css('display','block');
				$('#hideshow1').css('display','none');	
			<?php }?>		

				<?php if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="") ||(isset($authUserNamespace->studentid) && $authUserNamespace->studentid !="")){?>
					document.getElementById("save").onclick = function(){
					
					saveForm('<?php echo BASEPATH; ?>/tutor/paymentstep2/batchid/<?php echo $authUserNamespace->pbatchid;?>/courseid/<?php echo $authUserNamespace->pcourseid;?>','payment_step2','payment_step2');

				<?php } else {?>
					document.getElementById("checkout").onclick = function(){
				var Useremail = document.getElementById("UserEmail").value;
				var Userpassword =document.getElementById("UserPassword").value;
				
				$.ajax({
					url: '<?php echo BASEPATH; ?>/login/checklogin',
					type: "post",
					data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
					success: function(response){
						
						var jsonObject = eval("(" + response + ")");
						if(jsonObject!=null && jsonObject!=""){
						
						if(jsonObject['returnvalue']=="success"){
							
							$.ajax({
								url: '<?php echo BASEPATH; ?>/login/performlogin',
								type: "post",
								data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
								success: function(response){
									var jsonObject = eval("(" + response + ")");
									if(jsonObject!=null && jsonObject!=""){
										if(jsonObject['returnvalue']=="success")
										{
									
										 window.location.href="<?php echo BASEPATH; ?>/tutor/paymentstep2/batchid/<?php echo $authUserNamespace->pbatchid;?>/courseid/<?php echo $authUserNamespace->pcourseid;?>";
										
											
										}	
										else if(jsonObject['returnvalue']=="unsucess"){
											document.getElementById("UserEmail").value = "";
											document.getElementById("UserPassword").value = "";
											document.getElementById("UserEmail_error").innerHTML = "";
											document.getElementById("UserPassword_error").innerHTML = "";
											document.getElementById("errorclasssmall").innerHTML = "Invalid email or password";
										}
									}
									
								},
								error: function(XMLHttpRequest, textStatus, errorThrown){
									jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
								}
							});
														
						}
						else if(jsonObject['returnvalue']=="validation"){
							
							var validationData = jsonObject['data'];
							
							for(key in validationData){

								var currentObject = document.getElementById(key);
								if(currentObject!=null){
									
									var currentErrorObject = document.getElementById(key+"_error");
									if(validationData[key]=="null")currentErrorObject.innerHTML = "Please enter your " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="emailinvalid")currentErrorObject.innerHTML = "Oops! That seems to be an invalid email.";
									else if(validationData[key]=="conformpassnull")currentErrorObject.innerHTML = "Please confirm your password";
									else if(validationData[key]=="invalid")currentErrorObject.innerHTML = "Invalid value for " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="notmatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + "entered not matching";
									else if(validationData[key]=="wrong")currentErrorObject.innerHTML =  "Wrong " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="duplicate")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag") + " is already registered";
									else if(validationData[key]=="either")currentErrorObject.innerHTML = "Either enter value for " + currentObject.getAttribute("errortag") + " or Special Offer Banner Content";
									else if(validationData[key]=="duplicate_combination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is already registered";
									else if(validationData[key]=="notcombination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is not registered";
									else if(validationData[key]=="valid")currentErrorObject.innerHTML = "&nbsp;";
									else{
										currentValidationData = jsonObject['data'][key];
										if(currentValidationData['code']!=null){
											if(currentValidationData['code']=="nomatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " does not match the " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
											if(currentValidationData['code']=="match")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " cannot be same as " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
										}
										else currentErrorObject.innerHTML = "unknown response code";
									}
								}
							}
							}
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
					}
				});
				<?php }?>	
			}
				
		};
		function callfacebook(urlValue){
		
			FB.init({
				appId  : '444557608950929',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true  // parse XFBML
			});
			FB.login(function(response) {
				   if (response.authResponse) {
				  
					   window.location.href="<?php echo BASEPATH;?>/index/facebooklogin?url="+urlValue;
					    var uid = response.authResponse.userID;
						var accessToken = response.authResponse.accessToken;
				   } else {
					 
				   }},
				   {scope:'email'});

			
		}
</script>
<script type="text/javascript">
function showName(a) {
	 document.getElementsByName("name")[0].value = a.value;
 //var show=  a.value;
 // alert(show);
}
function showAddress(b) {
  document.getElementsByName("address")[0].value = b.value;
}
function showCity(c) {
  document.getElementsByName("city")[0].value = c.value;
}
function showState(d) {
  document.getElementsByName("state")[0].value = d.value;
}
function showPostal(e) {
  document.getElementsByName("postal_code")[0].value = e.value;
}
function showTelephone(f) {
  document.getElementsByName("phone")[0].value = f.value;
}
</script>
<body>
<?php  $billdetailsobj= new Skillzot_Model_DbTable_Billdetails();
	   if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="")) 
	   {
				$billdata=$billdetailsobj->fetchRow("tutor_id = '$authUserNamespace->maintutorid'");
	   }
	   else
	   {
				if((isset($authUserNamespace->studentid) && $authUserNamespace->studentid !=""))
				{
						$billdata1=$billdetailsobj->fetchRow("std_id = '$authUserNamespace->studentid' && batch_id='$authUserNamespace->pbatchid'");
						if(isset($billdata1) && $billdata1!="")
						{
							$billdata=$billdetailsobj->fetchRow("std_id = '$authUserNamespace->studentid' && batch_id='$authUserNamespace->pbatchid'");
						}
						else
						{
							$billdata=$billdetailsobj->fetchRow("std_id = '$authUserNamespace->studentid'");
						}
				}
	    }

?>
<?php
/*function rand_string( $length ) {
						$chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";	

						$size = strlen( $chars );
						for( $i = 0; $i < $length; $i++ ) {
						$str .= $chars[ rand( 0, $size - 1 ) ];
						}

						return $str;
						}*/
?>
<div class="skilltebs">
	<ul>
		<li class="first prev">Reserve your course</li>
		<li class="active">Enter your details</li>
		<li class="last">Make your payment</li>
	</ul>

</div>
<div id="step1" style="width:760px;margin:auto">
		<div id="frmTransaction_form" class="formholder">
			
			<div class="infolinerow" style="margin-top:10px;"><span class="nameoftutor">Enter your details </span></div>
			<?php 
			//echo "...ebs.........".$authUserNamespace->ebs_version;
			if($authUserNamespace->ebs_version == "test")
			{	?>
			<form method="post" action="https://secure.ebs.in/pg/ma/sale/pay" name="payment_step2" id="payment_step2" onSubmit="return validate()">
			<?php }else{ ?>
			 <form method="post" action="https://secure.ebs.in/pg/ma/payment/request" name="payment_step2" id="payment_step2" onSubmit="return validate()">
			<?php } ?>
			  	<div style="clear:both;"></div>
			  	<div id="hideshow" style="float:left;display:none;">
			  		<div class="infolinerow" style="margin-top:0px;font-size:14px !important;width:100%;"><span class="nameoftutor1" id="courseauthor" style="color: #00a7e6;">You need to log in or sign up to reserve your seat for the class</span></div>
			  	<div class="halfPart borderleft" style="width:360px;height:139px;padding-left:0px;">
					<div class="Field" style="margin-top: -25px;">
					<p id="errorclasssmall" class="errortext" style="margin-left:92px;">
						<?php
							if(isset($authUserNamespace->checkerror) && $authUserNamespace->checkerror!="") echo "Invalid email or password";
							else  echo "&nbsp;";
							unset($authUserNamespace->checkerror);
						?>
						</p>
					</div>
					<div class="Field">
						<div style="color: #666666;float: left;font-size: 14px;font-weight: bold;padding: 7px 46px 0 0;">Email</div>
						<div class="stepcol2" style="width: 262px;">
						<input type="text"  Name="UserEmail" id="UserEmail" errortag="email" style="width: 237px;" autofocus></input>
						<p class="errortext" id="UserEmail_error"></p>
						</div>
					</div>
					<div class="Field">
						<div style="color: #666666;float: left;font-size: 14px;font-weight: bold;padding: 7px 16px 0 0;">Password</div>
						<div class="stepcol2" style="width: 262px;">
						<input type="password" Name="UserPassword" id="UserPassword" style="width: 237px;" errortag="password"></input>
						<p class="errortext" id="UserPassword_error" style="display:none;"></p>
						</div>
					</div>
					<div class="Field">
					<a class="openskillbox errortext forgotPass" rel="<?php echo BASEPATH;?>/login/forgetpass" >Forgot your password?</a>
					</div>	
					<span type="button" style="margin-left:255px;" class="buttonDiv" value="login" name="checkout" id="checkout">Continue</span>
				</div>

				<div class="halfPart" style="width:307px;float:left; padding: 12px 0 0;">
					<a href="javascript:void(0);"><img onclick="callfacebook('<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>');recordOutboundLink('', 'login','top login button','through fb');return false;" src="<?php echo BASEPATH; ?>/images/connectFb.png"/></a>
				</div>
				<input type="hidden" id="fbloginvalue_for_redirect" name="fbloginvalue_for_redirect" value="<?php echo $url = (!empty($_SERVER['HTTPS'])) ? "https://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'] : "http://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; ?>" />
			  	<div class="steprow1" style="width:100%;margin-top:0px;">
			  		<div class="stepcol1">
					</div>
					<div class="stepcol2" style="width:60%;margin: 12px 0 0;">
							<div style="float:left;"><span class="nameoftutor1">Not a member, <a href="javascript:void(0);" style="color:#00A7E6;height:181px;" class="loginstyledefault openskillbox" id="headerloginidforloginprocess" rel="<?php echo BASEPATH; ?>/login/signup2<?php if(isset($this->batchId) && $this->batchId!=""){echo "/batchid/".$this->batchId;}?>?url=<?php   $url = (!empty($_SERVER['HTTPS'])) ? "https://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'] : "http://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; echo urlencode($url);  ?>">create an account</a> in less than 7 seconds.</span></div>
					</div>
			  	</div>
				  	
			  	<div style="float:right;margin:108px 25px 0 0;width:255px;" class="stepcol2">
						<a href="<?php echo BASEPATH; ?>/tutor/paymentstep1/batchid/<?php echo $authUserNamespace->pbatchid; ?>/courseid/<?php echo $authUserNamespace->pcourseid; ?>" class="backtoprof">Back</a>
				</div>
				</div>
				<div id="hideshow1" style="float:left;display:none;">
			  	<div class="steprow1">
					<div class="stepcol1">
							<div style="float:left;">Name</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text" errortag="name" value="<?php if(isset($billdata) && $billdata != ""){ echo $billdata->name;}?>" name="uname" id="uname" onblur="showName(this);">
							<div id="uname_error" class="errorcls2"></div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">
							<div style="float:left;">Address</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text" errortag="address" value="<?php if(isset($billdata) && $billdata != ""){ echo $billdata->address;}?>" name="uaddress" id="uaddress" onblur="showAddress(this);">
							<div id="uaddress_error" class="errorcls2"></div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">
							<div style="float:left;">City</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text"  errortag="city" value="<?php if(isset($billdata) && $billdata != ""){ echo $billdata->city;}?>" name="ucity" id="ucity" onblur="showCity(this);"> 
							<div id="ucity_error" class="errorcls2"></div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">
							<div style="float:left;">State</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text"  errortag="state" value="<?php if(isset($billdata) && $billdata != ""){ echo $billdata->state;}?>" name="ustate" id="ustate" onblur="showState(this);">
							<div id="ustate_error" class="errorcls2"></div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">
							<div style="float:left;">ZIP/Postal Code</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text"  errortag="postalcode" value="<?php if(isset($billdata) && $billdata != ""){ echo $billdata->pincode;}?>" name="upostalcode" id="upostalcode" onblur="showPostal(this);">
							<div id="upostalcode_error" class="errorcls2"></div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">
							<div style="float:left;">Telephone</div>
							<span class="onlyorangedisplay"> *</span>
					</div>
					<div class="stepcol2">
							<input type="text"  errortag="telephone" value="<?php if(isset($billdata) && $billdata != ""){ echo $billdata->phone_no;}?>" name="utelephone" id="utelephone" onblur="showTelephone(this);">
							<div id="utelephone_error" class="errorcls2"></div>
					</div>
				</div>

				<?php $reference_no=rand(111111,999999);
					  $authUserNamespace->reference_no = $reference_no;
				?>
				<input name="reference_no" id="reference_no" type="hidden" value="<?php echo  $authUserNamespace->reference_no; ?>" />
				<span type="button" style="margin-left:173px;" class="buttonDiv" value="Make payment" name="save" id="save">Make payment</span>
			  	<div style="float:right;margin:40px 25px 0 0;width:255px;" class="stepcol2">
						<a href="<?php echo BASEPATH; ?>/tutor/paymentstep1/batchid/<?php echo $authUserNamespace->pbatchid; ?>/courseid/<?php echo $authUserNamespace->pcourseid; ?>" class="backtoprof">Back</a>
				</div>
				</div>
					<?php 
					//echo "ebs".$authUserNamespace->ebs_version;
					$billingObj= new Skillzot_Model_DbTable_Billdetails;
					if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="")) 
					{
						$billingDetailsResult = $billingObj->fetchRow("tutor_id ='$authUserNamespace->maintutorid' && batch_id='$authUserNamespace->pbatchid'");
						$name=$billingDetailsResult->name;
						$address=$billingDetailsResult->address;
						$city=$billingDetailsResult->city;
						$state=$billingDetailsResult->state;
						$pincode=$billingDetailsResult->pincode;
						$phone_no=$billingDetailsResult->phone_no;
						$reference_no=$authUserNamespace->reference_no;
						$price=$authUserNamespace->price;
						$grandprice=$authUserNamespace->grandprice;

					}
					else
					{
						if((isset($authUserNamespace->studentid) && $authUserNamespace->studentid !=""))
						{
							$billingDetailsResult = $billingObj->fetchRow("std_id ='$authUserNamespace->studentid' && batch_id='$authUserNamespace->pbatchid'");
							$name=$billingDetailsResult->name;
							$address=$billingDetailsResult->address;
							$city=$billingDetailsResult->city;
							$state=$billingDetailsResult->state;
							$pincode=$billingDetailsResult->pincode;
							$phone_no=$billingDetailsResult->phone_no;
							$reference_no=$authUserNamespace->reference_no;
							$price=$authUserNamespace->price;
							$grandprice=$authUserNamespace->grandprice;

						}
					}
					if($authUserNamespace->ebs_version == "test")
					{
						//$return_url= "http://skillzot.com/tutor/response";

						$return_url= "http://localhost/ebs/response.php?DR={DR}";
						$hash = "ebskey"."|"."5880"."|".$grandprice."|".$reference_no."|".$return_url."|"."TEST";
						// echo $hash;exit;
						$secure_hash = md5($hash);

						$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
						$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
						if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="")) 
						{
							$tutorData = $tutorProfile->fetchRow("id ='$authUserNamespace->maintutorid'");
							$email=$tutorData->tutor_email;
						}
						else
						{
							if((isset($authUserNamespace->studentid) && $authUserNamespace->studentid !=""))
							{
							$studentsignup_row = $studentSignupObj->fetchRow($studentSignupObj->select()
							->where("id='$authUserNamespace->studentid'"));	 	
							$email=$studentsignup_row->std_email;

							}
						}

					?> 
					<input name="account_id" id="account_id" type="hidden" value="5880">
					<input name="return_url" id="return_url" type="hidden" size="60" value="<?php echo $return_url;?>" />
					<input name="mode"  id="mode" type="hidden" size="60" value="TEST" />
					<input name="reference_no" id="reference_no" type="hidden" value="<?php echo  $reference_no; ?>" />
					<input name="amount"  id="amount" type="hidden" value="<?php echo $grandprice;?>"/>
					<input name="description" id="description" type="hidden" value="tutorprice" /> 
					<input name="name"  id="name" type="hidden" maxlength="255" value="<?php echo $name;?>" />
					<input name="address"  id="address" type="hidden" maxlength="255" value="<?php echo $address;?>" />
					<input name="city" id="city" type="hidden" maxlength="255" value="<?php echo $city;?>" />
					<input name="state" id="state" type="hidden" maxlength="255" value="<?php echo $state;?>" />
					<input name="postal_code"  id="postal_code" type="hidden" maxlength="255" value="<?php echo $pincode; ?>" />
					<input name="country" id="country"  type="hidden" maxlength="255" value="<?php echo "IND"; ?>" />
					<input name="phone" id="phone" type="hidden" maxlength="255" value="<?php echo $phone_no; ?>" />
					<input name="email" id="email" type="hidden" size="60" value="<?php echo $email;?>" />
					<input name="secure_hash" id="secure_hash" type="hidden" size="60" value="<?php echo $secure_hash;?>" /> 

					<?php }else{ 

					/*$my_string = rand_string( 10 );
					$authUserNamespace->encodedata = $my_string;
					$encode = urlencode($authUserNamespace->encodedata);
					$return_url= "http://localhost/tutor/response?fetchdata=".$encode;*/

					$return_url= "http://localhost/tutor/response";
					$hash = "af36d3fadf10a6faab09bd893ce74a33"."|"."12015"."|".$grandprice."|".$reference_no."|".$return_url."|"."LIVE";
					// echo $hash;exit;
					$secure_hash = md5($hash);

					$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
					$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
					if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="")) 
					{
						$tutorData = $tutorProfile->fetchRow("id ='$authUserNamespace->maintutorid'");
						$email=$tutorData->tutor_email;
					}
					else
					{
						if((isset($authUserNamespace->studentid) && $authUserNamespace->studentid !=""))
						{
							$studentsignup_row = $studentSignupObj->fetchRow($studentSignupObj->select()
							->where("id='$authUserNamespace->studentid'"));	 	
							$email=$studentsignup_row->std_email;

						}
					}
					?>
					<input name="channel" type="hidden" value="0" />
					<input name="account_id" type="hidden" value="12015" />
					<input name="reference_no" type="hidden" value="<?php echo  $reference_no; ?>" />
					<input name="amount" type="hidden" value="<?php echo $grandprice;?>" />
					<input name="mode" type="hidden" value="LIVE" />
					<input name="currency" type="hidden" value="INR" />
					<input name="description" type="hidden" value="tutrpice" />
					<input name="return_url" type="hidden" value="<?php echo $return_url;?>" />
					<input name="name" type="hidden" value="<?php echo $name;?>" />
					<input name="address" type="hidden" value="<?php echo $address;?>" />
					<input name="city" type="hidden" value="<?php echo $city;?>" />
					<input name="state" type="hidden" value="<?php echo $state;?>" />
					<input name="country" type="hidden" value="<?php echo "IND"; ?>" />
					<input name="postal_code" type="hidden" value="<?php echo $pincode; ?>" />
					<input name="phone" type="hidden" value="<?php echo $phone_no; ?>" />
					<input name="email" type="hidden" value="<?php echo $email;?>" />

					<input name="ship_name" type="hidden" value="" />
					<input name="ship_address" type="hidden" value="" />
					<input name="ship_country" type="hidden" value="" />
					<input name="ship_state" type="hidden" value="" />
					<input name="ship_city" type="hidden" value="" />
					<input name="ship_postal_code" type="hidden" value="" />
					<input name="ship_phone" type="hidden" value="" />

					<input name="bank_code" type="hidden" value="" />
					<input name="emi" type="hidden" value="" />
					<input name="page_id" type="hidden" value=""/>
					<input name="secure_hash" type="hidden" value="<?php echo $secure_hash;?>" /> 
					<?php } ?>
			</form>
	</div>
	<div class="steprow1"  style="margin-top: -22px;margin-left: -14px;">
		<a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=secure.ebs.in&lang=en" target="_blank">
			<img border="0" style="float:left;" src="/images/verisign.png">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/pci_logo.jpg">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/isoseal.png">
		</a>
		<a href="http://www.ebs.in/en/" target="_blank">
			<img border="0" style="float:left;" src="/images/EBSLogo.png">
		</a>
	</div>
		<div style="clear:both;"></div>
</div>

</body>
</html>
