<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>
<style>
body{
	margin:0px;
	padding:0;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	overflow-x:hidden; 
}
.loginMain
{
	float:left;
	width:590px;
	background-color:#fff;
}
.whitePart
{
	width: 520px;
	float:left;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:157px;
	padding:0px 8px 0 0;
	float:left;
}

.select
{
	width: 257px;
}
.whitePart .Field textarea 
{
	height: 70px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.text 
{
	height: 24px;
	padding-left:5px
	resize: none;
	width: 480px;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: -1px 1px 5px -1px #666666;
	resize: none;
}
.whitePart .Field .errortext
{
	width: 246px;	
	color: #FF6633;
    font-size: 12px;
    height: 7px;
   	margin: -30px 0 9px;
   	float:left;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}

.yesno
{
    font-size: 12px;
    color: #666666;
    margin-left: 35px;

}


</style>

<script type="text/javascript">
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/tutor/slotselection/batchid/<?php if(isset($this->batchId) && $this->batchId != "") echo $this->batchId; ?>','signupform','signupform');
				
			};
		};
function contby(value)
		{
			document.getElementById("slot").value=value;
		}

</script>
</head>
<body id="idforrefreshcontact">
<div class="loginMain">
	<div class="whitePart">
		<form action="" method="post" name="signupform" id='signupform' enctype="multipart/form-data">
		<div class="Field">
			<br>
			<span style="padding-left: 20px;">Select a slot:</span>
				
				<div class="yesno" style="width:100%">
					<?php if(isset($this->slot->tutor_batch_name) && $this->slot->tutor_batch_name !=""){?>
					<div style="margin-top:10px;"><input type="radio"  name="myradio" onclick="javascript:contby(this.value);" value="1"></div>
					<div style="margin-top:-14px;margin-left:23px;">
					
						<?php
						$dayArray = $this->slot->tutor_batch_name;
				  		//$alldayId = trim($dayArray, ',');
						$dayIds = explode("/",$dayArray);		
						//echo $dayIds[0];
						if(isset($dayIds) && sizeof($dayIds) > 2){

							echo $final_day1 = $dayIds[1]."&nbsp;&nbsp;&nbsp;".trim($dayIds[2],"-");
						}else{
							echo $final_day1 = $dayIds[0]."&nbsp;&nbsp;&nbsp;".trim($dayIds[1],"-");
						}
						
					 ?>
					</div>
					<?php } ?>
					<?php if(isset($this->slot->tutor_batch_from_timing1) && $this->slot->tutor_batch_to_timing1 !=""){?>
					<div style="margin-top:10px;"><input type="radio"  name="myradio" onclick="javascript:contby(this.value);" value="2"></div>
					<div style="margin-top:-14px;margin-left:23px;"><?php echo $this->slot->tutor_batch_from_timing1."-".$this->slot->tutor_batch_to_timing1; ?>
					<?php if(isset($this->slot->tutor_batch_day1) && sizeof($this->slot->tutor_batch_day1)!="") {
						?>&nbsp;
						<?php
						$dayArray = $this->slot->tutor_batch_day1;
				  		//$alldayId = trim($dayArray, ',');
						$dayIds = explode(",",$dayArray	);		
						//echo $dayIds[0];
						if($dayIds[0]=="1"){ $day1 = "Mon-";}else{$day1="";}
						if($dayIds[1]=="2"){ $day2 = "Tue-";}else{$day2="";}
						if($dayIds[2]=="3"){$day3 = "Wed-";}else{$day3="";}
						if($dayIds[3]=="4"){$day4 = "Thu-";}else{$day4="";}
						if($dayIds[4]=="5"){$day5 = "Fri-";}else{$day5="";}
						if($dayIds[5]=="6"){$day6 = "Sat-";}else{$day6="";}
						if($dayIds[6]=="7"){$day7 = "Sun";}else{$day7="";}		
						echo $final_day1 = trim($day1.$day2.$day3.$day4.$day5.$day6.$day7,"-");

					 } ?>
					</div>
					<?php } ?>
					<?php if(isset($this->slot->tutor_batch_from_timing2) && $this->slot->tutor_batch_to_timing2 !=""){?>
					<div style="margin-top:10px;"><input type="radio"  name="myradio" onclick="javascript:contby(this.value);" value="3"></div>
					<div style="margin-top:-14px;margin-left:23px;"><?php echo $this->slot->tutor_batch_from_timing2."-".$this->slot->tutor_batch_to_timing2; ?>
					<?php if(isset($this->slot->tutor_batch_day2) && sizeof($this->slot->tutor_batch_day2)!="") {
						?>&nbsp;
						<?php
						$dayArray = $this->slot->tutor_batch_day2;
				  		//$alldayId = trim($dayArray, ',');
						$dayIds = explode(",",$dayArray	);		
						//echo $dayIds[0];
						if($dayIds[0]=="1"){ $day1 = "Mon-";}else{$day1="";}
						if($dayIds[1]=="2"){ $day2 = "Tue-";}else{$day2="";}
						if($dayIds[2]=="3"){$day3 = "Wed-";}else{$day3="";}
						if($dayIds[3]=="4"){$day4 = "Thu-";}else{$day4="";}
						if($dayIds[4]=="5"){$day5 = "Fri-";}else{$day5="";}
						if($dayIds[5]=="6"){$day6 = "Sat-";}else{$day6="";}
						if($dayIds[6]=="7"){$day7 = "Sun";}else{$day7="";}		
						echo $final_day1 = trim($day1.$day2.$day3.$day4.$day5.$day6.$day7,"-");

					 } ?>
					</div>
					<?php } ?>
					<?php if(isset($this->slot->tutor_batch_from_timing3) && $this->slot->tutor_batch_to_timing3 !=""){?>
					<div style="margin-top:10px;"><input type="radio"  name="myradio" onclick="javascript:contby(this.value);" value="4"></div>
					<div style="margin-top:-14px;margin-left:23px;"><?php echo $this->slot->tutor_batch_from_timing3."-".$this->slot->tutor_batch_to_timing3; ?>
					<?php if(isset($this->slot->tutor_batch_day3) && sizeof($this->slot->tutor_batch_day3)!="") {
						?>&nbsp;
						<?php
						$dayArray = $this->slot->tutor_batch_day3;
				  		//$alldayId = trim($dayArray, ',');
						$dayIds = explode(",",$dayArray	);		
						//echo $dayIds[0];
						if($dayIds[0]=="1"){ $day1 = "Mon-";}else{$day1="";}
						if($dayIds[1]=="2"){ $day2 = "Tue-";}else{$day2="";}
						if($dayIds[2]=="3"){$day3 = "Wed-";}else{$day3="";}
						if($dayIds[3]=="4"){$day4 = "Thu-";}else{$day4="";}
						if($dayIds[4]=="5"){$day5 = "Fri-";}else{$day5="";}
						if($dayIds[5]=="6"){$day6 = "Sat-";}else{$day6="";}
						if($dayIds[6]=="7"){$day7 = "Sun";}else{$day7="";}		
						echo $final_day1 = trim($day1.$day2.$day3.$day4.$day5.$day6.$day7,"-");

					 } ?>
					</div>
					<?php } ?>
				</div>
					<div style="clear:both;"></div>
					
					<input type="hidden"  name="slot" id="slot" value="" errortag="Slot"/>
		</div>			
		<div id="slot_error" class="errorcls2"  style="margin-left: 21px;color: #f63;font-size: 12px;">&nbsp;</div>	
		
		<div class="Field" style="width:27%;margin-left:84px;margin-top:2px">
			<span id="save" class="submit_button" >Save</span>
		</div>
		</form>
	</div>
</div>
</body>
</html>
