<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>

<style>
body{
    margin:0px;
    font-size:12px;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
    float:left;
    padding:5px 0 5px 5px;
    background-color:#fff;
}
.contentbox p
{
    font-size:17px;
    font-weight:normal;
}
h1
{
    margin:0px;
}

.contentbox
{
    padding: 0px;
    float:left;
   
}
.contentarea1 h1, .contentarea h1
{
    margin:0px;
}
.errorclasssmall
{
    width: 300px;
}
</style>
<!--[if IE]>
<style>
.contentbox
{
    width:410px;
}
body{
    margin:0px;
    padding:0 20px 0 20px;
    font-size:12px;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
    float:left;
}
</style>
<![endIf]-->
<script>
function call_closebox(){
    parent.Mediabox.close();
}

</script>
<style>
.icons
{
    float:left;
    width:13%;
    margin-left:12px;
}
.texts
{
    float:left;
    width:81%;
}
.contentbox p
{
    font-size:15px;
}
.contentarea1
{
    padding:25px 0;
}
</style>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
        <div class="contentbox">    
            <div class="maincontent">
                <div class="contentarea">
                    <div class="icons">
                     
                    </div>
                    <div class="texts">
                        <h1>Surcharge</h1>
                        <p>We're available 10 a.m. to 6 p.m. Monday to Friday.</p>
                    </div>
                </div>
                
            </div>
            </div>
</body>
</html>