<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth');?>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<script type="text/javascript">

//function showflexdiv(batch_type)
//{
//	var tutor_id = '<?php echo '1';?>';
//	if(batch_type!=1)
//	{
//		document.getElementById("tablecaledar").style.display="block";
//		document.getElementById("batch_type_id").value = batch_type;
//		testfun(tutor_id,batch_type);
//	}else{
//		document.getElementById("tablecaledar").style.display="block";
//		document.getElementById("batch_type_id").value = batch_type;
//		testfun(tutor_id,batch_type);
//	}
//}
</script>
<style>
.notice{
	border:1px solid;
	float:left;
	height:12px;
}
.dayclass{
	float:left;
	border:1px solid #000000;
	background-color:#ECECEC;
	color:black;
	width:90px;
	text-align:center;
	font-weight:bold;
	line-height:32px;
	min-height:32px;
}
.timeclass{
	border:1px solid #000000;
	width:90px;
	text-align:center;
	font-weight:bold;
	line-height:26px;
	color:black;
	background-color:#ECECEC;
}
#tablecaledar
{
	width:736px;
	font-size:13px;
}

#caltable
{
font-size:11px;
}
.smallhead,.smallhead1
{
	border:1px solid #000000;
	background-color:#ECECEC;
	color:black;
	width:90px;
	font-weight:bold;
	line-height:32px;
	min-height:32px;
	float:left;	
}
.bighead,.bighead1
{
	border:1px solid #000000;
	background-color:#ECECEC;
	color:black;
	width:642px;
	font-weight:bold;
	line-height:32px;
	min-height:32px;
	float:left;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/mediaboxAdv-1.2.4.js"></script>
<!--<script type="text/javascript" src="<?php echo BASEPATH; ?>js/jquery.ui.core.js"></script>-->

<link rel="stylesheet" href="<?php echo BASEPATH; ?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
</head>
<!--<div id="batch_book_details"></div>-->
<div id="batch_status_value"></div>
<div> <img id="loader_image" style="display:none;" src="<?php echo BASEPATH; ?>/images/loader.gif" /> </div>
<div id="tablecaledar">
	<div id="daydiv">
	
	
	</div>
	<div style="clear:both;"></div>
	<div id="timediv" style="float:left;">
	</div>
	<div id="caltable" align="center" style="float;left;display:inline-block;">
	</div>
</div>
<input type="hidden" name="batch_type_id" id="batch_type_id" value="">
<script>


row=38;
colom=7;
colwidth=90;
border=1;
var week= new Array();
week[1]="Time";
week[2]="Monday";
week[3]="Tuesday";
week[4]="Wednesday";
week[5]="Thusday";
week[6]="Friday";
week[7]="Saturday";
week[8]="Sunday";
timediv = 5;
tablewidth=(colwidth*colom)+2*(colom-2)+4;
document.getElementById("caltable").innerHTML="";
var caltab = document.getElementById("caltable");
caltab.style.width=tablewidth;

var div = document.createElement("div");
//div.setAttribute("id",k);
div.setAttribute("class", "smallhead");
div.innerHTML='';

document.getElementById("daydiv").appendChild(div);

var div = document.createElement("div");
//div.setAttribute("id",k);
div.setAttribute("class", "bighead");
div.style.width  = '550px';
div.innerHTML='Click on blocks to select when you take lessons';
document.getElementById("daydiv").appendChild(div);


var div = document.createElement("div");
div.setAttribute("id","batch_book_details");
div.style.textAlign = "center";
div.setAttribute("class","smallhead");
document.getElementById("daydiv").appendChild(div);

var div = document.createElement("div");
//div.setAttribute("id",k);
div.setAttribute("class", "smallhead");
div.innerHTML='';
document.getElementById("daydiv").appendChild(div);

var div = document.createElement("div");
//div.setAttribute("id",k);
div.setAttribute("class", "bighead");
div.innerHTML="Type 'Available' for slots that you are currently available to teach";
document.getElementById("daydiv").appendChild(div);



for(k=1;k<=(colom+1);k++){
	var div = document.createElement("div");
		//div.setAttribute("id",k);
		div.setAttribute("class", "dayclass");
		div.innerHTML='';
		document.getElementById("daydiv").appendChild(div);
}
/*Day display*/
for(k=1;k<=(colom+1);k++){
	var div = document.createElement("div");
		div.setAttribute("id",k);
		div.setAttribute("class", "dayclass");
		div.innerHTML=week[k];
		document.getElementById("daydiv").appendChild(div);
}
/*Day Time*/
f=0;
//alert(row);
for(k=1;k<=row/2;k++){
	var div = document.createElement("div");
		div.setAttribute("id",k);
		div.setAttribute("class", "timeclass");
		div.innerHTML=timediv;
		timediv = (timediv+1);
		document.getElementById("timediv").appendChild(div);
}
var batch_id = document.getElementById("batch_type_id").value;
for(i=1;i<=row;i++){
	for(j=1;j<=colom;j++){
		var div = document.createElement("div");
		div.setAttribute("id", "mydiv_"+i+"_"+j);
		div.setAttribute("class", "notice");
		div.style.width=colwidth;
		div.style.lineHeight="12px";
		//div.setAttribute("onclick","javascript:getselectedid(this.id);");
		div.innerHTML= '';
		caltab.appendChild(div);
	}
	
}

function testfun(t_id,batch_type){
	document.getElementById('loader_image').style.display = "block";
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/viewupdatedetails",
			type:'post',
			data:'tutor_id='+t_id+'&batch_type='+batch_type,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					var k=0;
					var jsonObject = eval ('('+response+')');
					row=38;
					colom=7;
					document.getElementById('batch_book_details').innerHTML = jsonObject['fully_book_display'];
					//alert(jsonObject[+j]['colorcode']);
					for(i=1;i<=colom;i++){
						for(j=1;j<=row;j++){
							
							document.getElementById('mydiv_'+j+'_'+i).style.backgroundColor = jsonObject[+k]['colorcode'];
							if( jsonObject[+k]['description'] != "")
							{
								document.getElementById('mydiv_'+j+'_'+i).innerHTML = jsonObject[+k]['description'];
								document.getElementById('mydiv_'+j+'_'+i).setAttribute('title',jsonObject[+k]['description']);
							}else{
								document.getElementById('mydiv_'+j+'_'+i).innerHTML = "";
							}
							
							//document.getElementById('mydiv_'+j+'_'+i).style.lineHeight="12px";
							k++;
						}
					}
				}
				document.getElementById('loader_image').style.display = "none";
			}
		});
}

window.onload = function(){
	var tutor_id = '<?php echo '1';?>';
	testfun(tutor_id,1);
}
</script>