/*
Copyright (c) 2003-2010, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
@CHARSET "ISO-8859-1";
@font-face
{
	font-family: handofsean;	
	src: url('../fonts/hand-of-sean.ttf');
	
}
@font-face
{
	font-family: Arial Rounded MT;	
	src: url('../fonts/arial-rounded-mt.ttf');
}
body
{
	/* Font */
	font-family: "Arial Rounded MT";
	font-size: 12px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff;

}

html
{
	/* #3658: [IE6] Editor document has horizontal scrollbar on long lines
	To prevent this misbehavior, we show the scrollbar always */
	_overflow-y: scroll
}


img:-moz-broken
{
	-moz-force-broken-image-icon : 1;
	width : 24px;
	height : 24px;
}
img, input, textarea
{
	cursor: default;
}
