<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>
function call_delete(){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/adminnew/exotelrecorddelete';
			else return false;
		});
	}
</script>

<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Exotel Call Records </div>
	<div class="export1">Export report </div>
	<div class="exporticon1"><a href="<?php echo BASEPATH; ?>/adminnew/exportexotelreports"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		
		<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
		</div>
		<div style="float:right; margin: 4px 15px;">
			<a href="#" onclick="call_delete();">Delete report</a>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Create Date</div>
			<div class='grid-column2' style="width:15%;padding-left: 0px;text-align: center;">From Number(Incoming Calls)</div>
			<div class='grid-column2' style="width:12%;padding-left: 0px;text-align: center;">Tutor mobile Number</div>
			<div class='grid-column2' style="width:13%;padding-left: 0px;text-align: center;">Tutor Alternative Number</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">Count calls</div>			
			<div class='grid-column2' style="width:8%;padding-left: 0px;text-align: center;">Extenson</div>
			<div class='grid-column2' style="width:12%;padding-left: 0px;text-align: center;">Tutor Name</div>			
			<div class='grid-column2' style="width:15%;padding-left: 0px;text-align: center;">URL</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
	<?php
			$i=0;
			if(isset($this->extensionresult) && sizeof($this->extensionresult)>0){
			foreach($this->extensionresult as $extension){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			
			<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;"><?php if (isset($extension->create_date) && $extension->create_date!="" && $extension->create_date!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($extension->create_date));}else{echo "-";} ?></div>

			<div class='grid-column1' style="width:15%;padding-left: 0px;text-align: center;"><?php if(isset($extension->from_number) && $extension->from_number != "")echo $extension->from_number;else echo "-"; ?></div>


			<div class='grid-column1' style="width:12%;padding-left: 0px;text-align: center;"><?php if(isset($extension->mobile_number) && $extension->mobile_number != "")echo $extension->mobile_number;else echo "-"; ?></div>

			<div class='grid-column1' style="width:13%;padding-left: 0px;text-align: center;"><?php if(isset($extension->landline_number) && $extension->landline_number != "")echo $extension->landline_number;else echo "-"; ?></div>

			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($extension->count) && $extension->count != "")echo $extension->count;else echo "-"; ?></div>

			<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;"><?php if(isset($extension->digit) && $extension->digit != "")echo $extension->digit;else echo "-"; ?></div>

			<div class='grid-column1' style="width:12%;padding-left: 0px;text-align: center;"><?php if(isset($extension->tutor_first_name) && $extension->tutor_first_name != "")echo $extension->tutor_first_name;else echo "-"; ?></div>

			<div class='grid-column1' style="width:15%;padding-left: 10px;text-align: center;"><?php if(isset($extension->userid_new) && $extension->userid_new != ""){ ?><a target="_blank" href="<?php echo "http://www.skillzot.com/".$extension->userid_new; ?>"><?php echo "http://www.skillzot.com/".$extension->userid_new; ?> </a> <?php }else { ?> <a target="_blank" href="<?php echo "http://www.skillzot.com/".$extension->userid; ?>"><?php echo "http://www.skillzot.com/".$extension->userid; ?> </a> <?php } ?></div>

			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
		</form>
<br/>