<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>
	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		//var getText = document.getElementById("searchtext").value;
		var getText = "";
		window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/adminnew/messagedelete/id/'+id;
			else return false;
		});
	}
	function searchForm(getValue){
		
		var skill = document.getElementById("searchskill").value;
		var name = document.getElementById("searchtext").value;
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(skill!="" && sdate=="" && edate=="" && name=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/messagedetail/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill;
		}
	}
</script>
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Student Message to Tutor</div>
	<div class="export1">Export report </div>
	<div class="exporticon1"><a href="<?php echo BASEPATH; ?>/adminnew/exportmessage"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Start Date: <input type="text" class="input" name="sdate" id="sdate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_sdate)) echo $this->search_sdate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "sdate", "instance=single,drag=false,close=true")' />&nbsp;
				End Date: <input type="text" class="input" name="edate" id="edate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_edate)) echo $this->search_edate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "edate", "instance=single,drag=false,close=true")' />&nbsp;
				Student Name: <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				Tutor Name: <input type='text' class="input" name='searchskill' value = "<?php if(isset($this->search_skill)) echo $this->search_skill;?>" id='searchskill'> &nbsp;
				<input type='button' class="button" onclick="javascript: searchForm();" value="Generate"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/messagedetail';" value="Reset" name='reset'>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width:100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:6%;padding-left: 2px;text-align: right;">Student Id</div>
			<div class='grid-column2' style="width:10.5%;padding-left: 0px;text-align: center;">Message Date/Time</div>
			<div class='grid-column2' style="width:9%;padding-left: 11px;text-align: center;">Student Name</div>
			<div class='grid-column2' style="width:10%;padding-left: 10px;text-align: center;">Student Email</div>
			<div class='grid-column2' style="width:10%;padding-left: 22px;text-align: center;">Student Phone</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">Tutor Name</div>
			<div class='grid-column2' style="width:10%;padding-left: 13px;text-align: center;">Tutor Email</div>
			<div class='grid-column2' style="width:8%;padding-left: 25px;text-align: center;">Tutor Phone</div>
			<div class='grid-column2' style="width:15%;padding-left: 10px;text-align: center;">Message</div>
			<div class='grid-column2' style="width:4%;padding-left: 10px;text-align: center;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->messageResult) && sizeof($this->messageResult)>0){
			foreach($this->messageResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			<?php 
			if($tutor->send_flag!='s')
			{
				//echo "in";
				$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
				$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name','s.tutor_email','s.tutor_add_locality','s.tutor_mobile'))
											->where("s.id='$tutor->from_id'"));
				$tutorEmail = $profile_rows1[0]['tutor_email'];
				if(isset($profile_rows1) && sizeof(profile_rows1)>0)
				{
				
					if (isset($profile_rows1[0]['tutor_mobile']) && $profile_rows1[0]['tutor_mobile']!="")
					{
						$tutorMobile = $profile_rows1[0]['tutor_mobile'];
					}else{
						$tutorMobile = "-";
					}
					if (isset($profile_rows1[0]['tutor_email']) && $profile_rows1[0]['tutor_email']!="")
					{
						$fromEmail = $profile_rows1[0]['tutor_email'];
					}else{
						$fromEmail = "-";
					}
				}else{
					$tutorMobile = "-";
					$fromEmail = "-";
				}
			$masteraddressobj = new Skillzot_Model_DbTable_Address();
			$locationId = $profile_rows1[0]['tutor_add_locality'];
				if (isset($locationId) && $locationId!="")
				{
					$location_data = $masteraddressobj->fetchRow("address_id = $locationId");
					$tutorlocalityValue = $location_data->address_value;
				}
			}
			elseif($tutor->send_flag!='t')
			{
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->from_id'");
				
				if(isset($student_data) && sizeof($student_data)>0)
				{
				
					$studentEmail = $student_data->std_email;
					if (isset($student_data->std_phone) && $student_data->std_phone!="")
					{
						$studentMobile = $student_data->std_phone;
					}else{
						$studentMobile = "-";
					}
					if (isset($student_data->std_email) && $student_data->std_email!="")
					{
						$fromEmail = $student_data->std_email;
					}else{
						$fromEmail = "-";
					}
					$masteraddressobj = new Skillzot_Model_DbTable_Address();
					if (isset($student_data->std_locality) && $student_data->std_locality!="")
					{
						$location_data = $masteraddressobj->fetchRow("address_id ='$student_data->std_locality'");
						$studentlocalityValue = $location_data->address_value;
					}else{
						$studentlocalityValue="-";
					}
				}else{
					$studentMobile = "-";
					$fromEmail = "-";
					$fromEmail = "-";
					$studentlocalityValue="-";
				}
			}
			else  { echo "-"; } 
			?>
		<div class='grid-column1' style="width:4%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->id) && $tutor->id !="")echo $tutor->id;else echo "-";  ?></div>
		<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->mail_date) && $tutor->mail_date!=""){ echo date('Y-m-d, g:i a', strtotime($tutor->mail_date));} else { echo "-";}?></div>
		<div class='grid-column1' style="width:7%;padding-left: 10px;text-align: center;">
			<?php 
			if($tutor->send_flag!='s')
			{
				$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
				$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
											->where("s.id='$tutor->from_id'"));
				if (isset($profile_rows1) && sizeof($profile_rows1) > 0)
				{
					echo $fullname = ucfirst($profile_rows1[0]['tutor_first_name'])." ".ucfirst($profile_rows1[0]['tutor_last_name']);
				}else{
					echo "-";
				}
			}
			elseif($tutor->send_flag!='t')
			{
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->from_id'");
				if (isset($student_data) && sizeof($student_data) > 0)
				{
					echo $fullname = ucfirst($student_data->first_name)." ".ucfirst($student_data->last_name);
				}else{
					echo "-";
				}
			}
				else{echo "-"; } 
			?>
		</div>
		<div class='grid-column1' style="width:14%;padding-left: 10px;text-align: center;"><?php echo $fromEmail;  ?></div>
		<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;">
			<?php 
			if($tutor->send_flag!='s' && $tutorMobile!="" && isset($tutorMobile))
			{
				echo $tutorMobile;
			}elseif($tutor->send_flag!='t' && $studentMobile!="" && isset($studentMobile))
			{	
				echo $studentMobile;
			}
			else {echo "-"; } 
			?>
		</div>
		<div class='grid-column1' style="width:7%;padding-left: 10px;text-align: center;"><?php 
			if($tutor->rec_flag!='s')
			{
				$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
				$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
											->where("s.id='$tutor->to_id'"));
				if (isset($profile_rows1) && sizeof($profile_rows1) > 0)
				{
					echo $fullname = ucfirst($profile_rows1[0]['tutor_first_name'])." ".ucfirst($profile_rows1[0]['tutor_last_name']);
				}else{
					echo "-";
				}
			}
			elseif($tutor->rec_flag!='t')
			{
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->to_id'");
				if (isset($student_data) && sizeof($student_data) > 0)
				{
					echo $fullname = ucfirst($student_data->first_name)." ".ucfirst($student_data->last_name);
				}else{
					echo "-";
				}
			}
			else  { echo "-"; } ?>
		</div>
		<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php 
			$tutortable = new Skillzot_Model_DbTable_Tutorprofile();
			$tutor_data = $tutortable->fetchRow("id='$tutor->to_id'");
			$fromEmail = $tutor_data->tutor_email;
			if($fromEmail!="")
			{
				echo $fromEmail;
			}
			else
			{
				echo "-";
			}	
			?>
		</div>
		<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;">
			<?php 		
   		    $tutorPhone = $tutor_data->tutor_mobile;
			$tutorll = $tutor_data->tutor_landline;
			if($tutorPhone!="")
			{
				echo $tutorPhone;
			}elseif($tutorll!="")
			{
				echo $tutorll;
			}
			else
			{
				echo "-";
			}			
			?>
		</div>
	<div class='grid-column1' style="width:17%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->mail_content) && $tutor->mail_content!=""){echo $tutor->mail_content;}else{echo "-";}?></div>
	<div class='grid-column1' style="width:2%;padding-left: 5px;text-align: center;">
				<a href="#" onclick="call_delete('<?php echo $tutor->id;?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>
				</a>
	</div>
	<div class="clearfix">&nbsp;</div>
	</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
	<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
	</div>
		<?php } ?>
	</div>
	</form>
<br/>
