<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

</script>

<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Reports </div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='grid-row2' style='margin-top:18px;margin-left:10px;'>
			<a href="<?php echo BASEPATH; ?>/adminnew/exportexitsurvey">
				<div align='left' style="width:16%;font-weight:bold;padding-top:5px;padding-left:10px;">Export Exit Survey Report</div>
			</a>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:9%;padding-left: 0px;text-align: center;">Tutor Count</div>
			<div class='grid-column2' style="width:9%;padding-left: 0px;text-align: center;">Course Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Batch Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Tutor Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Tutor Billable Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Tutor Not Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Course Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Course Not Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Batch Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 0px;text-align: center;">Batch Not Live Count</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
	<?php	$tutortableObj = new Skillzot_Model_DbTable_Tutorprofile();
			$tutorCourseobj = new Skillzot_Model_DbTable_Tutorskillcourse();
			$batchObj= new Skillzot_Model_DbTable_Batch();
	?>
	<div class='grid-column1' style="width:9%;padding-left: 0px;text-align: center;">
	<?php	$tutor_data = $tutortableObj->fetchRow($tutortableObj->select()
							->setIntegrityCheck(false)
							->from(array('c'=>DATABASE_PREFIX."tx_tutor_profile"),array('count(*) as count')));
			echo $tutor_data->count; 
	?>
	</div>	
	<div class='grid-column1' style="width:9%;padding-left: 9px;text-align: center;">
		<?php $course_data = $tutorCourseobj->fetchRow($tutorCourseobj->select()
						->setIntegrityCheck(false)
						->from(array('c'=>DATABASE_PREFIX."tx_tutor_skill_course"),array('count(*) as count')));
		echo $course_data->count; 		
	 ?>
	</div>
	<div class='grid-column1' style="width:10%;padding-left: 5px;text-align: center;">
		<?php $batch_data = $batchObj->fetchRow($batchObj->select()
						->setIntegrityCheck(false)
						->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('count(*) as count')));
		echo $batch_data->count; 		
	 ?>
	</div>
	<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;"><?php 
				$tutor_live_data = $tutortableObj->fetchRow($tutortableObj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_profile") ,array('count(*) as count'))
								->where("c.is_active='0'"));
				echo $tutor_live_data->count; 		
			 ?>
	</div>
	<div class='grid-column1' style="width:9%;padding-left: 5px;text-align: center;">
		<?php $tutor_billable_count = $batchObj->fetchRow($batchObj->select()
						->setIntegrityCheck(false)
						->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch") ,array('count(DISTINCT c.tutor_id) as count'))
						->joinLeft(array('n'=>DATABASE_PREFIX."tx_tutor_profile"),'n.id=c.tutor_id',array(''))
						->where("n.is_active ='0'"));

				echo $tutor_billable_count->count;
	 ?>
	</div>
	<div class='grid-column1' style="width:10%;padding-left: 5px;text-align: center;">
	<?php echo $tutor_notlive_data =  $tutor_data->count - $tutor_live_data->count; ?>
	</div>
	<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;">
		<?php $course_live_Data = $tutorCourseobj->fetchRow($tutorCourseobj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_skill_course"),array('count(*) as count'))
								->joinLeft(array('n'=>DATABASE_PREFIX."tx_tutor_profile"),'n.id=c.tutor_id',array(''))
								->where("n.is_active ='0'"));    
                     
				echo $course_live_Data->count;  ?>
	</div>
	<div class='grid-column1' style="width:11%;padding-left: 0px;text-align: center;">
		<?php echo $course_notlive_data=$course_data->count-$course_live_Data->count;  ?>
	</div>

	<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;">
		<?php $batch_live_Data = $tutorCourseobj->fetchRow($tutorCourseobj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('count(*) as count'))
								->joinLeft(array('n'=>DATABASE_PREFIX."tx_tutor_profile"),'n.id=c.tutor_id',array(''))
								->where("n.is_active ='0'"));    
                     
				echo $batch_live_Data->count;  ?>
	</div>
	<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;">
		<?php echo $batch_notlive_data=$batch_data->count-$batch_live_Data->count;  ?>
	</div>
	<div class="clearfix">&nbsp;</div>
	
	</form>
