<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
	
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	
	<?php
			unset($authUserNamespace->status_message);
		}
	?>
	
	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/shown/"+getValue+"/searchtext/"+getText;
	}
	
	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/adminnew/studentdelete/id/'+id;
			else return false;
		});
	}
	function searchForm(getValue){
		
		var skill = document.getElementById("searchskill").value;
		var name = document.getElementById("searchtext").value;
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(skill!="" && sdate=="" && edate=="" && name=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/studentsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill;
		}

	}
	</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Student manager </div>
	<div class="add" style="display: block;">Add New</div>
	<div class="addicon"><a rel="lightbox[external 420 420]" href="<?php echo BASEPATH; ?>/adminnew/addstudent"><img alt="Add New" src="/images/addnew.png"></a></div>
	<div class="export">Export report </div>
	<div class="exporticon"><a href="<?php echo BASEPATH; ?>/adminnew/exportstudent"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Start Date: <input type="text" class="input" name="sdate" id="sdate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_sdate)) echo $this->search_sdate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "sdate", "instance=single,drag=false,close=true")' />&nbsp;
				End Date: <input type="text" class="input" name="edate" id="edate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_edate)) echo $this->search_edate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "edate", "instance=single,drag=false,close=true")' />&nbsp;
				Name: <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				Skill: <input type='text' class="input" name='searchskill' value = "<?php if(isset($this->search_skill)) echo $this->search_skill;?>" id='searchskill'> &nbsp;
				<input type='button' class="button" onclick="javascript: searchForm();" value="Generate"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/studentsignup';" value="Reset" name='reset'>

			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:6%;padding-left: 5px;text-align: right;">Student Id</div>
			<div class='grid-column2' style="width:8%;padding-left: 0px;text-align: center;">SignUp Date</div>
			<div class='grid-column2' style="width:7%;padding-left: 7px;text-align: center;">First Name</div>
			<div class='grid-column2' style="width:7%;padding-left: 10px;text-align: center;">Last Name</div>
			<div class='grid-column2' style="width:8%;padding-left: 7px;text-align: center;">Email</div>
			<div class='grid-column2' style="width:6%;padding-left: 25px;text-align: center;">Mobile</div>
			<!-- <div class='grid-column2' style="width:4%;padding-left: 10px;text-align: center;">City</div> -->
			<div class='grid-column2' style="width:8%;padding-left: 8px;text-align: center;">Locality</div>

			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Skills</div>
			<div class='grid-column2' style="width:8%;padding-left: 25px;text-align: center;">Tutor Enrolled</div>
			<div class='grid-column2' style="width:9%;padding-left: 2px;text-align: center;">Course Name</div>
			<!-- <div class='grid-column2' style="width:6%;padding-left: 10px;text-align: center;">Start date</div>
			<div class='grid-column2' style="width:6%;padding-left: 7px;text-align: center;">End date</div> -->
			<div class='grid-column2' style="width:14%;padding-left: 0px;text-align: center;">FollowUp Comment</div>
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: right;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->studentsignupResult) && sizeof($this->studentsignupResult)>0){
			foreach($this->studentsignupResult as $student){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			
			<div class='grid-column1' style="width:5%;padding-left: 10px;text-align: center;"><?php if(isset($student->id) && $student->id != "")echo $student->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;"><?php if (isset($student->lastupdatedate) && $student->lastupdatedate!="" && $student->lastupdatedate!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($student->lastupdatedate));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 15px;text-align: center;"><?php if(isset($student->first_name) && $student->first_name != "")echo $student->first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 15px;text-align: center;"><?php if(isset($student->last_name) && $student->last_name != "")echo $student->last_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php if(isset($student->std_email) && $student->std_email != "")echo $student->std_email;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php if(isset($student->std_phone) && $student->std_phone != "")echo $student->std_phone;else echo "-"; ?></div>
			<?php $adressObj = new Skillzot_Model_DbTable_Address();
			$address_row = $adressObj->fetchRow($adressObj->select()
											 	 	 	  ->where("address_id='$student->std_locality'"));
			?>
			<div class='grid-column1' style="width:7%;padding-left: 5px;text-align: center;"><?php if(isset($address_row->address_value) && $address_row->address_value != "")echo $address_row->address_value;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 5px;text-align: center;"><?php if(isset($student->skill_interested) && $student->skill_interested != "")echo $student->skill_interested;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 20px;text-align: center;"><?php  echo "-"; ?></div>
			<!-- <div class='grid-column1' style="width:6%;padding-left: 15px;text-align: center;"><?php echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 10px;text-align: center;"><?php echo "-"; ?></div> -->
			<div class='grid-column1' style="width:14%;padding-left: 11px;text-align: center;"><?php if(isset($student->followup_comment) && $student->followup_comment != "")echo $student->followup_comment;else echo "-"; ?></div>
					
			<div class='grid-column1' style="width:4%;padding-left: 5px;text-align: center;">
				<a rel="lightbox[external 420 420]" href="<?php echo BASEPATH; ?>/adminnew/addstudent/id/<?php echo $student->id; ?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Edit status" alt="Update"/></a><span>&nbsp;</span>
				<a href="#" onclick="call_delete('<?php echo $student->id;?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>
				</a>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>