<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
body{
	margin:0px;
	/*padding:5px 20px 0px 20px;*/
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:450px;
}
.contentbox
{
	float:left;
	/*width:390px;*/
	width:440px;
	margin: 0px;
	color:#666 !important;
	padding:0px;
}
.maincontent
{
	width : 350px;
	margin-left:5px;
	float:left;
	margin-bottom:20px;
}
.stepcolsmall2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 60px;
    padding-left: 3px;
    width: 262px;
}
.infolinerow
{
 	width:100%;
 	float:left;
 	margin-top:31px;
 	
 	background-color:#f0f0f0;
 	 width: 99.7533%;
 	padding: 33px 5px 0 5px;
    text-align: left;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    height: 51px;
    line-height: 22px;
    margin: 0;
}
.errorclasssmall
{
	width: 100%;
	float: left;
	margin-left:6px;
}
.stepcolsmall1 {
    width:34%;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
input[type="text"],textarea
{
	border:1px solid #666 !important;
	border-radius:5px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
textarea
{
	resize:none;
	padding:5px 0px 0 5px;
}
/*new style*/
body
{
	float:left;
	width:410px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:410px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px 20px;
    text-align: left;
    width: 370px;
}
.whitePart
{
	width: 383px;
	float:left;
	padding: 20px 0 10px 20px;
	color:#666;
	font-size: 14px;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:200px;/*width:87px;*/
	padding:0px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"],textarea
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.whitePart .Field textarea
{
	height:70px;
	resize:none;
	padding:5px 0px 0 5px;
}
.whitePart .Field .errortext
{
	width:165px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:206px;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
</style>
<!--[if IE]>
<style>
.maincontent {
    width: 600px;
}
</style>
<![endIf]-->
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/managecms/sendsuggetion','contacttutor','contacttutor');
				
			}
		};
				
		</script>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="loginMain">
<h1>
	<?php if(isset($this->textdisp) && $this->textdisp=="1"){?>
	Need more options?
	<?php }else{?>
	Send us your ideas and feedback and help us improve
	<?php }?>
</h1>
<div class="whitePart">
	<?php if(isset($this->textdisp) && $this->textdisp=="1"){?>
		<p>Ouch! Embarassed that we couldn't delight you.</p>
		<p>Request you to please fill the details and we</p>
		<p>promise to try our best to enchant you</p>
	<?php }?>
	<span class="sap">&nbsp;</span>
	<p>All fields are required.</p><!-- <span style="color:#FF6633;">*</span> -->	
	<span class="sap">&nbsp;</span>
	<form action="<?php echo BASEPATH; ?>/managecms/sendsuggetion" name="contacttutor" id="contacttutor" method="post" enctype="multipart/form-data">
		<div class="Field">
			<b>First name</b>
			<input type="text" Name="UserFName" id="UserFName" errortag="first name" />
			<p id="UserFName_error" class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>Last name</b>
			<input type="text" Name="UserLName" id="UserLName" errortag="last name" />
			<p id="UserLName_error" class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>Email</b>
			<input type="text" Name="UserEmail" id="UserEmail" errortag="email" />
			<p id="UserEmail_error" class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>City name</b>
			<input type="text" Name="UsercityName" id="UsercityName" errortag="city name" />
			<p id="UsercityName_error" class="errortext" style="display:block;"></p>
		</div>
		<div class="Field">
			<b>Comments</b>
			<textarea Name="UserComments" id="UserComments" errortag="comments" ></textarea>
			<p id="UserComments_error" class="errortext" style="display:block;"></p>
		</div>
		<input type="hidden" name="tellingusflag" id="tellingusflag" value="<?php if (isset($this->textdisp) && $this->textdisp!=""){echo $this->textdisp;}?>">
		<input type="hidden" name="coupledetailflag" id="coupledetailflag" value="<?php if (isset($this->coupledetail) && $this->coupledetail!=""){echo $this->coupledetail;}?>">
		<input type="hidden" name="tutorId" id="tutorId" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>">
		<div class="Field" style="width:95%;">
			<span id="save" class="submit_button">SEND</span>
		</div>
	</form>
	
</div>
</div>
</body>
</html>