<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<title>Student profile page - email/password change.</title>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/student/emailpass','change_email','change_email');
		
	}
	document.getElementById("save1").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/student/changepass','change_pass','change_pass');
		
	}
};


</script>
<SCRIPT TYPE="text/javascript">
function myfunctionin(uid){
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	
}
function myfunctionout(uid){

	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function setselect(id)
{
	var selectaray = new Array('linkone','linktwo','linkthree','linkfour','linkfive','linksix','linkseven');
		for(i=0;i<selectaray.length;i++)
		{
			if(id == selectaray[i])
			{
				$('#'+id).removeClass("passivelink");
				$('#'+id).addClass("activelink");
			}
			else
			{
				$('#'+selectaray[i]).removeClass("activelink");
				$('#'+selectaray[i]).addClass("passivelink");
			}
		}
}

</SCRIPT>

	
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:586px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.stepcol1
{
	width:200px;
}
.stepcol2
{
	width: 330px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
</style>
<style>
/*31-05 edit profile*/
.leftcontent
{
	width: 265px;
}
.tutorleftcontenttop
{
	background-repeat:no-repeat;
	width: 265px;
}
.tutorleftcontentmid
{
    background-repeat: repeat-y;
    width: 244px;
}
.tutorleftcontentbot
{
    background-repeat:no-repeat;
    width: 265px;
}

.infolinerow
{
	width:100%;
}
/*31-05 edit profile*/
</style>
</head>
	<body>
			
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
				<?php
						if(isset($authUserNamespace->changesave) && $authUserNamespace->changesave!="") {?>
						<div class="infolinerow onlyorangedisplay">
							<?php
								echo $authUserNamespace->changesave;
								unset($authUserNamespace->changesave);
							?>
						</div>
				<?php }?>
				<form method="post" action="<?php echo BASEPATH; ?>/student/emailpass" name="change_email" id="change_email" enctype="multipart/form-data">
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor">Change email address</span>
				</div>
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				<div class="steprow1">
					<div class="stepcol1" ><div id="firstnameid" style="float:left;">Enter new email : </div><span class="onlyorangedisplay"> *</span></div>
					<div class="stepcol2">
						<input type="text" id="email" name="email" value="<?php if (isset($this->studentdata->std_email) && $this->studentdata->std_email!=""){echo $this->studentdata->std_email;}?>"  errortag="Email "/>
						<div id="email_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				</form>
				
				
				<div class="clear">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" /></div>
					</div>
				</div>
				
				<div class="midspacer" style="width:100%">&nbsp;</div>
				<form method="post" action="<?php echo BASEPATH; ?>/student/changepass" name="change_pass" id="change_pass" enctype="multipart/form-data">
				<div class="infolinerow" style="float:left;margin-bottom:10px;padding:0px;">
						<span class="nameoftutor">Change password </span>
				</div>
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				<div class="steprow1">
					<div class="stepcol1" ><div id="firstnameid" style="float:left;">Enter current password : </div><span class="onlyorangedisplay"> *</span></div>
					<div class="stepcol2">
						<input type="password" id="CurrentPassword" name="CurrentPassword" value=""  errortag="current password"/>
<!--						<i style="color:#B4B4B4;font-size: 14px;">(Minimum 5 characters)</i>-->
						<div id="CurrentPassword_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1" ><div id="firstnameid" style="float:left;">Enter new password : </div><span class="onlyorangedisplay"> *</span></div>
					<div class="stepcol2">
						<input type="password" id="NewPassword" name="NewPassword" value=""  errortag="new password"/>
						<div id="NewPassword_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1" ><div id="firstnameid" style="float:left;">Confirm new password : </div><span class="onlyorangedisplay"> *</span></div>
					<div class="stepcol2">
						<input type="password" id="ConfirmPassword" name="ConfirmPassword" value=""  errortag="confirm password"/>
						<div id="ConfirmPassword_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				</form>
				
				<div class="clear">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save1" name="save1" /></div>
					</div>
				</div>
				
				</div>
			</div>
			
			</div>
			

	</body>
</html>