<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<title>Student profile page - personal information.</title>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillzot.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot_register.js"></script>
<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>
	
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/student/personalinfo','register_step','register_step');
		
	}
	<?php if (isset($this->studentdata->skill_interested) && $this->studentdata->skill_interested!=""){}else{?>
	document.getElementById("UserSkill").style.color = "#AAA5A4";
	document.getElementById("UserSkill").style.fontStyle = "italic";
	<?php }?>
};

</script>
<SCRIPT TYPE="text/javascript">
	
$(document).ready(function() {
	<?php if(isset($this->studentdata->std_city) && $this->studentdata->std_city!="" && isset($this->studentdata->std_locality) && $this->studentdata->std_locality!=""){?>
	searched_city_id1 = "<?php echo $this->studentdata->std_city;?>";
	searched_locality_id1 = "<?php echo $this->studentdata->std_locality;?>";
	searched_city_id = parseInt(searched_city_id1);
	searched_locality_id = parseInt(searched_locality_id1);
	getlocality(searched_city_id);
	<?php }?>
	
});
function myfunctionin(uid){
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	
}
function myfunctionout(uid){

	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function setselect(id)
{
	var selectaray = new Array('linkone','linktwo','linkthree','linkfour','linkfive','linksix','linkseven');
		for(i=0;i<selectaray.length;i++)
		{
			if(id == selectaray[i])
			{
				$('#'+id).removeClass("passivelink");
				$('#'+id).addClass("activelink");
			}
			else
			{
				$('#'+selectaray[i]).removeClass("activelink");
				$('#'+selectaray[i]).addClass("passivelink");
			}
		}
}

function getlocality(city_id){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality').options[j] = option_element;
						j++;
					}
			
				    /*for update selected*/
				    locality_var = document.getElementById('locality');
					for ( var i = 0; i < locality_var.options.length; i++ ) {
					  if (locality_var.options[i].value == searched_locality_id && city_id == searched_city_id) {
					      	locality_var.options[i].selected = true;
					  }
					}
				    /**/
					
				}
			}
		});
	}
}

</SCRIPT>

	
<style>
.CourseDetMid
{
	font-size:14px;
}
.stepcol1
{
	width:175px;
}
.stepcol2
{
	width: 350px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form_2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 253px;
    height: 20px;
    padding: 5px 5px 5px 10px;
}
/*31-05 edit profile*/
#registration_form_2 select {
width:263px;
}
.infolinerow
{
	width:100%;
	padding:0px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
/*31-05 edit profile*/
</style>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
						<?php
						if(isset($authUserNamespace->changessave) && $authUserNamespace->changessave!="") {?>
						<div class="infolinerow onlyorangedisplay">
							<?php
								echo $authUserNamespace->changessave;
								unset($authUserNamespace->changessave);
							?>
						</div>
						<?php }?>
				
				<div class="infolinerow">
						<span class="nameoftutor" class="onlybluecolor" >Personal information</span>
				</div>
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				
				<div class="steprow1">
					<div class="stepcol1">
						I am looking out for a teacher for : <span class="onlyorangedisplay">*</span>
					</div>
					<div class="stepcol2">
						<input type="radio" class="looking_for" name="LookingFor"  id="LookingFor"  value="Myself" <?php if (isset($this->studentdata->tutor_for) && $this->studentdata->tutor_for!=""){if($this->studentdata->tutor_for=="Myself"){echo "checked";}}else{echo "checked";}?> /> <span style="float:left;">Myself</span>
						<input type="radio" class="looking_for" name="LookingFor" id="LookingFor"  value="My son/daughter" <?php if (isset($this->studentdata->tutor_for) && $this->studentdata->tutor_for!=""){if($this->studentdata->tutor_for=="My son/daughter"){echo "checked";}}?> /><span style="float:left;"> My son/daughter</span>
						<input type="radio" class="looking_for" name="LookingFor" id="LookingFor"  value="Others" <?php if (isset($this->studentdata->tutor_for) && $this->studentdata->tutor_for!=""){if($this->studentdata->tutor_for=="Others"){echo "checked";}}?> /><span style="float:left;"> Others</span>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1" ><div id="firstnameid" style="float:left;">First name : </div><span class="onlyorangedisplay"> *</span></div>
					<div class="stepcol2">
						<input type="text" id="firstname" name="firstname" value="<?php if (isset($this->studentdata->first_name) && $this->studentdata->first_name!=""){echo $this->studentdata->first_name;}?>"  errortag="first name"/>
						<div id="firstname_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				<div class="steprow1">
					<div class="stepcol1"><div id="lastnameid" style="float:left;">Last name : </div> <span style="color:#F06142; float:left;"> *</span></div>
					<div class="stepcol2">
						<input type="text" id="lastname" name="lastname" value="<?php if (isset($this->studentdata->last_name) && $this->studentdata->last_name!=""){echo $this->studentdata->last_name;}?>"  errortag="last name">
						<div id="lastname_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1"><div id="lastnameid" style="float:left;">Skill : </div> <span style="color:#F06142; float:left;"> *</span></div>
					<div class="stepcol2">
						<input class="textfld" type="text" Name="UserSkill" id="UserSkill" errortag="skill" value="<?php if (isset($this->studentdata->skill_interested) && $this->studentdata->skill_interested!=""){echo $this->studentdata->skill_interested;}else{echo "What you'd love to learn";}?>" szprompt="What you'd love to learn" onfocus="clearit(this);" onblur="fixit(this);" />
						<div id="UserSkill_error" class="errorcls2" >&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">City : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<select id="city" name="city" errortag="city" onchange="getlocality(this.value);">
							<option value="" selected="selected">--  Select city  --</option>
							<?php if(isset($this->city) && sizeof($this->city)>0){foreach($this->city as $city){?>
								<option value="<?php echo $city->address_id;?>"  <?php if (isset($this->studentdata->std_city) && $this->studentdata->std_city!="" && $this->studentdata->std_city == $city->address_id ){ echo "selected";}?>><?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>
							</option>
							<?php }}?>
            			</select>
            			<div id="city_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
					<div class="steprow1">
						<div class="stepcol1">Locality : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2">
							<select id="locality" name="locality" errortag="locality">
								<option value="" selected="selected">--  Select locality  --</option>
	            			</select>
	            			<div id="locality_error" class="errorcls2">&nbsp;</div>
						</div>
					</div>
				<div class="steprow1">
					<div class="stepcol1">Phone :</div>
					<div class="stepcol2">
						<input type="text" id="mobile" name="mobile" maxlength=10 value="<?php if (isset($this->studentdata->std_phone) && $this->studentdata->std_phone!=""){echo $this->studentdata->std_phone;}?>" errortag="Phone number">
						<div id="mobile_error" class="errorcls2">&nbsp;</div>
					</div>
					
				</div>
				<div class="steprow1">
					<div class="stepcol1">Pincode : </div>
					<div class="stepcol2">
						<input type="text" id="pincode" name="pincode" maxlength=6 value="<?php if (isset($this->studentdata->std_pincode) && $this->studentdata->std_pincode!=""){echo $this->studentdata->std_pincode;}?>" errortag="PIN code">
						<div id="pincode_error" class="errorcls2">&nbsp;</div>
					</div>
					
				</div>
				<div class="midspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" /></div>
					</div>
				</div>
				
				</div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>