<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/student/readmail','register_step','register_step');
		
	}
};
</script>
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:586px;
}
.mailcontent
{
	width:520px;
	float:left;
	height:auto;
	border: 1px solid #DDDDDD;
	display:block;
	padding: 10px 0 10px 0px;
	
}
.mailheaderstrip
{
	padding: 9px 0px;
	float:left;
	width:555px;
	background-color:#00A7E6;
	border: 1px solid #00A7E6;
	height:auto;
	text-align:center;
}
.whitebackrow
{
	padding: 9px 0px;
	float:left;
	width:555px;
	background-color:#FFFFFF;
	height:auto;
	text-align:center;
}
.greaybackrow
{
	padding: 9px 0px;
	float:left;
	width:555px;
	background-color:#DDDDDD;
	height:auto;
	text-align:center;
}
.mailrow
{
	width : 555px;
	display : inline-block;
	color: #FFFFFF;
	float: left;
	padding: 3px 0 0 15px;
}
.leavespace
{
	float:left;
	width:555px;
	line-height:20px;
}
.mailcontent textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 240px;
    height:60px;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
    padding:0 5px;
    text-indent: 0em;
}
.mailcontent a:link,.mailcontent a:visited, mailcontent a:hover
{
	color:#000000;
}
</style>
<script>
function checkall()
{
$(":checkbox").each(
	    function() {
	       $(this).attr('checked', true);
	    }
	);
}
</script>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetTop"><span class="leftcornerlarge"></span></div>
				<div class="CourseDetMid">
										
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >My messages</span>
				</div>
				
				
					
					
				<div class="mailcontent">
				
					<?php
					
					if(isset($this->readmailresult) && sizeof($this->readmailresult)>0){
							$readmail = $this->readmailresult;
					?>	
						<div class="mailrow" style="color:#000405;"></div>
						<div class="mailrow" style="color:#000405;">Subject : <?php echo $readmail->subject;  ?></div>
						<?php 
						$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
						$profile_rows = $tutorProfile->fetchAll($tutorProfile->select()
													->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
													->where("s.id='$readmail->from_id'"));
						$fullname = ucfirst($profile_rows[0]['tutor_first_name'])." ".ucfirst($profile_rows[0]['tutor_last_name']);
						?>
						<div class="mailrow" style="color:#000405;">From : <?php echo $fullname; ?></div>
						<div class="mailrow" style="color:#000405;">Sent date : <?php echo $readmail->mail_date; ?></div>
						<div class="leavespace">&nbsp;</div>
						<div class="mailrow" style="color:#000405;">Message : <?php echo $readmail->mail_content; ?></div>
						<div class="leavespace">&nbsp;</div>
						
						<?php if (isset($readmail->parent_id) && $readmail->parent_id!="" && $readmail->parent_id!='0'){
								$mailMessagesObj = new Skillzot_Model_DbTable_Mailmessages();
								$mailrowResult = $mailMessagesObj->fetchRow("id='$readmail->parent_id'");
								$p_id = $readmail->parent_id;
								while($p_id!=0)
								{
									$mailrowResult = $mailMessagesObj->fetchRow("id='$p_id'");
									$p_id = $mailrowResult->parent_id;
									?>
									<div class="mailrow" style="color:#000405;">----------------------------------------------------------</div>			
									<div class="mailrow" style="color:#000405;">Subject : <?php echo $mailrowResult->subject;  ?></div>	
									<?php 
									if ($mailrowResult->send_flag=='t')
									{
										$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
										$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
																	->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
																	->where("s.id='$mailrowResult->from_id'"));
										$fullname = $profile_rows1[0]['tutor_first_name']." ".$profile_rows1[0]['tutor_last_name'];
									}else{
										$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
										$student_data = $studentSignupObj->fetchRow("id='$mailrowResult->from_id'");
										$fullname = $student_data->first_name." ".$student_data->last_name;
									}
									?>
									<div class="mailrow" style="color:#000405;">From : <?php echo $fullname; ?></div>	
									<div class="mailrow" style="color:#000405;">Sent date : <?php echo $mailrowResult->mail_date; ?></div>	
									<div class="mailrow" style="color:#000405;">Message : <?php echo $mailrowResult->mail_content; ?></div>
									<div class="leavespace">&nbsp;</div>			
									<?php 
								}
							?>
							<?php }?>
							
						<div class="mailrow" style="color:#000405;">
							<textarea name="messagetext" id="messagetext" errortag="message"></textarea>
							<div id="messagetext_error" class="errorcls2">&nbsp;</div>
						</div>
						
						<div class="leavespace">&nbsp;</div>
						<div class="mailrow" style="color:#000405;"><div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/replynew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/replynew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/reply_hover.png';" id="save" name="save" /></div></div>
					<?php
					}
				?>
				
				</div>
				
				</div>
				<div class="CourseDetBot"><span class="leftcornerbotlarge"></span></div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>