<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>Congratulations! You have successfully registered and logged in ... </title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style type="text/css">/*brgv 28-04*/
body
{
	float:left;
	text-align:center;
	width:100%;
}
.infolinerow {
    margin-bottom: -12px;
    padding: 0;
    width: 100%;
}
.tick_skillzot
{
	padding: 0;
    width: 130px;
    float: left;
}
.blueheader{
    float: inherit;
    margin: 50px 5px;
}
.reserve_click {
  	background: #00a7e6 none no-repeat scroll 0 0;
    border: 2px solid #00a7e6;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    margin: 41px;
    padding: 4px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-transform: capitalize;
    width: 187px;
}
#paymentstep2_form input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 217px;
}
.formholder
{
	min-height:250px;
}

.formholder {
    border: 1px solid #00a7e6;
    border-radius: 5px;
    float: left;
    margin-bottom: 30px;
    margin-top: 10px;
    min-height: 280px;
    min-width: 600px;
    padding: 10px 0 10px 20px;
    width: 100%;
}
.nameoftutor1 {
    color: #00a7e6;
    display: block;
    float: left;
    font-size: 14px;
     height: 30px;
    margin:-8px 0 0 0px;
}
.tutorinfo1 {
    background-position: left bottom;
    background-repeat: repeat-x;
    float: left;
    padding: 16px 0;
    width: 50%;
}
.infolinerow1 {
    float: left !important;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    padding: 8px 0;
    width: 300px;
}
.infolinerow2 {
    float: left !important;
    font-size: 14px;
    font-weight: bold;
    margin: -2px;
    width: 90%;
}
.locationoftutor {
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
}
.profilephoto {
    float: left;
}
.tutorinfo2{
    width: 90%;
}
.fullprofilelink{
    font-size: 12px;
    font-weight: normal;
}
.descrpipoftutor {
    margin: 10px 0 0;
}
</style>

</head>
<body>
	<?php 
	$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
    $skillcourseobj = new Skillzot_Model_DbTable_Tutorskillcourse();
    $branchdetailObj = new Skillzot_Model_DbTable_Branchdetails();
    $localitysuburbsObj = new Skillzot_Model_DbTable_Localitysuburbs();
    $adressObj = new Skillzot_Model_DbTable_Address();
    $masteraddressobj = new Skillzot_Model_DbTable_Address();
    $batchObj= new Skillzot_Model_DbTable_Batch();
	$tutorprofiledetails = $tutorProfile->fetchAll($tutorProfile->select()
                   ->setIntegrityCheck(false)
                   ->distinct()
                   ->from(array('a'=>DATABASE_PREFIX."tx_tutor_profile"),array('*'))
                   ->joinLeft(array('m'=>DATABASE_PREFIX."tx_tutor_skill_course"),'a.id=m.tutor_id',array(''))
                   ->where("a.is_active='0' && m.tutor_skill_id in ($this->skill_id_for_tutor)")
                   ->limit(4));                  

	?>
<div class="infolinerow" style="margin-top:15px;">
	<img class="tick_skillzot" width="128" height="128" src="<?php echo BASEPATH;?>/images/tick_skillzot.png">
	<strong class="blueheader">Congratulations! You have successfully registered ... </strong>
	<a id="top" class="reserve_click" href="<?php echo BASEPATH ?>/search/<?php echo $this->skill_finalname; ?>-classes-in-mumbai">Browse more tutors</a>
</div>
<div id="paymentstep3_form" class="formholder">
	<div class="infolinerow" style="margin-top:10px;">
		<span class="nameoftutor1">Here are some tutors to get you started ... </span>
	</div>
    <?php if(isset($tutorprofiledetails) && sizeof($tutorprofiledetails)>0){
            foreach($tutorprofiledetails as $tutorprofiledetails_row){ ?>
	<div id="tutorinfodiv" class="tutorinfo1">
        <div id="tutorinfodiv1" class="tutorinfo2">
		<div class="profilephoto">
		<a style="color:black;" href="<?php echo BASEPATH;?>/mumbai/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!="") {echo $this->skillcategoryUniq; }elseif (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){echo $this->mainsubmaincategoryUniq; }  else {echo $this->maincategoryUniq;}?>/<?php if (isset($tutorprofiledetails_row->tutor_url_name) && $tutorprofiledetails_row->tutor_url_name!=""){echo $tutorprofiledetails_row->tutor_url_name;}else{}  ?>">
						<img src="<?php echo BASEPATH;?>/search/viewthumbimage/id/<?php echo $tutorprofiledetails_row->id; ?>" onerror=this.src="<?php echo BASEPATH;?>/images/NoAvailable.jpg" width="147" height="147" />
		</a>
		</div>
         <div style=" float: right;font-weight: bold;margin-top: 7px;width: 287px;">
            <span class="nameoftutor1">
                <?php if (isset($tutorprofiledetails_row->company_name) && $tutorprofiledetails_row->company_name!="")
                        {
                            $displayNameoftutor = $tutorprofiledetails_row->company_name;
                            $uniqTutornamefrombrowse = preg_replace("/[^A-Za-z0-9]/", "-",$displayNameoftutor);
                        }elseif (isset($tutorprofiledetails_row->tutor_first_name) && $tutorprofiledetails_row->tutor_first_name!="" && $tutorprofiledetails_row->tutor_last_name!="")
                        {
                            $displayNameoftutor = ucfirst($tutorprofiledetails_row->tutor_first_name)." ".ucfirst($tutorprofiledetails_row->tutor_last_name);
                            $uniqTutornamefrombrowse= preg_replace("/[^A-Za-z0-9]/", "-",$displayNameoftutor);
                        }else
                        {$displayNameoftutor = "No name";}?>
                    
                        <a href="<?php echo BASEPATH;?>/mumbai/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!="") {echo $this->skillcategoryUniq; } 
             elseif (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){echo $this->mainsubmaincategoryUniq; } 
             else {echo $this->maincategoryUniq;}?>/<?php if (isset($tutorprofiledetails_row->tutor_url_name) && $tutorprofiledetails_row->tutor_url_name!=""){echo $tutorprofiledetails_row->tutor_url_name;}else{} ?>" style="color:#1CA3E7;">
                        <?php echo $displayNameoftutor;?>
                        </a>
            </span>
        </div>
            <?php if (isset($tutorprofiledetails_row->tutor_brief_desc) && $tutorprofiledetails_row->tutor_brief_desc!=""){ 
            $strCount = strlen(trim(strip_tags($tutorprofiledetails_row->tutor_brief_desc)));
            ?>
            <div style="float:right;width: 287px;margin-bottom: 10px;" >
                <span id="descrpipoftutor0" class="descrpipoftutor">

                <?php if (isset($strCount) && $strCount > 160) {
                        $aboutCourse = trim(strip_tags($tutorprofiledetails_row->tutor_brief_desc));
                        $showstr = substr($aboutCourse,0,130);
                        echo ucfirst($showstr)."..";
                    }else{
                         echo ucfirst(trim(strip_tags($tutorprofiledetails_row->tutor_brief_desc."..")));
                    }
                ?>
                </span>
                <div style="clear:both;float:left;width:100%;"></div>
                <a href="<?php echo BASEPATH;?>/mumbai/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!="") {echo $this->skillcategoryUniq; } 
                elseif (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){echo $this->mainsubmaincategoryUniq; } 
                else {echo $this->maincategoryUniq;}?>/<?php if (isset($tutorprofiledetails_row->tutor_url_name) && $tutorprofiledetails_row->tutor_url_name!=""){echo $tutorprofiledetails_row->tutor_url_name;}else{}  ?>" style="float:right;margin: 8px;" class="fullprofilelink">Full profile</a>
                </div>
            <?php }?>
            </div>
       
         <div class="infolinerow2"><span id="locationiddisplay0" class="locationoftutor">
            <span style="font-weight:bold;">Classes at</span>: 
            <?php 
            $skill_data = $skillcourseobj->fetchRow("tutor_id='$tutorprofiledetails_row->id'");

        if(isset($skill_data->tutor_course_name)&& $skill_data->tutor_course_name!=""){
                //echo $tutorprofiledetails_row->tutor_course_name;
        $batchResult1=$batchObj->fetchAll($batchObj->select()
                                ->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('c.tutor_location AS tutor_location'))
                                ->where("c.tutor_id ='$tutorprofiledetails_row->id' && c.tutor_location='1'"));
                                
        $batchResult2=$batchObj->fetchAll($batchObj->select()
                            ->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('c.tutor_location AS tutor_location'))
                            ->where("c.tutor_id ='$tutorprofiledetails_row->id' && c.tutor_location='2'"));
        
                        if(sizeof($batchResult1)>0 && sizeof($batchResult2)==""){
                            echo "Student's home";
                        }else{
                            $fetchlocality_data = $branchdetailObj->fetchAll($branchdetailObj->select()
                                            ->setIntegrityCheck(false)
                                            ->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('distinct(locality)'))
                                            ->joinLeft(array('m'=>DATABASE_PREFIX."master_address"),'c.locality=m.address_id',array(''))
                                            ->joinLeft(array('l'=>DATABASE_PREFIX."locality_suburbs"),'m.address_id=l.id',array(''))
                                            ->where("c.tutor_id='$tutorprofiledetails_row->id'")
                                             ->order(array("m.address_value asc")));
                                             
                                             
                            if (isset($fetchlocality_data) && sizeof($fetchlocality_data)>0)
                            {
                                $commacounter=0;
                                $loctin="";
                                foreach ($fetchlocality_data as $locvalue)
                                {
                                    $location_data = $masteraddressobj->fetchRow("address_id ='$locvalue->locality'");
                                    if (isset($location_data) && sizeof($location_data)>0)
                                    {
                                            echo $location_data->address_value;
                                            $commacounter++;
                                            if(sizeof($fetchlocality_data)!=$commacounter)
                                            {
                                                echo ", ";
                                            }
                                    }
                                }
                            }
                        }
                    
                }
            
            ?>
       
            
            
            </span>
        </div>
         
        <?php 
        $batch_travel_radius=$batchObj->fetchRow($batchObj->select()
                            ->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('c.travel_radius AS travel_radius'))
                            ->where("c.tutor_id ='$tutorprofiledetails_row->id' && c.travel_radius!=''"));
        if(isset($batch_travel_radius->travel_radius)&& $batch_travel_radius->travel_radius!=""){       
        ?>
        <div class="infolinerow2" style="clear:both;margin-top: 7px;"><span id="locationiddisplay0" class="locationoftutor"><span style="font-weight:bold;">Travel radius</span>: 
                <?php echo $batch_travel_radius->travel_radius; ?>
         </span>
        </div>
        <?php } ?>
            
	</div>
    <?php } } ?>
</div>
</body>
</html>
