<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Class/teacher profile, edit batch details.</title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>	

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
 
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
			saveForm('<?php echo BASEPATH; ?>/editprofilenew/deletebatchslot/batchid/<?php echo $this->batchId;?>/tutor_batch_day/<?php echo $this->tutor_batch_day; ?>','register_step','register_step');	

	}
};

</script>

<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:674px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.CourseDetMid {
	 background-color: #ffffff;
    border: 0px solid #00a7e6;
    border-radius: 0px;
    float: left;
    font-size: 14px;
    height: 466px;
   padding: 0px 0 54px 37px;
    width: 664px;
    margin-left:-77px;
    margin-bottom:-30px;
}
.stepcol1
{
	width:215px;
}
.stepcol2
{
	width: 350px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	width:320px;
	height:auto;
	display:block;
	position:absolute;
	top:10px;
	left:35px;
	text-align:center;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	width:278px;
	height:auto;
	border-left:1px solid #00A7E6;
	border-right:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:justify;
	word-wrap:break-word:
	
}
.lowspacer{
	height:15px;
}
#registration_form_2 .checkbox
{
	height:auto;
	 float: left;
    width: 50px;
}
.steprow1
{
margin-bottom: 5px;
}
.errorcls1{
	color:#FF6633;
	font-size:12px;
	/*font-weight:bold;*/
	
}
.infolinerow
{
	padding:0px;
}

.linehoderfield {
    padding: 0px 5px 9px 30px;
    width: 450px;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 19%;
	height: 70px;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv1
{
	width: 8.6%;
	height: 70px;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 7px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:23px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:36px;
	color: #333333;
    font-size: 14px;
    text-align:left;
    padding: 10px;
}
.midspacer {
    display: block;
    float: left;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100px;
}
.midspacer1 {
    display: block;
    float: left;
    height: 10px;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100px;
}

.Nameofcourse1 {
    color: #333333;
    float: left;
    font-size: 14px;
    padding: 7px 2px;
    text-align: left;
    width: 117px;
}
input {
    padding-left: 3px !important;
}

</style>
</head>
<body style="overflow-x:hidden;background-color: #ffffff;">
<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
	<div id="registration_form_2" class="formholder1">
	
		<div class="CourseDetTop"></div>
		<div class="loginMain">
	<h1>
		<span class="nameoftutor" style="color:#1CA3E7;width:353px;margin-top:-13px;margin-left:31px;" >Delete Batch Slot
		</span>
	</h1>
	<div class="whitePart">
			<div class="steprow1" style="margin-bottom: 2px;margin-top:2px;">
						<span class="locationoftutor" style="color:#333; font-size: 14px;margin-top:2px;margin-left:31px;"><br/>Are you sure you want to delete batch ? </span>
			</div>
			<input type="hidden" name="delete" id="delete" value="1" >
			<div class="steprow1" style="margin-bottom:0px;">
					 <span type="button" style="margin-top:15px;margin-left:141px;" class="buttonDiv" value="Ok" name="save" id="save">Ok</span>
			</div>
		

	</div>
	</div>		
</form>
</body>
</html>
